[2017-10-16 18:11] yegor256 opened #1 "AST or bytecode"
To calculate class cohesion metrics we need information about methods, attributes, and connections between them. We can get that from the bytecode directly, or from AST, which we should get through some parser. Which option is better? The decision is important, since it will affect the entire design of this tool.

[2017-10-16 18:53] witek1902 commented on #1
PoC for both options? ;)

[2017-10-16 19:00] yegor256 commented on #1
@witek1902 that will be too expensive) We may also not be able to realize in the beginning what potential issues each approach will have later. So, it's better to make one mistake and stick to it)

[2017-10-16 19:01] yegor256 opened #2 "skeleton"
Let's create a skeleton. I'll do it.

[2017-10-17 21:14] yegor256 commented on #2
@rultor release, tag is `0.1`

[2017-10-17 21:14] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13165-337373842)

[2017-10-17 21:25] rultor commented on #2
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13165-337373842) (took me 11min)

[2017-10-17 21:25] #2 closed

[2017-10-17 21:25] 0crat commented on #2
I'm not managing ` yegor256/jpeek ` GitHub repository. You have to contact me in Slack first. Our [policy](http://datum.zerocracy.com/pages/policy.html) explains how.

[2017-10-17 21:26] yegor256 commented on #1
javassist seems to be working just fine.

[2017-10-17 21:26] #1 closed

[2017-10-17 21:26] 0crat commented on #1
I'm not managing ` yegor256/jpeek ` GitHub repository. You have to contact me in Slack first. Our [policy](http://datum.zerocracy.com/pages/policy.html) explains how.

[2017-10-17 21:36] yegor256 opened #3 "NHD"
Let's implement NHD cohesion metric.

S. Counsell, S. Swift, and J. Crampton, “The interpretation
and utility of three cohesion metrics for object-oriented design,”
ACM Transactions on Software Engineering and Methodology
(TOSEM), vol. 15, no. 2, pp. 123–149, 2006.

PDF: https://www.researchgate.net/profile/Stephen_Swift/publication/220403868_The_interpretation_and_utility_of_three_cohesion_metric

[2017-10-18 05:36] alayor opened #4 "Add unit test to CAMC class that verifies a single class."

[2017-10-18 05:36] 0crat commented on #4
@alayor I'm not managing this repo, remove the [webhook](https://github.com/yegor256/jpeek/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-10-18 17:41] yegor256 commented on #4
@alayor fixed, I believe? Thanks for your contribution!

[2017-10-18 18:53] yegor256 opened #6 "LCOM"
Let's implement LCOM cohesion metric.

S. R. Chidamber and C. F. Kemerer, A metrics suite for object oriented design. IEEE Transactions on Software Engineering, vol.20, no.6, 1994.

http://www.pitt.edu/~ckemerer/CK%20research%20papers/MetricForOOD_ChidamberKemerer94.pdf

Shyam R. Chidamber, Chris F. Kemerer. A Metrics suite for Object Oriented design. M.I.T. Sloan School of Management E53-315. 199

[2017-10-18 21:58] yegor256 commented on #6
@rultor release, tag is `0.2`

[2017-10-18 21:59] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13179-337740333)

[2017-10-18 22:10] rultor commented on #6
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13179-337740333) (spent 11min)

[code]

[2017-10-18 22:10] yegor256 opened #7 "LCOM2 and LCOM3"
Let's implement LCOM2 and LCOM3. See http://www.aivosto.com/project/help/pm-oo-cohesion.html

Henderson-Sellers, B, L, Constantine and I, Graham , 'Coupling and Cohesion (Towards a Valid Metrics Suite for Object-Oriented Analysis and Design)', Object-Oriented Systems, 3(3), pp143-158, 1996.

http://www.ibrarian.net/navon/paper/Coupling_and_cohesion__towards_a_valid_metrics_su.pdf?paperid=1090060

[2017-10-18 22:11] yegor256 opened #8 "LCOM4"
Let's implement LCOM4.

Hitz M., Montazeri B.: Measuring Coupling and Cohesion In Object-Oriented Systems. Proc. Int. Symposium on Applied Corporate Computing, Oct. 25-27, Monterrey, Mexico, 75-76, 197, 78-84.

http://www.isys.uni-klu.ac.at/PDF/1995-0043-MHBM.pdf

[2017-10-18 22:12] yegor256 opened #9 "TCC and LCC"
Let's implement TCC and LCC metrics.

Bieman, James M. & Kang, Byung-Kyoo: Cohesion and reuse in an object-oriented system. Proceedings of the 1995 Symposium on Software. Pages: 259 - 262. ISSN:0163-5948. ACM Press New York, NY, USA.

https://pdfs.semanticscholar.org/672e/de6e3e600eafd84036a0b983b88e481ac626.pdf

[2017-10-18 22:13] yegor256 commented on #6
@rultor release, tag is `0.2`

[2017-10-18 22:13] yegor256 opened #10 "XSL stylesheet for XML reports"
Let's generate XSL stylesheet for all reports and make sure they all have links to it.

[2017-10-18 22:13] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13179-337743368)

[2017-10-18 22:14] yegor256 opened #11 "XSD Schema for validation"
Let's create XSD schema for the output XML documents validation.

[2017-10-18 22:15] yegor256 opened #12 "colors for metrics"
Let's add colors to all metrics, to indicate their quality (red, green, yellow).

[2017-10-18 22:16] 0crat commented on #10
Job `gh:yegor256/jpeek#10` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-18 22:17] 0crat commented on #10
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4085](http://www.0crat.com/u/yegor256).

[2017-10-18 22:17] 0crat commented on #10
Oops! Job `gh:yegor256/jpeek#10` is already assigned to @yegor256, sorry.

[2017-10-18 22:18] 0crat commented on #11
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4100](http://www.0crat.com/u/yegor256).

[2017-10-18 22:18] 0crat commented on #10
Bug was reported: +15 points just awarded to @yegor256, total is [+4100](http://www.0crat.com/u/yegor256).

[2017-10-18 22:19] 0crat commented on #11
Job `gh:yegor256/jpeek#11` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-18 22:19] 0crat commented on #11
Oops! Job `gh:yegor256/jpeek#11` is already assigned to @yegor256, sorry.

[2017-10-18 22:21] 0crat commented on #12
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4110](http://www.0crat.com/u/yegor256).

[2017-10-18 22:21] 0crat commented on #11
Bug was reported: +15 points just awarded to @yegor256, total is [+4110](http://www.0crat.com/u/yegor256).

[2017-10-18 22:21] 0crat commented on #12
Job `gh:yegor256/jpeek#12` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-18 22:22] 0crat commented on #12
Oops! Job `gh:yegor256/jpeek#12` is already assigned to @yegor256, sorry.

[2017-10-18 22:22] 0crat commented on #12
Bug was reported: +15 points just awarded to @yegor256, total is [+4125](http://www.0crat.com/u/yegor256).

[2017-10-18 22:24] rultor commented on #6
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13179-337743368) (spent 10min)

[code]

[2017-10-18 22:24] #6 closed

[2017-10-18 22:25] 0crat commented on #6
Oops! There is no order for job `gh:yegor256/jpeek#6`.

[2017-10-18 22:25] 0crat commented on #6
Oops! Job `gh:yegor256/jpeek#6` was not in scope

[2017-10-19 06:36] yegor256 opened #13 "integration testing is absent"
Let's add integration testing phase to make sure our JAR actually works with an external code base. Let's use maven-invoker-plugin.

[2017-10-19 06:39] yegor256 opened #14 "MMAC"
Let's add MMAC cohesion metric.

 J. Al Dallal and L. C. Briand, “An object-oriented high-level
design-based class cohesion metric,” Information and software
technology, vol. 52, no. 12, pp. 1346–1361, 2010.

PDF is not available for free :( More about this metric here: http://www.math.md/files/csjm/v25-n1/v25-n1-(pp44-74).pdf

http://www.sciencedirect.com/science/article/pii/S0950584910001552

[2017-10-19 19:21] yegor256 opened #15 "LORM"
Let's implement LORM metric.

L. Etzkorn and H. Delugach, “Towards a semantic metrics suite
for object-oriented design,” in Technology of Object-Oriented Languages
and Systems, 2000. TOOLS 34. Proceedings. 34th International
Conference on. IEEE, 2000, pp. 71–80.

No PDF available :(

http://ieeexplore.ieee.org/document/868960/

It's explained here, briefly: http://www.math.md/files/csjm/v25-n1/v25

[2017-10-19 19:22] yegor256 opened #16 "LCSM"
Let's implement LCSM cohesion metric.

A. Marcus and D. Poshyvanyk, “The conceptual cohesion of
classes,” in 21st IEEE International Conference on Software Maintenance
(ICSM’05). IEEE, 2005, pp. 133–142.

https://pdfs.semanticscholar.org/c6c4/b63f3ba81f2bee75a0c29367da99971dfbaa.pdf

[2017-10-19 19:44] yegor256 opened #17 "MWE"
Let's implement MWE cohesion metric.

Y. Liu, D. Poshyvanyk, R. Ferenc, T. Gyim´othy, and N. Chrisochoides,
“Modeling class cohesion as mixtures of latent topics,”
in Software Maintenance, 2009. ICSM 2009. IEEE International
Conference on. IEEE, 2009, pp. 233–242.

PDF is not available :(

http://ieeexplore.ieee.org/document/5306318/

[2017-10-19 19:47] yegor256 opened #18 "LCOM5"
Let's implement LCOM5 cohesion metric.

B. Henderson-Sellers, L. L. Constantine, and I. M. Graham, “Coupling
and cohesion (towards a valid metrics suite for objectoriented
analysis and design),” Object Oriented Systems, vol. 3,
no. 3, pp. 143–158, 1996

http://www.ibrarian.net/navon/paper/Coupling_and_cohesion__towards_a_valid_metrics_su.pdf?paperid=1090060

[2017-10-19 19:49] yegor256 opened #19 "OCC"
Let's implement OCC cohesion metric.

H. Aman, K. Yamasaki, H. Yamada, and M.-T. Noda, “A proposal
of class cohesion metrics using sizes of cohesive parts,” in Proc. of
Fifth Joint Conference on Knowledge-based Software Engineering,
2002, pp. 102–107.

https://www.researchgate.net/profile/Hirohisa_Aman/publication/268046583_A_Proposal_of_Class_Cohesion_Metrics_Using_Sizes_of_Cohesive_Parts/links/5

[2017-10-19 20:47] #11 closed

[2017-10-19 20:47] 0crat commented on #11
Job `gh:yegor256/jpeek#11` is now out of scope.

[2017-10-19 20:48] 0crat commented on #11
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4215](http://www.0crat.com/u/yegor256).

[2017-10-19 21:38] #12 closed

[2017-10-19 21:39] 0crat commented on #12
Job `gh:yegor256/jpeek#12` is now out of scope.

[2017-10-19 21:39] 0crat commented on #12
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4245](http://www.0crat.com/u/yegor256).

[2017-10-19 22:41] #4 closed

[2017-10-19 22:41] 0crat commented on #4
Oops! There is no order for job `gh:yegor256/jpeek#4`.

[2017-10-19 22:41] 0crat commented on #4
Oops! Job `gh:yegor256/jpeek#4` is not in scope.

[2017-10-20 17:51] yegor256 commented on #10
@rultor release, tag is `0.3`

[2017-10-20 17:52] rultor commented on #10
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13191-338277556)

[2017-10-20 18:03] rultor commented on #10
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13191-338277556) (took me 11min)

[2017-10-21 16:10] 0crat commented on #10
Job `gh:yegor256/jpeek#10` is now out of scope.

[2017-10-21 16:10] 0crat commented on #10
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4305](http://www.0crat.com/u/yegor256).

[2017-10-21 16:11] #10 closed

[2017-10-21 16:11] 0crat commented on #10
Oops! There is no order for job `gh:yegor256/jpeek#10`.

[2017-10-21 16:11] 0crat commented on #10
Oops! Job `gh:yegor256/jpeek#10` is not in scope.

[2017-10-23 06:18] wolkenschieber opened #20 "jpeek fails to run"
I fail to run jpeek. I end up in exceptions when runnnig the maven repository jar and compiled sources.

When running the repository jar, given in the readme, some class is reported missing:
[code]

When trying to build the tool from source using `mvn clean package` , the build fails due to errors in tests:
[code]
Building with `mvn clean package -DskipTests` produces the desired jar.

However whe

[2017-10-23 06:18] 0crat commented on #20
@yegor256 please, pay attention to this issue

[2017-10-23 09:35] VsSekorin commented on #19
I'll try to do it.

[2017-10-23 11:11] yegor256 commented on #20
@wolkenschieber this is weird... everything works for me. Well, worked yesterday. Let me check now. Thanks for reporting!

[2017-10-23 11:36] yegor256 commented on #20
@wolkenschieber what is the version of Java and Maven in your computer?

[2017-10-23 11:40] yegor256 commented on #19
@VsSekorin thanks!

[2017-10-23 19:54] wolkenschieber commented on #20
@yegor256 You're very welcome and thanks for this project!

I switched machines. This one runs OpenJDK Runtime Environment (build 1.8.0_144-b01) and Apache Maven 3.5.0.

The source build `jpeek-1.0-SNAPSHOT-jar-with-dependencies.jar` here shows the same behaviour as mentioned in the inital comment.

Playing around I found out that the issue occurs, if there are `class` files in the `bin` directori

[2017-10-24 09:29] yegor256 commented on #20
@wolkenschieber the bug you see when you run the tool is valid. It breaks on my machine too. I'm worried about you not being able to build the project. Can you please try `mvn clean install` again and post the stacktrace of the error you see?

[2017-10-24 09:51] wolkenschieber commented on #20
I've attached the build output to this [gist](https://gist.github.com/wolkenschieber/1be2f1138908b53aad581e1b8903a027).

[2017-10-24 18:24] yegor256 commented on #20
@wolkenschieber it was a locale problem, fixed in 3f562da Can you please try again?

[2017-10-24 19:17] wolkenschieber commented on #20
Pulled the latest source and the project builds fine now.

[2017-10-24 19:30] wolkenschieber commented on #20
I'm still unsure about those `javassist.NotFoundException` I'm getting.

To reproduce:
* Clone [RxJava](https://github.com/ReactiveX/RxJava)
* Build RxJava using `./gradlew clean assemble`
* Run jpeek in RxJava root using `java -jar /tmp/jpeek/target/jpeek-1.0-SNAPSHOT-jar-with-dependencies.jar . /tmp/results`
* Following exception occurs: `Exception in thread "main" java.io.IOException: java.io.U

[2017-10-24 20:51] #13 closed

[2017-10-24 20:52] 0crat commented on #13
Oops! There is no order for job `gh:yegor256/jpeek#13`.

[2017-10-24 20:52] 0crat commented on #13
Oops! Job `gh:yegor256/jpeek#13` is not in scope.

[2017-10-24 20:52] yegor256 commented on #20
@wolkenschieber I believe the problem with running the JAR is fixed too, in 97753b2 Please, try again.

[2017-10-25 05:27] wolkenschieber commented on #20
@yegor256 That did it. I'm able to analyse all projects from the previous comment without any error message.

For me it's now homework time: I haven't read the papers yet and many of my classes aren't green.

Thanks for resolving the issue so quickly!

[2017-10-25 07:34] yegor256 commented on #20
@wolkenschieber thanks for your patience. please, close the ticket)

[2017-10-25 09:58] #20 closed

[2017-10-25 09:58] 0crat commented on #20
Oops! There is no order for job `gh:yegor256/jpeek#20`.

[2017-10-25 09:58] 0crat commented on #20
Oops! Job `gh:yegor256/jpeek#20` is not in scope.

[2017-10-25 17:45] yegor256 opened #22 "index.html"
Let's create it.

[2017-10-25 17:47] 0crat commented on #22
Job `gh:yegor256/jpeek#22` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-25 19:26] yegor256 opened #23 "CAMC values can't be higher than 1.0"
In theory, CAMC values can't be higher than 1.0. However, our software produces 2.0 and sometimes even 3.0. Let's investigate and fix.

For example [`org.takes.misc.TransformAction`](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/misc/TransformAction.java) gives 2.0.

[2017-10-25 21:45] 0crat commented on #22
Bug was reported: +15 points just awarded to @yegor256, total is [+4340](http://www.0crat.com/u/yegor256).

[2017-10-26 12:49] yegor256 opened #24 "web front"
Let's create a simple web front for public Maven artifacts.

[2017-10-26 12:50] 0crat commented on #24
Job `gh:yegor256/jpeek#24` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-26 13:22] yegor256 commented on #19
@VsSekorin many thanks for your contribution!

[2017-10-26 13:22] #19 closed

[2017-10-26 13:22] 0crat commented on #24
Bug was reported: +15 points just awarded to @yegor256, total is [+4345](http://www.0crat.com/u/yegor256).

[2017-10-26 13:22] 0crat commented on #24
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4345](http://www.0crat.com/u/yegor256).

[2017-10-26 13:36] 0crat commented on #19
Oops! There is no order for job `gh:yegor256/jpeek#19`.

[2017-10-26 13:37] 0crat commented on #19
Oops! Job `gh:yegor256/jpeek#19` is not in scope.

[2017-10-26 19:13] yegor256 commented on #22
@rultor release, tag is `0.4`

[2017-10-26 19:13] rultor commented on #22
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13229-339769909)

[2017-10-26 19:26] rultor commented on #22
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13229-339769909) (took me 12min)

[2017-10-26 19:32] Sammers21 commented on #3
@yegor256 is that right that we have CAMC metric implemented ? If so can we reuse binary Binary k*l matrix generated during its execution for calculating of NHD metric?

[2017-10-26 19:54] #22 closed

[2017-10-26 19:54] 0crat commented on #22
Job `gh:yegor256/jpeek#22` is now out of scope.

[2017-10-26 19:55] 0crat commented on #22
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4425](http://www.0crat.com/u/yegor256).

[2017-10-27 06:50] yegor256 commented on #3
@Sammers21 yes, CAMC metrics is implemented. Feel free to reuse the code, of course.

[2017-10-27 08:16] yegor256 commented on #24
@rultor release, tag is `0.5`

[2017-10-27 08:17] rultor commented on #24
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13231-339905060)

[2017-10-27 08:18] yegor256 commented on #24
@rultor stop

[2017-10-27 08:19] rultor commented on #24
@yegor256 OK, I'll try to stop current task.

[2017-10-27 08:19] rultor commented on #24
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13231-339905418) (spent 2min)

[code]

[2017-10-27 12:39] yegor256 commented on #24
@rultor release, tag is `0.5`

[2017-10-27 12:39] rultor commented on #24
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13231-339959874)

[2017-10-27 12:41] yegor256 opened #25 "metrics summary and entire project summary"
Let's create summary numbers and a badge.

[2017-10-27 12:44] yegor256 opened #26 "command line rich options parsing"
Now we just accept two arguments in `App`. It's primitive. Let's add some library for options parsing.

[2017-10-27 12:53] rultor commented on #24
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13231-339959874) (took me 14min)

[2017-10-27 12:55] #24 closed

[2017-10-27 12:56] 0crat commented on #24
Job `gh:yegor256/jpeek#24` is now out of scope.

[2017-10-27 12:57] 0crat commented on #24
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4485](http://www.0crat.com/u/yegor256).

[2017-10-27 13:03] memoyil commented on #23
I am looking at it

[2017-10-27 14:33] memoyil commented on #23
@yegor256 with Transformaction, jpeek doesnt produce any results. Could you please give another example classes?

[2017-10-27 15:57] yegor256 commented on #25
@rultor release, tag is `0.6`

[2017-10-27 15:58] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13233-340012185)

[2017-10-27 16:14] rultor commented on #25
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13233-340012185) (spent 15min)

[code]

[2017-10-27 16:16] yegor256 commented on #25
@rultor release, tag is `0.6`

[2017-10-27 16:18] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13233-340017073)

[2017-10-27 16:30] rultor commented on #25
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13233-340017073) (spent 12min)

[code]

[2017-10-27 16:31] #25 closed

[2017-10-27 16:32] 0crat commented on #25
Oops! There is no order for job `gh:yegor256/jpeek#25`.

[2017-10-27 16:32] 0crat commented on #25
Oops! Job `gh:yegor256/jpeek#25` is not in scope.

[2017-10-27 16:52] yegor256 opened #30 "badge"
Let's implement it.

[2017-10-27 16:53] 0crat commented on #30
Job `gh:yegor256/jpeek#30` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-27 17:56] yegor256 commented on #30
@rultor release, tag is `0.7`

[2017-10-27 17:57] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13234-340041471)

[2017-10-27 18:12] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13234-340041471) (took me 14min)

[2017-10-27 18:12] #30 closed

[2017-10-27 18:12] 0crat commented on #30
Bug was reported: +15 points just awarded to @yegor256, total is [+4495](http://www.0crat.com/u/yegor256).

[2017-10-27 18:13] 0crat commented on #30
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4495](http://www.0crat.com/u/yegor256).

[2017-10-27 18:14] 0crat commented on #30
Job `gh:yegor256/jpeek#30` is now out of scope.

[2017-10-27 18:15] 0crat commented on #30
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4525](http://www.0crat.com/u/yegor256).

[2017-10-27 18:19] yegor256 opened #31 "content-type is static"
Let's make it smarter

[2017-10-27 18:21] 0crat commented on #31
Job `gh:yegor256/jpeek#31` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-27 18:30] yegor256 commented on #31
@rultor release, tag is `0.7.1`

[2017-10-27 18:31] rultor commented on #31
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13235-340049993)

[2017-10-27 18:37] yegor256 opened #32 "redirect is broken"
HTTP redirect is broken, let's fix.

[2017-10-27 18:37] 0crat commented on #31
Bug was reported: +15 points just awarded to @yegor256, total is [+4535](http://www.0crat.com/u/yegor256).

[2017-10-27 18:38] 0crat commented on #31
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4535](http://www.0crat.com/u/yegor256).

[2017-10-27 18:39] 0crat commented on #32
Job `gh:yegor256/jpeek#32` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-27 18:41] 0crat commented on #32
Bug was reported: +15 points just awarded to @yegor256, total is [+4545](http://www.0crat.com/u/yegor256).

[2017-10-27 18:41] 0crat commented on #32
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4545](http://www.0crat.com/u/yegor256).

[2017-10-27 18:46] rultor commented on #31
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13235-340049993) (took me 15min)

[2017-10-27 18:47] #31 closed

[2017-10-27 18:47] 0crat commented on #31
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

My version: `1.0-SNAPSHOT`, `8836b42`, `2017-10-26T18:36:31` /cc @yegor256

[2017-10-27 18:51] yegor256 commented on #32
@rultor release, tag is `0.7.2`

[2017-10-27 18:51] rultor commented on #32
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13236-340055511)

[2017-10-27 19:12] rultor commented on #32
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13236-340055511) (spent 21min)

[code]

[2017-10-27 19:16] yegor256 commented on #32
@rultor release, tag is `0.7.3`

[2017-10-27 19:16] rultor commented on #32
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13236-340061401)

[2017-10-27 19:16] yegor256 commented on #32
@rultor stop

[2017-10-27 19:18] rultor commented on #32
@yegor256 OK, I'll try to stop current task.

[2017-10-27 19:18] rultor commented on #32
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13236-340061514) (spent 2min)

[code]

[2017-10-27 19:19] yegor256 commented on #32
@rultor release, tag is `0.7.3`

[2017-10-27 19:21] rultor commented on #32
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13236-340062217)

[2017-10-27 19:36] rultor commented on #32
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13236-340062217) (took me 15min)

[2017-10-27 19:42] #32 closed

[2017-10-27 19:43] 0crat commented on #32
Job `gh:yegor256/jpeek#32` is now out of scope.

[2017-10-27 19:44] 0crat commented on #32
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4575](http://www.0crat.com/u/yegor256).

[2017-10-27 19:49] 0crat commented on #31
Job `gh:yegor256/jpeek#31` is now out of scope.

[2017-10-27 19:50] 0crat commented on #31
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4605](http://www.0crat.com/u/yegor256).

[2017-10-27 21:52] yegor256 opened #33 "heavy artifacts don't build reports"
Try http://i.jpeek.org/com.google.guava/guava/index.html Most likely it's too big, that's why the delay and then application error.

[2017-10-29 20:59] yegor256 commented on #33
@rultor release, tag is `0.7.4`

[2017-10-29 21:00] rultor commented on #33
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13252-340294473)

[2017-10-29 21:15] rultor commented on #33
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13252-340294473) (took me 15min)

[2017-10-29 21:16] #33 closed

[2017-10-29 21:16] 0crat commented on #33
Oops! There is no order for job `gh:yegor256/jpeek#33`.

[2017-10-29 21:16] 0crat commented on #33
Oops! Job `gh:yegor256/jpeek#33` is not in scope.

[2017-10-29 21:20] memoyil commented on #3
@yegor256 You can close this issue

[2017-10-29 21:23] yegor256 opened #35 "summary report by classes"
Let's make a summary by classes.

[2017-10-29 21:24] 0crat commented on #35
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-10-29 21:24] 0crat commented on #35
Job `gh:yegor256/jpeek#35` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-29 21:33] 0crat commented on #35
Bug was reported: +15 points just awarded to @yegor256, total is [+4625](http://www.0crat.com/u/yegor256).

[2017-10-29 21:33] 0crat commented on #35
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4625](http://www.0crat.com/u/yegor256).

[2017-10-29 23:10] yegor256 commented on #35
@rultor release, tag is `0.8`

[2017-10-29 23:10] rultor commented on #35
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13253-340310955)

[2017-10-29 23:25] rultor commented on #35
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13253-340310955) (took me 15min)

[2017-10-30 08:59] #35 closed

[2017-10-30 09:00] 0crat commented on #35
Job `gh:yegor256/jpeek#35` is now out of scope.

[2017-10-30 09:00] 0crat commented on #35
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4655](http://www.0crat.com/u/yegor256).

[2017-10-30 09:05] yegor256 commented on #3
@memoyil thanks a lot!

[2017-10-30 09:05] #3 closed

[2017-10-30 09:05] 0crat commented on #3
Oops! There is no order for job `gh:yegor256/jpeek#3`.

[2017-10-30 09:05] 0crat commented on #3
Oops! Job `gh:yegor256/jpeek#3` is not in scope.

[2017-10-30 09:23] yegor256 opened #36 "sentry"
Let's connect it to Sentry

[2017-10-30 09:23] yegor256 opened #37 "java.lang.IndexOutOfBoundsException: Index: 0, Size: 0"
[code]

[2017-10-30 09:24] 0crat commented on #36
Job `gh:yegor256/jpeek#36` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-30 09:24] yegor256 opened #38 "hot list of projects"
Let's record all projects we analyzed and build a hot list of best/worst.

[2017-10-30 09:25] 0crat commented on #36
Bug was reported: +15 points just awarded to @yegor256, total is [+4665](http://www.0crat.com/u/yegor256).

[2017-10-30 09:25] 0crat commented on #36
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4665](http://www.0crat.com/u/yegor256).

[2017-10-30 09:26] 0crat commented on #38
Job `gh:yegor256/jpeek#38` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-30 09:27] 0crat commented on #38
Bug was reported: +15 points just awarded to @yegor256, total is [+4675](http://www.0crat.com/u/yegor256).

[2017-10-30 09:27] 0crat commented on #38
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4675](http://www.0crat.com/u/yegor256).

[2017-10-30 09:51] memoyil commented on #7
I am looking at it

[2017-10-30 17:19] yegor256 commented on #37
Here: http://i.jpeek.org/org.springframework.boot/spring-boot-starter-web/index.html

[2017-10-30 17:21] 0crat commented on #37
Job `gh:yegor256/jpeek#37` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-30 23:26] 0crat commented on #37
Bug was reported: +15 points just awarded to @yegor256, total is [+4755](http://www.0crat.com/u/yegor256).

[2017-10-30 23:26] 0crat commented on #37
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4755](http://www.0crat.com/u/yegor256).

[2017-10-31 09:44] wolkenschieber opened #40 "Too many open files"
Analysing large projects fails as too many files are held open at the same time.

Scenario to reproduce:
* Clone [java-bullshifier](https://github.com/takipi/java-bullshifier)
* Generate sample project with 100 subprojects and 256 classes each
    * `/tmp/java-bullshifier$ ./gradlew -Pclasses=256 -Psubprojects=100 clean run`
    * `/tmp/java-bullshifier/output$ ./gradlew fatjar`
* Use [jpeek jar](

[2017-10-31 16:32] 0crat commented on #40
Job `gh:yegor256/jpeek#40` is in scope.

[2017-10-31 17:21] memoyil commented on #23
@yegor256 You can close this issue.

[2017-10-31 20:46] yegor256 commented on #23
@memoyil thanks!

[2017-10-31 20:46] #23 closed

[2017-10-31 20:46] 0crat commented on #23
Oops! There is no order for job `gh:yegor256/jpeek#23`.

[2017-10-31 20:46] 0crat commented on #23
Oops! Job `gh:yegor256/jpeek#23` is not in scope.

[2017-11-01 12:53] yegor256 commented on #7
@memoyil thanks a lot!

[2017-11-01 14:58] sergey-karazhenets commented on #14
Also info about MMAC metric you can find here http://waset.org/publications/5239/a-design-based-cohesion-metric-for-object-oriented-classes

[2017-11-01 17:21] yegor256 commented on #7
@rultor release, tag is `0.9`

[2017-11-01 17:21] #7 closed

[2017-11-01 17:22] 0crat commented on #7
Oops! There is no order for job `gh:yegor256/jpeek#7`.

[2017-11-01 17:22] 0crat commented on #7
Oops! Job `gh:yegor256/jpeek#7` is not in scope.

[2017-11-01 17:22] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13284-341175604)

[2017-11-01 17:42] rultor commented on #7
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13284-341175604) (took me 20min)

[2017-11-01 19:50] #37 closed

[2017-11-01 19:51] 0crat commented on #37
Job `gh:yegor256/jpeek#37` is now out of scope.

[2017-11-01 19:51] 0crat commented on #37
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4835](http://www.0crat.com/u/yegor256).

[2017-11-01 19:58] #36 closed

[2017-11-01 19:59] 0crat commented on #36
Job `gh:yegor256/jpeek#36` is now out of scope.

[2017-11-01 19:59] 0crat commented on #36
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4865](http://www.0crat.com/u/yegor256).

[2017-11-01 21:13] sergey-karazhenets commented on #18
I'm working on it.
More information about LCOM5 calculation is [here](http://www.math.md/files/csjm/v25-n1/v25-n1-(pp44-74).pdf) and [here](https://www.google.by/url?sa=t&rct=j&q=&esrc=s&source=web&cd=3&ved=0ahUKEwjh9PK4nZ7XAhVlEpoKHRMTAS0QFgg2MAI&url=http%3A%2F%2Fwww.ece.rutgers.edu%2F~marsic%2Fbooks%2FSE%2Finstructor%2Fslides%2Flec-16%2520Metrics-Cohesion.ppt&usg=AOvVaw3967dvApLWjTkj6-MBEnkS)

[2017-11-01 22:48] yegor256 commented on #38
@rultor release, tag is `0.10`

[2017-11-01 22:48] rultor commented on #38
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13289-341266199)

[2017-11-01 22:49] yegor256 commented on #38
@rultor stop

[2017-11-01 22:50] rultor commented on #38
@yegor256 OK, I'll try to stop current task.

[2017-11-01 22:50] rultor commented on #38
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13289-341266455) (spent 2min)

[code]

[2017-11-01 22:51] yegor256 commented on #38
@rultor release, tag is `0.10`

[2017-11-01 22:53] rultor commented on #38
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13289-341266863)

[2017-11-01 23:12] rultor commented on #38
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13289-341266863) (took me 19min)

[2017-11-02 06:37] #38 closed

[2017-11-02 06:38] yegor256 commented on #18
@sergey-karazhenets thanks!

[2017-11-02 06:38] 0crat commented on #38
Job `gh:yegor256/jpeek#38` is now out of scope.

[2017-11-02 06:39] 0crat commented on #38
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4895](http://www.0crat.com/u/yegor256).

[2017-11-02 07:54] yegor256 commented on #7
@memoyil you didn't update the README page. Could you please do that?

[2017-11-02 08:04] yegor256 commented on #18
@sergey-karazhenets don't forget to update the README please

[2017-11-02 08:12] yegor256 commented on #14
@sergey-karazhenets please, don't forget to update README

[2017-11-02 08:13] yegor256 opened #42 "cross-metrics analysis in matrix"
Let's make an analysis of metrics in the matrix

[2017-11-02 08:15] 0crat commented on #42
Job `gh:yegor256/jpeek#42` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-02 08:15] 0crat commented on #42
Bug was reported: +15 points just awarded to @yegor256, total is [+4905](http://www.0crat.com/u/yegor256).

[2017-11-02 08:15] 0crat commented on #42
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4905](http://www.0crat.com/u/yegor256).

[2017-11-02 09:29] yegor256 opened #43 "skip Enums and Annotations"
Let's exclude Enums and Annotations

[2017-11-02 09:43] yegor256 commented on #43
@rultor release, tag is `0.10.1`

[2017-11-02 09:44] rultor commented on #43
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13294-341367823)

[2017-11-02 09:59] rultor commented on #43
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13294-341367823) (took me 15min)

[2017-11-02 10:03] #43 closed

[2017-11-02 10:04] 0crat commented on #43
Oops! There is no order for job `gh:yegor256/jpeek#43`.

[2017-11-02 10:04] 0crat commented on #43
Oops! Job `gh:yegor256/jpeek#43` is not in scope.

[2017-11-02 10:12] yegor256 opened #44 "show recent artifacts"
Let's show them all

[2017-11-02 10:13] 0crat commented on #44
Job `gh:yegor256/jpeek#44` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-02 10:33] yegor256 commented on #44
@rultor release, tag is `0.10.2`

[2017-11-02 10:33] #44 closed

[2017-11-02 10:33] yegor256 opened #45 "exclude embedded classes"
Let's exclude them

[2017-11-02 10:34] 0crat commented on #44
Bug was reported: +15 points just awarded to @yegor256, total is [+4915](http://www.0crat.com/u/yegor256).

[2017-11-02 10:34] rultor commented on #44
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13295-341380304)

[2017-11-02 10:34] 0crat commented on #44
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4915](http://www.0crat.com/u/yegor256).

[2017-11-02 10:35] 0crat commented on #44
Job `gh:yegor256/jpeek#44` is now out of scope.

[2017-11-02 10:35] 0crat commented on #44
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4945](http://www.0crat.com/u/yegor256).

[2017-11-02 10:48] rultor commented on #44
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13295-341380304) (took me 15min)

[2017-11-02 14:21] #45 closed

[2017-11-02 14:21] 0crat commented on #45
Oops! There is no order for job `gh:yegor256/jpeek#45`.

[2017-11-02 14:22] 0crat commented on #45
Oops! Job `gh:yegor256/jpeek#45` is not in scope.

[2017-11-02 18:08] yegor256 commented on #42
@rultor release, tag is `0.10.3`

[2017-11-02 18:08] #42 closed

[2017-11-02 18:09] rultor commented on #42
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13298-341510686)

[2017-11-02 18:09] 0crat commented on #42
Job `gh:yegor256/jpeek#42` is now out of scope.

[2017-11-02 18:10] 0crat commented on #42
Order was successfully finished: +30 points just awarded to @yegor256, total is [+4975](http://www.0crat.com/u/yegor256).

[2017-11-02 18:26] rultor commented on #42
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13298-341510686) (took me 17min)

[2017-11-02 21:29] yegor256 commented on #14
@sergey-karazhenets also, please put the PDF file into `papers` folder

[2017-11-02 21:36] yegor256 opened #46 "ignore AjcClosure classes"
They are coming from AspectJ and shouldn't be analyzed.

[2017-11-02 21:40] yegor256 commented on #46
@rultor release, tag is `0.10.4`

[2017-11-02 21:41] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13300-341566565)

[2017-11-02 22:00] rultor commented on #46
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13300-341566565) (took me 19min)

[2017-11-03 07:28] #46 closed

[2017-11-03 07:28] 0crat commented on #46
Oops! There is no order for job `gh:yegor256/jpeek#46`.

[2017-11-03 07:28] 0crat commented on #46
Oops! Job `gh:yegor256/jpeek#46` is not in scope.

[2017-11-03 07:52] yegor256 opened #47 "NHD must be reversed"
Seems that it has to be reversed.

[2017-11-03 07:53] yegor256 commented on #47
@rultor release, tag is `0.10.5`

[2017-11-03 07:54] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13304-341639564)

[2017-11-03 08:10] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13304-341639564) (took me 15min)

[2017-11-03 08:14] #47 closed

[2017-11-03 08:14] 0crat commented on #47
Oops! There is no order for job `gh:yegor256/jpeek#47`.

[2017-11-03 08:14] 0crat commented on #47
Oops! Job `gh:yegor256/jpeek#47` is not in scope.

[2017-11-03 10:33] sergey-karazhenets commented on #14
@yegor256 yes, I've updated README and added PDF to papers

[2017-11-03 11:50] memoyil commented on #7
@yegor256 done.

[2017-11-03 17:50] yegor256 commented on #14
@rultor release, tag is `0.11`

[2017-11-03 17:50] yegor256 commented on #14
@sergey-karazhenets many thanks for your contribution!

[2017-11-03 17:51] rultor commented on #14
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13312-341778896)

[2017-11-03 18:07] rultor commented on #14
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13312-341778896) (took me 16min)

[2017-11-03 20:14] yegor256 opened #50 ""trust" per artifact"
Let's add a new number "trust" per artifact.

[2017-11-03 20:16] 0crat commented on #50
Job `gh:yegor256/jpeek#50` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-03 21:14] 0crat commented on #50
Bug was reported: +15 points just awarded to @yegor256, total is [+4985](http://www.0crat.com/u/yegor256).

[2017-11-03 21:14] 0crat commented on #50
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4985](http://www.0crat.com/u/yegor256).

[2017-11-03 21:50] memoyil commented on #8
@yegor256 I will look at it

[2017-11-03 21:50] memoyil commented on #14
@yegor256 You can close this issue.

[2017-11-03 21:59] yegor256 commented on #50
@rultor release, tag is `0.11.1`

[2017-11-03 22:00] rultor commented on #50
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13314-341837712)

[2017-11-03 22:15] rultor commented on #50
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13314-341837712) (took me 14min)

[2017-11-04 18:07] sergey-karazhenets commented on #9
I'm working on it

[2017-11-05 06:35] sergey-karazhenets opened #53 "Questions and analyze"
I have analyzed some implemented metrics and also think about the following questions during implementation metrics where we counting methods of a class and types of method parameters or return types. Next questions relate to all metrics and I think it should be clarified for all who want to implement some new metric. To be easy it to understand what I want to say let's look to _CAMC_ metric imple

[2017-11-05 06:35] 0crat commented on #53
@yegor256 please, pay attention to this issue

[2017-11-05 06:45] sergey-karazhenets commented on #53
I've created [pull request #54](https://github.com/yegor256/jpeek/pull/54) for show a bug with generic methods. Pull request relates only for _CAMC_ metric, but if we are going to fix it I will add test for all metrics. Let's see what was happened in tests for class `OverrideGenericMethodFromInterface`. Accoding to our current implemented logic we expect in test that _CAMC_ will be calculated as:

[2017-11-05 10:27] yegor256 commented on #14
@sergey-karazhenets thanks!

[2017-11-05 10:27] #14 closed

[2017-11-05 10:27] 0crat commented on #14
Oops! There is no order for job `gh:yegor256/jpeek#14`.

[2017-11-05 10:27] 0crat commented on #14
Oops! Job `gh:yegor256/jpeek#14` is not in scope.

[2017-11-05 10:38] #50 closed

[2017-11-05 10:39] 0crat commented on #50
Job `gh:yegor256/jpeek#50` is now out of scope.

[2017-11-05 10:39] 0crat commented on #50
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5015](http://www.0crat.com/u/yegor256).

[2017-11-05 10:48] yegor256 commented on #53
@sergey-karazhenets for CAMC:

Yes, totally agree.

I think we should treat `Integer` and `int` as one type. I think that we should introduce a new class which will do exactly that -- fetch the list of types from a method signature. And it has to explicitly say in its Javadoc how do we understand the differences between types. This should not be a decision for CAMC metric only, but for the entire

[2017-11-05 10:49] yegor256 commented on #53
@sergey-karazhenets once again, let's not forget that there are many metrics. Let's try to make all changes apply to all metrics. Try to introduce new classes, instead of making changes to specific metrics.

[2017-11-05 16:46] yegor256 opened #55 "show more info in the index table"
Let's add more data there.

[2017-11-05 16:47] 0crat commented on #55
Job `gh:yegor256/jpeek#55` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-05 16:53] 0crat commented on #55
Bug was reported: +15 points just awarded to @yegor256, total is [+5065](http://www.0crat.com/u/yegor256).

[2017-11-05 16:53] 0crat commented on #55
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5065](http://www.0crat.com/u/yegor256).

[2017-11-05 19:45] yegor256 commented on #55
@rultor release, tag is `0.13`

[2017-11-05 19:45] rultor commented on #55
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13326-341999444)

[2017-11-05 20:00] rultor commented on #55
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13326-341999444) (took me 15min)

[2017-11-05 21:09] #55 closed

[2017-11-05 21:09] 0crat commented on #55
Job `gh:yegor256/jpeek#55` is now out of scope.

[2017-11-05 21:10] 0crat commented on #55
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5105](http://www.0crat.com/u/yegor256).

[2017-11-06 15:23] yegor256 opened #56 "running out of memory"
Heroku logs:

[code]

We seem to be leaking memory resources somewhere. Let's investigate and fix.

[2017-11-06 15:23] 0crat commented on #56
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

My version: `1.0-SNAPSHOT`, `4fbcb81`, `2017-10-30T15:19:50` /cc @yegor256

[2017-11-06 15:33] 0crat commented on #56
Job `gh:yegor256/jpeek#56` is in scope.

[2017-11-06 15:33] 0crat commented on #56
Bug was reported: +15 points just awarded to @yegor256, total is [+5190](http://www.0crat.com/u/yegor256).

[2017-11-06 16:24] 0crat commented on #56
Oops! Job `gh:yegor256/jpeek#56` is already in scope.

[2017-11-19 09:39] yegor256 opened #57 "link to GitHub"
Let's add GitHub link to those repos, which have that in their `.pom` files.

[2017-11-19 13:17] yegor256 opened #58 "metrics cumulative mistake"
Let's track the amount of mistakes different metrics produce.

[2017-11-19 13:19] 0crat commented on #58
Job `gh:yegor256/jpeek#58` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-19 13:21] 0crat commented on #58
Bug was reported: +15 points just awarded to @yegor256, total is [+5390](http://www.0crat.com/u/yegor256).

[2017-11-19 13:21] 0crat commented on #58
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5390](http://www.0crat.com/u/yegor256).

[2017-11-19 18:58] yegor256 commented on #58
@rultor release, tag is `0.14`

[2017-11-19 18:59] rultor commented on #58
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13417-345540643)

[2017-11-19 19:18] rultor commented on #58
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13417-345540643) (took me 19min)

[2017-11-19 19:20] #58 closed

[2017-11-19 19:21] 0crat commented on #58
Job `gh:yegor256/jpeek#58` is now out of scope.

[2017-11-19 19:21] 0crat commented on #58
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5420](http://www.0crat.com/u/yegor256).

[2017-11-19 20:07] yegor256 opened #59 "ping doesn't work"

[2017-11-19 20:09] 0crat commented on #59
Job `gh:yegor256/jpeek#59` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-19 20:10] 0crat commented on #59
Bug was reported: +15 points just awarded to @yegor256, total is [+5430](http://www.0crat.com/u/yegor256).

[2017-11-19 20:10] 0crat commented on #59
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5430](http://www.0crat.com/u/yegor256).

[2017-11-19 21:23] yegor256 commented on #59
@rultor release, tag is `0.14.1`

[2017-11-19 21:24] rultor commented on #59
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13418-345550788)

[2017-11-19 21:42] rultor commented on #59
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13418-345550788) (took me 18min)

[2017-11-19 22:26] #59 closed

[2017-11-19 22:28] 0crat commented on #59
Job `gh:yegor256/jpeek#59` is now out of scope.

[2017-11-19 22:29] 0crat commented on #59
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5460](http://www.0crat.com/u/yegor256).

[2017-11-21 21:40] yegor256 opened #60 "show graps for metrics in index.xml"
Let's add graphs.

[2017-11-21 21:48] 0crat commented on #60
Job `gh:yegor256/jpeek#60` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-21 21:56] 0crat commented on #60
Bug was reported: +15 points just awarded to @yegor256, total is [+5580](http://www.0crat.com/u/yegor256).

[2017-11-21 21:57] 0crat commented on #60
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5580](http://www.0crat.com/u/yegor256).

[2017-11-23 02:49] adilek commented on #8
Hi.

As you already working on it, I would like to mention something about LCOM4.
Including/excluding constructors plays a significant role and makes some anomalies.

Neither Hitz M., Montazeri B nor Chidamber did not mention about technical details like need to include constructors or not.

Lets see the following example:

[code]

If constructor is not included then LCOM4 will be 4. Cohesiveness

[2017-11-23 02:49] adilek commented on #8
BTW, If you did start yet. I can take care of LCOM4.

[2017-11-23 07:09] yegor256 commented on #60
@rultor release, tag is `0.15`

[2017-11-23 07:11] rultor commented on #60
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13443-346544083)

[2017-11-23 07:26] rultor commented on #60
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13443-346544083) (took me 15min)

[2017-11-23 10:23] #60 closed

[2017-11-23 10:23] yegor256 opened #61 "graphs are not visible in index"
Let's fix

[2017-11-23 10:48] 0crat commented on #60
Job `gh:yegor256/jpeek#60` is now out of scope.

[2017-11-23 11:01] yegor256 commented on #61
@rultor release, tag is `0.15.1`

[2017-11-23 11:02] rultor commented on #61
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13444-346588459)

[2017-11-23 11:08] 0crat commented on #60
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5610](http://www.0crat.com/u/yegor256).

[2017-11-23 11:19] rultor commented on #61
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13444-346588459) (took me 17min)

[2017-11-23 11:38] #61 closed

[2017-11-23 12:08] 0crat commented on #61
Oops! There is no order for job `gh:yegor256/jpeek#61`.

[2017-11-23 12:08] 0crat commented on #61
Oops! Job `gh:yegor256/jpeek#61` is not in scope.

[2017-11-23 13:37] yegor256 opened #62 "LCOM graph is broken"
Let's fix.

[2017-11-23 13:50] 0crat commented on #62
Job `gh:yegor256/jpeek#62` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-23 13:59] 0crat commented on #62
Bug was reported: +15 points just awarded to @yegor256, total is [+5810](http://www.0crat.com/u/yegor256).

[2017-11-23 13:59] 0crat commented on #62
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5810](http://www.0crat.com/u/yegor256).

[2017-11-23 14:14] yegor256 commented on #62
@rultor release, tag is `0.15.2`

[2017-11-23 14:14] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13445-346628991)

[2017-11-23 14:36] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13445-346628991) (took me 21min)

[2017-11-23 14:37] #62 closed

[2017-11-23 14:40] yegor256 opened #63 "Required item type of second operand of 'to' is xs:integer; supplied value ($steps - 1) has item type xs:decimal"
let's fix

[2017-11-23 14:42] yegor256 commented on #63
@rultor release, tag is `0.15.3`

[2017-11-23 14:44] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13446-346635658)

[2017-11-23 14:48] 0crat commented on #62
Job `gh:yegor256/jpeek#62` is now out of scope.

[2017-11-23 14:59] 0crat commented on #62
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5870](http://www.0crat.com/u/yegor256).

[2017-11-23 15:03] rultor commented on #63
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13446-346635658) (took me 19min)

[2017-11-23 16:17] #63 closed

[2017-11-23 16:19] 0crat commented on #63
Oops! There is no order for job `gh:yegor256/jpeek#63`.

[2017-11-23 16:28] 0crat commented on #63
Oops! Job `gh:yegor256/jpeek#63` is not in scope.

[2017-11-23 17:44] yegor256 commented on #40
@wolkenschieber I believe this problem is fixed already, could you please check?

[2017-11-23 17:47] yegor256 opened #64 "C3"
Let's implement C3 cohesion metric:

The Conceptual Cohesion of Classes. Andrian Marcus, Denys Poshyvanyk. Department of Computer Science. Wayne State University. Detroit Michigan 48202.

https://pdfs.semanticscholar.org/c6c4/b63f3ba81f2bee75a0c29367da99971dfbaa.pdf

[2017-11-23 17:50] yegor256 opened #65 "TLCOM"
Let's implement TLCOM cohesion metric:

Transitive-based object-oriented lack-of-cohesion metric, Jehad Al Dallal, Department of Information Science, Kuwait University, P.O. Box 5969, Safat 13060, Kuwait.

https://www.researchgate.net/publication/220307725_Transitive-based_object-oriented_lack-of-cohesion_metric

[2017-11-23 17:52] yegor256 opened #66 "CCM"
Let's implement CCM cohesion metric:

A. Jarallah, M. Wasiq, and M. Ahmed, “Principle and metrics
for cohesion-based object-oriented component assessment,” 2001,
confidential Draft Copy.

http://ijarcsee.org/index.php/IJARCSEE/article/view/385 (I didn't find the PDF)

[2017-11-23 17:56] yegor256 opened #67 "PCC"
Let's implement PCC cohesion metric:

 C. Bonja and E. Kidanmariam, “Metrics for class cohesion and
similarity between methods,” in Proceedings of the 44th annual
Southeast regional conference. ACM, 2006, pp. 91–95.

https://dl.acm.org/citation.cfm?id=1185469 (didn't find PDF available for free).

[2017-11-23 17:57] yegor256 opened #68 "SCOM"
Let's implement SCOM cohesion metric:

L. Fern´andez and R. Pe˜na, “A sensitive metric of class cohesion,”
vol. 13, pp. 82–91, 2006.

http://citeseerx.ist.psu.edu/viewdoc/download;jsessionid=55D08270F99333F15E0937AF137F4468?doi=10.1.1.84.1506&rep=rep1&type=pdf

[2017-11-23 18:05] yegor256 opened #69 "queue of projects"
Let's put them in a queue.

[2017-11-23 18:16] #69 closed

[2017-11-23 18:16] yegor256 opened #70 "three sigma analysis"
Let's add it.

[2017-11-23 18:16] 0crat commented on #69
Job `gh:yegor256/jpeek#69` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-23 18:28] 0crat commented on #69
Bug was reported: +15 points just awarded to @yegor256, total is [+6150](http://www.0crat.com/u/yegor256).

[2017-11-23 18:28] 0crat commented on #69
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+6150](http://www.0crat.com/u/yegor256).

[2017-11-23 18:38] 0crat commented on #69
Job `gh:yegor256/jpeek#69` is now out of scope.

[2017-11-23 18:49] 0crat commented on #70
Job `gh:yegor256/jpeek#70` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-23 18:59] 0crat commented on #69
Order was successfully finished: +30 points just awarded to @yegor256, total is [+6190](http://www.0crat.com/u/yegor256).

[2017-11-23 19:09] 0crat commented on #70
Bug was reported: +15 points just awarded to @yegor256, total is [+6190](http://www.0crat.com/u/yegor256).

[2017-11-23 19:09] 0crat commented on #70
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+6190](http://www.0crat.com/u/yegor256).

[2017-11-23 20:39] yegor256 commented on #70
@rultor release, tag is `0.16`

[2017-11-23 20:39] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13448-346694660)

[2017-11-23 20:55] rultor commented on #70
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13448-346694660) (took me 16min)

[2017-11-23 21:42] #70 closed

[2017-11-23 21:42] yegor256 opened #71 "RsPage for XML rendering"
Let's make XML visible in web front.

[2017-11-23 21:45] yegor256 commented on #71
@rultor release, tag is `0.16.1`

[2017-11-23 21:46] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13449-346701176)

[2017-11-23 21:52] rultor commented on #71
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13449-346701176) (spent 6min)

[code]

[2017-11-23 22:01] yegor256 commented on #71
@rultor release, tag is `0.16.1`

[2017-11-23 22:02] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13449-346702595)

[2017-11-23 22:09] 0crat commented on #70
Job `gh:yegor256/jpeek#70` is now out of scope.

[2017-11-23 22:19] rultor commented on #71
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13449-346702595) (took me 17min)

[2017-11-23 22:21] yegor256 opened #72 "show all artifacts in /all"
Let's add `/all` page

[2017-11-23 22:29] 0crat commented on #70
Order was successfully finished: +30 points just awarded to @yegor256, total is [+6220](http://www.0crat.com/u/yegor256).

[2017-11-23 22:35] yegor256 commented on #72
@rultor release, tag is `0.16.2`

[2017-11-23 22:35] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13450-346705261)

[2017-11-23 22:41] rultor commented on #72
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13450-346705261) (spent 6min)

[code]

[2017-11-24 07:22] #71 closed

[2017-11-24 07:38] 0crat commented on #71
Oops! There is no order for job `gh:yegor256/jpeek#71`.

[2017-11-24 07:39] 0crat commented on #71
Oops! Job `gh:yegor256/jpeek#71` is not in scope.

[2017-11-24 08:58] yegor256 commented on #72
@rultor release, tag is `0.16.2`

[2017-11-24 08:59] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13450-346776134)

[2017-11-24 09:06] rultor commented on #72
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13450-346776134) (spent 7min)

[code]

[2017-11-24 11:06] yegor256 commented on #72
@rultor release, tag is `0.16.2`

[2017-11-24 11:06] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13450-346803647)

[2017-11-24 11:12] rultor commented on #72
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13450-346803647) (spent 6min)

[code]

[2017-11-24 11:22] yegor256 commented on #72
@rultor release, tag is `0.16.2`

[2017-11-24 11:24] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13450-346806842)

[2017-11-24 11:40] rultor commented on #72
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13450-346806842) (took me 16min)

[2017-11-24 11:43] #72 closed

[2017-11-24 11:45] yegor256 opened #73 "runtime scope on deploy"

[2017-11-24 11:45] yegor256 commented on #73
@rultor release, tag is `0.16.3`

[2017-11-24 11:46] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13452-346810882)

[2017-11-24 11:56] wolkenschieber commented on #40
I replayed the inital scenario. Good news is that no `Too many open files` exception occured. This closes this issue.

On the otherside jpeek didn't finish the analysis. After calculating some hours it ran out of memory:
[code]
The generated project consisted of 29000 java files and approx 2000000 lines of text.

[2017-11-24 11:56] #40 closed

[2017-11-24 11:57] 0crat commented on #72
Oops! There is no order for job `gh:yegor256/jpeek#72`.

[2017-11-24 11:58] 0crat commented on #72
Oops! Job `gh:yegor256/jpeek#72` is not in scope.

[2017-11-24 12:01] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13452-346810882) (took me 15min)

[2017-11-24 12:08] 0crat commented on #40
Oops! There is no order for job `gh:yegor256/jpeek#40`.

[2017-11-24 12:18] 0crat commented on #40
Job `gh:yegor256/jpeek#40` is now out of scope.

[2017-11-24 12:44] #73 closed

[2017-11-24 13:08] 0crat commented on #73
Oops! Job `gh:yegor256/jpeek#73` is not in scope.

[2017-11-24 18:10] yegor256 opened #74 "best μ and σ"
Let's record best μ and σ for all visible metrics.

[2017-11-24 18:20] 0crat commented on #74
Job `gh:yegor256/jpeek#74` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-24 18:29] 0crat commented on #74
Bug was reported: +15 points just awarded to @yegor256, total is [+6225](http://www.0crat.com/u/yegor256).

[2017-11-24 18:29] 0crat commented on #74
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+6225](http://www.0crat.com/u/yegor256).

[2017-11-24 22:16] yegor256 commented on #74
@rultor release, tag is `0.17`

[2017-11-24 22:16] rultor commented on #74
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13459-346901595)

[2017-11-24 22:32] rultor commented on #74
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13459-346901595) (took me 15min)

[2017-11-24 22:37] #74 closed

[2017-11-24 22:58] 0crat commented on #74
Job `gh:yegor256/jpeek#74` is now out of scope.

[2017-11-24 23:19] 0crat commented on #74
Order was successfully finished: +30 points just awarded to @yegor256, total is [+6255](http://www.0crat.com/u/yegor256).

[2017-11-25 21:38] yegor256 commented on #56
@rultor release, tag is `0.17.1`

[2017-11-25 21:39] rultor commented on #56
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13460-346967895)

[2017-11-25 22:02] rultor commented on #56
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13460-346967895) (took me 16min)

[2017-11-25 22:09] #56 closed

[2017-11-25 22:19] yegor256 opened #75 "reports and mistakes are not synchronized"
Let's synchronize them.

[2017-11-25 22:19] 0crat commented on #56
Oops! There is no order for job `gh:yegor256/jpeek#56`.

[2017-11-25 22:19] 0crat commented on #56
Job `gh:yegor256/jpeek#56` is now out of scope.

[2017-11-25 22:23] yegor256 commented on #75
@rultor release, tag is `0.17.2`

[2017-11-25 22:24] rultor commented on #75
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13461-346970170)

[2017-11-25 22:36] rultor commented on #75
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13461-346970170) (spent 12min)

[code]

[2017-11-26 06:42] yegor256 commented on #75
@rultor release, tag is `0.17.2`

[2017-11-26 06:43] rultor commented on #75
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13461-346988306)

[2017-11-26 06:54] rultor commented on #75
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13461-346988306) (spent 11min)

[code]

[2017-11-26 07:45] yegor256 commented on #75
@rultor release, tag is `0.17.2`

[2017-11-26 07:45] rultor commented on #75
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13461-346990604)

[2017-11-26 07:53] yegor256 opened #76 "show queue of projects"
Let's show the queue

[2017-11-26 08:03] rultor commented on #75
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13461-346990604) (took me 15min)

[2017-11-26 08:46] #75 closed

[2017-11-26 08:58] 0crat commented on #75
Oops! There is no order for job `gh:yegor256/jpeek#75`.

[2017-11-26 08:58] 0crat commented on #75
Oops! Job `gh:yegor256/jpeek#75` is not in scope.

[2017-11-26 10:32] yegor256 commented on #76
@rultor release, tag is `0.18`

[2017-11-26 10:33] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13462-346998403)

[2017-11-26 10:52] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13462-346998403) (took me 16min)

[2017-11-26 12:47] #76 closed

[2017-11-26 12:47] yegor256 opened #77 "ETA for the queue"
Let's figure out the ETA for the queue

[2017-11-26 12:48] 0crat commented on #76
Oops! There is no order for job `gh:yegor256/jpeek#76`.

[2017-11-26 12:58] 0crat commented on #76
Oops! Job `gh:yegor256/jpeek#76` is not in scope.

[2017-11-26 22:39] yegor256 commented on #77
@rultor release, tag is `0.19`

[2017-11-26 22:39] rultor commented on #77
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13468-347044591)

[2017-11-26 22:56] rultor commented on #77
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13468-347044591) (took me 16min)

[2017-11-27 06:44] #77 closed

[2017-11-27 06:49] 0crat commented on #77
Oops! There is no order for job `gh:yegor256/jpeek#77`.

[2017-11-27 06:49] 0crat commented on #77
Oops! Job `gh:yegor256/jpeek#77` is not in scope.

[2017-11-27 11:41] memoyil commented on #8
@adilek  Sorry for the late response, I was busy with other things. I am in the middle of lcom4. You can look at other issues I think.

[2017-11-27 17:09] yegor256 opened #78 "run metrics in parallel"
Calculate metrics in parallel threads.

[2017-11-28 04:48] yegor256 commented on #78
@rultor release, tag is `0.19.1`

[2017-11-28 04:48] rultor commented on #78
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13484-347412464)

[2017-11-28 05:06] rultor commented on #78
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13484-347412464) (took me 17min)

[2017-11-28 05:07] #78 closed

[2017-11-28 05:10] 0crat commented on #78
Oops! There is no order for job `gh:yegor256/jpeek#78`.

[2017-11-28 05:10] 0crat commented on #78
Oops! Job `gh:yegor256/jpeek#78` is not in scope.

[2017-11-29 19:05] yegor256 opened #79 "ranking"
Let's add ranking calculation

[2017-11-29 20:04] yegor256 commented on #79
@rultor release, tag is `0.20`

[2017-11-29 20:05] rultor commented on #79
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13498-347979722)

[2017-11-29 20:26] rultor commented on #79
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13498-347979722) (took me 21min)

[2017-11-30 21:35] #79 closed

[2017-11-30 21:48] 0crat commented on #79
Oops! There is no order for job `gh:yegor256/jpeek#79`.

[2017-11-30 21:58] 0crat commented on #79
Oops! Job `gh:yegor256/jpeek#79` is not in scope.

[2017-12-01 16:20] yegor256 opened #80 "exclude max and min from sigma calculation"
Let's exclude them.

[2017-12-01 17:56] yegor256 commented on #80
@rultor release, tag is `0.21`

[2017-12-01 17:57] rultor commented on #80
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13509-348563514)

[2017-12-01 18:15] rultor commented on #80
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13509-348563514) (took me 18min)

[2017-12-01 18:15] #80 closed

[2017-12-01 18:16] 0crat commented on #80
Oops! There is no order for job `gh:yegor256/jpeek#80`.

[2017-12-01 18:18] 0crat commented on #80
Oops! Job `gh:yegor256/jpeek#80` is not in scope.

[2017-12-01 19:13] yegor256 opened #81 "futures don't work"

[2017-12-01 19:20] yegor256 commented on #81
@rultor release, tag is `0.21.1`

[2017-12-01 19:21] rultor commented on #81
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13512-348589663)

[2017-12-01 19:37] rultor commented on #81
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13512-348589663) (took me 16min)

[2017-12-01 20:54] #81 closed

[2017-12-01 20:59] 0crat commented on #81
Oops! There is no order for job `gh:yegor256/jpeek#81`.

[2017-12-01 20:59] 0crat commented on #81
Oops! Job `gh:yegor256/jpeek#81` is not in scope.

[2017-12-01 21:06] yegor256 opened #82 "inefficient fetch"

[2017-12-01 21:13] yegor256 commented on #82
@rultor release, tag is `0.21.2`

[2017-12-01 21:13] rultor commented on #82
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13514-348615645)

[2017-12-01 21:29] rultor commented on #82
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13514-348615645) (took me 16min)

[2017-12-01 21:30] #82 closed

[2017-12-01 21:39] 0crat commented on #82
Oops! There is no order for job `gh:yegor256/jpeek#82`.

[2017-12-01 21:39] 0crat commented on #82
Oops! Job `gh:yegor256/jpeek#82` is not in scope.

[2017-12-01 22:18] yegor256 opened #83 "ranking is broken"

[2017-12-01 23:22] yegor256 commented on #83
@rultor release, tag is `0.21.3`

[2017-12-01 23:23] rultor commented on #83
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13515-348640561)

[2017-12-01 23:39] rultor commented on #83
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13515-348640561) (took me 16min)

[2017-12-05 09:41] t-izbassar commented on #15
Hello,

so how we define

of method? Can we assume that it is all local and class variables? And if two methods use the same field of the class we can collect it is as _conceptual relation_ between methods? Do we adding static method calls to that?

Overall, it is an interesting metric. It is suppose to show the correlated methods with each other. Another interesting thing is - how much does it re

[2017-12-11 19:12] yegor256 opened #84 "let's show effective classes in the table, not total"

[2017-12-12 22:13] yegor256 commented on #84
@rultor release, tag is `0.22`

[2017-12-12 22:13] rultor commented on #84
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13562-351212429)

[2017-12-12 23:19] rultor commented on #84
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13562-351212429) (spent 1hr)

[code]

[2017-12-13 14:05] yegor256 commented on #84
@rultor release, tag is `0.22`

[2017-12-13 14:05] rultor commented on #84
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13562-351400408)

[2017-12-13 14:24] rultor commented on #84
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13562-351400408) (took me 18min)

[2017-12-13 14:45] #84 closed

[2017-12-19 18:56] #83 closed

[2017-12-19 18:56] yegor256 opened #85 "represent classes in XML"
Let's make them visible in XML and all metrics make XML processing.

[2017-12-21 20:23] 0crat commented on #83
Oops! Job `gh:yegor256/jpeek#83` is not in scope.

[2017-12-21 20:23] 0crat commented on #85
Job `gh:yegor256/jpeek#85` assigned to @yegor256  ([profile](http://www.0crat.com/u/yegor256})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-25 18:18] 0crat commented on #85
@yegor256 this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-28 18:20] 0crat commented on #85
@yegor256 this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-12-30 18:19] 0crat commented on #85
@yegor256 resigned from `gh:yegor256/jpeek#85`, please stop working.

[2018-01-09 09:30] janczer opened #86 "Licence year is wrong"

[2018-01-09 09:30] 0crat commented on #86
@yegor256 please, pay attention to this issue

[2018-01-09 10:31] 0crat commented on #85
Job `gh:yegor256/jpeek#85` assigned to [@janczer](http://www.0crat.com/u/janczer}) (`DEV`). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read [§4](http://datum.zerocracy.com/pages/policy.html#4), [§8](http://datum.zerocracy.com/pages/policy.html#8), and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this]

[2018-01-10 01:16] carlosmiranda opened #88 "0crat rejects validly formatted rate when applying"
I'm trying to apply to a project via Slack. `@0crat` does not accept the request, telling me that my rate is invalidly formatted. But I used the correct format (e.g. $25)

![image](https://user-images.githubusercontent.com/1917892/34751237-5798bc2e-f5e6-11e7-826c-9146902110ba.png)

[2018-01-10 01:16] 0crat commented on #88
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-10 01:16] carlosmiranda commented on #88
@0crat Oops, wrong project.

[2018-01-10 01:16] #88 closed

[2018-01-10 01:17] 0crat commented on #88
@carlosmiranda Can't understand "Oops,", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `version` Print current version of the bot
  - `waiting` Register an impediment for a job

[2018-01-10 01:17] 0crat commented on #88
Job `gh:yegor256/jpeek#88` is not assigned, can't get start time

[2018-01-10 01:17] 0crat commented on #88
Job `gh:yegor256/jpeek#88` was not in scope

[2018-01-10 16:40] janczer commented on #85
@yegor256 What's mean 'represent classes'? Classes are in xml already:

[code]

[2018-01-10 16:43] yegor256 commented on #85
@0crat assign me

[2018-01-10 16:44] yegor256 commented on #85
@janczer I will do it myself (almost finished)

[2018-01-10 16:45] 0crat commented on #85
@yegor256 The job [#85](https://github.com/yegor256/jpeek/issues/85) assigned to yegor256. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and

[2018-01-10 16:45] 0crat commented on #85
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+6690](http://www.0crat.com/u/yegor256)

[2018-01-10 16:46] 0crat commented on #85
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+6690](http://www.0crat.com/u/yegor256)

[2018-01-10 17:32] janczer opened #89 "Contibuting guidelines doesn't say about PDD"
File [CONTRIBUTING.md](https://github.com/yegor256/jpeek/blob/master/CONTRIBUTING.md) hasn't anything about [PDD](http://www.yegor256.com/2010/03/04/pdd.html) but the project use it.

[2018-01-10 17:33] 0crat commented on #89
[@yegor256](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-14 14:40] yegor256 commented on #85
@rultor release, tag is `0.23`

[2018-01-14 15:21] yegor256 commented on #85
@rultor release, tag is `0.23`

[2018-01-14 15:22] rultor commented on #85
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13697-357518841)

[2018-01-14 15:23] yegor256 opened #90 "OCC via XML"
We had OCC metric implemented before in #19, but now our calculation mechanism is very different. We should re-implement OCC via XML/XSL.

[2018-01-14 15:23] yegor256 opened #91 "MMAC via XML"
We had MMAC metric implemented before in #14, but now our calculation mechanism is very different. We should re-implement OCC via XML/XSL.

[2018-01-14 15:24] yegor256 opened #92 "LCOM2/3 via XML"
We had LCOM2/3 metric implemented before in #7, but now our calculation mechanism is very different. We should re-implement OCC via XML/XSL.

[2018-01-14 15:24] yegor256 opened #93 "NHD via XML"
We had NHD metric implemented before in #3, but now our calculation mechanism is very different. We should re-implement OCC via XML/XSL.

[2018-01-14 15:27] 0crat commented on #8
Job [#8](https://github.com/yegor256/jpeek/issues/8) is now in scope, role is `DEV`

[2018-01-14 15:30] 0crat commented on #16
Job [#16](https://github.com/yegor256/jpeek/issues/16) is now in scope, role is `DEV`

[2018-01-14 15:30] 0crat commented on #15
Job [#15](https://github.com/yegor256/jpeek/issues/15) is now in scope, role is `DEV`

[2018-01-14 15:31] 0crat commented on #9
Job [#9](https://github.com/yegor256/jpeek/issues/9) is now in scope, role is `DEV`

[2018-01-14 15:32] 0crat commented on #17
Job [#17](https://github.com/yegor256/jpeek/issues/17) is now in scope, role is `DEV`

[2018-01-14 15:32] 0crat commented on #64
Job [#64](https://github.com/yegor256/jpeek/issues/64) is now in scope, role is `DEV`

[2018-01-14 15:32] 0crat commented on #18
Job [#18](https://github.com/yegor256/jpeek/issues/18) is now in scope, role is `DEV`

[2018-01-14 15:32] 0crat commented on #66
Job [#66](https://github.com/yegor256/jpeek/issues/66) is now in scope, role is `DEV`

[2018-01-14 15:32] 0crat commented on #68
Job [#68](https://github.com/yegor256/jpeek/issues/68) is now in scope, role is `DEV`

[2018-01-14 15:32] rultor commented on #85
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13697-357518841) (spent 10min)

[code]

[2018-01-14 15:32] 0crat commented on #65
Job [#65](https://github.com/yegor256/jpeek/issues/65) is now in scope, role is `DEV`

[2018-01-14 15:33] 0crat commented on #67
Job [#67](https://github.com/yegor256/jpeek/issues/67) is now in scope, role is `DEV`

[2018-01-14 15:33] 0crat commented on #90
Job [#90](https://github.com/yegor256/jpeek/issues/90) is now in scope, role is `DEV`

[2018-01-14 15:33] 0crat commented on #91
Job [#91](https://github.com/yegor256/jpeek/issues/91) is now in scope, role is `DEV`

[2018-01-14 15:34] 0crat commented on #92
Job [#92](https://github.com/yegor256/jpeek/issues/92) is now in scope, role is `DEV`

[2018-01-14 15:34] 0crat commented on #93
Job [#93](https://github.com/yegor256/jpeek/issues/93) is now in scope, role is `DEV`

[2018-01-14 15:38] 0crat commented on #8
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7150](http://www.0crat.com/u/yegor256)

[2018-01-14 15:41] 0crat commented on #16
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:41] 0crat commented on #15
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:41] 0crat commented on #9
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:41] 0crat commented on #17
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:42] 0crat commented on #64
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:42] 0crat commented on #18
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:42] 0crat commented on #66
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:42] 0crat commented on #68
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:42] 0crat commented on #65
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:42] 0crat commented on #67
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7225](http://www.0crat.com/u/yegor256)

[2018-01-14 15:42] 0crat commented on #90
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7240](http://www.0crat.com/u/yegor256)

[2018-01-14 15:43] 0crat commented on #91
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7240](http://www.0crat.com/u/yegor256)

[2018-01-14 15:43] 0crat commented on #92
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7255](http://www.0crat.com/u/yegor256)

[2018-01-14 15:43] 0crat commented on #93
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7255](http://www.0crat.com/u/yegor256)

[2018-01-14 15:48] yegor256 commented on #85
@rultor release, tag is `0.23`

[2018-01-14 15:49] rultor commented on #85
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13697-357520668)

[2018-01-14 16:01] 0crat commented on #92
The job [#92](https://github.com/yegor256/jpeek/issues/92) assigned to janczer. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](htt

[2018-01-14 16:04] rultor commented on #85
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13697-357520668) (took me 15min)

[2018-01-14 16:20] 0crat commented on #65
The job [#65](https://github.com/yegor256/jpeek/issues/65) assigned to janczer. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](htt

[2018-01-14 16:51] 0crat commented on #68
The job [#68](https://github.com/yegor256/jpeek/issues/68) assigned to janczer. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](htt

[2018-01-14 17:04] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to vmotsak. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](htt

[2018-01-14 17:21] 0crat commented on #91
The job [#91](https://github.com/yegor256/jpeek/issues/91) assigned to vmotsak. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](htt

[2018-01-14 17:40] 0crat commented on #90
The job [#90](https://github.com/yegor256/jpeek/issues/90) assigned to vmotsak. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](htt

[2018-01-14 21:29] yegor256 opened #94 "exclude constructors"
Let's exclude them

[2018-01-14 21:34] 0crat commented on #94
The job [#94](https://github.com/yegor256/jpeek/issues/94) assigned to yegor256. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](ht

[2018-01-14 21:35] 0crat commented on #94
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7250](http://www.0crat.com/u/yegor256)

[2018-01-14 21:35] 0crat commented on #94
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7250](http://www.0crat.com/u/yegor256)

[2018-01-14 21:35] 0crat commented on #94
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7250](http://www.0crat.com/u/yegor256)

[2018-01-14 21:51] #85 closed

[2018-01-14 21:54] 0crat commented on #85
The job [#85](https://github.com/yegor256/jpeek/issues/85) is now out of scope

[2018-01-14 21:54] 0crat commented on #85
Order was successfully finished: +30 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7280](http://www.0crat.com/u/yegor256)

[2018-01-14 22:13] #26 closed

[2018-01-14 22:13] 0crat commented on #26
Job `gh:yegor256/jpeek#26` is not assigned, can't get start time

[2018-01-14 22:13] 0crat commented on #26
Job [#26](https://github.com/yegor256/jpeek/issues/26) was not in scope

[2018-01-14 22:13] yegor256 commented on #94
@rultor release, tag is `0.23.1`

[2018-01-14 22:14] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13698-357547037)

[2018-01-14 22:29] rultor commented on #94
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13698-357547037) (took me 15min)

[2018-01-15 10:25] #94 closed

[2018-01-15 10:26] 0crat commented on #94
The job [#94](https://github.com/yegor256/jpeek/issues/94) is now out of scope

[2018-01-15 10:26] 0crat commented on #94
Order was successfully finished: +30 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7310](http://www.0crat.com/u/yegor256)

[2018-01-15 10:32] 0crat commented on #57
Job [#57](https://github.com/yegor256/jpeek/issues/57) is now in scope, role is `DEV`

[2018-01-15 10:33] 0crat commented on #57
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to [@yegor256](http://www.0crat.com/u/yegor256), total is [+7325](http://www.0crat.com/u/yegor256)

[2018-01-15 15:41] 0crat commented on #93
The job [#93](https://github.com/yegor256/jpeek/issues/93) assigned to icok. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](http:/

[2018-01-15 17:14] iCok commented on #93
@0crat refuse

[2018-01-15 17:15] 0crat commented on #93
@iCok @icok[/z](http://www.0crat.com/u/icok) resigned from [#93](https://github.com/yegor256/jpeek/issues/93), please stop working

[2018-01-15 17:16] 0crat commented on #93
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @icok[/z](http://www.0crat.com/u/icok), total is [+15](http://www.0crat.com/u/icok)

[2018-01-15 17:22] 0crat commented on #64
The job [#64](https://github.com/yegor256/jpeek/issues/64) assigned to @icok[/z](http://www.0crat.com/u/icok). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-no

[2018-01-15 17:28] yegor256 commented on #53
@sergey-karazhenets can you please split this ticket to a few separate tickets? Now it's difficult to track the progress.

[2018-01-15 19:10] fabriciofx commented on #93
@0crat apply

[2018-01-15 19:12] 0crat commented on #93
@fabriciofx Can't understand "apply", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of the bot
  - `waiting` Register an impediment for a job

[2018-01-15 23:51] 0crat commented on #15
The job [#15](https://github.com/yegor256/jpeek/issues/15) assigned to @allanws[/z](http://www.0crat.com/u/allanws). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it

[2018-01-16 01:32] allanws commented on #15
@0crat refuse

[2018-01-16 01:32] 0crat commented on #15
@allanws @allanws[/z](http://www.0crat.com/u/allanws) resigned from [#15](https://github.com/yegor256/jpeek/issues/15), please stop working

[2018-01-16 01:33] 0crat commented on #15
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @allanws[/z](http://www.0crat.com/u/allanws), total is [+90](http://www.0crat.com/u/allanws)

[2018-01-16 15:24] amihaiemil opened #96 "Java architecture is too blackbox"
As I explained in [this](https://github.com/yegor256/jpeek/pull/95#issuecomment-357950881) comment, the Java architecture tightens the reports too much.

When a new report is created, a new metric implemented, there is an XML/XSLT file added which represents said metric and that file is used by class Report (which has no interface and is very configurable, btw). Then, the App class iterates over a

[2018-01-16 15:24] 0crat commented on #96
@yegor256[/z](http://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-16 15:44] yegor256 commented on #96
@amihaiemil have you seen `MetricsTest`?

[2018-01-16 15:57] amihaiemil commented on #96
@yegor256 Yes, and to be honest, I couldn't make much of it. Looking closer now, I guess it tests the numeric output (matches agains this.target, this.value).

But I still think each metric should be an implementation of Report and be unit tested by itself too, right?

[2018-01-16 20:01] yegor256 commented on #96
@amihaiemil well, each metric is just a small XSLT script, which produces some output. The only thing we are concerned about is the numbers. What else to test here?

[2018-01-16 21:00] 0crat commented on #93
The job [#93](https://github.com/yegor256/jpeek/issues/93) assigned to @llorllale[/z](http://www.0crat.com/u/llorllale). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/1

[2018-01-17 11:50] amihaiemil commented on #96
@yegor256 I see... in fact, I wanted to implement those metrics in Java (with *some* help from XSLT to leverage it), in their own classes. Apparently that was the initial architecture and the decision was made to go 100% with XSLT.

I close this, then, thanks :)

[2018-01-17 11:50] #96 closed

[2018-01-17 11:51] 0crat commented on #96
Job `gh:yegor256/jpeek#96` is not assigned, can't get start time

[2018-01-17 12:01] 0crat commented on #96
Job [#96](https://github.com/yegor256/jpeek/issues/96) was not in scope

[2018-01-17 13:28] yegor256 commented on #96
@amihaiemil yes, XSLT is way more expressive and it's much better to parse Java only once and then deal with XMLs.

[2018-01-17 20:58] vmotsak commented on #91
@0crat waiting

[2018-01-17 20:58] vmotsak commented on #90
@0crat refuse

[2018-01-17 20:59] 0crat commented on #91
@vmotsak The impediment was registered successfully

[2018-01-17 21:00] 0crat commented on #90
@vmotsak @vmotsak[/z](http://www.0crat.com/u/vmotsak) resigned from [#90](https://github.com/yegor256/jpeek/issues/90), please stop working

[2018-01-17 21:01] 0crat commented on #90
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @vmotsak[/z](http://www.0crat.com/u/vmotsak), total is [+15](http://www.0crat.com/u/vmotsak)

[2018-01-17 22:12] 0crat commented on #15
The job [#15](https://github.com/yegor256/jpeek/issues/15) assigned to @flslkxtc[/z](http://www.0crat.com/u/flslkxtc). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/

[2018-01-17 22:32] 0crat commented on #67
The job [#67](https://github.com/yegor256/jpeek/issues/67) assigned to @flslkxtc[/z](http://www.0crat.com/u/flslkxtc). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/

[2018-01-18 18:04] llorllale commented on #93
@yegor256 do you have the original PPT slides? Or at least a version that does not squash all layers of each single slide/page?

[2018-01-18 19:06] yegor256 commented on #93
@llorllale here you go (add it to our repo, instead of the slides):

[p123-counsell.pdf](https://github.com/yegor256/jpeek/files/1644102/p123-counsell.pdf)

[2018-01-19 18:30] llorllale commented on #93
@yegor256 I'm blocked by issue #93, specifically the fact that there's currently no way to tell what `args` of a method are input parameters and which one is the result parameter:

From #93:

From the paper you posted, *NHD* only deals with the method's argument types (see an example in page 129).

To illustrate the fact, here are a couple of examples (I've left out the `<ops>` tags):

A simple ge

[2018-01-19 18:30] llorllale commented on #93
@0crat waiting

[2018-01-19 18:34] llorllale commented on #93
Come to think of if, the `method/@desc` seems to be enclosing the input parameter types in parenthesis. Is this so?

Still, having to parse @desc would be an ugly hack.

[2018-01-19 18:49] llorllale opened #97 "skeleton.xsd should clearly mark which args are input and which is the output"
As mentioned [here](https://github.com/yegor256/jpeek/issues/93#issuecomment-359050608), there currently is no clear way to determine which of the args are input and which is output (if any). I'm not sure if the format for `method/@desc` is reliable, but even so, this is fundamental information that should ideally be represented in the schema.

Example XML produced today:
[code]
Example XML that w

[2018-01-20 11:53] 0crat commented on #93
@llorllale The impediment was registered successfully

[2018-01-21 05:29] 0crat commented on #92
@janczer[/z](https://www.0crat.com/u/janczer) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-21 05:29] 0crat commented on #65
@janczer[/z](https://www.0crat.com/u/janczer) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-21 05:29] 0crat commented on #68
@janczer[/z](https://www.0crat.com/u/janczer) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-21 05:29] 0crat commented on #16
@vmotsak[/z](https://www.0crat.com/u/vmotsak) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-21 05:29] 0crat commented on #91
@vmotsak[/z](https://www.0crat.com/u/vmotsak) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-21 05:29] 0crat commented on #64
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-21 07:27] 0crat commented on #97
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+150](https://www.0crat.com/u/llorllale)

[2018-01-21 07:27] 0crat commented on #97
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7730](https://www.0crat.com/u/yegor256)

[2018-01-21 08:06] yegor256 commented on #91
@vmotsak I believe it's fixed, thanks!

[2018-01-21 08:06] #91 closed

[2018-01-21 08:07] 0crat commented on #91
Order was successfully finished: +30 points just awarded to @vmotsak[/z](https://www.0crat.com/u/vmotsak), total is [+45](https://www.0crat.com/u/vmotsak)

[2018-01-21 08:16] 0crat commented on #91
The job [#91](https://github.com/yegor256/jpeek/issues/91) is now out of scope

[2018-01-21 08:26] yegor256 commented on #97
@llorllale should be fine now, each `<method>` will have `<return>` element

[2018-01-21 08:27] janczer opened #98 "What means `ops` and `op`"
[code]

What means in skeleton.xsd `ops` and `op`.

[2018-01-21 08:27] 0crat commented on #98
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-21 08:29] yegor256 commented on #93
@llorllale #97 is fixed, I believe you can continue here

[2018-01-21 08:30] yegor256 commented on #91
@rultor release, tag is `0.24`

[2018-01-21 08:31] rultor commented on #91
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13740-359232293)

[2018-01-21 08:51] yegor256 opened #99 "return meta information about any Java artifact"
Let's create a new web entry point `/meta`, which will return basic info about JAR artifact, by the coordinates.

[2018-01-21 08:51] rultor commented on #91
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13740-359232293) (spent 20min)

[code]

[2018-01-21 08:52] 0crat commented on #99
The job [#99](https://github.com/yegor256/jpeek/issues/99) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16

[2018-01-21 08:53] 0crat commented on #99
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7740](https://www.0crat.com/u/yegor256)

[2018-01-21 08:53] 0crat commented on #99
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7740](https://www.0crat.com/u/yegor256)

[2018-01-21 08:53] 0crat commented on #99
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7740](https://www.0crat.com/u/yegor256)

[2018-01-21 09:00] yegor256 commented on #91
@rultor release, tag is `0.24`

[2018-01-21 09:00] rultor commented on #91
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13740-359233688)

[2018-01-21 09:11] yegor256 commented on #99
no need to do this

[2018-01-21 09:11] #99 closed

[2018-01-21 09:12] 0crat commented on #99
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7770](https://www.0crat.com/u/yegor256)

[2018-01-21 09:20] rultor commented on #91
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13740-359233688) (took me 19min)

[2018-01-21 09:22] 0crat commented on #99
The job [#99](https://github.com/yegor256/jpeek/issues/99) is now out of scope

[2018-01-21 19:46] llorllale opened #100 "Treat primitives and their autoboxed types as one and the same"
Following on from [this](https://github.com/yegor256/jpeek/issues/53#issuecomment-341963890) comment:

Each instance of a primitive and its respective autoboxed type should count as the same type. For example:

[code]
We should coalesce `int` and `Integer` into a single type for analyses, so our metrics should calculate the total parameter types (both input and output) for this method as **2** ins

[2018-01-21 19:53] llorllale commented on #97
@yegor256 confirmed, thanks.

Sample XML now generated from method `public String doSomething(int id, Integer blah)` is:
[code]

[2018-01-21 19:53] #97 closed

[2018-01-21 19:54] 0crat commented on #97
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7800](https://www.0crat.com/u/yegor256)

[2018-01-21 20:01] llorllale opened #101 "Discuss the scope of analyses with regards to a method's visibility"
Following on from [this](https://github.com/yegor256/jpeek/issues/53#issuecomment-341963890) comment:

@yegor256
I am hesitant. I believe this would skew results in favor of an external user's view of a class instead of the actual class' absolute level of cohesion.

Note: I already agree with the optional exclusion of ctors

[2018-01-21 20:01] 0crat commented on #101
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-21 20:03] 0crat commented on #97
The job [#97](https://github.com/yegor256/jpeek/issues/97) is now out of scope

[2018-01-21 21:01] llorllale opened #102 "How to represent "invalid" or "no meaning"?"
Regarding NHD, page 135 of the [paper](https://github.com/yegor256/jpeek/issues/93#issuecomment-358749149) says:

Where `k` is the number of methods of a class.

How should we represent "no meaning" as a value?

[2018-01-21 21:01] 0crat commented on #102
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-21 21:01] llorllale commented on #93
blocked by #102

[2018-01-21 21:01] llorllale commented on #93
@0crat waiting

[2018-01-21 21:02] 0crat commented on #93
@llorllale Job [#93](https://github.com/yegor256/jpeek/issues/93) is already on hold

[2018-01-22 13:31] janczer commented on #92
@0crat refuse

[2018-01-22 13:31] 0crat commented on #92
@janczer The user @janczer[/z](https://www.0crat.com/u/janczer) resigned from [#92](https://github.com/yegor256/jpeek/issues/92), please stop working

[2018-01-22 13:32] 0crat commented on #92
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @janczer[/z](https://www.0crat.com/u/janczer), total is [-15](https://www.0crat.com/u/janczer)

[2018-01-22 13:44] janczer commented on #65
0crat refuse

[2018-01-22 13:45] janczer commented on #68
@0crat refuse

[2018-01-22 13:45] janczer commented on #65
@0crat refuse

[2018-01-22 13:45] 0crat commented on #68
@janczer The user @janczer[/z](https://www.0crat.com/u/janczer) resigned from [#68](https://github.com/yegor256/jpeek/issues/68), please stop working

[2018-01-22 19:35] 0crat commented on #65
@janczer[/z](https://www.0crat.com/u/janczer) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-22 19:35] 0crat commented on #16
@vmotsak[/z](https://www.0crat.com/u/vmotsak) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-22 19:35] 0crat commented on #93
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-22 19:48] 0crat commented on #100
Job [#100](https://github.com/yegor256/jpeek/issues/100) is now in scope, role is `DEV`

[2018-01-22 19:49] 0crat commented on #100
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+165](https://www.0crat.com/u/llorllale)

[2018-01-22 19:52] 0crat commented on #102
Job [#102](https://github.com/yegor256/jpeek/issues/102) is now in scope, role is `DEV`

[2018-01-22 19:52] yegor256 commented on #102
@llorllale let's use `NaN`

[2018-01-22 19:52] 0crat commented on #102
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+180](https://www.0crat.com/u/llorllale)

[2018-01-22 19:55] 0crat commented on #101
Job [#101](https://github.com/yegor256/jpeek/issues/101) is now in scope, role is `DEV`

[2018-01-22 19:55] yegor256 commented on #101
@llorllale let's make this behavior configurable, just like we configure constructors

[2018-01-22 19:56] 0crat commented on #101
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+195](https://www.0crat.com/u/llorllale)

[2018-01-22 19:59] 0crat commented on #101
The job [#101](https://github.com/yegor256/jpeek/issues/101) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-22 20:00] 0crat commented on #102
The job [#102](https://github.com/yegor256/jpeek/issues/102) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-22 20:01] 0crat commented on #101
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7790](https://www.0crat.com/u/yegor256)

[2018-01-22 20:01] 0crat commented on #102
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7785](https://www.0crat.com/u/yegor256)

[2018-01-22 20:10] yegor256 commented on #98
@janczer it's short for "operations" and "operation"

[2018-01-22 20:10] #98 closed

[2018-01-22 20:44] 0crat commented on #8
The job [#8](https://github.com/yegor256/jpeek/issues/8) assigned to @icok[/z](https://www.0crat.com/u/icok). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not

[2018-01-23 07:10] janczer commented on #65
@0crat refuse

[2018-01-23 07:10] 0crat commented on #65
@janczer The user @janczer[/z](https://www.0crat.com/u/janczer) resigned from [#65](https://github.com/yegor256/jpeek/issues/65), please stop working

[2018-01-23 07:10] 0crat commented on #65
@janczer Job `gh:yegor256/jpeek#65` is not assigned, can't get performer

[2018-01-23 07:11] 0crat commented on #65
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @janczer[/z](https://www.0crat.com/u/janczer), total is [-45](https://www.0crat.com/u/janczer)

[2018-01-23 14:53] llorllale commented on #102
Thank you @yegor256 . I'll also be using `NaN` when `l` (number of parameter types) is zero.

[2018-01-23 14:53] #102 closed

[2018-01-23 14:55] 0crat commented on #102
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7915](https://www.0crat.com/u/yegor256)

[2018-01-23 15:04] 0crat commented on #102
The job [#102](https://github.com/yegor256/jpeek/issues/102) is now out of scope

[2018-01-23 15:44] 0crat commented on #15
The job [#15](https://github.com/yegor256/jpeek/issues/15) assigned to @skapral[/z](https://www.0crat.com/u/skapral). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/i

[2018-01-23 15:47] llorllale opened #103 "Introduction of 'NaN' is incompatible with MetricsTest"
Following on from #102, and considering that it seems that we should implement all tests in `MetricsTest` (see #96 and [this comment](https://github.com/yegor256/jpeek/issues/53#issuecomment-341963942)):

The introduction of `NaN` as a value for `class/@value` is incompatible with the current implementation of `MetricsTest`. As far as I am aware, the only way to test for `NaN` in an xpath predicat

[2018-01-23 15:47] 0crat commented on #103
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 15:48] llorllale commented on #93
blocked by #103

[2018-01-23 15:48] llorllale commented on #93
@0crat waiting

[2018-01-23 15:48] 0crat commented on #93
@llorllale Job [#93](https://github.com/yegor256/jpeek/issues/93) is already on hold

[2018-01-23 16:08] llorllale commented on #93
blocked as well  by #101

[2018-01-23 16:44] 0crat commented on #9
The job [#9](https://github.com/yegor256/jpeek/issues/9) assigned to @skapral[/z](https://www.0crat.com/u/skapral). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-

[2018-01-23 17:34] 0crat commented on #64
@icok[/z](https://www.0crat.com/u/icok) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-23 18:34] 0crat commented on #17
The job [#17](https://github.com/yegor256/jpeek/issues/17) assigned to @skapral[/z](https://www.0crat.com/u/skapral). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/i

[2018-01-23 19:25] 0crat commented on #103
Job [#103](https://github.com/yegor256/jpeek/issues/103) is now in scope, role is `DEV`

[2018-01-23 19:26] 0crat commented on #103
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+240](https://www.0crat.com/u/llorllale)

[2018-01-23 20:11] skapral opened #104 "Make an option to rewrite JPeek's target directory if exists"
Right now, if jpeek is run on the project multiple times, it'll fail with exception:
[code]

Why won't it just remove the target directory? As an alternative, this behavior may be controlled by some option like `--overwrite-target`

[2018-01-23 20:12] 0crat commented on #104
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 20:34] skapral opened #105 "Document some guidelines of how to create and maintain the metric in JPeek."
IMO it is crucial, because it will be the first thing which newcomers will face in the project, and it looks non-trivial from the first glance. It can be done as a simple `.md` page or as a part of `Skeleton` javadoc.

Things worth to mention there:
1. Which data is used by metrics calculations (skeleton.xml file?)
2. How is this data collected (Skeleton class?)
3. What is the process of calculati

[2018-01-23 20:34] 0crat commented on #105
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-23 20:41] 0crat commented on #105
The job [#105](https://github.com/yegor256/jpeek/issues/105) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-23 20:42] 0crat commented on #105
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+15](https://www.0crat.com/u/skapral)

[2018-01-23 20:42] 0crat commented on #105
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+7960](https://www.0crat.com/u/yegor256)

[2018-01-23 20:51] 0crat commented on #104
Job [#104](https://github.com/yegor256/jpeek/issues/104) is now in scope, role is `DEV`

[2018-01-23 20:52] 0crat commented on #104
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+30](https://www.0crat.com/u/skapral)

[2018-01-23 21:04] skapral commented on #9
@0crat status

[2018-01-23 21:04] 0crat commented on #9
@skapral This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#9](https://github.com/yegor256/jpeek/issues/9) is in scope
  * The role is `DEV`
  * The job is assigned to @skapral[/z](https://www.0crat.com/u/skapral)
  * These users are banned: @yegor256[/z](https://www.0crat.com/u/yegor256): This user reported the ticket

[2018-01-23 22:35] 0crat commented on #18
The job [#18](https://github.com/yegor256/jpeek/issues/18) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-24 07:28] janczer commented on #86
Close via #87

[2018-01-24 07:28] #86 closed

[2018-01-24 07:54] 0crat commented on #86
Job [#86](https://github.com/yegor256/jpeek/issues/86) was not in scope

[2018-01-24 13:46] yegor256 commented on #9
@0crat status

[2018-01-24 13:47] 0crat commented on #9
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#9](https://github.com/yegor256/jpeek/issues/9) is in scope
  * The role is `DEV`
  * The job is assigned to @skapral[/z](https://www.0crat.com/u/skapral) for 21hr
  * These users are banned: @yegor256[/z](https://www.0crat.com/u/yegor256): This user reported the ticket

[2018-01-24 14:59] llorllale commented on #18
@yegor256 FYI, I think there's a typo in their proposed formula on page 157:
![image](https://user-images.githubusercontent.com/2019896/35338671-e90ef4d4-00f4-11e8-96a0-8c1f52a69c3f.png)
I think instead of "m(A<sub>j</sub>)" it should be "μ(A<sub>j</sub>)". Do you agree?

[2018-01-24 17:18] yegor256 commented on #18
@llorllale I guess, yes

[2018-01-24 17:35] 0crat commented on #16
The user @vmotsak[/z](https://www.0crat.com/u/vmotsak) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working

[2018-01-24 17:40] llorllale commented on #18
blocked by #103

[2018-01-24 17:40] llorllale commented on #18
@0crat waiting

[2018-01-24 17:40] 0crat commented on #18
@llorllale The impediment for [#18](https://github.com/yegor256/jpeek/issues/18) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-01-24 18:00] skapral commented on #15
@0crat status

[2018-01-24 18:00] 0crat commented on #15
@skapral This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#15](https://github.com/yegor256/jpeek/issues/15) is in scope for 10days
  * The role is `DEV`
  * The job is assigned to @skapral[/z](https://www.0crat.com/u/skapral) for 1days
  * These users are banned: @yegor256[/z](https://www.0crat.com/u/yegor256): This user reported the t

[2018-01-24 18:02] skapral opened #106 "Skeleton should track method-method interactions"
...like methods calling each other.

Steps to reproduce:

1. Create a project with a single class in there:
[code]
Note: method `mul` calls `sum` and `sub`, which creates additional relations between them.

2. Analyse it with `jpeek` tool (see README.md)

3. Check generated `skeleton.xml`

[code]

Usually, interactions betweeen elements of a class are in `<ops/>` section. For `mul` method there is

[2018-01-24 18:03] 0crat commented on #106
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-24 18:28] 0crat commented on #106
Job [#106](https://github.com/yegor256/jpeek/issues/106) is now in scope, role is `DEV`

[2018-01-24 18:28] 0crat commented on #106
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+45](https://www.0crat.com/u/skapral)

[2018-01-24 19:07] skapral opened #107 "Are there some guidelines or precedent on testing metrics measurements"
From what I see:

1. There are some tests in `src/main/test`, but as I got it, they are covering a core of JPeek, not the metrics.
2. There is `src/main/it`, which from the name is supposed to be some integration tests, but I haven't got a thing from there. What it is about?

[2018-01-24 19:07] 0crat commented on #107
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-24 19:10] yegor256 commented on #107
@skapral isn't it a dup of https://github.com/yegor256/jpeek/issues/105?

[2018-01-24 19:28] skapral commented on #107
We can merge it if you wish, but in #105 the matter was about documentation, and here I haven't found even a precedent.

[2018-01-24 20:07] yegor256 commented on #105
@skapral check 9472240

[2018-01-24 20:39] skapral commented on #105
Seems ok for me.

[2018-01-24 21:24] 0crat commented on #93
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-25 12:55] llorllale commented on #93
@0crat status

[2018-01-25 12:55] 0crat commented on #93
@llorllale This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#93](https://github.com/yegor256/jpeek/issues/93) is in scope for 11days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for 9days
  * These users are banned: @yegor256[/z](https://www.0crat.com/u/yegor256): This user reported

[2018-01-25 18:24] 0crat commented on #64
The user @icok[/z](https://www.0crat.com/u/icok) resigned from [#64](https://github.com/yegor256/jpeek/issues/64), please stop working

[2018-01-25 21:37] skapral commented on #17
@0crat status

[2018-01-25 21:38] 0crat commented on #17
@skapral This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#17](https://github.com/yegor256/jpeek/issues/17) is in scope for 11days
  * The role is `DEV`
  * The job is assigned to @skapral[/z](https://www.0crat.com/u/skapral) for 2days
  * These users are banned: @yegor256[/z](https://www.0crat.com/u/yegor256): This user reported the t

[2018-01-26 15:29] skapral opened #110 "Need to introduce a way to extract concepts from the source code for conceptual metrics"
https://github.com/yegor256/jpeek/blob/master/papers/izadkhah17.pdf

retrieval methods are based on the extraction the concepts of source code. In conceptual cohesion if methods of one class are conceptually related, then class is considered cohesive

Need to introduce a way to:
1. Parse source files of classes in JPeek
2. Extract the concepts from it and store them in XML format

[2018-01-26 15:29] 0crat commented on #110
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 15:32] skapral commented on #17
@0crat waiting #110

[2018-01-26 15:32] 0crat commented on #17
@skapral The impediment for [#17](https://github.com/yegor256/jpeek/issues/17) was registered successfully by @skapral[/z](https://www.0crat.com/u/skapral)

[2018-01-26 16:50] 0pdd opened #111 "App.java:59-62: LORM metric has impediments (see puzzles..."
The puzzle `15-9a121b89` from #15 has to be resolved:

https://github.com/yegor256/jpeek/blob/97a80bf82afb2db0d40171038596a305478a6a2e/src/main/java/org/jpeek/App.java#L59-L62

The puzzle was created by Kapralov Sergey on 26-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-01-26 16:50] 0pdd opened #112 "LORM.xsl:65-73: `conceptual-relations` are pairs of..."
The puzzle `15-c8802e55` from #15 has to be resolved:

https://github.com/yegor256/jpeek/blob/97a80bf82afb2db0d40171038596a305478a6a2e/src/main/resources/org/jpeek/metrics/LORM.xsl#L65-L73

The puzzle was created by Kapralov Sergey on 26-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-01-26 16:50] 0crat commented on #111
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 16:50] 0crat commented on #112
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 16:52] 0crat commented on #112
Job [#112](https://github.com/yegor256/jpeek/issues/112) is now in scope, role is `DEV`

[2018-01-26 17:08] skapral commented on #15
@yegor256 the pull request is merged, the puzzlels are created so I consider this done. Do you agree? Would you please close this issue?

[2018-01-26 20:40] llorllale commented on #98
@yegor256 to be clear, are these the class attributes used by each method?

[2018-01-27 02:24] llorllale opened #114 "Missing <op> in some cases"
Some `<op>` are not being included in the skeleton.xml. For example, in the case of class `Bar`, notice how `NAME` is not listed in the ops for method `getKey`:
[code]
[code]

[2018-01-27 02:24] 0crat commented on #114
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-27 06:42] amihaiemil opened #116 "Build fails sometimes because of Ant?"
Sometimes, the Travis build fails because of some Ant-related execution scripts. For instance, [this one](https://travis-ci.org/yegor256/jpeek/builds/333888388?utm_source=github_status&utm_medium=notification). What are we using Ant for, in this project?

[2018-01-27 06:42] 0crat commented on #116
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-27 18:30] skapral commented on #15
@0crat status

[2018-01-27 18:30] 0crat commented on #15
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/15#issuecomment-361005037). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-01-27 18:32] skapral commented on #15
@0crat status

[2018-01-27 18:32] 0crat commented on #15
@skapral This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#15](https://github.com/yegor256/jpeek/issues/15) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 13days
  * The role is `DEV`
  * The job is assigned to @skapral[/z](https://www.0crat.com/u/skapral) for [4days](http://datum.zerocracy.com/pages/policy.html#8)

[2018-01-27 20:05] 0crat commented on #101
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-27 23:50] skapral commented on #15
@yegor256 ?

[2018-01-28 14:24] 0crat commented on #114
Job [#114](https://github.com/yegor256/jpeek/issues/114) is now in scope, role is `DEV`

[2018-01-28 14:24] 0crat commented on #114
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+255](https://www.0crat.com/u/llorllale)

[2018-01-28 15:52] skapral commented on #105
@yegor256 FYI

[2018-01-28 16:14] 0crat commented on #15
@skapral[/z](https://www.0crat.com/u/skapral) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-28 16:29] yegor256 commented on #116
@amihaiemil that's XCOP and it fails for a good cause -- the header is broken

[2018-01-28 16:30] #116 closed

[2018-01-28 16:30] 0crat commented on #116
Job `gh:yegor256/jpeek#116` is not assigned, can't get start time

[2018-01-28 16:34] 0pdd opened #117 "App.java:59-62: TCC metric has impediments (see puzzles..."
The puzzle `9-5e913f6c` from #9 has to be resolved:

https://github.com/yegor256/jpeek/blob/b625770426cbfa670c987c135c0b3c98b7a24c8d/src/main/java/org/jpeek/App.java#L59-L62

The puzzle was created by Kapralov Sergey on 26-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-01-28 16:34] 0pdd opened #118 "App.java:64-67: LCC metric has impediments (see puzzles..."
The puzzle `9-e2b8b5ba` from #9 has to be resolved:

https://github.com/yegor256/jpeek/blob/b625770426cbfa670c987c135c0b3c98b7a24c8d/src/main/java/org/jpeek/App.java#L64-L67

The puzzle was created by Kapralov Sergey on 26-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and t

[2018-01-28 16:34] 0pdd opened #119 "LCC.xsl:62-65: `indirectly-related-pairs` are pairs of..."
The puzzle `9-7a54dc2b` from #9 has to be resolved:

https://github.com/yegor256/jpeek/blob/b625770426cbfa670c987c135c0b3c98b7a24c8d/src/main/resources/org/jpeek/metrics/LCC.xsl#L62-L65

The puzzle was created by Kapralov Sergey on 26-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-01-28 16:34] 0pdd opened #120 "TCC.xsl:48-50: `directly-related-pairs` currently don't..."
The puzzle `9-57e7e31a` from #9 has to be resolved:

https://github.com/yegor256/jpeek/blob/b625770426cbfa670c987c135c0b3c98b7a24c8d/src/main/resources/org/jpeek/metrics/TCC.xsl#L48-L50

The puzzle was created by Kapralov Sergey on 26-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-01-28 16:34] 0crat commented on #117
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-28 16:34] 0crat commented on #118
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-28 16:34] 0crat commented on #119
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-28 16:34] 0crat commented on #120
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-28 16:40] 0crat commented on #116
Job [#116](https://github.com/yegor256/jpeek/issues/116) was not in scope

[2018-01-28 16:41] yegor256 commented on #110
@skapral what is a "concept"?

[2018-01-28 16:42] 0crat commented on #117
Job [#117](https://github.com/yegor256/jpeek/issues/117) is now in scope, role is `DEV`

[2018-01-28 16:42] 0crat commented on #118
Job [#118](https://github.com/yegor256/jpeek/issues/118) is now in scope, role is `DEV`

[2018-01-28 16:42] 0crat commented on #119
Job [#119](https://github.com/yegor256/jpeek/issues/119) is now in scope, role is `DEV`

[2018-01-28 16:42] 0crat commented on #120
Job [#120](https://github.com/yegor256/jpeek/issues/120) is now in scope, role is `DEV`

[2018-01-28 16:42] 0crat commented on #111
Job [#111](https://github.com/yegor256/jpeek/issues/111) is now in scope, role is `DEV`

[2018-01-28 16:44] yegor256 commented on #101
@llorllale can we close this?

[2018-01-28 16:44] 0crat commented on #100
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 16:47] 0pdd opened #121 "MetricsTest.java:38-40: NHD needs to be tested against..."
The puzzle `93-25a7c267` from #93 has to be resolved:

https://github.com/yegor256/jpeek/blob/723c1a0e31123a9efe6a58f94408a52313ee6ee3/src/test/java/org/jpeek/MetricsTest.java#L38-L40

The puzzle was created by George Aristy on 26-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-01-28 16:47] 0pdd opened #122 "MetricsTest.java:41-43: NHD calculation needs to take..."
The puzzle `93-12454465` from #93 has to be resolved:

https://github.com/yegor256/jpeek/blob/723c1a0e31123a9efe6a58f94408a52313ee6ee3/src/test/java/org/jpeek/MetricsTest.java#L41-L43

The puzzle was created by George Aristy on 26-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-01-28 16:48] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 16:48] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 17:01] skapral commented on #110
@yegor256 I am not sure I can answer this question, there is lack of info on it. In this bug I outlined the fact I am sure of - conceptual metrics are based on information, extracted from sources (investigation on #17 and the definition of conceptual metrics in the reference are clear on that). Currrently, sources in JPeek are not analysed at all - this issue is for compensating this missing part.

[2018-01-28 17:02] skapral commented on #17
@0crat status

[2018-01-28 17:03] 0crat commented on #17
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 17:15] skapral commented on #17
@0crat status

[2018-01-28 17:15] 0crat commented on #17
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/17#issuecomment-361078847). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-01-28 17:15] skapral commented on #17
@0crat status

[2018-01-28 17:50] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 18:47] 0crat commented on #100
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 18:52] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 19:48] 0crat commented on #100
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 19:52] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 19:53] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 20:49] 0crat commented on #100
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 20:53] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 20:55] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 21:51] 0crat commented on #100
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 21:55] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 21:56] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 22:23] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 22:23] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 22:23] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 22:51] 0crat commented on #100
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 22:56] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 22:58] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 23:24] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 23:53] 0crat commented on #100
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 23:58] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-28 23:59] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 00:25] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 00:58] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 01:00] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 01:25] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 02:01] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 02:26] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 03:01] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 03:27] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 04:02] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 04:28] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 05:29] 0crat commented on #104
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 12:46] 0crat commented on #9
@skapral[/z](https://www.0crat.com/u/skapral) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-29 12:46] 0crat commented on #17
@skapral[/z](https://www.0crat.com/u/skapral) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-29 12:46] 0crat commented on #105
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-29 12:46] 0crat commented on #18
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-29 12:48] yegor256 commented on #105
@skapral please, close the ticke

[2018-01-29 12:48] yegor256 commented on #15
@skapral thanks

[2018-01-29 12:48] #15 closed

[2018-01-29 12:49] 0crat commented on #15
Order was successfully finished: +30 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+75](https://www.0crat.com/u/skapral)

[2018-01-29 12:51] yegor256 commented on #110
@skapral I don't think we can fix this ticket, since we don't understand what a "concept" is. If you can find a more specific information, let us know. If any particular metric you will see that we need something on top of what we already have in the `skeleton.xml` -- create a new ticket please.

[2018-01-29 12:51] #110 closed

[2018-01-29 12:51] 0crat commented on #110
Job `gh:yegor256/jpeek#110` is not assigned, can't get start time

[2018-01-29 12:59] skapral commented on #9
@yegor256 please close this issue, since the pull request changes are in upstream.

[2018-01-29 12:59] 0crat commented on #15
The job [#15](https://github.com/yegor256/jpeek/issues/15) is now out of scope

[2018-01-29 12:59] #105 closed

[2018-01-29 13:00] 0crat commented on #105
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8695](https://www.0crat.com/u/yegor256)

[2018-01-29 13:01] 0crat commented on #110
Job [#110](https://github.com/yegor256/jpeek/issues/110) was not in scope

[2018-01-29 13:09] 0crat commented on #105
The job [#105](https://github.com/yegor256/jpeek/issues/105) is now out of scope

[2018-01-29 14:12] yegor256 commented on #98
@llorllale they are operations inside the method. At the moment we have only attributes-accessing operations, but can add others in the future, if necessary.

[2018-01-29 14:12] 0crat commented on #122
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 14:24] 0crat commented on #8
The job [#8](https://github.com/yegor256/jpeek/issues/8) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-29 15:05] llorllale commented on #93
@yegor256 can we close this?

[2018-01-29 15:06] yegor256 commented on #93
@llorllale thanks!

[2018-01-29 15:06] #93 closed

[2018-01-29 15:07] llorllale commented on #101
@yegor256 I was under the impression that some change was to be done from this ticket. Eg.: update README and Main.java with new command line parameters.

[2018-01-29 15:08] 0crat commented on #93
Order was successfully finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+315](https://www.0crat.com/u/llorllale)

[2018-01-29 15:14] 0crat commented on #93
The job [#93](https://github.com/yegor256/jpeek/issues/93) is now out of scope

[2018-01-29 15:17] 0crat commented on #93
Job [#93](https://github.com/yegor256/jpeek/issues/93) was not in scope

[2018-01-29 15:53] llorllale commented on #98
@yegor256 then we need a way to differentiate ops that access attributes from the rest (LCOM5 #18).

[2018-01-29 15:54] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @skapral[/z](https://www.0crat.com/u/skapral). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/i

[2018-01-29 15:56] llorllale opened #123 "Differentiate ops that access class attributes from the rest"
Following on from [this](https://github.com/yegor256/jpeek/issues/98#issuecomment-361256847) comment:

We need a way to differentiate `<op>` that access the class' attributes from other ops that don't. LCOM5 (#18) needs this.

[2018-01-29 15:56] 0crat commented on #123
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 17:25] yegor256 commented on #123
@llorllale but we have it already. If an `op` accesses an object attribute it has `type` equal to `put` or `get`.

[2018-01-29 17:26] yegor256 commented on #98
@llorllale we have `type` for that

[2018-01-29 17:36] 0pdd opened #124 "MetricsTest.java:38-40: Impediment: #103 must be fixed..."
The puzzle `18-58649db9` from #18 has to be resolved:

https://github.com/yegor256/jpeek/blob/afff84db718691401c1a47914b387fb171db9564/src/test/java/org/jpeek/MetricsTest.java#L38-L40

The puzzle was created by George Aristy on 27-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-01-29 17:36] llorllale commented on #123
@yegor256 sorry, did not see it documented anywhere (and didn't look at code). Are the plans to add more types that access attributes? Will fixing #114 involve addint a new `type`?

[2018-01-29 17:36] 0pdd opened #125 "MetricsTest.java:41-43: Impediment: test for LCOM5 with..."
The puzzle `18-f4ca747e` from #18 has to be resolved:

https://github.com/yegor256/jpeek/blob/afff84db718691401c1a47914b387fb171db9564/src/test/java/org/jpeek/MetricsTest.java#L41-L43

The puzzle was created by George Aristy on 29-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-01-29 17:36] 0crat commented on #124
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 17:36] 0crat commented on #125
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-29 17:37] yegor256 commented on #101
@llorllale in the future keep in mind that each ticket has to be a bug, not a discussion, see: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5-report-when-it-is-broken

[2018-01-29 17:37] #101 closed

[2018-01-29 17:37] 0crat commented on #124
Job [#124](https://github.com/yegor256/jpeek/issues/124) is now in scope, role is `DEV`

[2018-01-29 17:38] 0crat commented on #125
Job [#125](https://github.com/yegor256/jpeek/issues/125) is now in scope, role is `DEV`

[2018-01-29 17:39] 0crat commented on #101
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8830](https://www.0crat.com/u/yegor256)

[2018-01-29 17:39] llorllale commented on #18
@yegor256 I believe we can close this

[2018-01-29 17:42] yegor256 commented on #18
@llorllale thanks!

[2018-01-29 17:42] #18 closed

[2018-01-29 17:43] 0crat commented on #18
Order was successfully finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+360](https://www.0crat.com/u/llorllale)

[2018-01-29 17:48] llorllale opened #126 "Missing parameter name and values for "method visibility" configuration"
Following on from #101:

We need to define the name of this parameter for our XSLs, similar to how we currently have `<xsl:param name="ctors" select="0"/>`. What would be the name of this new parameter and what would be its possible values?

[2018-01-29 17:49] 0crat commented on #126
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 18:51] 0crat commented on #126
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 18:54] 0crat commented on #101
The job [#101](https://github.com/yegor256/jpeek/issues/101) is now out of scope

[2018-01-29 18:54] 0crat commented on #18
The job [#18](https://github.com/yegor256/jpeek/issues/18) is now out of scope

[2018-01-29 19:52] 0crat commented on #126
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-29 20:23] yegor256 commented on #123
@llorllale maybe, if new metrics will require them.

[2018-01-29 20:51] 0crat commented on #126
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-30 01:05] 0crat commented on #64
The job [#64](https://github.com/yegor256/jpeek/issues/64) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-01-30 03:54] 0crat commented on #66
The job [#66](https://github.com/yegor256/jpeek/issues/66) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-30 07:54] 0crat commented on #68
The job [#68](https://github.com/yegor256/jpeek/issues/68) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-30 11:17] llorllale commented on #66
@0crat status

[2018-01-30 11:17] 0crat commented on #66
@llorllale This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#66](https://github.com/yegor256/jpeek/issues/66) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 16days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [7hr](http://datum.zerocracy.com/pages/policy.html

[2018-01-30 13:14] 0crat commented on #65
The job [#65](https://github.com/yegor256/jpeek/issues/65) assigned to @driver733[/z](https://www.0crat.com/u/driver733). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-30 13:20] #123 closed

[2018-01-30 13:20] 0crat commented on #123
Job `gh:yegor256/jpeek#123` is not assigned, can't get start time

[2018-01-30 13:30] 0crat commented on #123
Job [#123](https://github.com/yegor256/jpeek/issues/123) was not in scope

[2018-01-30 16:03] yegor256 commented on #126
@llorllale just make whatever you feel relevant inside your next PR. No need to create a bug for it. It doesn't make sense, since nothing is broken now.

[2018-01-30 16:03] #126 closed

[2018-01-30 16:03] 0crat commented on #126
Job `gh:yegor256/jpeek#126` is not assigned, can't get start time

[2018-01-30 16:03] 0crat commented on #103
Job [#103](https://github.com/yegor256/jpeek/issues/103) is already in scope

[2018-01-30 16:06] llorllale commented on #126
@yegor256 i'll do as you say, but i feel like it will need standards

[2018-01-30 16:13] 0crat commented on #126
Job [#126](https://github.com/yegor256/jpeek/issues/126) was not in scope

[2018-01-30 17:11] skapral commented on #17
@0crat status

[2018-01-30 17:11] 0crat commented on #17
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/17#issuecomment-361664410). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-01-30 18:05] 0crat commented on #67
The job [#67](https://github.com/yegor256/jpeek/issues/67) assigned to @driver733[/z](https://www.0crat.com/u/driver733). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-30 21:11] skapral opened #128 "Need a logarithm math operation for XSL metrics schemas"
Working on #17, I realized that MWE metric require a logarithm, an operation which is absent in XSL by default (correct me if I wrong). We need to provide it somehow to the metrics.

[2018-01-30 21:11] 0crat commented on #128
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-30 21:54] skapral opened #129 "MWE: Need to introduce a way to gather information about topics and their probability from sources"
Original metric: #17.
See also #110.

http://www.cs.wm.edu/~denys/pubs/ICSM09-LDA-cohesion.pdf

Information about the LDA topics and their probability per class methods is used as a basis for MWE metric. We need to collect this information from class sources.

[2018-01-30 21:54] 0crat commented on #129
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-30 23:04] skapral opened #131 "Mention installation of xcop in CONTRIBUTION.md?"
I fixed a bug and checked the fix by building with `-Pqulice` profile, according CONRIBUTION.md. Everything passed correctly.

Then I pushed my changes and created a Pull Request. Travis started complaining on one of my XMLs (a metric descriptor). It took me a while to understand that my build is passed locally because `xcop` tool was not installed on my host. It significantly impacted my timings.

[2018-01-30 23:04] 0crat commented on #131
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 01:55] 0crat commented on #90
The job [#90](https://github.com/yegor256/jpeek/issues/90) assigned to @driver733[/z](https://www.0crat.com/u/driver733). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-31 01:57] llorllale commented on #66
PDF obtained from the link
[Alhadi13.pdf](https://github.com/yegor256/jpeek/files/1680118/Alhadi13.pdf)

[2018-01-31 02:32] driver733 commented on #90
@0crat waiting. Will get back to it after other algorithms.

[2018-01-31 02:32] 0crat commented on #90
@driver733 Can't understand "waiting.", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of the bot
  - `waiting` Register an impediment for a job

[2018-01-31 02:52] driver733 commented on #90
@0crat waiting

[2018-01-31 02:52] 0crat commented on #90
@driver733 The impediment for [#90](https://github.com/yegor256/jpeek/issues/90) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-01-31 03:37] driver733 commented on #67
@0crat waiting

[2018-01-31 03:37] driver733 commented on #67
Will get back to the task after implementation of other algorithms

[2018-01-31 03:37] 0crat commented on #67
@driver733 The impediment for [#67](https://github.com/yegor256/jpeek/issues/67) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-01-31 07:24] 0crat commented on #92
The job [#92](https://github.com/yegor256/jpeek/issues/92) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-01-31 07:32] amihaiemil opened #132 "Explain the XLS templates"
I see most of the metrics are implemented in XLS and processed with ``skeletom.xml``?

Can you pls explain such an XLS template? I see most declare variables (e.g. ``<xsl:variable name="Oi">``, inside `` <xsl:template>``, so I assume all that has to be done in a new metric is declare the variables used by said metric, inside the right template, but I am not sure.

[2018-01-31 07:32] 0crat commented on #132
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 07:35] amihaiemil commented on #64
@0crat waiting for https://github.com/yegor256/jpeek/issues/132

[2018-01-31 07:35] amihaiemil commented on #8
@0crat waiting for https://github.com/yegor256/jpeek/issues/132

[2018-01-31 07:35] 0crat commented on #8
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-31 07:35] 0crat commented on #64
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-31 07:35] 0crat commented on #64
@amihaiemil The impediment for [#64](https://github.com/yegor256/jpeek/issues/64) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-01-31 07:38] amihaiemil commented on #64
@0crat status

[2018-01-31 07:38] 0crat commented on #64
@amihaiemil This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#64](https://github.com/yegor256/jpeek/issues/64) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 17days
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [1days](http://datum.zerocracy.com/pages/policy

[2018-01-31 07:39] amihaiemil commented on #8
@0crat waiting for #132 (here)

[2018-01-31 07:39] 0crat commented on #8
@amihaiemil The impediment for [#8](https://github.com/yegor256/jpeek/issues/8) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-01-31 09:48] amihaiemil commented on #132
@skapral Maybe you can ask Yegor to assign this to you. I guess this explanation should remain in this ticket for everyone to see. Surely, I am not the only one who is not familiar with XSL :)

[2018-01-31 10:39] skapral opened #133 "Introduce a schemas for skeleton.xml and <metric>.xml's"
Subj. The proposal is to introduce XML schemas with documentation annotations for the purpose of validation and transparency.

[2018-01-31 10:40] 0crat commented on #133
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 10:40] skapral commented on #132
@amihaiemil @yegor256

Actually, I created something similar once ago (#105) and I don't know what to add besides that. XSL templates are just XSL templates which transition one XML (skeleton.xml) to the other (<metric>.XML). There is completely no sacral meaning in its variable names and templates. However, I have no idea how to make them more readable.

in my pull request (#130) I used the names

[2018-01-31 10:44] amihaiemil commented on #132
@skapral No, this ticket was not about your PRs, they are fine from my point of view. I wanted an explanation so I can understand how to implement metrics with XSL :)

[2018-01-31 12:35] yegor256 commented on #128
@skapral I understand the problem, but you should not create tickets like that. The `master` is not broken now, everything works fine. You just can't implement your functionality, because `log()` is absent. You should use PDD.

[2018-01-31 12:35] #128 closed

[2018-01-31 12:36] 0crat commented on #128
Job `gh:yegor256/jpeek#128` is not assigned, can't get start time

[2018-01-31 12:38] yegor256 commented on #131
@skapral thanks, I explained it

[2018-01-31 12:38] #131 closed

[2018-01-31 12:39] 0crat commented on #131
Job `gh:yegor256/jpeek#131` is not assigned, can't get start time

[2018-01-31 12:46] 0crat commented on #128
Job [#128](https://github.com/yegor256/jpeek/issues/128) was not in scope

[2018-01-31 12:49] 0crat commented on #131
Job [#131](https://github.com/yegor256/jpeek/issues/131) was not in scope

[2018-01-31 13:25] llorllale commented on #66
@yegor256 I do not see the definition for CCM:

* The link you provided contains only the paper's abstract
* The PDF obtained from the "Full PDF" link does not contain its definition either

[2018-01-31 14:07] yegor256 commented on #66
@llorllale I guess this metric can't be implemented. I also didn't manage to find the original PDF. Maybe you can email the author of the metric?

[2018-01-31 14:15] yegor256 commented on #133
@skapral but we do have them already, see `src/resources/org/jpeek/xsd`

[2018-01-31 14:18] yegor256 commented on #129
@skapral what is "topic" and "their probability"? I can't understand. Isn't it a duplicate of https://github.com/yegor256/jpeek/issues/110

[2018-01-31 14:20] yegor256 commented on #132
@amihaiemil you need this book: http://amzn.to/2GyG3en

[2018-01-31 14:42] skapral commented on #133
@yegor256 I see, but:
1. Shouldn't we reference them in generated XML's?
2. There is no documentation there

[2018-01-31 15:31] yegor256 commented on #133
@skapral both concerns are valid, but they have to be submitted as separate tickets and we will fix them.

[2018-01-31 15:31] #133 closed

[2018-01-31 15:32] 0crat commented on #133
Job `gh:yegor256/jpeek#133` is not assigned, can't get start time

[2018-01-31 15:42] 0crat commented on #133
Job [#133](https://github.com/yegor256/jpeek/issues/133) was not in scope

[2018-01-31 15:49] skapral opened #134 "Schemas in src/resources/org/jpeek/xsd must be documented"
Subj. First discussed in #133. We need to document the schemas in src/resources/org/jpeek/xsd so that the semantics of the generated XML documents is transparent for maintainers.

[2018-01-31 15:49] 0crat commented on #134
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 15:50] 0crat commented on #134
Job [#134](https://github.com/yegor256/jpeek/issues/134) is now in scope, role is `DEV`

[2018-01-31 15:51] 0crat commented on #134
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+90](https://www.0crat.com/u/skapral)

[2018-01-31 15:52] skapral opened #135 "Schemas from src/resources/org/jpeek/xsd must be referenced in generated XMLs"
Subj. First discussed in #133.

We need to make references to the schemas explicit in generated XML documents. This will bring transparency in semantics of the generated XML files and will make their support easier.

[2018-01-31 15:52] 0crat commented on #135
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-31 15:54] 0crat commented on #135
Job [#135](https://github.com/yegor256/jpeek/issues/135) is now in scope, role is `DEV`

[2018-01-31 15:55] 0crat commented on #135
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+105](https://www.0crat.com/u/skapral)

[2018-01-31 17:45] 0crat commented on #9
@skapral[/z](https://www.0crat.com/u/skapral) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-31 17:58] skapral commented on #9
@yegor256 ?

[2018-01-31 18:55] llorllale commented on #66
@yegor256 I believe this is what you're looking for, starting at page 40, obtained from [here](http://eprints.kfupm.edu.sa/10437/):

[Wasiq01.pdf](https://github.com/yegor256/jpeek/files/1682891/Wasiq01.pdf)

To implement CCM we need a way to include in every `<method>` any invocation of another method of the same class.

[2018-01-31 18:55] llorllale commented on #66
@0crat waiting

[2018-01-31 18:56] 0crat commented on #66
@llorllale The impediment for [#66](https://github.com/yegor256/jpeek/issues/66) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-01-31 18:59] skapral commented on #129
"topic" and its probability is the basis input for MWE metric (and, probably, the other conceptual related metrics). I think that following the precedence of #128, we should close this issue and leave a puzzle in #130 instead.

[2018-01-31 18:59] #129 closed

[2018-01-31 18:59] 0crat commented on #129
Job `gh:yegor256/jpeek#129` is not assigned, can't get start time

[2018-01-31 19:09] 0crat commented on #129
Job [#129](https://github.com/yegor256/jpeek/issues/129) was not in scope

[2018-01-31 19:34] 0crat commented on #17
@skapral[/z](https://www.0crat.com/u/skapral) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-31 23:57] driver733 commented on #65
@0crat waiting

[2018-01-31 23:57] 0crat commented on #65
@driver733 The impediment for [#65](https://github.com/yegor256/jpeek/issues/65) was registered successfully by @driver733[/z](https://www.0crat.com/u/driver733)

[2018-02-01 09:24] skapral commented on #16
@0crat status

[2018-02-01 09:25] 0crat commented on #16
@skapral This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#16](https://github.com/yegor256/jpeek/issues/16) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 18days
  * The role is `DEV`
  * The job is assigned to @skapral[/z](https://www.0crat.com/u/skapral) for [3days](http://datum.zerocracy.com/pages/policy.html#8)

[2018-02-01 12:25] yegor256 commented on #66
@llorllale feel free to submit a new bug about it, if something is not enough in `skeleton.xml`

[2018-02-01 12:35] 0pdd opened #138 "MetricsTest.java:50-52: Impediment: test for LCOM2/3 with..."
The puzzle `92-98d84f5f` from #92 has to be resolved:

https://github.com/yegor256/jpeek/blob/250ed069ee0919634b632e8c454ff150d94e681d/src/test/java/org/jpeek/MetricsTest.java#L50-L52

The puzzle was created by George Aristy on 31-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-02-01 12:35] 0pdd opened #139 "MetricsTest.java:53-55: Impediment: test for LCOM3 with..."
The puzzle `92-8b89e205` from #92 has to be resolved:

https://github.com/yegor256/jpeek/blob/250ed069ee0919634b632e8c454ff150d94e681d/src/test/java/org/jpeek/MetricsTest.java#L53-L55

The puzzle was created by George Aristy on 31-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-02-01 12:35] 0crat commented on #138
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 12:35] 0crat commented on #139
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 12:37] 0crat commented on #138
Job [#138](https://github.com/yegor256/jpeek/issues/138) is now in scope, role is `DEV`

[2018-02-01 12:37] 0crat commented on #139
Job [#139](https://github.com/yegor256/jpeek/issues/139) is now in scope, role is `DEV`

[2018-02-01 12:56] yegor256 commented on #9
@skapral thanks!

[2018-02-01 12:56] #9 closed

[2018-02-01 12:57] 0crat commented on #9
Order was successfully finished: +30 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+135](https://www.0crat.com/u/skapral)

[2018-02-01 13:06] 0crat commented on #9
The job [#9](https://github.com/yegor256/jpeek/issues/9) is now out of scope

[2018-02-01 13:26] llorllale commented on #92
@yegor256 I believe we can close this now

[2018-02-01 13:28] yegor256 commented on #92
@llorllale thanks!

[2018-02-01 13:28] #92 closed

[2018-02-01 13:30] 0crat commented on #92
Order was successfully finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+390](https://www.0crat.com/u/llorllale)

[2018-02-01 14:43] 0crat commented on #92
The job [#92](https://github.com/yegor256/jpeek/issues/92) is now out of scope

[2018-02-01 18:56] 0pdd opened #140 "MetricsTest.java:50-53: SCOM has an impediment on issue..."
The puzzle `68-6427b294` from #68 has to be resolved:

https://github.com/yegor256/jpeek/blob/aae0a5fa3342477fe23137e583903ce03c20af79/src/test/java/org/jpeek/MetricsTest.java#L50-L53

The puzzle was created by George Aristy on 30-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-02-01 18:57] 0pdd opened #141 "MetricsTest.java:54-56: SCOM has an impediment on issue..."
The puzzle `68-96e0ea92` from #68 has to be resolved:

https://github.com/yegor256/jpeek/blob/aae0a5fa3342477fe23137e583903ce03c20af79/src/test/java/org/jpeek/MetricsTest.java#L54-L56

The puzzle was created by George Aristy on 31-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-02-01 18:57] 0crat commented on #140
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 18:57] 0pdd opened #142 "SCOM.xsl:129-131: Calculate SCOM_min as per page 86 of..."
The puzzle `68-03d5665d` from #68 has to be resolved:

https://github.com/yegor256/jpeek/blob/aae0a5fa3342477fe23137e583903ce03c20af79/src/main/resources/org/jpeek/metrics/SCOM.xsl#L129-L131

The puzzle was created by George Aristy on 30-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-02-01 18:57] 0crat commented on #141
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 18:57] 0crat commented on #142
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 18:58] 0crat commented on #140
Job [#140](https://github.com/yegor256/jpeek/issues/140) is now in scope, role is `DEV`

[2018-02-01 18:58] 0crat commented on #141
Job [#141](https://github.com/yegor256/jpeek/issues/141) is now in scope, role is `DEV`

[2018-02-01 18:58] 0crat commented on #142
Job [#142](https://github.com/yegor256/jpeek/issues/142) is now in scope, role is `DEV`

[2018-02-01 19:10] 0pdd opened #143 "App.java:69-72: MWE metric has impediments (see puzzles..."
The puzzle `17-e0265053` from #17 has to be resolved:

https://github.com/yegor256/jpeek/blob/6fb7f028b1daed1d927f22e36b95dfdb70cb117b/src/main/java/org/jpeek/App.java#L69-L72

The puzzle was created by Kapralov Sergey on 30-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-02-01 19:10] 0pdd opened #144 "MWE.xsl:47-52: The current implementation of MWE metric..."
The puzzle `17-049820b6` from #17 has to be resolved:

https://github.com/yegor256/jpeek/blob/6fb7f028b1daed1d927f22e36b95dfdb70cb117b/src/main/resources/org/jpeek/metrics/MWE.xsl#L47-L52

The puzzle was created by Kapralov Sergey on 30-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-02-01 19:10] 0crat commented on #143
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 19:10] 0pdd opened #145 "MWE.xsl:75-79: Di value is supposed to be calculated by..."
The puzzle `17-f82757ae` from #17 has to be resolved:

https://github.com/yegor256/jpeek/blob/6fb7f028b1daed1d927f22e36b95dfdb70cb117b/src/main/resources/org/jpeek/metrics/MWE.xsl#L75-L79

The puzzle was created by Kapralov Sergey on 30-Jan-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-02-01 19:10] 0crat commented on #144
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 19:10] 0crat commented on #145
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-01 19:11] 0crat commented on #143
Job [#143](https://github.com/yegor256/jpeek/issues/143) is now in scope, role is `DEV`

[2018-02-01 19:12] 0crat commented on #145
Job [#145](https://github.com/yegor256/jpeek/issues/145) is now in scope, role is `DEV`

[2018-02-01 19:12] 0crat commented on #144
Job [#144](https://github.com/yegor256/jpeek/issues/144) is now in scope, role is `DEV`

[2018-02-01 20:20] llorllale commented on #68
@yegor256 I believe we can close this

[2018-02-01 21:54] 0crat commented on #65
The job [#65](https://github.com/yegor256/jpeek/issues/65) assigned to @gizmomogwai[/z](https://www.0crat.com/u/gizmomogwai). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-02-02 05:38] 0crat commented on #67
The job [#67](https://github.com/yegor256/jpeek/issues/67) assigned to @gizmomogwai[/z](https://www.0crat.com/u/gizmomogwai). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-02-02 09:23] 0crat commented on #90
The job [#90](https://github.com/yegor256/jpeek/issues/90) assigned to @gizmomogwai[/z](https://www.0crat.com/u/gizmomogwai). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-02-02 13:23] 0crat commented on #57
The job [#57](https://github.com/yegor256/jpeek/issues/57) assigned to @skapral[/z](https://www.0crat.com/u/skapral). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/i

[2018-02-02 15:00] 0pdd opened #146 "App.java:122-124: Add the CCM metric report here when all..."
The puzzle `66-9d79a0db` from #66 has to be resolved:

https://github.com/yegor256/jpeek/blob/faea600f44b8a750701047afee520df9bdbeb3a1/src/main/java/org/jpeek/App.java#L122-L124

The puzzle was created by George Aristy on 01-Feb-18.

Estimate: 15 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-02-02 15:00] 0pdd opened #147 "CCM.xsl:52-55: For CCM, the following test cases need to..."
The puzzle `66-c487e21b` from #66 has to be resolved:

https://github.com/yegor256/jpeek/blob/faea600f44b8a750701047afee520df9bdbeb3a1/src/main/resources/org/jpeek/metrics/CCM.xsl#L52-L55

The puzzle was created by George Aristy on 01-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-02-02 15:00] 0crat commented on #146
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 15:00] 0pdd opened #148 "CCM.xsl:58-60: For CCM, cannot add test case for class..."
The puzzle `66-1f52dc9d` from #66 has to be resolved:

https://github.com/yegor256/jpeek/blob/faea600f44b8a750701047afee520df9bdbeb3a1/src/main/resources/org/jpeek/metrics/CCM.xsl#L58-L60

The puzzle was created by George Aristy on 01-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-02-02 15:01] 0pdd opened #149 "CCM.xsl:63-67: For CCM, need to add OR condition to the..."
The puzzle `66-72fdfc23` from #66 has to be resolved:

https://github.com/yegor256/jpeek/blob/faea600f44b8a750701047afee520df9bdbeb3a1/src/main/resources/org/jpeek/metrics/CCM.xsl#L63-L67

The puzzle was created by George Aristy on 01-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-02-02 15:01] 0crat commented on #147
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 15:01] 0crat commented on #148
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 15:01] 0crat commented on #149
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 15:02] 0crat commented on #146
Job [#146](https://github.com/yegor256/jpeek/issues/146) is now in scope, role is `DEV`

[2018-02-02 15:02] 0crat commented on #147
Job [#147](https://github.com/yegor256/jpeek/issues/147) is now in scope, role is `DEV`

[2018-02-02 15:03] 0crat commented on #148
Job [#148](https://github.com/yegor256/jpeek/issues/148) is now in scope, role is `DEV`

[2018-02-02 15:03] 0crat commented on #149
Job [#149](https://github.com/yegor256/jpeek/issues/149) is now in scope, role is `DEV`

[2018-02-02 15:04] skapral commented on #17
@yegor256 please close this issue since PR was merged.

[2018-02-02 15:07] llorllale commented on #66
@yegor256 I think we can close this now

[2018-02-02 15:23] skapral opened #150 "README.md is outdated: section "Cohesion metrics""
Section "cohesion metrics" enumerates the list of currently implemented metrics. However, this enumeration became outdated after the architectural desition of switchinng from Java-based metrics logic to XSL-based.

[2018-02-02 15:23] 0crat commented on #150
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-02 16:02] yegor256 commented on #17
@skapral thanks!

[2018-02-02 16:02] #17 closed

[2018-02-02 16:02] yegor256 commented on #66
@llorllale thanks!

[2018-02-02 16:02] #66 closed

[2018-02-02 16:04] yegor256 commented on #68
@llorllale thanks!

[2018-02-02 16:04] 0crat commented on #17
Order was successfully finished: +30 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+165](https://www.0crat.com/u/skapral)

[2018-02-02 16:04] 0crat commented on #66
Order was successfully finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+420](https://www.0crat.com/u/llorllale)

[2018-02-02 16:13] 0crat commented on #17
The job [#17](https://github.com/yegor256/jpeek/issues/17) is now out of scope

[2018-02-02 16:13] 0crat commented on #66
The job [#66](https://github.com/yegor256/jpeek/issues/66) is now out of scope

[2018-02-02 17:23] llorllale commented on #68
@yegor256 missed points + payment on this one

[2018-02-02 21:14] 0crat commented on #103
The job [#103](https://github.com/yegor256/jpeek/issues/103) assigned to @skapral[/z](https://www.0crat.com/u/skapral). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16

[2018-02-02 22:42] rok-povsic opened #151 "Path /dev/null not found on Windows"
Because path `/dev/null` is used [here](https://github.com/yegor256/jpeek/blob/faea600f44b8a750701047afee520df9bdbeb3a1/src/main/java/org/jpeek/web/Reports.java#L121), an IOException is thrown (and swallowed) when running the test `TkAppTest:rendersOneReport` on Windows.

This stack trace is below is written to the output window. The test otherwise passes. All other tests also pass, without output

[2018-02-02 22:42] 0crat commented on #151
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-03 01:29] llorllale commented on #104
@0crat status

[2018-02-03 01:29] 0crat commented on #104
@llorllale This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#104](https://github.com/yegor256/jpeek/issues/104) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 10days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [2hr](http://datum.zerocracy.com/pages/policy.ht

[2018-02-03 03:14] 0crat commented on #106
The job [#106](https://github.com/yegor256/jpeek/issues/106) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-04 09:32] amihaiemil commented on #100
@0crat status

[2018-02-04 09:32] 0crat commented on #100
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/100#issuecomment-362893584). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-02-04 09:37] amihaiemil commented on #100
@0crat status

[2018-02-04 09:37] 0crat commented on #100
@amihaiemil This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#100](https://github.com/yegor256/jpeek/issues/100) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 13days
  * The role is `DEV`
  * The job is assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) for [2days](http://datum.zerocracy.com/pages/poli

[2018-02-04 10:24] amihaiemil commented on #100
@llorllale Does that comment still apply to the current XSL-based architedture?

``I think that we should introduce a new class which will do exactly that -- fetch the list of types from a method signature`` -- where should this class be? Where exactly are the method arguments counted now? I had a look in the project but it's not so clear :)

[2018-02-04 11:20] amihaiemil commented on #100
@llorllale I had a look now and found the following: Skeleton doesn't actually count any arguments, it just lists them in XML. E.g. here is a method with 2 arguments, 1 Integer and 1 int:

[code]

So, question is: should it be the job of the Skeleton to count/differenciate the arguments or not? I would say no, since the skeleton's job should be representing the class *as is* in XML, with no alteri

[2018-02-04 13:59] llorllale commented on #100
@amihaiemil

Not coalescing them in `skeleton.xml` would lead to even more duplicate code in the XSL metrics. See the existing implementations - all have duplicate code for "should I include ctors or not?". We'll also start seeing "should I include nonpublic methods or not?" (see #101).

I'm not aware of any metric that delves into this level of detail.

What I understand is that these ideas - no

[2018-02-04 14:03] llorllale commented on #100
@amihaiemil btw, even though I didn't specify in the description, I think this should be configurable as well.

[2018-02-04 14:09] llorllale commented on #100
@amihaiemil now you've got me thinking

Should we then also coalesce class attributes? This would have effects on how many `<op>` we list for methods that access attributes.

So the scope of the problem is increasing with no clear benefits. In fact, I can already visualize some metrics changing value from some real number to `NaN` just from this change.

@yegor256 I'm starting to have doubts on th

[2018-02-04 20:22] llorllale commented on #68
@0crat status

[2018-02-04 20:23] 0crat commented on #68
@llorllale This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#68](https://github.com/yegor256/jpeek/issues/68) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 21days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [6days](http://datum.zerocracy.com/pages/policy.ht

[2018-02-05 12:55] yegor256 commented on #100
@llorllale @amihaiemil how about we create one more layer between `skeleton.xml` and `LCOM.xsl`, which will include a number of XSL stylesheets. One stylesheet will merge/coalesce types. Another one will remove ctors. Another one will remove static methods, and so on. That will help us get rid of code duplication inside XSL and will make the entire architecture composable: we can use certain XSL l

[2018-02-05 13:01] 0crat commented on #151
Job [#151](https://github.com/yegor256/jpeek/issues/151) is now in scope, role is `DEV`

[2018-02-05 13:02] #68 closed

[2018-02-05 13:03] amihaiemil commented on #100
@yegor256 Sounds good to me, I'll look into it :)

[2018-02-05 13:03] 0crat commented on #68
Order was successfully finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+450](https://www.0crat.com/u/llorllale)

[2018-02-05 13:12] 0crat commented on #68
The job [#68](https://github.com/yegor256/jpeek/issues/68) is now out of scope

[2018-02-05 14:39] yegor256 commented on #68
@llorllale fixed, I believe. Feel free to report this situation to Zerocrat.

[2018-02-05 22:24] 0crat commented on #112
The job [#112](https://github.com/yegor256/jpeek/issues/112) assigned to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-02-06 01:53] 0crat commented on #114
The job [#114](https://github.com/yegor256/jpeek/issues/114) assigned to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-02-06 08:34] 0crat commented on #117
The job [#117](https://github.com/yegor256/jpeek/issues/117) assigned to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-02-06 11:19] 0pdd opened #154 "Main.java:104-107: The logic for overwriting the target..."
The puzzle `104-9f730941` from #104 has to be resolved:

https://github.com/yegor256/jpeek/blob/bcab016ee68717091fd0b8345e78f507cade036c/src/main/java/org/jpeek/Main.java#L104-L107

The puzzle was created by George Aristy on 04-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-06 11:19] 0crat commented on #154
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-06 11:20] 0crat commented on #154
Job [#154](https://github.com/yegor256/jpeek/issues/154) is now in scope, role is `DEV`

[2018-02-06 14:40] llorllale commented on #104
@yegor256 can we close this?

[2018-02-06 14:43] yegor256 commented on #104
@llorllale thanks (for the future, always mention the PR(s) you made, where the problem was fixed)

[2018-02-06 14:43] #104 closed

[2018-02-06 14:45] 0crat commented on #104
Order was successfully finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+480](https://www.0crat.com/u/llorllale)

[2018-02-06 14:46] llorllale commented on #104
Got it, thanks

[2018-02-06 22:43] 0crat commented on #104
The job [#104](https://github.com/yegor256/jpeek/issues/104) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-07 00:34] llorllale commented on #104
@0crat status

[2018-02-07 00:35] 0crat commented on #104
@llorllale This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#104](https://github.com/yegor256/jpeek/issues/104) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 14days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [2hr](http://datum.zerocracy.com/pages/policy.ht

[2018-02-07 02:24] 0crat commented on #118
The job [#118](https://github.com/yegor256/jpeek/issues/118) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-07 05:44] 0crat commented on #67
@gizmomogwai[/z](https://www.0crat.com/u/gizmomogwai) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-07 09:31] rok-povsic commented on #112
@0crat status

[2018-02-07 09:31] 0crat commented on #112
@rok-povsic This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#112](https://github.com/yegor256/jpeek/issues/112) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 12days
  * The role is `DEV`
  * The job is assigned to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic) for [1days](http://datum.zerocracy.com/pages/poli

[2018-02-07 13:25] 0crat commented on #57
@skapral[/z](https://www.0crat.com/u/skapral) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-07 13:28] llorllale opened #156 "Skeleton: in some cases, cannot determine if a field being accessed in a method really belongs to the enclosing class"
We need more than just the name to determine if a class is using its own attribute or that of another one. We should somehow include the fully qualified name of the class that owns the field that is being operated on.

To illustrate the problem, consider two classes:
[code]
The resulting skeleton for `Foo.test()` does not tell us whether the field `NAME` is its own attribute or that of another cla