[2020-03-05 14:30] HDouss commented on #394
@dgarus Thank you!

[2020-03-05 14:30] #394 closed

[2020-03-05 17:12] 0crat commented on #213
The job [#213](https://github.com/yegor256/jpeek/issues/213) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3b4b1451-56a4-4844-9e74-bf6138d78ea2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-05 17:34] 0crat commented on #408
The job [#408](https://github.com/yegor256/jpeek/issues/408) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7394344c-b300-423a-a7ba-6210558b624b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-05 20:55] HDouss commented on #213
@rok-povsic PR #409 reviewed and merged. Please close the issue.

[2020-03-05 22:40] HDouss commented on #310
@0crat status

[2020-03-06 04:23] 0crat commented on #310
@HDouss This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#310](https://github.com/yegor256/jpeek/issues/310) is [in scope](http://www.zerocracy.com/policy.html#14) for 14mon
  * The role is `DEV`
  * The job is assigned to @hdouss[/z](https://www.0crat.com/u/hdouss) for [10hr](http://www.zerocr

[2020-03-06 06:22] HDouss commented on #213
@rok-povsic Could you please close the issue?

[2020-03-06 13:16] dgarus commented on #371
@akryvtsun Hello!

[2020-03-06 14:10] #408 closed

[2020-03-06 14:10] 0pdd commented on #408
The puzzle `397-94351875` has disappeared from the source code, that's why I closed this issue.

[2020-03-06 14:10] 0pdd opened #412 "Calculus.java:33-35: We start having the infrastructure..."
The puzzle `408-c3533a7c` from #408 has to be resolved:

https://github.com/yegor256/jpeek/blob/e76abc933c9a2e4ed9e700b78ffe98bd865c978f/src/main/java/org/jpeek/Calculus.java#L33-L35

The puzzle was created by Hamdi Douss on 05-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fix

[2020-03-06 14:10] 0pdd opened #413 "XmlGraph.java:71-74: Nodes connections are built based on..."
The puzzle `408-56dd88a6` from #408 has to be resolved:

https://github.com/yegor256/jpeek/blob/e76abc933c9a2e4ed9e700b78ffe98bd865c978f/src/main/java/org/jpeek/graph/XmlGraph.java#L71-L74

The puzzle was created by Hamdi Douss on 05-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-03-06 14:10] 0pdd commented on #296
@ilyakharlamov 2 puzzles [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408).

[2020-03-06 14:10] 0pdd commented on #390
@0pdd 2 puzzles [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413) are still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408).

[2020-03-06 14:10] 0pdd commented on #397
@0pdd 2 puzzles [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413) are still not solved; solved: [#408](https://github.com/yegor256/jpeek/issues/408).

[2020-03-06 14:10] 0pdd commented on #408
@0pdd 2 puzzles [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413) are still not solved.

[2020-03-06 14:11] 0crat commented on #412
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-06 14:12] 0crat commented on #413
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-06 15:10] 0crat commented on #408
Job was finished in 20 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-06 15:32] 0crat commented on #413
The job [#413](https://github.com/yegor256/jpeek/issues/413) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ce6e02a6-08fe-4aeb-8070-fcde54c309b2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-06 15:33] 0crat commented on #412
The job [#412](https://github.com/yegor256/jpeek/issues/412) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/93b6ecbe-9465-4c91-a98b-2157c8d898cd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-06 15:59] HDouss commented on #213
@rok-povsic ping..

[2020-03-06 16:10] HDouss commented on #413
@paulodamaso Please see #403 this is clearly an impediment

[2020-03-06 16:14] paulodamaso commented on #213
@HDouss I'll close it, thank you for

[2020-03-06 16:14] #213 closed

[2020-03-06 16:18] paulodamaso commented on #403
@HDouss You are proposing that we should add this information to skeleton?

[2020-03-06 16:31] HDouss commented on #403
@paulodamaso yes this information is clearly lacking. See the example in the ticket description. Looking to the skeleton, we don't know which method is called, we just know that it is called `methodOne`, but there are 4 `methodOne`s in the class.

[2020-03-06 16:34] 0crat commented on #213
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-06 18:43] paulodamaso commented on #403
@HDouss Okay, thanks for the clarification

[2020-03-06 18:43] paulodamaso commented on #403
@0crat in

[2020-03-07 07:57] HDouss commented on #413
@0crat wait for #403

[2020-03-08 09:53] 0crat commented on #316
@volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-09 13:54] #310 closed

[2020-03-09 13:54] 0pdd commented on #310
The puzzle `215-e68a3c3f` has disappeared from the source code, that's why I closed this issue.

[2020-03-09 13:54] 0pdd opened #415 "Lcom4Test.java:74-82: LCOM4: Graph algorithm to determine..."
The puzzle `310-b9e19c83` from #310 has to be resolved:

https://github.com/yegor256/jpeek/blob/2dee8cc8c34f4a06765271493192a93f9102eff1/src/test/java/org/jpeek/metrics/Lcom4Test.java#L74-L82

The puzzle was created by HDouss on 06-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-03-09 13:54] 0pdd commented on #8
@yegor256 2 puzzles [#295](https://github.com/yegor256/jpeek/issues/295), [#415](https://github.com/yegor256/jpeek/issues/415) are still not solved; solved: [#215](https://github.com/yegor256/jpeek/issues/215), [#216](https://github.com/yegor256/jpeek/issues/216), [#294](https://github.com/yegor256/jpeek/issues/294), [#310](https://github.com/yegor256/jpeek/issues/310).

[2020-03-09 13:54] 0pdd commented on #215
@0pdd the puzzle [#415](https://github.com/yegor256/jpeek/issues/415) is still not solved; solved: [#310](https://github.com/yegor256/jpeek/issues/310).

[2020-03-09 13:54] 0pdd commented on #310
@0pdd the puzzle [#415](https://github.com/yegor256/jpeek/issues/415) is still not solved.

[2020-03-09 13:55] 0crat commented on #415
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-09 18:08] #412 closed

[2020-03-09 18:08] 0pdd commented on #412
The puzzle `408-c3533a7c` has disappeared from the source code, that's why I closed this issue.

[2020-03-09 18:08] 0pdd opened #416 "Calculus.java:33-38: We start implementing LCOM4Calculus..."
The puzzle `412-3d565676` from #412 has to be resolved:

https://github.com/yegor256/jpeek/blob/42e6dda5f2774c34ce51e2456bcd3eb350cea4eb/src/main/java/org/jpeek/calculus/Calculus.java#L33-L38

The puzzle was created by Hamdi Douss on 06-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-03-09 18:08] 0pdd opened #417 "Lcom4Test.java:40-42: The methodMethodCalls test is..."
The puzzle `412-a459088d` from #412 has to be resolved:

https://github.com/yegor256/jpeek/blob/42e6dda5f2774c34ce51e2456bcd3eb350cea4eb/src/test/java/org/jpeek/calculus/java/Lcom4Test.java#L40-L42

The puzzle was created by HDouss on 09-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-03-09 18:09] 0pdd commented on #296
@ilyakharlamov 3 puzzles [#413](https://github.com/yegor256/jpeek/issues/413), [#416](https://github.com/yegor256/jpeek/issues/416), [#417](https://github.com/yegor256/jpeek/issues/417) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.

[2020-03-09 18:09] 0pdd commented on #390
@0pdd 3 puzzles [#413](https://github.com/yegor256/jpeek/issues/413), [#416](https://github.com/yegor256/jpeek/issues/416), [#417](https://github.com/yegor256/jpeek/issues/417) are still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor

[2020-03-09 18:09] 0pdd commented on #397
@0pdd 3 puzzles [#413](https://github.com/yegor256/jpeek/issues/413), [#416](https://github.com/yegor256/jpeek/issues/416), [#417](https://github.com/yegor256/jpeek/issues/417) are still not solved; solved: [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412).

[2020-03-09 18:09] 0pdd commented on #408
@0pdd 3 puzzles [#413](https://github.com/yegor256/jpeek/issues/413), [#416](https://github.com/yegor256/jpeek/issues/416), [#417](https://github.com/yegor256/jpeek/issues/417) are still not solved; solved: [#412](https://github.com/yegor256/jpeek/issues/412).

[2020-03-09 18:09] 0pdd commented on #412
@0pdd 2 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#417](https://github.com/yegor256/jpeek/issues/417) are still not solved.

[2020-03-09 18:09] 0crat commented on #416
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-09 18:10] 0crat commented on #417
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-09 20:19] paulodamaso commented on #406
@rultor release tag is `0.30.9`

[2020-03-09 20:21] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-596758997)

[2020-03-09 20:40] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-596758997) (spent 18min)

[code]

[2020-03-10 01:28] paulodamaso commented on #406
@rultor release tag is `0.30.9`

[2020-03-10 01:32] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-596855683)

[2020-03-10 01:42] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-596855683) (spent 9min)

[code]

[2020-03-10 01:48] paulodamaso commented on #406
@rultor release tag is `0.30.9`

[2020-03-10 01:49] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-596859898)

[2020-03-10 03:50] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-596859898) (spent 2hr)

[code]

[2020-03-10 12:52] paulodamaso commented on #406
@rultor release tag is `0.30.9`

[2020-03-10 12:55] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-597069103)

[2020-03-10 13:16] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-597069103) (spent 20min)

[code]

[2020-03-10 15:01] 0crat commented on #415
The job [#415](https://github.com/yegor256/jpeek/issues/415) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/92282f1f-8c7b-4b59-b96b-0c9e4c410d25); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-10 15:13] paulodamaso commented on #406
@rultor release tag is `0.30.9`

[2020-03-10 15:15] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-597141043)

[2020-03-10 15:18] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-597141043) (spent 2min)

[code]

[2020-03-10 15:55] 0crat commented on #416
The job [#416](https://github.com/yegor256/jpeek/issues/416) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9e1ef455-28c8-4afa-adf6-f9e1ba898abd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-10 16:36] HDouss commented on #416
@0crat refuse will have to wait for #403, #413 and #415

[2020-03-10 17:23] 0crat commented on #416
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#416](https://github.com/yegor256/jpeek/issues/416), please stop working. Reason for job resignation: Order was cancelled

[2020-03-10 17:29] 0crat commented on #416
@HDouss Job refused in 2 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-10 17:50] 0crat commented on #417
The job [#417](https://github.com/yegor256/jpeek/issues/417) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/19cb8700-ed38-4c49-8203-0c93b23788f9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-11 00:36] paulodamaso commented on #406
@rultor release tag is `0.30.9`

[2020-03-11 00:38] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-597386400)

[2020-03-11 00:46] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-597386400) (spent 8min)

[code]

[2020-03-11 13:57] paulodamaso commented on #368
@dgarus Thank you!

[2020-03-11 13:57] #368 closed

[2020-03-11 21:09] paulodamaso commented on #406
@rultor release tag is `0.30.9`

[2020-03-11 21:10] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-597879724)

[2020-03-11 21:25] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-597879724) (spent 14min)

[code]

[2020-03-11 23:58] 0crat commented on #416
The job [#416](https://github.com/yegor256/jpeek/issues/416) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/09f8ede8-3455-47b5-bcb2-ff4aade6b5e0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-12 07:28] dgarus commented on #416
@0crat refuse

[2020-03-12 08:14] dgarus commented on #371
@paulodamaso pay attention please

[2020-03-12 08:51] 0crat commented on #416
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#416](https://github.com/yegor256/jpeek/issues/416), please stop working. Reason for job resignation: Order was cancelled

[2020-03-12 10:37] 0crat commented on #416
@dgarus Job refused in 10 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-12 12:07] 0crat commented on #403
The job [#403](https://github.com/yegor256/jpeek/issues/403) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ed15ac33-eb1c-4e3a-8f14-cec24b039036); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-12 12:08] #371 closed

[2020-03-12 17:34] 0pdd commented on #417
The puzzle `412-a459088d` has disappeared from the source code, that's why I closed this issue.

[2020-03-12 17:34] #417 closed

[2020-03-12 17:34] 0pdd commented on #296
@ilyakharlamov 2 puzzles [#413](https://github.com/yegor256/jpeek/issues/413), [#416](https://github.com/yegor256/jpeek/issues/416) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.

[2020-03-12 17:34] 0pdd commented on #390
@0pdd 2 puzzles [#413](https://github.com/yegor256/jpeek/issues/413), [#416](https://github.com/yegor256/jpeek/issues/416) are still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412), [#417](https://github.com/yegor

[2020-03-12 17:34] 0pdd commented on #397
@0pdd 2 puzzles [#413](https://github.com/yegor256/jpeek/issues/413), [#416](https://github.com/yegor256/jpeek/issues/416) are still not solved; solved: [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412), [#417](https://github.com/yegor256/jpeek/issues/417).

[2020-03-12 17:34] 0pdd commented on #408
@0pdd 2 puzzles [#413](https://github.com/yegor256/jpeek/issues/413), [#416](https://github.com/yegor256/jpeek/issues/416) are still not solved; solved: [#412](https://github.com/yegor256/jpeek/issues/412), [#417](https://github.com/yegor256/jpeek/issues/417).

[2020-03-12 17:34] 0pdd commented on #412
@0pdd the puzzle [#416](https://github.com/yegor256/jpeek/issues/416) is still not solved; solved: [#417](https://github.com/yegor256/jpeek/issues/417).

[2020-03-12 17:40] paulodamaso commented on #406
@rultor release tag is `0.30.9`

[2020-03-12 17:41] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-598327070)

[2020-03-12 18:00] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-598327070) (spent 18min)

[code]

[2020-03-12 18:02] paulodamaso commented on #406
@rultor release tag is `0.30.10`

[2020-03-12 18:04] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-598339048)

[2020-03-12 18:34] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-598339048) (spent 30min)

[code]

[2020-03-13 15:01] HDouss commented on #415
@0crat wait for code review

[2020-03-13 15:51] paulodamaso commented on #406
@rultor version tag is `0.30.11`

[2020-03-13 15:52] rultor commented on #406
@paulodamaso My current version is 1.68.13, Git revision is [`bf40c2027`](https://github.com/yegor256/rultor/commit/bf40c2027)

[2020-03-13 15:57] paulodamaso commented on #406
@rultor release tag is `0.30.11`

[2020-03-13 15:59] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-598793163)

[2020-03-13 18:01] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-598793163) (spent 2hr)

[code]

[2020-03-13 22:04] 0crat commented on #316
The user @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-13 22:59] 0crat commented on #395
The user @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) resigned from [#395](https://github.com/yegor256/jpeek/issues/395), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-13 23:10] 0crat commented on #395
Job `gh:yegor256/jpeek#395` is not assigned, can't get performer

[2020-03-14 10:41] 0crat commented on #316
Job `gh:yegor256/jpeek#316` is not assigned, can't get performer

[2020-03-15 02:40] paulodamaso commented on #406
@rultor release tag is `0.30.12`

[2020-03-15 02:43] rultor commented on #406
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-599160057)

[2020-03-15 03:04] rultor commented on #406
@paulodamaso @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-599160057) (spent 21min)

[code]

[2020-03-15 05:08] yegor256 commented on #406
@rultor release tag is `0.30.12`

[2020-03-15 05:10] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-599168804)

[2020-03-15 05:28] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-599168804) (spent 18min)

[code]

[2020-03-15 05:36] yegor256 commented on #406
@rultor release tag is `0.30.13`

[2020-03-15 05:40] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-599170542)

[2020-03-15 07:42] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-599170542) (spent 2hr)

[code]

[2020-03-15 10:15] yegor256 commented on #406
@rultor release tag is `0.30.14`

[2020-03-15 10:17] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-599190807)

[2020-03-15 12:19] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-599190807) (spent 2hr)

[code]

[2020-03-15 13:10] yegor256 commented on #406
@rultor release tag is `0.30.15`

[2020-03-15 13:11] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-599208479)

[2020-03-15 15:13] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-599208479) (spent 2hr)

[code]

[2020-03-15 20:45] yegor256 commented on #406
@rultor release tag is `0.30.16`

[2020-03-15 20:48] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-599262435)

[2020-03-15 22:50] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-599262435) (spent 2hr)

[code]

[2020-03-16 15:20] yegor256 commented on #406
@rultor release tag is `0.30.17`

[2020-03-16 15:23] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-599595560)

[2020-03-16 15:26] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-599595560) (spent 2min)

[code]

[2020-03-16 15:33] yegor256 commented on #406
@rultor release tag is `0.30.17`

[2020-03-16 15:35] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-599602238)

[2020-03-16 15:45] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-599602238) (spent 10min)

[code]

[2020-03-16 15:47] yegor256 commented on #406
@rultor release tag is `0.30.17`

[2020-03-16 15:49] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-599610378)

[2020-03-16 16:21] rultor commented on #406
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21455-599610378) (took me 30min)

[2020-03-16 16:44] yegor256 commented on #406
@paulodamaso fixed

[2020-03-16 16:44] #406 closed

[2020-03-16 16:50] paulodamaso commented on #406
@yegor256 Thanks!

[2020-03-17 12:59] 0crat commented on #403
@dgarus[/z](https://www.0crat.com/u/dgarus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-18 01:44] 0crat commented on #316
The job [#316](https://github.com/yegor256/jpeek/issues/316) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/4beb7c40-01d9-4526-8a85-105589f55c97); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-18 02:43] paulodamaso commented on #150
@0crat assign me

[2020-03-18 02:47] #89 closed

[2020-03-18 02:48] #233 closed

[2020-03-18 02:50] paulodamaso commented on #313
@0crat assign me

[2020-03-18 03:12] #342 closed

[2020-03-18 03:12] #343 closed

[2020-03-18 03:13] #375 closed

[2020-03-18 03:15] #169 closed

[2020-03-18 03:43] 0crat commented on #89
Job `gh:yegor256/jpeek#89` is not assigned, can't get performer

[2020-03-18 05:25] 0crat commented on #342
Job `gh:yegor256/jpeek#342` is not assigned, can't get performer

[2020-03-18 05:26] 0crat commented on #233
Job `gh:yegor256/jpeek#233` is not assigned, can't get performer

[2020-03-18 05:57] dgarus commented on #403
@HDouss @paulodamaso

I've read the issue and links double and didn`t find what is _this information to skeleton_
Should I propose a new structure of <op code="call"> tag or that structure already exists?

[2020-03-18 05:58] dgarus commented on #403
@0crat wait

[2020-03-18 06:02] 0crat commented on #375
Job `gh:yegor256/jpeek#375` is not assigned, can't get performer

[2020-03-18 06:11] 0crat commented on #169
Job `gh:yegor256/jpeek#169` is not assigned, can't get performer

[2020-03-18 06:39] 0crat commented on #343
Job `gh:yegor256/jpeek#343` is not assigned, can't get performer

[2020-03-18 07:03] 0crat commented on #313
@paulodamaso The job [#313](https://github.com/yegor256/jpeek/issues/313) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/f5ee95f6-6052-45b4-8983-62681f092653); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-03-18 07:28] HDouss commented on #403
@dgarus When analyzing a class and calculating its metric, jpeek starts by building a skeleton. The skeleton is an XML representation of the class, its method, its attributes, and the instructions in each method. For now, the skeleton produced contains the method calls instructions. These method calls instructions contains only the name of the called method. This is not enough to know which method

[2020-03-18 08:12] dgarus commented on #403
@HDouss  I got it but I asked

"**_This information_**" is already described or I should propose a new structure to describe this information?

[2020-03-18 08:23] HDouss commented on #403
@dgarus It is not described. The most important thing is that it exists. I could suggest this:
[code]

or

[code]

[2020-03-18 08:40] dgarus commented on #403
@HDouss Ok, I got it. Thx!
I like your second variant.
I thought about this way
[code]

It seems more formal. WDYT?

[2020-03-18 08:45] HDouss commented on #403
@dgarus agree. Note that this will have a rather big impact on the current metrics calculations. @paulodamaso What do you think?

[2020-03-18 08:47] 0crat commented on #150
@paulodamaso The job [#150](https://github.com/yegor256/jpeek/issues/150) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/10cb9b3c-4b27-4ae8-ac57-9e79563efd42); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-03-19 02:24] paulodamaso commented on #403
@HDouss I think that it would be a good idea. Which metrics will be affected by this change?

[2020-03-19 04:48] HDouss commented on #403
@paulodamaso it isn't the metrics, but the way to calculate them. Nearly every xsl file should be modified to adapt its xpath that selects called methods.

[2020-03-21 03:31] 0pdd commented on #415
The puzzle `310-b9e19c83` has disappeared from the source code, that's why I closed this issue.

[2020-03-21 03:31] #415 closed

[2020-03-21 03:32] 0pdd opened #431 "Lcom4Test.java:74-77: LCOM4: Graph algorithm to determine..."
The puzzle `415-1e78bb53` from #415 has to be resolved:

https://github.com/yegor256/jpeek/blob/aea16e71d663fceee10018c5d97740b15a398c48/src/test/java/org/jpeek/metrics/Lcom4Test.java#L74-L77

The puzzle was created by HDouss on 10-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-03-21 03:32] 0pdd commented on #8
@yegor256 2 puzzles [#295](https://github.com/yegor256/jpeek/issues/295), [#431](https://github.com/yegor256/jpeek/issues/431) are still not solved; solved: [#215](https://github.com/yegor256/jpeek/issues/215), [#216](https://github.com/yegor256/jpeek/issues/216), [#294](https://github.com/yegor256/jpeek/issues/294), [#310](https://github.com/yegor256/jpeek/issues/310), [#415](https://github.com/y

[2020-03-21 03:32] 0pdd commented on #215
@0pdd the puzzle [#431](https://github.com/yegor256/jpeek/issues/431) is still not solved; solved: [#310](https://github.com/yegor256/jpeek/issues/310), [#415](https://github.com/yegor256/jpeek/issues/415).

[2020-03-21 03:32] 0pdd commented on #310
@0pdd the puzzle [#431](https://github.com/yegor256/jpeek/issues/431) is still not solved; solved: [#415](https://github.com/yegor256/jpeek/issues/415).

[2020-03-21 03:32] 0pdd commented on #415
@0pdd the puzzle [#431](https://github.com/yegor256/jpeek/issues/431) is still not solved.

[2020-03-21 03:33] 0crat commented on #431
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-21 12:44] 0crat commented on #415
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-21 15:57] sereshqua commented on #415
@0crat quality good

[2020-03-22 14:49] 0crat commented on #416
The job [#416](https://github.com/yegor256/jpeek/issues/416) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/0b79eba6-6b37-4c66-9ae2-3d9a8ed331bb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-22 21:00] 0crat commented on #431
The job [#431](https://github.com/yegor256/jpeek/issues/431) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/0f710c47-8281-437b-9e1b-bfce103ac150); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-23 03:59] fanifieiev commented on #416
@0crat refuse

[2020-03-23 04:46] 0crat commented on #329
The job [#329](https://github.com/yegor256/jpeek/issues/329) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/4ad3953d-21f9-4ca8-ba15-17ec8fa5f215); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-23 06:19] 0crat commented on #416
@fanifieiev The user @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) resigned from [#416](https://github.com/yegor256/jpeek/issues/416), please stop working. Reason for job resignation: Order was cancelled

[2020-03-23 08:30] 0crat commented on #416
@fanifieiev Job refused in 15 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-23 10:05] 0crat commented on #395
The job [#395](https://github.com/yegor256/jpeek/issues/395) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/5792aed6-c41d-4210-a393-7f945d54c70b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-24 04:15] fanifieiev commented on #329
@0crat refuse

[2020-03-24 04:23] 0crat commented on #329
@fanifieiev The user @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) resigned from [#329](https://github.com/yegor256/jpeek/issues/329), please stop working. Reason for job resignation: Order was cancelled

[2020-03-25 05:03] fanifieiev commented on #431
@0crat wait for #413 and #403

[2020-03-25 05:21] fanifieiev commented on #395
@nimashiri Could you show me you the command line you run against your sources???
When you specify `--sources` or `-s` parameter, are you pointing to `*.java` or `*.class` files???

[2020-03-25 12:20] nimashiri commented on #395
Thanks for your reply. I was mistakenly pointing to source code files, then
I figured out that I should point to byte-code files.

On Wed, Mar 25, 2020 at 9:51 AM Fevzi Anifieiev <notifications@github.com>
wrote:

[2020-03-25 12:26] fanifieiev commented on #395
@nimashiri Please close this issue, if it that is not a problem anymore.

[2020-03-25 13:36] #395 closed

[2020-03-25 13:57] 0crat commented on #395
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-25 13:59] WhimsySoftware commented on #395
@0crat quality bad

[2020-03-25 14:00] sereshqua commented on #395
@0crat quality bad

[2020-03-25 14:07] 0crat commented on #395
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-03-25 14:27] fanifieiev commented on #395
@sereshqua Can you please explain why the quality is bad for that kind of issue???
The issue was that the user did not use JPeek properly.
I asked some questions and the user found out he did not use it properly.

[2020-03-25 14:30] sereshqua commented on #395
@fanifieiev you did everything correctly to help the user :)

the only thing here is that there was no job and no solution to the job, just the communication

the way how i treat the policy: solution is the solution only related to the code, so i think this job should NOT have gone to the scope before clarification

[2020-03-25 14:31] sereshqua commented on #395
@paulodamaso WDYT about situation above?

[2020-03-25 14:45] fanifieiev commented on #395
@sereshqua I think we need to treat such issues as jobs as well, sometimes without code changes.
There are a lot of other projects on github where people solve issues by the way of communication only.

[2020-03-25 14:48] sereshqua commented on #395
@fanifieiev yeah it can go this way, or architect would not be putting `scope` label to avoid other people involvement and solve this issue by communication with issue creator

[2020-03-25 16:12] 0crat commented on #150
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-25 16:15] 0crat commented on #316
@dgarus[/z](https://www.0crat.com/u/dgarus) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-25 16:30] dgarus commented on #316
@paulodamaso this issue is unclear to me.
The link is 404.
Could you please give more info about work that should be done?

[2020-03-25 16:30] 0crat commented on #313
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-25 16:30] dgarus commented on #316
@0crat wait

[2020-03-29 16:19] 0crat commented on #416
The job [#416](https://github.com/yegor256/jpeek/issues/416) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9d924a48-7e11-4912-bacd-dad3b1f9a423); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-29 16:58] 0crat commented on #329
The job [#329](https://github.com/yegor256/jpeek/issues/329) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e1146436-406c-4ddb-b927-fa2dcef4d707); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-29 17:07] victornoel commented on #329
@0crat refuse

[2020-03-29 17:11] 0crat commented on #329
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#329](https://github.com/yegor256/jpeek/issues/329), please stop working. Reason for job resignation: Order was cancelled

[2020-03-29 17:12] 0crat commented on #329
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-03-30 03:07] 0crat commented on #313
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#313](https://github.com/yegor256/jpeek/issues/313), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-30 03:59] 0crat commented on #150
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#150](https://github.com/yegor256/jpeek/issues/150), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-30 16:05] 0crat commented on #313
The job [#313](https://github.com/yegor256/jpeek/issues/313) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/78bb4af7-153f-4746-8b02-4f9d13dda045); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-30 16:07] 0crat commented on #313
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.52.9](https://github.com/zerocracy/farm): CID: [427c6cbc-3c74-40e0-8909-aa1cf329357c](https://www.0crat.com/footprint/C7JGJ00DP/427c6cbc-3c74-40e0-8909-aa1cf329357c), Type: "Start order"

[2020-03-30 16:30] victornoel commented on #313
@0crat wait for #434 to be merged

[2020-03-30 16:59] 0crat commented on #150
The job [#150](https://github.com/yegor256/jpeek/issues/150) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/22d7ef37-247e-4e9c-9a17-8b94c8933b12); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-03-30 17:46] victornoel commented on #150
@0crat wait for #435 to be merged

[2020-03-30 19:01] victornoel opened #436 "Remove compile dependency to hamcrest"
It seems that jpeek has a compile time dependency to Hamcrest, which is a test library as follow:
- `TkReport` depends on `HmRsStatus` from takes
- `HmRsStatus` is an Hamcrest `Matcher` implementation usable for testing takes application

When solving #313 (see #434) I had to fix the version of hamcrest because since it was introduced in takes:
- it is actually the `hamcrest` module that provides

[2020-03-30 19:01] 0crat commented on #436
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-31 21:17] paulodamaso commented on #316
@dgarus The paper is in `papers/marcus05_C3.pdf`, it was renamed

[2020-04-01 08:55] victornoel commented on #313
@fabriciofx the PR has been merged, I believe it fixes your problem, can you close this issue?

[2020-04-01 13:08] 0pdd opened #437 "OpsOf.java:87-102: Method call description has to contain..."
The puzzle `403-214b0d9e` from #403 has to be resolved:

https://github.com/yegor256/jpeek/blob/b62ae0fc337919e1f54d2b8d081343c69d536c97/src/main/java/org/jpeek/skeleton/OpsOf.java#L87-L102

The puzzle was created by sbt-garus-dg on 25-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-04-01 13:08] 0pdd commented on #403
@HDouss the puzzle [#437](https://github.com/yegor256/jpeek/issues/437) is still not solved.

[2020-04-01 13:55] dgarus commented on #403
@HDouss could you please close the issue?

[2020-04-01 14:09] 0crat commented on #437
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-01 15:18] 0crat commented on #437
The job [#437](https://github.com/yegor256/jpeek/issues/437) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/da3090c2-e2f4-4d8c-a2b2-4f8adfaaaef0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-01 18:15] victornoel commented on #150
@skapral the PR has been merged, I think you can close the ticket now :)

[2020-04-01 20:43] #150 closed

[2020-04-01 21:02] 0crat commented on #150
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-02 05:00] sereshqua commented on #150
@0crat quality good

[2020-04-02 07:47] HDouss commented on #403
@dgarus Thanks

[2020-04-02 07:47] #403 closed

[2020-04-02 08:07] 0crat commented on #403
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dgarus[/z](https://www.0crat.com/u/dgarus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-02 08:26] sereshqua commented on #403
@0crat quality good

[2020-04-02 09:00] victornoel commented on #437
@0crat refuse

[2020-04-02 09:02] 0crat commented on #437
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#437](https://github.com/yegor256/jpeek/issues/437), please stop working. Reason for job resignation: Order was cancelled

[2020-04-02 09:02] 0crat commented on #437
@victornoel Job refused in 17 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-02 09:07] victornoel commented on #313
@paulodamaso I'm not sure @fabriciofx is around here anymore, the issue is more than a year old, can you close it please?

[2020-04-02 10:04] 0crat commented on #437
The job [#437](https://github.com/yegor256/jpeek/issues/437) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9068c887-ca86-4ca8-a7bd-f45559f10c5e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-02 11:19] paulodamaso commented on #313
@victornoel For sure, thank you

[2020-04-02 11:19] #313 closed

[2020-04-02 11:53] 0crat commented on #313
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-02 12:20] 0crat commented on #329
The job [#329](https://github.com/yegor256/jpeek/issues/329) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c679346e-c66a-444f-9b3a-4aff9d9f6755); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-04-02 12:28] sereshqua commented on #313
@0crat quality good

[2020-04-03 11:29] vzurauskas commented on #416
@0crat refuse still need to wait for https://github.com/yegor256/jpeek/issues/413

[2020-04-03 11:33] 0crat commented on #416
@vzurauskas The user @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) resigned from [#416](https://github.com/yegor256/jpeek/issues/416), please stop working. Reason for job resignation: Order was cancelled

[2020-04-03 12:27] 0crat commented on #416
The job [#416](https://github.com/yegor256/jpeek/issues/416) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e73b2d47-fc52-4f12-a6b4-a0dc01b981ed); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-03 13:56] victornoel commented on #416
@0crat refuse

[2020-04-03 13:59] 0crat commented on #416
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#416](https://github.com/yegor256/jpeek/issues/416), please stop working. Reason for job resignation: Order was cancelled

[2020-04-03 14:00] 0crat commented on #416
@victornoel Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-05 00:59] marceloamadeu commented on #329
@g4s8 ping

[2020-04-05 02:47] paulodamaso commented on #413
@HDouss #403 is solved, please go on

[2020-04-05 03:28] paulodamaso commented on #313
@rultor release tag is `0.30.18`

[2020-04-05 03:30] rultor commented on #313
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21695-609232506)

[2020-04-05 03:51] rultor commented on #313
@paulodamaso Done! FYI, the full log is [here](https://www.rultor.com/t/21695-609232506) (took me 20min)

[2020-04-05 12:34] #405 closed

[2020-04-05 12:36] HDouss opened #438 "Optimize layer transformation in App"
The analysis process (`analyze` method in `App` class) is building a chain of xsl layer files. The skeleton transformation by these layers is done for every xsl report, to be given as input for that report.:
[code]
`chain.transform` is called as many times as we have reports.
 We could do this transformation once and for all and give the result as input to the reports.

This will make this process

[2020-04-05 12:36] 0crat commented on #438
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-05 12:55] 0crat commented on #405
Job `gh:yegor256/jpeek#405` is not assigned, can't get performer

[2020-04-06 17:46] #413 closed

[2020-04-06 17:46] 0pdd commented on #413
The puzzle `408-56dd88a6` has disappeared from the source code, that's why I closed this issue.

[2020-04-06 17:46] 0pdd opened #440 "XmlGraph.java:110-113: The following 2 private methods..."
The puzzle `413-309fe9c4` from #413 has to be resolved:

https://github.com/yegor256/jpeek/blob/27d7bb11de1e6576f6c27b75635517c442451fe6/src/main/java/org/jpeek/graph/XmlGraph.java#L110-L113

The puzzle was created by Hamdi Douss on 06-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-04-06 17:47] 0pdd opened #441 "XmlGraphTest.java:43-45: In #413 we evolved graph..."
The puzzle `413-b264bb98` from #413 has to be resolved:

https://github.com/yegor256/jpeek/blob/27d7bb11de1e6576f6c27b75635517c442451fe6/src/test/java/org/jpeek/graph/XmlGraphTest.java#L43-L45

The puzzle was created by Hamdi Douss on 05-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-04-06 17:47] 0pdd commented on #296
@ilyakharlamov 3 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#440](https://github.com/yegor256/jpeek/issues/440), [#441](https://github.com/yegor256/jpeek/issues/441) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.

[2020-04-06 17:47] 0pdd commented on #390
@0pdd 3 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#440](https://github.com/yegor256/jpeek/issues/440), [#441](https://github.com/yegor256/jpeek/issues/441) are still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor

[2020-04-06 17:47] 0pdd commented on #397
@0pdd 3 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#440](https://github.com/yegor256/jpeek/issues/440), [#441](https://github.com/yegor256/jpeek/issues/441) are still not solved; solved: [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413), [#417](https://github.com/yegor

[2020-04-06 17:47] 0crat commented on #441
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-06 17:47] 0pdd commented on #408
@0pdd 3 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#440](https://github.com/yegor256/jpeek/issues/440), [#441](https://github.com/yegor256/jpeek/issues/441) are still not solved; solved: [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413), [#417](https://github.com/yegor256/jpeek/issues/417).

[2020-04-06 17:47] 0pdd commented on #413
@0pdd 2 puzzles [#440](https://github.com/yegor256/jpeek/issues/440), [#441](https://github.com/yegor256/jpeek/issues/441) are still not solved.

[2020-04-06 17:47] 0crat commented on #440
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-06 18:06] 0crat commented on #413
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-06 18:07] sereshqua commented on #413
@0crat quality good

[2020-04-06 19:32] 0crat commented on #440
The job [#440](https://github.com/yegor256/jpeek/issues/440) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/55270bc6-6300-4a8e-823b-03218a4681d2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-06 19:45] 0crat commented on #441
The job [#441](https://github.com/yegor256/jpeek/issues/441) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/8d664c5d-84c2-4b9d-8715-c601fd597648); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-07 08:33] dgarus commented on #437
@0crat status

[2020-04-07 08:45] 0crat commented on #437
@dgarus This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#437](https://github.com/yegor256/jpeek/issues/437) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is assigned to @dgarus[/z](https://www.0crat.com/u/dgarus) for [5days](http://www.zerocracy.com/policy.html#8)
  * There is

[2020-04-07 10:50] 0crat commented on #437
@dgarus[/z](https://www.0crat.com/u/dgarus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-07 12:25] sereshqua commented on #413
@0crat quality good

[2020-04-07 12:34] 0crat commented on #413
@sereshqua There is no quality review for [#413](https://github.com/yegor256/jpeek/issues/413), no performer

[2020-04-07 12:45] 0crat commented on #329
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-07 14:45] g4s8 commented on #329
@marceloamadeu ok, closing then

[2020-04-07 14:45] #329 closed

[2020-04-07 15:04] 0crat commented on #329
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-07 15:18] sereshqua commented on #329
@g4s8 quick question, should this situation be treated as:

Or in current situation @marceloamadeu figured out that it is no longer actual and should receive points or $?

[2020-04-07 18:00] victornoel commented on #440
@0crat wait for #442 to be merged

[2020-04-07 18:02] victornoel commented on #441
@0crat refuse

[2020-04-07 18:10] 0crat commented on #441
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#441](https://github.com/yegor256/jpeek/issues/441), please stop working. Reason for job resignation: Order was cancelled

[2020-04-07 18:10] 0crat commented on #441
@victornoel Job refused in 22 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-08 06:20] sereshqua commented on #329
@0crat quality bad

[2020-04-08 06:51] 0crat commented on #329
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-04-08 07:03] 0crat commented on #416
The job [#416](https://github.com/yegor256/jpeek/issues/416) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/56d13f54-dba9-4d43-bd2e-d8fe7bfc9dcc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-04-08 07:45] g4s8 commented on #329
@sereshqua I don't see any related PR or issues, so I'd say that "The performer didn’t provide any solution to close the job.". The good practice to prove that the bug can't be reproduced is a unit test.

[2020-04-08 19:24] 0crat commented on #441
The job [#441](https://github.com/yegor256/jpeek/issues/441) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/6e678f17-4bdf-4391-afd9-b989b20cbad3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-09 18:29] 0pdd commented on #440
The puzzle `413-309fe9c4` has disappeared from the source code, that's why I closed this issue.

[2020-04-09 18:29] #440 closed

[2020-04-09 18:29] 0pdd opened #443 "XmlMethodCall.java:35-37: This class XmlMethodCall should..."
The puzzle `440-332bf733` from #440 has to be resolved:

https://github.com/yegor256/jpeek/blob/94b2e98a33d57f864f7ac8a82ae373de11cc5f20/src/main/java/org/jpeek/graph/XmlMethodCall.java#L35-L37

The puzzle was created by Victor Noël on 09-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-04-09 18:29] 0pdd opened #444 "XmlMethodArgs.java:35-37: This class XmlMethodArgs should..."
The puzzle `440-83d3f1f7` from #440 has to be resolved:

https://github.com/yegor256/jpeek/blob/94b2e98a33d57f864f7ac8a82ae373de11cc5f20/src/main/java/org/jpeek/graph/XmlMethodArgs.java#L35-L37

The puzzle was created by Victor Noël on 09-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2020-04-09 18:30] 0pdd opened #445 "XmlGraph.java:40-43: Continue the work started with..."
The puzzle `441-ed4884a5` from #441 has to be resolved:

https://github.com/yegor256/jpeek/blob/94b2e98a33d57f864f7ac8a82ae373de11cc5f20/src/main/java/org/jpeek/graph/XmlGraph.java#L40-L43

The puzzle was created by Victor Noël on 09-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-04-09 18:30] 0crat commented on #443
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-09 18:30] 0pdd commented on #296
@ilyakharlamov 5 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444), [#445](https://github.com/yegor256/jpeek/issues/445) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.

[2020-04-09 18:30] 0pdd commented on #390
@0pdd 5 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444), [#445](https://github.com/yegor256/jpeek/issues/445) are still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor

[2020-04-09 18:30] 0pdd commented on #397
@0pdd 5 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444), [#445](https://github.com/yegor256/jpeek/issues/445) are still not solved; solved: [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor

[2020-04-09 18:30] 0pdd commented on #408
@0pdd 5 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444), [#445](https://github.com/yegor256/jpeek/issues/445) are still not solved; solved: [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor

[2020-04-09 18:30] 0pdd commented on #413
@0pdd 4 puzzles [#441](https://github.com/yegor256/jpeek/issues/441), [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444), [#445](https://github.com/yegor256/jpeek/issues/445) are still not solved; solved: [#440](https://github.com/yegor256/jpeek/issues/440).

[2020-04-09 18:30] 0pdd commented on #440
@0pdd 2 puzzles [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444) are still not solved.

[2020-04-09 18:30] 0pdd commented on #441
@0pdd the puzzle [#445](https://github.com/yegor256/jpeek/issues/445) is still not solved.

[2020-04-09 18:30] 0crat commented on #445
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-09 18:31] 0crat commented on #444
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-09 18:54] 0crat commented on #440
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-09 18:58] sereshqua commented on #440
@0crat quality acceptable

[2020-04-09 19:00] victornoel commented on #440
@sereshqua for the record, why just acceptable? thx :)

[2020-04-09 19:02] sereshqua commented on #440
@victornoel wow, i am sorry, seems like i was having couple of issues opened and wrote wrong verdict here, instead of other one

[2020-04-09 19:07] victornoel commented on #440
@sereshqua well no problem, I was just worried I was missing something :)

[2020-04-09 19:41] 0crat commented on #443
The job [#443](https://github.com/yegor256/jpeek/issues/443) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3fe4b7c7-7362-4321-808b-854ac39480af); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-09 19:55] 0crat commented on #445
The job [#445](https://github.com/yegor256/jpeek/issues/445) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/33713d44-ad22-45af-8e43-9af8adfb1953); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-10 10:04] vzurauskas commented on #443
@paulodamaso `XmlMethodCall` expects an `XML` in its constructor. Can you clarify whether this XML is supposed to be `method`, or `op` from within the `method`? Judging from the name of the class ("call" is a type of "op") and the way this class is used in `XmlGraph`, it should expect an `op`, but the way it's implemented, it expects a `method`: it expects the XML to contain `name` and `args`, and

[2020-04-10 10:05] vzurauskas commented on #443
@0crat wait for an answer

[2020-04-10 10:10] vzurauskas commented on #445
@0crat wait for https://github.com/yegor256/jpeek/issues/443. Depending on how it goes, there's an opportunity to reuse some logic.

[2020-04-10 11:09] vzurauskas opened #446 "Scores from metrics which ignore all classes should be ignored"
Certain metrics ignore classes if they decide there is nothing worth analyzing in those classes. If a metric ignores all classes, the score for that metric is 0:
[code]
Let's say we make an analysis of a project with two metrics M1 and M2. M1 analyzes some classes and gives a score of 10; M2 ignores all classes and gives a score of 0. JPeek takes an average of 10 and 0, and the final score is 5.

[2020-04-10 11:09] 0crat commented on #446
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-10 12:55] vzurauskas opened #447 "CCM calculation is wrong"
In `metricstest-params` there is a line `OverloadMethods,CCM,0.6d`. This means `OverloadMethods` class from the test samples has CCM of 0.6.

CCM = NC/(NMP x NCC)

In `OverloadMethods` there are 4 methods, each accessing the same attribute. So:
NC = 6
NMP = 6
NCC = 1

Therefore CCM should be 1.0, not 0.6.

[2020-04-10 12:55] 0crat commented on #447
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-10 14:13] dgarus commented on #437
@0crat status

[2020-04-10 14:19] 0crat commented on #437
@dgarus This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#437](https://github.com/yegor256/jpeek/issues/437) is [in scope](http://www.zerocracy.com/policy.html#14) for 9days
  * The role is `DEV`
  * The job is assigned to @dgarus[/z](https://www.0crat.com/u/dgarus) for [8days](http://www.zerocracy.com/policy.html#8)
  * There is

[2020-04-10 14:56] dgarus commented on #437
@0crat wait

[2020-04-11 14:34] 0crat commented on #444
The job [#444](https://github.com/yegor256/jpeek/issues/444) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/14713d81-135c-4b40-bb6a-a7852298b1b1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-11 14:37] victornoel commented on #444
@0crat refuse

[2020-04-11 14:46] 0crat commented on #444
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#444](https://github.com/yegor256/jpeek/issues/444), please stop working. Reason for job resignation: Order was cancelled

[2020-04-11 14:56] 0crat commented on #444
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-12 14:46] victornoel opened #448 "Sorting is broken on the i.jpeek.org page"
When you try to sort the table on i.jpeek.org on the first column, you get the following:
![image](https://user-images.githubusercontent.com/160975/79071618-feefd000-7cdc-11ea-9da6-988b7416c221.png)

I would expect them to be ordered by number, no string.

Actually, it's not even clear what this number is for in the first column... maybe it could simply be deleted.

[2020-04-13 07:45] 0crat commented on #416
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-13 19:38] 0crat commented on #441
@dgarus[/z](https://www.0crat.com/u/dgarus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-15 15:40] paulodamaso commented on #447
@0crat in

[2020-04-15 15:41] paulodamaso commented on #448
@0crat in

[2020-04-15 15:42] paulodamaso commented on #448
@victornoel Let's correct the ordering

[2020-04-15 15:47] paulodamaso commented on #446
@yegor256 What do you think about it? How about rethinking this "final score": do all metrics have the same importance when it comes to cohesion? If not, what's the reliability of such score?

[2020-04-15 16:57] 0crat commented on #447
The job [#447](https://github.com/yegor256/jpeek/issues/447) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/dbd6bbaf-77c9-448d-bb68-d3fbf7d814cf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-16 12:04] vzurauskas commented on #443
@paulodamaso ping

[2020-04-16 14:19] paulodamaso commented on #443
@vzurauskas Seems that it is supposed to be a method

[2020-04-16 17:27] victornoel commented on #447
@vzurauskas why does NCC equals 1 ? It is the number of connected components, there are 4 methods and they are all connected to another method, so it should be 4, no?

And thus, CCM should be 6/(6x4) = 0.25

[2020-04-16 18:00] victornoel commented on #447
@vzurauskas my bad, I better understand now, the number of connected component is the set of 4 methods that are connected together, so it is 1.

[2020-04-16 18:08] victornoel opened #449 "NCC in CCM is not correctly computed"
While investigating #447, I noticed a potential error in the xsl file, but I'm not 100% sure it is an error or not because I'm not very good with xsl.

Actually this error has no impact to solve #447 because the number it find is the correct one even though the calculation is wrong. There was another error somewhere else.

Basically, NCC is meant to be the number of connected components (of the gr

[2020-04-16 18:08] 0crat commented on #449
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-16 18:14] victornoel commented on #447
@0crat wait for #450 to be merged

[2020-04-16 18:15] victornoel commented on #447
@vzurauskas the problem is that the constructor is counted as one of the methods.

Furthermore I realised that the computation for NCC is incorrect (even though in this particular case it computes the correct result of 1). I opened #449 for that since it wasn't related to the bug you uncovered.

[2020-04-17 10:45] vzurauskas commented on #443
@paulodamaso I stumbled upon [this comment](https://github.com/yegor256/jpeek/issues/403#issuecomment-600493656) today. It turns out there are plans to enhance the `op` element with everything required for `XmlMethodCall` as it is now. So turns out it's an `op` after all.

[2020-04-17 16:21] lyriccoder opened #452 "LCOM4 is not counted"
[ChineseRemainderTheorem.zip](https://github.com/yegor256/jpeek/files/4494048/ChineseRemainderTheorem.zip)

I downloaded the last version https://repo1.maven.org/maven2/org/jpeek/jpeek/0.30.9/jpeek-0.30.9-jar-with-dependencies.jar

Then I compiled Java file and got byte-code for each class. But when I ran  jpeek from the command line, I did not see LCOM4 metrics.

`java -jar jpeek-jar-with-depende

[2020-04-17 16:21] 0crat commented on #452
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-17 21:50] 0pdd opened #453 "XmlClass.java:49-54: This class includes the constructor..."
The puzzle `447-5b43df5f` from #447 has to be resolved:

https://github.com/yegor256/jpeek/blob/14744f6ef48ca9e3dbe1ab05aa01966ae8509876/src/main/java/org/jpeek/skeleton/XmlClass.java#L49-L54

The puzzle was created by Victor Noël on 16-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-04-17 21:50] 0pdd commented on #447
@vzurauskas the puzzle [#453](https://github.com/yegor256/jpeek/issues/453) is still not solved.

[2020-04-17 21:50] 0crat commented on #453
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-18 10:28] 0crat commented on #416
The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#416](https://github.com/yegor256/jpeek/issues/416), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-18 14:29] dan1els opened #454 "Enrich readme guidelines."
Guide how to run the program from command line is not obvious. F.e. I have mvn-compiled application and I want to use jpeek jar to measure it. It's not clear which folder I should use in this case.

[2020-04-18 14:30] 0crat commented on #454
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-18 19:39] 0crat commented on #441
The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#441](https://github.com/yegor256/jpeek/issues/441), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-19 21:53] paulodamaso commented on #449
@victornoel Could you please fix the title? It is just related to NCC right?

[2020-04-19 22:08] 0crat commented on #441
The job [#441](https://github.com/yegor256/jpeek/issues/441) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/048ca3ca-1276-4ea6-a3f4-d3ad1122e97e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-04-20 07:57] victornoel commented on #449
@paulodamaso yes sorry, it was `in` not `is` :)

[2020-04-20 11:00] paulodamaso commented on #449
@victornoel Thank you!

[2020-04-20 11:01] paulodamaso commented on #449
@0crat in

[2020-04-20 11:01] paulodamaso commented on #452
@lyriccoder Seems like its `Report` is not being generated

[2020-04-20 11:02] paulodamaso commented on #452
@0crat in

[2020-04-20 12:49] 0crat commented on #452
@paulodamaso Job [#452](https://github.com/yegor256/jpeek/issues/452) doesn't exist, can't set role

[2020-04-20 12:50] 0crat commented on #449
@paulodamaso Election failed: performer was not elected (see footprint for details)

[2020-04-20 12:50] 0crat commented on #449
@paulodamaso Election failed: performer was not elected (see footprint for details)

[2020-04-20 12:50] 0crat commented on #449
@paulodamaso Election failed: performer was not elected (see footprint for details)

[2020-04-20 12:52] 0crat commented on #449
@paulodamaso Election failed: performer was not elected (see footprint for details)

[2020-04-20 12:52] 0crat commented on #449
@paulodamaso Election failed: performer was not elected (see footprint for details)

[2020-04-20 16:23] 0crat commented on #416
The job [#416](https://github.com/yegor256/jpeek/issues/416) assigned to @iiylll[/z](https://www.0crat.com/u/iiylll), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/00f78b9e-50e2-4ff2-b190-973939cd461a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-20 16:55] 0crat commented on #444
The job [#444](https://github.com/yegor256/jpeek/issues/444) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d9ba340f-4633-4db4-b156-f7304239bae4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-20 17:07] victornoel commented on #447
@vzurauskas the PR has been merged and the work will continue in #453. Can you close this issue?

[2020-04-20 17:13] vzurauskas commented on #447
@victornoel Closing, thanks.

[2020-04-20 17:13] #447 closed

[2020-04-20 17:25] 0crat commented on #453
The job [#453](https://github.com/yegor256/jpeek/issues/453) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/2f9fca6a-f591-4566-8e2b-9e62c0bb8aff); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-20 17:39] 0crat commented on #447
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-20 17:50] sereshqua commented on #447
@0crat quality good

[2020-04-20 19:03] 0crat commented on #448
The job [#448](https://github.com/yegor256/jpeek/issues/448) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/53db2624-d6d1-497f-9394-7024126819d7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-20 19:28] 0crat commented on #449
The job [#449](https://github.com/yegor256/jpeek/issues/449) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/8bfb092e-0c96-48c6-98e2-2c5d2f2eb3bb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-20 19:46] HDouss commented on #449
@victornoel it is actually calculating the number of nodes having an edge. And yes, it is completely erroneous.

[2020-04-20 19:48] HDouss commented on #449
@0crat refuse will have to wait too much for #437 and its puzzles..

[2020-04-20 19:49] 0crat commented on #449
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#449](https://github.com/yegor256/jpeek/issues/449), please stop working. Reason for job resignation: Order was cancelled

[2020-04-20 19:49] 0crat commented on #449
@HDouss Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-21 07:21] lyriccoder commented on #452
I have added examples of java classes in the archive. Could you please check? I want to compute LCOM4, but I would like to know what is happening and why the report was not generated

[2020-04-21 09:43] HDouss commented on #438
@paulodamaso ping

[2020-04-21 14:19] paulodamaso commented on #452
@0crat assign me

[2020-04-21 14:26] 0crat commented on #452
@paulodamaso The job [#452](https://github.com/yegor256/jpeek/issues/452) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e83cbc98-f6c1-45f2-b15f-a73e640c8508); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-21 19:07] paulodamaso commented on #452
@lyriccoder `LCOM4` report was not being added to the report stack; because of this, jPeek wasn't generating it even if we passed asked just for this report. I've added `LCOM4` report generation in PR #458; after its merge, you'll be able to generate it by using the `--metrics` parameter, like:
[code]

[2020-04-21 19:14] #443 closed

[2020-04-21 19:14] 0pdd commented on #443
The puzzle `440-332bf733` has disappeared from the source code, that's why I closed this issue.

[2020-04-21 19:14] #444 closed

[2020-04-21 19:14] 0pdd commented on #444
The puzzle `440-83d3f1f7` has disappeared from the source code, that's why I closed this issue.

[2020-04-21 19:14] 0pdd opened #459 "XmlMethodArgsTest.java:54-56: This test was disabled..."
The puzzle `444-ff900aeb` from #444 has to be resolved:

https://github.com/yegor256/jpeek/blob/3adeab9fb46585cc5947ce1dc8518f0b53d54052/src/test/java/org/jpeek/graph/XmlMethodArgsTest.java#L54-L56

The puzzle was created by Hamdi Douss on 21-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-04-21 19:14] 0pdd commented on #296
@ilyakharlamov 4 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#445](https://github.com/yegor256/jpeek/issues/445), [#459](https://github.com/yegor256/jpeek/issues/459) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.

[2020-04-21 19:14] 0pdd commented on #390
@0pdd 4 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#445](https://github.com/yegor256/jpeek/issues/445), [#459](https://github.com/yegor256/jpeek/issues/459) are still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor

[2020-04-21 19:14] 0pdd commented on #397
@0pdd 4 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#445](https://github.com/yegor256/jpeek/issues/445), [#459](https://github.com/yegor256/jpeek/issues/459) are still not solved; solved: [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor

[2020-04-21 19:14] 0pdd commented on #408
@0pdd 4 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#445](https://github.com/yegor256/jpeek/issues/445), [#459](https://github.com/yegor256/jpeek/issues/459) are still not solved; solved: [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413), [#417](https://github.com/yegor

[2020-04-21 19:14] 0pdd commented on #413
@0pdd 3 puzzles [#441](https://github.com/yegor256/jpeek/issues/441), [#445](https://github.com/yegor256/jpeek/issues/445), [#459](https://github.com/yegor256/jpeek/issues/459) are still not solved; solved: [#440](https://github.com/yegor256/jpeek/issues/440), [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444).

[2020-04-21 19:14] 0pdd commented on #440
@0pdd the puzzle [#459](https://github.com/yegor256/jpeek/issues/459) is still not solved; solved: [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444).

[2020-04-21 19:14] 0pdd commented on #444
@0pdd the puzzle [#459](https://github.com/yegor256/jpeek/issues/459) is still not solved.

[2020-04-21 19:16] 0crat commented on #459
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-21 19:30] lyriccoder commented on #452
oh, thank you very much @paulodamaso

[2020-04-21 19:33] 0pdd commented on #453
The puzzle `447-5b43df5f` has disappeared from the source code, that's why I closed this issue.

[2020-04-21 19:33] #453 closed

[2020-04-21 19:33] 0pdd commented on #447
@vzurauskas the only puzzle [#453](https://github.com/yegor256/jpeek/issues/453) is solved here.

[2020-04-21 19:33] 0crat commented on #443
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-21 19:39] sereshqua commented on #443
@0crat quality good

[2020-04-21 20:04] 0crat commented on #453
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-21 20:06] 0crat commented on #453
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-21 20:08] 0crat commented on #444
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-21 20:08] sereshqua commented on #453
@0crat quality good

[2020-04-22 12:37] HDouss commented on #448
@victornoel PR #457 is merged. Please close the issue.

[2020-04-22 13:51] HDouss commented on #438
@paulodamaso ping

[2020-04-22 13:57] victornoel commented on #448
@paulodamaso can we release a new version to validate the behaviour?

[2020-04-22 14:02] HDouss commented on #448
@victornoel another possibility is to checkout master and test locally

[2020-04-22 14:04] victornoel commented on #448
@HDouss I don't have the time nor the energy to do that :)

[2020-04-22 14:18] HDouss commented on #448
@victornoel no problem :) it was in the case a new release is not possible today.

[2020-04-22 17:16] sereshqua commented on #443
@0crat quality good

[2020-04-22 21:59] 0pdd opened #460 "README.md:48-50: Improve how to use section on README.md..."
The puzzle `452-fc6e85e0` from #452 has to be resolved:

https://github.com/yegor256/jpeek/blob/ab8826a691bab7f18cde3c717e5f03575781fcfd/README.md#L48-L50

The puzzle was created by paulodamaso on 21-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2020-04-22 22:00] 0pdd opened #461 "App.java:138-141: Extract report building Analyze method..."
The puzzle `452-6485f2e2` from #452 has to be resolved:

https://github.com/yegor256/jpeek/blob/ab8826a691bab7f18cde3c717e5f03575781fcfd/src/main/java/org/jpeek/App.java#L138-L141

The puzzle was created by paulodamaso on 22-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-04-22 22:00] 0pdd commented on #452
@lyriccoder 2 puzzles [#460](https://github.com/yegor256/jpeek/issues/460), [#461](https://github.com/yegor256/jpeek/issues/461) are still not solved.

[2020-04-23 02:44] paulodamaso commented on #448
@rultor release tag is `0.30.19`

[2020-04-23 02:45] rultor commented on #448
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21854-618144190)

[2020-04-23 02:52] paulodamaso commented on #438
@HDouss I think that it will be easier to do this after https://github.com/yegor256/jpeek/issues/461

[2020-04-23 03:03] rultor commented on #448
@paulodamaso Done! FYI, the full log is [here](https://www.rultor.com/t/21854-618144190) (took me 16min)

[2020-04-23 03:05] paulodamaso commented on #448
@victornoel @HDouss done, released a new version

[2020-04-23 07:14] HDouss commented on #438
@paulodamaso I don't really think it is related, here it is only about `chain.transform(skeleton)` that is repeated for every XslReport. But anyway, do you agree it has to be done?

[2020-04-23 08:58] 0crat commented on #443
@sereshqua There is no quality review for [#443](https://github.com/yegor256/jpeek/issues/443), no performer

[2020-04-23 09:36] HDouss commented on #448
@victornoel Could you please verify?

[2020-04-23 10:30] victornoel commented on #448
@HDouss @paulodamaso I don't know if the release failed or whatever, but looking at i.jpeek.org I still see the problem when sorting the first column:
![image](https://user-images.githubusercontent.com/160975/80089398-27d65780-855e-11ea-95c3-b35183a98f09.png)

[2020-04-23 11:29] paulodamaso commented on #448
@victornoel The site is in the old version yet:
![image](https://user-images.githubusercontent.com/33915433/80094356-7a9f1780-853c-11ea-8ecd-2ce9b8eb1de7.png)

[2020-04-23 12:21] HDouss commented on #448
@paulodamaso Should we wait or there is something to do to deploy the new release?

[2020-04-23 12:31] paulodamaso commented on #448
@HDouss I'll check it

[2020-04-23 12:32] HDouss commented on #448
@victornoel @paulodamaso if any of you can take 4 mins to checkout master and check it locally, that would be great..so we can close the issue.

[2020-04-23 12:38] paulodamaso commented on #448
@victornoel could you please do this?

[2020-04-23 13:54] victornoel commented on #448
@HDouss @paulodamaso let me close this without checking, I really don't have the time :) I will open another issue if it is still there in the future…

[2020-04-23 13:54] #448 closed

[2020-04-23 16:46] 0crat commented on #459
The job [#459](https://github.com/yegor256/jpeek/issues/459) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1657ce78-877c-4c6e-a644-04c86324754c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-23 19:01] HDouss commented on #448
@0crat status

[2020-04-23 19:01] HDouss commented on #444
@0crat status

[2020-04-23 19:02] 0crat commented on #444
@HDouss This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#444](https://github.com/yegor256/jpeek/issues/444) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Ayegor256%2Fjpeek%23444%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-04-23 19:02] 0crat commented on #448
@HDouss This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#448](https://github.com/yegor256/jpeek/issues/448) is [in scope](http://www.zerocracy.com/policy.html#14) for 8days
  * The role is `DEV`
  * The job is assigned to @hdouss[/z](https://www.0crat.com/u/hdouss) for [3days](http://www.zerocracy.com/policy.html#8)
  * There is

[2020-04-23 19:43] 0crat commented on #449
The job [#449](https://github.com/yegor256/jpeek/issues/449) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b83e2b1f-b641-47d0-8dbc-094a08e7d3f7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-04-23 19:47] HDouss commented on #448
@paulodamaso how to trigger rewards here ?

[2020-04-23 19:47] HDouss commented on #444
@paulodamaso how to trigger rewards here?

[2020-04-23 19:56] paulodamaso commented on #448
@0crat out

[2020-04-23 19:59] 0crat commented on #448
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-23 20:26] sereshqua commented on #448
@0crat quality good

[2020-04-23 20:54] 0crat commented on #448
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.12](https://github.com/zerocracy/farm): CID: [4ce6849c-e290-4aab-acfa-1af734896e07](https://www.0crat.com/footprint/C7JGJ00DP/4ce6849c-e290-4aab-acfa-1af734896e07), Type: "Award points were added"

[2020-04-23 20:55] 0crat commented on #448
@sereshqua There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.12](https://github.com/zerocracy/farm): CID: [4ce6849c-e290-4aab-acfa-1af734896e07](https://www.0crat.com/footprint/C7JGJ00DP/4ce6849c-e290-4aab-acfa-1af734896e07), Type: "Award points were added"

[2020-04-23 21:05] HDouss commented on #444
@paulodamaso I don't know if that helps, but can we do same thing here?

[2020-04-23 21:12] HDouss commented on #444
@paulodamaso It helps, I received my reward in the other ticket.

[2020-04-24 07:51] vzurauskas commented on #459
@0crat refuse - still blocked by https://github.com/yegor256/jpeek/issues/437

[2020-04-24 07:53] vzurauskas commented on #437
@dgarus @paulodamaso What are we waiting for here?

[2020-04-24 07:54] 0crat commented on #459
@vzurauskas The user @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) resigned from [#459](https://github.com/yegor256/jpeek/issues/459), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 07:54] 0crat commented on #459
@vzurauskas Job refused in 15 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 09:53] 0crat commented on #459
The job [#459](https://github.com/yegor256/jpeek/issues/459) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/262bf6a9-0f30-4786-8e95-ca23f4893dc0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-24 10:13] HDouss commented on #459
@0crat refuse

[2020-04-24 10:24] 0crat commented on #459
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#459](https://github.com/yegor256/jpeek/issues/459), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 10:24] 0crat commented on #459
@HDouss Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-24 10:52] 0crat commented on #459
The job [#459](https://github.com/yegor256/jpeek/issues/459) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/84b0b8e6-4284-4646-a98a-b520003c0730); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-04-24 11:03] dgarus commented on #437
@0crat refuse

[2020-04-24 11:04] dgarus commented on #437
@vzurauskas sorry, it's my fault. I'm on vacation

[2020-04-24 11:04] 0crat commented on #437
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#437](https://github.com/yegor256/jpeek/issues/437), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 11:12] vzurauskas opened #462 "Maven build doesn't work on Windows"
When running `mvn clean install` on Windows, a lot of tests fail with errors like `java.lang.IllegalStateException: java.io.IOException: Cannot run program "javac" (in directory "C:\Users\***\AppData\Local\Temp\jpeek2472932357333745328"): CreateProcess error=2, The system cannot find the file specified`

Running the tests with IntelliJ works fine.

I guess this is a Windows thing. Maybe pom.xml ne

[2020-04-24 11:12] 0crat commented on #462
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-24 11:13] dgarus commented on #316
@0crat refuse

[2020-04-24 11:14] 0crat commented on #316
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2020-04-24 11:48] 0crat commented on #437
The job [#437](https://github.com/yegor256/jpeek/issues/437) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3b98db94-57aa-40cf-a3ea-3f3a50c6bb74); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-24 12:04] vzurauskas commented on #445
@0crat wait for https://github.com/yegor256/jpeek/pull/463

[2020-04-24 12:11] 0crat commented on #445
@vzurauskas Job [#445](https://github.com/yegor256/jpeek/issues/445) is already on hold

[2020-04-24 17:30] HDouss commented on #444
@paulodamaso Could you please ask 0crat out here?

[2020-04-24 20:27] HDouss commented on #444
@paulodamaso ping

[2020-04-24 22:43] 0crat commented on #441
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-25 08:37] HDouss commented on #444
@paulodamaso ping

[2020-04-25 13:33] #452 closed

[2020-04-25 13:51] 0crat commented on #452
Job [#452](https://github.com/yegor256/jpeek/issues/452) is not in the agenda of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), can't set title

[2020-04-25 16:52] 0crat commented on #416
@iiylll[/z](https://www.0crat.com/u/iiylll) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-25 20:42] 0crat commented on #316
The job [#316](https://github.com/yegor256/jpeek/issues/316) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/fb119b6f-fc51-4409-9349-138edb466672); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-26 03:54] paulodamaso commented on #462
@vzurauskas Probably your javac isn't int windows `PATH` variable. You must have `%your_java_home%/bin` set in your windows `PATH`environment variable

[2020-04-26 03:55] paulodamaso commented on #448
@rultor release tag is `0.30.19`

[2020-04-26 03:57] rultor commented on #448
@paulodamaso @victornoel Invalid release tag `0.30.19` specified. There is already a release `0.30.19` newer than the given release in this repository.

[2020-04-26 03:57] rultor commented on #448
@paulodamaso I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-04-26 04:19] paulodamaso commented on #448
@rultor release tag is `0.30.19`

[2020-04-26 04:19] rultor commented on #448
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21854-619479082)

[2020-04-26 04:30] rultor commented on #448
@paulodamaso @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21854-619479082) (spent 11min)

[code]

[2020-04-26 04:34] paulodamaso commented on #448
@rultor release tag is `0.30.20`

[2020-04-26 04:35] rultor commented on #448
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21854-619480427)

[2020-04-26 04:51] rultor commented on #448
@paulodamaso @victornoel Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21854-619480427) (spent 16min)

[code]

[2020-04-26 05:31] yegor256 commented on #462
@rultor release, tag is `0.30.19`

[2020-04-26 05:32] rultor commented on #462
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21877-619485178)

[2020-04-26 05:44] rultor commented on #462
@vzurauskas @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21877-619485178) (spent 12min)

[code]

[2020-04-26 08:01] victornoel commented on #316
@0crat refuse

[2020-04-26 08:23] 0crat commented on #316
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2020-04-26 08:23] 0crat commented on #316
@victornoel Job refused in 11 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-26 13:52] paulodamaso opened #465 "Fix jpeek merge and release"
We need to fix jpeek merge and release
- fix merge,
- fix release with sonar execution, deploy at sonatype repository and deploy at dokku site

[2020-04-26 13:52] paulodamaso commented on #465
@0crat assign me

[2020-04-26 13:58] 0crat commented on #465
@paulodamaso The job [#465](https://github.com/yegor256/jpeek/issues/465) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ffb9b83a-a53b-4492-bdbf-335c45ff2901); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-04-26 16:12] RoRoche opened #467 "Jpeek does not support Android library (aar)"
I launched jpeek for my Android library:
https://i.jpeek.org/com.github.roroche/eo-android-concurrency/index.html

The error is:

[code]

Because it's an `.aar` file.

[2020-04-26 16:12] 0crat commented on #467
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-26 16:21] paulodamaso commented on #465
@rultor release tag is `0.30.22`

[2020-04-26 16:22] rultor commented on #465
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21885-619578906)

[2020-04-26 16:37] rultor commented on #465
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21885-619578906) (spent 14min)

[code]

[2020-04-26 16:44] paulodamaso commented on #465
@rultor release tag is `0.30.23`

[2020-04-26 16:46] rultor commented on #465
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21885-619582739)

[2020-04-26 16:46] RoRoche opened #468 "Jpeek generates empty report"
When scanning my Kotlin library, I get an empty report: https://i.jpeek.org/com.github.roroche/eo-rest/index.html

[2020-04-26 16:46] 0crat commented on #468
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-26 17:01] rultor commented on #465
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21885-619582739) (spent 15min)

[code]

[2020-04-26 17:04] paulodamaso commented on #465
@rultor release tag is `0.30.23`

[2020-04-26 17:06] rultor commented on #465
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21885-619586319)

[2020-04-26 17:16] rultor commented on #465
@paulodamaso Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21885-619586319) (spent 10min)

[code]

[2020-04-26 17:18] paulodamaso commented on #465
@rultor release tag is `0.30.24`

[2020-04-26 17:19] rultor commented on #465
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21885-619588649)

[2020-04-26 17:39] rultor commented on #465
@paulodamaso Done! FYI, the full log is [here](https://www.rultor.com/t/21885-619588649) (took me 19min)

[2020-04-26 20:55] paulodamaso commented on #448
@victornoel Sorting is working as expected now

[2020-04-26 20:55] paulodamaso commented on #448
@HDouss Thank you!

[2020-04-26 21:24] HDouss commented on #448
@paulodamaso Nice!

[2020-04-26 21:25] HDouss commented on #444
@paulodamaso Could you ask 0crat out here in order to trigger rewards?

[2020-04-26 22:11] paulodamaso commented on #444
@0crat out

[2020-04-26 22:17] 0crat commented on #444
@paulodamaso Job `gh:yegor256/jpeek#444` is not assigned, can't get performer

[2020-04-27 06:55] victornoel commented on #448
@paulodamaso @HDouss thanks :)

[2020-04-27 08:10] HDouss commented on #444
@paulodamaso any other idea how to trigger rewards?

[2020-04-27 13:44] 0crat commented on #316
The job [#316](https://github.com/yegor256/jpeek/issues/316) assigned to @fanifieiev[/z](https://www.0crat.com/u/fanifieiev), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d297fa36-339e-41cc-9aed-65d23c0ad071); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-27 13:48] fanifieiev commented on #316
@0crat refuse

[2020-04-27 14:13] 0crat commented on #316
@fanifieiev The user @fanifieiev[/z](https://www.0crat.com/u/fanifieiev) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2020-04-27 14:14] 0crat commented on #316
@fanifieiev Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-27 16:54] HDouss commented on #444
@paulodamaso the job is still listed in my agenda. Any help?

[2020-04-28 02:55] marceloamadeu commented on #441
@0crat wait

[2020-04-28 07:37] vzurauskas commented on #462
@paulodamaso You are right, thanks. Closing this.

[2020-04-28 07:37] #462 closed

[2020-04-28 08:54] 0crat commented on #462
Job `gh:yegor256/jpeek#462` is not assigned, can't get performer

[2020-04-28 16:10] HDouss commented on #444
@paulodamaso ping

[2020-04-28 20:47] 0crat commented on #449
@dfrau32[/z](https://www.0crat.com/u/dfrau32) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 04:48] 0crat commented on #316
The job [#316](https://github.com/yegor256/jpeek/issues/316) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/86fe9f5d-0ea5-43bd-bcbf-03bdb8257395); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-04-29 11:46] 0crat commented on #459
@dfrau32[/z](https://www.0crat.com/u/dfrau32) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 12:45] 0crat commented on #437
@hdouss[/z](https://www.0crat.com/u/hdouss) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 12:56] paulodamaso commented on #444
@0crat out

[2020-04-29 13:12] 0crat commented on #444
@paulodamaso Job `gh:yegor256/jpeek#444` is not assigned, can't get performer

[2020-04-29 13:40] HDouss commented on #437
@0crat wait

[2020-04-29 13:41] HDouss commented on #437
@paulodamaso please review or merge PR #464

[2020-04-29 16:15] paulodamaso commented on #444
@0crat status

[2020-04-29 16:17] 0crat commented on #444
@paulodamaso This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#444](https://github.com/yegor256/jpeek/issues/444) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Ayegor256%2Fjpeek%23444%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-04-29 16:28] victornoel commented on #444
@paulodamaso sorry to chip in (I'm getting the notifications), but why don't you just use 0crat pay? It seems 0crat missed the qa/payment because of a bug and the job is closed and invisible to 0crat now.

[2020-04-29 16:47] paulodamaso commented on #444
@victornoel I usually use pay command as a last resort, because 0crat can close the issue and then the payment would be done twice.

[2020-04-29 16:47] paulodamaso commented on #444
@0crat quality good

[2020-04-29 16:57] 0crat commented on #444
@paulodamaso There is no quality review for [#444](https://github.com/yegor256/jpeek/issues/444), no performer

[2020-04-29 17:10] paulodamaso commented on #444
@0crat pay @HDouss 35min

[2020-04-29 17:11] #465 closed

[2020-04-29 17:17] 0crat commented on #444
@paulodamaso Argument "@HDouss" doesn't match regex `\d+min`

[2020-04-29 17:45] HDouss commented on #444
@paulodamaso The job should also go away from my agenda, I don't want to keep it forever there.

[2020-04-29 17:45] HDouss commented on #444
@paulodamaso  I think you should do "35min @HDouss"

[2020-04-29 17:46] 0crat commented on #444
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/444#issuecomment-621363046); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-04-29 18:26] paulodamaso commented on #444
@0crat pay 35min @HDouss

[2020-04-29 18:41] 0crat commented on #444
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.13](https://github.com/zerocracy/farm): Issue: yegor256/jpeek#444, Comment: 621383825

[2020-04-29 19:58] #437 closed

[2020-04-29 19:58] 0pdd commented on #437
The puzzle `403-214b0d9e` has disappeared from the source code, that's why I closed this issue.

[2020-04-29 19:58] 0pdd opened #469 "MetricsTest.java:52-61: Skeleton structure has changed in..."
The puzzle `437-43230a3b` from #437 has to be resolved:

https://github.com/yegor256/jpeek/blob/2b4d871b608c39a3d041619bc3dae7089930d4a7/src/test/java/org/jpeek/MetricsTest.java#L52-L61

The puzzle was created by rultor on 29-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-04-29 19:59] 0pdd opened #470 "LormTest.java:41-42: This test was disabled after..."
The puzzle `437-e6b95171` from #437 has to be resolved:

https://github.com/yegor256/jpeek/blob/2b4d871b608c39a3d041619bc3dae7089930d4a7/src/test/java/org/jpeek/metrics/LormTest.java#L41-L42

The puzzle was created by rultor on 29-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-04-29 19:59] 0pdd commented on #403
@HDouss 2 puzzles [#469](https://github.com/yegor256/jpeek/issues/469), [#470](https://github.com/yegor256/jpeek/issues/470) are still not solved; solved: [#437](https://github.com/yegor256/jpeek/issues/437).

[2020-04-29 19:59] 0pdd commented on #437
@0pdd 2 puzzles [#469](https://github.com/yegor256/jpeek/issues/469), [#470](https://github.com/yegor256/jpeek/issues/470) are still not solved.

[2020-04-29 19:59] 0crat commented on #469
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-29 20:00] 0crat commented on #470
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-04-29 20:16] 0crat commented on #437
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-30 03:43] sereshqua commented on #437
@0crat quality good

[2020-04-30 04:45] 0crat commented on #469
The job [#469](https://github.com/yegor256/jpeek/issues/469) assigned to @iiylll[/z](https://www.0crat.com/u/iiylll), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7ea32510-5480-4333-8794-ceba3ecf5d71); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-30 10:45] 0crat commented on #470
The job [#470](https://github.com/yegor256/jpeek/issues/470) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/8224e8fa-9162-48ff-9fbc-7595ba97046d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-30 12:38] paulodamaso commented on #444
@0crat pay 35min @HDouss

[2020-04-30 16:24] 0crat commented on #416
The user @iiylll[/z](https://www.0crat.com/u/iiylll) resigned from [#416](https://github.com/yegor256/jpeek/issues/416), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-01 01:00] marceloamadeu commented on #316
@0crat status

[2020-05-01 02:04] 0crat commented on #316
@marceloamadeu This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#316](https://github.com/yegor256/jpeek/issues/316) is [in scope](http://www.zerocracy.com/policy.html#14) for 13mon
  * The role is `DEV`
  * The job is assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) for [2days](http://www.zerocracy.com/policy.

[2020-05-01 07:49] vzurauskas commented on #470
@0crat wait for https://github.com/yegor256/jpeek/pull/471

[2020-05-01 21:54] #459 closed

[2020-05-01 21:55] 0pdd commented on #459
The puzzle `444-ff900aeb` has disappeared from the source code, that's why I closed this issue.

[2020-05-01 21:55] 0pdd commented on #445
The puzzle `441-ed4884a5` has disappeared from the source code, that's why I closed this issue.

[2020-05-01 21:55] #445 closed

[2020-05-01 21:55] 0pdd opened #472 "XmlGraph.java:39-44: Continue the work started with..."
The puzzle `445-b9bbd966` from #445 has to be resolved:

https://github.com/yegor256/jpeek/blob/05d4100f0ab757ce44fd7f2087f8c35f5dfe3588/src/main/java/org/jpeek/graph/XmlGraph.java#L39-L44

The puzzle was created by Vytautas Žurauskas on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-05-01 21:55] 0crat commented on #472
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-01 21:55] 0pdd opened #473 "XmlGraph.java:77-80: This method works only for skeletons..."
The puzzle `445-1cfd81f6` from #445 has to be resolved:

https://github.com/yegor256/jpeek/blob/05d4100f0ab757ce44fd7f2087f8c35f5dfe3588/src/main/java/org/jpeek/graph/XmlGraph.java#L77-L80

The puzzle was created by Vytautas Žurauskas on 24-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-05-01 21:55] 0pdd commented on #296
@ilyakharlamov 4 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#472](https://github.com/yegor256/jpeek/issues/472), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.

[2020-05-01 21:55] 0pdd commented on #408
@0pdd 4 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#472](https://github.com/yegor256/jpeek/issues/472), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413), [#417](https://github.com/yegor

[2020-05-01 21:55] 0pdd commented on #390
@0pdd 4 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#472](https://github.com/yegor256/jpeek/issues/472), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor

[2020-05-01 21:55] 0pdd commented on #397
@0pdd 4 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#441](https://github.com/yegor256/jpeek/issues/441), [#472](https://github.com/yegor256/jpeek/issues/472), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor

[2020-05-01 21:55] 0pdd commented on #413
@0pdd 3 puzzles [#441](https://github.com/yegor256/jpeek/issues/441), [#472](https://github.com/yegor256/jpeek/issues/472), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#440](https://github.com/yegor256/jpeek/issues/440), [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444), [#445](https://github.com/yegor

[2020-05-01 21:55] 0pdd commented on #440
@0pdd all 3 puzzles are solved here: [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444), [#459](https://github.com/yegor256/jpeek/issues/459).

[2020-05-01 21:55] 0pdd commented on #444
@0pdd the only puzzle [#459](https://github.com/yegor256/jpeek/issues/459) is solved here.

[2020-05-01 21:55] 0pdd commented on #441
@0pdd 2 puzzles [#472](https://github.com/yegor256/jpeek/issues/472), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#445](https://github.com/yegor256/jpeek/issues/445).

[2020-05-01 21:55] 0pdd commented on #445
@0pdd 2 puzzles [#472](https://github.com/yegor256/jpeek/issues/472), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved.

[2020-05-01 21:56] 0crat commented on #473
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-05-01 22:14] 0crat commented on #445
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-01 22:16] 0crat commented on #459
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dfrau32[/z](https://www.0crat.com/u/dfrau32), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-01 22:45] 0crat commented on #473
The job [#473](https://github.com/yegor256/jpeek/issues/473) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/a7b46842-1549-4dd4-b201-dee400959eb5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-05-02 02:27] marceloamadeu commented on #316
@0crat refuse

[2020-05-02 02:28] 0crat commented on #316
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2020-05-02 02:46] 0crat commented on #472
The job [#472](https://github.com/yegor256/jpeek/issues/472) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/380056e4-18f2-487a-8d17-fc1c67f530f2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-05-02 04:29] sereshqua commented on #445
@0crat quality good

[2020-05-02 04:30] sereshqua commented on #459
@0crat quality good

[2020-05-02 05:00] 0crat commented on #316
The job [#316](https://github.com/yegor256/jpeek/issues/316) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/42d81f6e-1c0c-486a-b34c-f54a0a4583f2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-02 05:44] 0crat commented on #416
The job [#416](https://github.com/yegor256/jpeek/issues/416) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/f076b538-65b9-47bf-adc1-50ee66ddca61); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-05-02 09:36] vzurauskas commented on #316
@0crat refuse

[2020-05-02 09:46] 0crat commented on #316
@vzurauskas The user @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2020-05-02 09:47] 0crat commented on #316
@vzurauskas Job refused in 4 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-03 18:04] paulodamaso commented on #274
@0crat assign me

[2020-05-04 07:32] 0crat commented on #274
@paulodamaso The job [#274](https://github.com/yegor256/jpeek/issues/274) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/6a432f28-b1fa-45f8-8ad2-22fdb11a016a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2020-05-04 07:48] 0crat commented on #449
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#449](https://github.com/yegor256/jpeek/issues/449), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-05 05:45] 0crat commented on #469
@iiylll[/z](https://www.0crat.com/u/iiylll) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-06 23:43] 0crat commented on #473
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-07 03:46] 0crat commented on #472
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-07 06:43] 0crat commented on #416
@dfrau32[/z](https://www.0crat.com/u/dfrau32) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-07 15:45] 0crat commented on #449
The job [#449](https://github.com/yegor256/jpeek/issues/449) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9c3c878e-5b88-445c-9738-b6a80b63f288); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-08 02:05] marceloamadeu commented on #441
@0crat refuse

[2020-05-08 04:19] 0crat commented on #441
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#441](https://github.com/yegor256/jpeek/issues/441), please stop working. Reason for job resignation: Order was cancelled

[2020-05-08 04:49] 0crat commented on #441
The job [#441](https://github.com/yegor256/jpeek/issues/441) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3a1b74b7-de00-4ad0-97e6-9da2747ff08d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-05-08 09:13] vzurauskas commented on #449
@paulodamaso If I understand correctly, the `Graph` interface was created in order to do calculations like the one required here because graphs are better handled in Java than XSL, correct? If so, would it make sense to rewrite CCM metric in Java instead of fixing this calculation in the XSL?

[2020-05-08 09:13] vzurauskas commented on #449
@0crat wait for clarification.

[2020-05-08 12:05] dfrau32 commented on #441
@0crat refuse

[2020-05-08 12:12] 0crat commented on #441
@dfrau32 The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#441](https://github.com/yegor256/jpeek/issues/441), please stop working. Reason for job resignation: Order was cancelled

[2020-05-08 12:12] 0crat commented on #441
@dfrau32 Job refused in 7 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-05-08 13:33] paulodamaso commented on #449
@vzurauskas Yes, it makes sense, let's use java to make these calculations that need graphs

[2020-05-08 15:46] 0crat commented on #473
The job [#473](https://github.com/yegor256/jpeek/issues/473) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/fa6128a9-124a-4d1f-a53e-26372ce0d4ce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-05-08 18:55] 0crat commented on #472
The job [#472](https://github.com/yegor256/jpeek/issues/472) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/8f5e06c6-7e60-4ce8-8313-24f777f8072a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-09 07:46] 0crat commented on #274
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-09 08:29] victornoel opened #474 "Consider upgrading to cactoos 0.45+ with new iterable API"
Since the version currently used of cactoos (0.43), cactoos changed its API by:
- removing all the decorators for the concrete collections
- focusing the decorators around `Iterable` and `Iterator`
- introducing some classes such as SetOf, ListOf, etc for transforming an `Iterable` into a concrete collection

This is meant to simplify cactoos code and force users of the library to use more OO code

[2020-05-09 08:58] victornoel opened #475 "Small error in pom.xml"
Hi I have noticed this small error in the pom.xml:
[code]

The attribute shouldn't be on configuration itself, but inside it.

[2020-05-09 09:02] victornoel commented on #472
@0crat wait for #476 to be mergd

[2020-05-10 04:50] 0crat commented on #469
The user @iiylll[/z](https://www.0crat.com/u/iiylll) resigned from [#469](https://github.com/yegor256/jpeek/issues/469), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-10 05:46] 0crat commented on #441
The job [#441](https://github.com/yegor256/jpeek/issues/441) assigned to @iiylll[/z](https://www.0crat.com/u/iiylll), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1355a236-344b-45c4-a281-08da3ffa7c5c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-05-11 19:46] 0crat commented on #469
The job [#469](https://github.com/yegor256/jpeek/issues/469) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/434a6f3d-4366-4af0-8dde-27dddc659d30); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-12 05:45] 0crat commented on #416
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#416](https://github.com/yegor256/jpeek/issues/416), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-13 08:04] victornoel commented on #472
@0crat status

[2020-05-13 08:11] 0crat commented on #472
@victornoel This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#472](https://github.com/yegor256/jpeek/issues/472) is [in scope](http://www.zerocracy.com/policy.html#14) for 11days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [5days](http://www.zerocracy.com/policy.html#8)

[2020-05-13 08:27] victornoel commented on #472
@paulodamaso could you maybe re-run the master branch CI build to retrigger 0pdd and that it closes this issue as it should have?

[2020-05-13 16:44] 0crat commented on #473
@dfrau32[/z](https://www.0crat.com/u/dfrau32) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 19:11] victornoel commented on #472
@paulodamaso or @yegor256 said to do a push to master to re-trigger it

[2020-05-14 20:05] victornoel commented on #472
@paulodamaso ping

[2020-05-15 04:20] #274 closed

[2020-05-15 07:49] 0crat commented on #441
@iiylll[/z](https://www.0crat.com/u/iiylll) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-15 20:21] paulodamaso commented on #472
@victornoel Seems that there are trigger problems, I merged another PR yesterday and 0pdd did not updated this one

[2020-05-15 21:01] victornoel commented on #472
@paulodamaso so maybe can you tell 0crat out? If that can solve the problem...

[2020-05-16 10:51] victornoel commented on #469
@0crat refuse I have no idea how to do that

[2020-05-16 11:22] 0crat commented on #469
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#469](https://github.com/yegor256/jpeek/issues/469), please stop working. Reason for job resignation: Order was cancelled

[2020-05-16 11:59] 0crat commented on #469
The job [#469](https://github.com/yegor256/jpeek/issues/469) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/01892da4-d90b-4984-8165-ed893bc426aa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-05-18 07:22] 0crat commented on #274
The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#274](https://github.com/yegor256/jpeek/issues/274), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-18 07:49] 0crat commented on #274
The job [#274](https://github.com/yegor256/jpeek/issues/274) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7f0e2c80-a6da-4f8a-bd03-0e0d936cfec4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-18 09:27] victornoel commented on #274
@paulodamaso I'm not sure why 0crat assigned me this, maybe you should refuse then out it

[2020-05-18 14:58] paulodamaso commented on #274
@0crat refuse

[2020-05-18 15:01] 0crat commented on #274
@paulodamaso The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#274](https://github.com/yegor256/jpeek/issues/274), please stop working. Reason for job resignation: Order was cancelled

[2020-05-18 15:10] paulodamaso commented on #274
@0crat out

[2020-05-18 15:15] 0crat commented on #274
@paulodamaso Job `gh:yegor256/jpeek#274` is not assigned, can't get performer

[2020-05-18 15:29] paulodamaso commented on #472
@0crat out

[2020-05-18 15:32] 0crat commented on #472
@paulodamaso GitHub issue is still open, won't close

[2020-05-18 15:57] #472 closed

[2020-05-18 15:58] 0crat commented on #473
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#473](https://github.com/yegor256/jpeek/issues/473), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-18 16:52] 0crat commented on #473
The job [#473](https://github.com/yegor256/jpeek/issues/473) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/26b04210-7e40-49d1-b25f-c0d6e3ed488c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-05-19 18:13] victornoel commented on #472
@0crat status

[2020-05-19 18:18] 0crat commented on #472
@victornoel This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#472](https://github.com/yegor256/jpeek/issues/472) is [in scope](http://www.zerocracy.com/policy.html#14) for 18days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [11days](http://www.zerocracy.com/policy.html#8)

[2020-05-19 18:22] victornoel commented on #472
@paulodamaso can you retry?

[2020-05-19 18:35] victornoel commented on #473
@0crat refuse

[2020-05-19 18:49] paulodamaso commented on #472
@0crat out

[2020-05-19 18:56] 0crat commented on #473
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#473](https://github.com/yegor256/jpeek/issues/473), please stop working. Reason for job resignation: Order was cancelled

[2020-05-19 19:05] 0crat commented on #472
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-19 19:14] paulodamaso commented on #472
@victornoel Finally, yay!

[2020-05-19 19:15] sereshqua commented on #472
@0crat quality good

[2020-05-19 19:16] sereshqua commented on #472
@paulodamaso @victornoel good job :)

[2020-05-19 19:45] paulodamaso commented on #472
@rultor release tag is `0.30.25`

[2020-05-19 19:47] rultor commented on #472
@paulodamaso OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22109-631042358)

[2020-05-19 20:07] rultor commented on #472
@paulodamaso Done! FYI, the full log is [here](https://www.rultor.com/t/22109-631042358) (took me 19min)

[2020-05-20 06:00] 0crat commented on #441
The user @iiylll[/z](https://www.0crat.com/u/iiylll) resigned from [#441](https://github.com/yegor256/jpeek/issues/441), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-21 11:01] victornoel commented on #474
@paulodamaso 0crat seemed to have missed this and didn't notify you, WDYT?

[2020-05-21 12:47] 0crat commented on #469
@dfrau32[/z](https://www.0crat.com/u/dfrau32) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-22 10:44] vzurauskas commented on #470
@paulodamaso PR was merged, the [puzzle was removed](https://github.com/yegor256/jpeek/pull/471/files), but PDD bot didn't close this task for some reason.

[2020-05-24 17:19] paulodamaso commented on #474
@victornoel Yeah, let's do it

[2020-05-24 17:19] paulodamaso commented on #474
@0crat in

[2020-05-24 17:20] paulodamaso commented on #470
@0crat out

[2020-05-24 17:31] 0crat commented on #470
@paulodamaso GitHub issue is still open, won't close

[2020-05-24 17:53] 0crat commented on #474
The job [#474](https://github.com/yegor256/jpeek/issues/474) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/200b1b47-4f3b-4e8c-a215-d091ecda9dbe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-05-24 17:57] #470 closed

[2020-05-24 17:57] paulodamaso commented on #470
@0crat out

[2020-05-24 17:59] 0crat commented on #470
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-24 19:46] sereshqua commented on #470
@0crat quality good

[2020-05-26 11:57] 0crat commented on #469
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#469](https://github.com/yegor256/jpeek/issues/469), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-05-29 10:39] vzurauskas commented on #449
@victornoel https://github.com/yegor256/jpeek/pull/477 was merged and `todo`s created, can this be closed now?

[2020-05-29 10:43] victornoel commented on #449
@vzurauskas thx!

[2020-05-29 10:43] #449 closed

[2020-05-29 10:58] vzurauskas commented on #446
@yegor256 ping

[2020-05-29 12:13] paulodamaso commented on #446
@vzurauskas We have plans for improving jPeek scoring calculations soon, this issue will get on scope then

[2020-05-29 12:44] vzurauskas commented on #446
@paulodamaso Great, thanks.

[2020-05-29 18:53] 0crat commented on #474
@dfrau32[/z](https://www.0crat.com/u/dfrau32) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-03 17:50] 0crat commented on #474
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#474](https://github.com/yegor256/jpeek/issues/474), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-04 00:58] 0crat commented on #449
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) resigned from [#449](https://github.com/yegor256/jpeek/issues/449), since the job is not in scope anymore

[2020-06-04 21:47] 0crat commented on #441
The job [#441](https://github.com/yegor256/jpeek/issues/441) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/68f66f55-3cf0-4726-b26d-e0ff42ba6617); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-06-04 22:47] 0crat commented on #469
The job [#469](https://github.com/yegor256/jpeek/issues/469) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/5ec6ad97-edb0-4b46-b44c-c039f0c6e1eb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-06-05 06:47] 0crat commented on #473
The job [#473](https://github.com/yegor256/jpeek/issues/473) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c20c50c0-f26c-461d-93d3-211b8c897e59); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-05 12:15] vzurauskas commented on #449
@paulodamaso Zerocrat resigned me, but should have asked for quality review and paid me after that.

[2020-06-05 14:04] dgarus commented on #473
@0crat refuse

[2020-06-05 14:05] 0crat commented on #473
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#473](https://github.com/yegor256/jpeek/issues/473), please stop working. Reason for job resignation: Order was cancelled

[2020-06-05 14:06] 0crat commented on #473
@dgarus Job refused in 7 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-05 14:48] 0crat commented on #474
The job [#474](https://github.com/yegor256/jpeek/issues/474) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/43a8a9aa-1c17-45f5-af95-c74b0e68cbdb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-05 15:48] vzurauskas commented on #469
@0crat refuse

[2020-06-05 16:07] 0crat commented on #469
@vzurauskas The user @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) resigned from [#469](https://github.com/yegor256/jpeek/issues/469), please stop working. Reason for job resignation: Order was cancelled

[2020-06-05 16:08] 0crat commented on #469
@vzurauskas Job refused in 17 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-05 16:47] 0crat commented on #469
The job [#469](https://github.com/yegor256/jpeek/issues/469) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e21f7625-e582-40b5-9f81-16774ae5734c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-05 17:49] 0crat commented on #473
The job [#473](https://github.com/yegor256/jpeek/issues/473) assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/dc54ec49-2bd5-472e-84b1-8c4cba626a4e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-06-05 18:45] vzurauskas commented on #413
@0crat wait for https://github.com/yegor256/jpeek/pull/479

[2020-06-05 18:57] 0crat commented on #413
@vzurauskas Job `gh:yegor256/jpeek#413` is not assigned, can't get performer

[2020-06-09 10:51] paulodamaso commented on #449
@0crat status

[2020-06-09 11:12] 0crat commented on #449
@paulodamaso This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#449](https://github.com/yegor256/jpeek/issues/449) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Ayegor256%2Fjpeek%23449%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-06-09 11:19] paulodamaso commented on #449
@0crat in

[2020-06-11 12:15] vzurauskas commented on #441
@0crat wait for #441

[2020-06-11 12:18] vzurauskas commented on #449
@0crat status

[2020-06-11 12:19] 0crat commented on #449
@vzurauskas This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#449](https://github.com/yegor256/jpeek/issues/449) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Ayegor256%2Fjpeek%23449%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-06-11 13:24] vzurauskas commented on #473
@0crat wait for https://github.com/yegor256/jpeek/pull/480

[2020-06-11 13:26] vzurauskas commented on #449
@paulodamaso The ticket is still stuck.

[2020-06-15 15:03] 0crat commented on #474
The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#474](https://github.com/yegor256/jpeek/issues/474), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-15 16:55] 0crat commented on #469
The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#469](https://github.com/yegor256/jpeek/issues/469), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-19 07:36] vzurauskas commented on #449
@paulodamaso ping

[2020-06-29 20:38] 0pdd commented on #441
The puzzle `413-b264bb98` has disappeared from the source code, that's why I closed this issue.

[2020-06-29 20:38] #441 closed

[2020-06-29 20:39] 0pdd opened #481 "Calculus.java:39-50: The `node` method in this interface..."
The puzzle `449-96cd40b8` from #449 has to be resolved:

https://github.com/yegor256/jpeek/blob/88f57d08be9907f9c86336cf9bd623a71483a5c6/src/main/java/org/jpeek/calculus/Calculus.java#L39-L50

The puzzle was created by Vytautas Žurauskas on 05-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-06-29 20:39] 0pdd opened #482 "Ccm.java:88-94: Implement NCC calculation with `XmlGraph`..."
The puzzle `449-dd12396b` from #449 has to be resolved:

https://github.com/yegor256/jpeek/blob/88f57d08be9907f9c86336cf9bd623a71483a5c6/src/main/java/org/jpeek/calculus/java/Ccm.java#L88-L94

The puzzle was created by Vytautas Žurauskas on 05-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-06-29 20:39] 0pdd commented on #296
@ilyakharlamov 2 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.

[2020-06-29 20:39] 0pdd commented on #390
@0pdd 2 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor

[2020-06-29 20:39] 0pdd commented on #397
@0pdd 2 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413), [#417](https://github.com/yegor256/jpeek/issues/417), [#440](https://github.com/yegor

[2020-06-29 20:39] 0pdd commented on #408
@0pdd 2 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#473](https://github.com/yegor256/jpeek/issues/473) are still not solved; solved: [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413), [#417](https://github.com/yegor256/jpeek/issues/417), [#440](https://github.com/yegor256/jpeek/issues/440), [#441](https://github.com/yegor

[2020-06-29 20:39] 0pdd commented on #413
@0pdd the puzzle [#473](https://github.com/yegor256/jpeek/issues/473) is still not solved; solved: [#440](https://github.com/yegor256/jpeek/issues/440), [#441](https://github.com/yegor256/jpeek/issues/441), [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444), [#445](https://github.com/yegor256/jpeek/issues/445), [#459](https://github.com/yegor

[2020-06-29 20:39] 0pdd commented on #441
@0pdd the puzzle [#473](https://github.com/yegor256/jpeek/issues/473) is still not solved; solved: [#445](https://github.com/yegor256/jpeek/issues/445), [#472](https://github.com/yegor256/jpeek/issues/472).

[2020-06-29 20:39] 0pdd commented on #445
@0pdd the puzzle [#473](https://github.com/yegor256/jpeek/issues/473) is still not solved; solved: [#472](https://github.com/yegor256/jpeek/issues/472).

[2020-06-29 20:39] 0crat commented on #481
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-06-29 20:39] 0pdd commented on #403
@HDouss the puzzle [#469](https://github.com/yegor256/jpeek/issues/469) is still not solved; solved: [#437](https://github.com/yegor256/jpeek/issues/437), [#470](https://github.com/yegor256/jpeek/issues/470).

[2020-06-29 20:39] 0pdd commented on #437
@0pdd the puzzle [#469](https://github.com/yegor256/jpeek/issues/469) is still not solved; solved: [#470](https://github.com/yegor256/jpeek/issues/470).

[2020-06-29 20:39] 0pdd commented on #449
@victornoel 2 puzzles [#481](https://github.com/yegor256/jpeek/issues/481), [#482](https://github.com/yegor256/jpeek/issues/482) are still not solved.

[2020-06-29 20:41] 0crat commented on #482
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-06-29 21:03] 0crat commented on #441
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @vzurauskas[/z](https://www.0crat.com/u/vzurauskas), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-29 21:48] 0crat commented on #481
The job [#481](https://github.com/yegor256/jpeek/issues/481) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9264a90f-0180-4681-ab62-07b79fb58bbc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-29 22:47] 0crat commented on #482
The job [#482](https://github.com/yegor256/jpeek/issues/482) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3f454d6f-fe78-4dcd-9790-715d4351e8a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-30 04:49] sereshqua commented on #441
@0crat quality good

[2020-06-30 05:01] 0crat commented on #441
@sereshqua The project doesn't have enough funds, can't make a payment

[2020-06-30 05:03] 0crat commented on #441
@sereshqua The project doesn't have enough funds, can't make a payment

[2020-06-30 15:25] dgarus commented on #482
@0crat refuse

[2020-06-30 15:27] dgarus commented on #481
@0crat refuse

[2020-06-30 15:27] 0crat commented on #482
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#482](https://github.com/yegor256/jpeek/issues/482), please stop working. Reason for job resignation: Order was cancelled

[2020-06-30 15:28] 0crat commented on #482
@dgarus Job refused in 16 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-30 15:28] 0crat commented on #481
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#481](https://github.com/yegor256/jpeek/issues/481), please stop working. Reason for job resignation: Order was cancelled

[2020-06-30 15:29] 0crat commented on #481
@dgarus Job refused in 17 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-07 15:04] Mathias83 opened #483 "LCOM4 returns values less than 1?"
Hello, everyone,
when evaluating one of my projects using the LCOM4 metric I come across values that are implausible for me.
Basically LCOM4 should be at least 1, because here the connected components are calculated in the graph. But I usually get values smaller than 1. Even with files where I assume that they have more than one component.

Did I misunderstand the metrics or is there really a mist

[2020-07-07 15:04] 0crat commented on #483
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-07-11 16:34] vzurauskas commented on #449
@paulodamaso ping

[2020-07-26 19:44] paulodamaso commented on #483
@0crat in

[2020-07-26 19:45] paulodamaso commented on #449
@0crat quality good

[2020-07-26 19:57] 0crat commented on #449
@paulodamaso There is no quality review for [#449](https://github.com/yegor256/jpeek/issues/449), no performer

[2020-07-26 20:00] #473 closed

[2020-07-26 20:00] 0pdd commented on #473
The puzzle `445-1cfd81f6` has disappeared from the source code, that's why I closed this issue.

[2020-07-26 20:00] 0pdd opened #484 "XmlGraph.java:38-41: Find a way to eliminate this..."
The puzzle `473-a79b4155` from #473 has to be resolved:

https://github.com/yegor256/jpeek/blob/847ef28d13ee6885941981cf564efb9bb124ed2c/src/main/java/org/jpeek/graph/XmlGraph.java#L38-L41

The puzzle was created by Vytautas Žurauskas on 11-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-07-26 20:01] 0pdd commented on #296
@ilyakharlamov 2 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#484](https://github.com/yegor256/jpeek/issues/484) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.

[2020-07-26 20:01] 0pdd commented on #390
@0pdd 2 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#484](https://github.com/yegor256/jpeek/issues/484) are still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397), [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor

[2020-07-26 20:01] 0pdd commented on #397
@0pdd 2 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#484](https://github.com/yegor256/jpeek/issues/484) are still not solved; solved: [#408](https://github.com/yegor256/jpeek/issues/408), [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413), [#417](https://github.com/yegor256/jpeek/issues/417), [#440](https://github.com/yegor

[2020-07-26 20:01] 0pdd commented on #408
@0pdd 2 puzzles [#416](https://github.com/yegor256/jpeek/issues/416), [#484](https://github.com/yegor256/jpeek/issues/484) are still not solved; solved: [#412](https://github.com/yegor256/jpeek/issues/412), [#413](https://github.com/yegor256/jpeek/issues/413), [#417](https://github.com/yegor256/jpeek/issues/417), [#440](https://github.com/yegor256/jpeek/issues/440), [#441](https://github.com/yegor

[2020-07-26 20:01] 0pdd commented on #413
@0pdd the puzzle [#484](https://github.com/yegor256/jpeek/issues/484) is still not solved; solved: [#440](https://github.com/yegor256/jpeek/issues/440), [#441](https://github.com/yegor256/jpeek/issues/441), [#443](https://github.com/yegor256/jpeek/issues/443), [#444](https://github.com/yegor256/jpeek/issues/444), [#445](https://github.com/yegor256/jpeek/issues/445), [#459](https://github.com/yegor

[2020-07-26 20:01] 0pdd commented on #441
@0pdd the puzzle [#484](https://github.com/yegor256/jpeek/issues/484) is still not solved; solved: [#445](https://github.com/yegor256/jpeek/issues/445), [#472](https://github.com/yegor256/jpeek/issues/472), [#473](https://github.com/yegor256/jpeek/issues/473).

[2020-07-26 20:01] 0pdd commented on #445
@0pdd the puzzle [#484](https://github.com/yegor256/jpeek/issues/484) is still not solved; solved: [#472](https://github.com/yegor256/jpeek/issues/472), [#473](https://github.com/yegor256/jpeek/issues/473).

[2020-07-26 20:01] 0pdd commented on #473
@0pdd the puzzle [#484](https://github.com/yegor256/jpeek/issues/484) is still not solved.

[2020-07-26 20:22] 0crat commented on #473
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [9d83c85f-65a7-4729-97f3-53220896f51d](https://www.0crat.com/footprint/C7JGJ00DP/9d83c85f-65a7-4729-97f3-53220896f51d), Type: "Pay cash"

[2020-07-26 20:23] 0crat commented on #473
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [1195bef0-0da3-457d-a9a7-c6a50a7e5b68](https://www.0crat.com/footprint/C7JGJ00DP/1195bef0-0da3-457d-a9a7-c6a50a7e5b68), Type: "Pay cash"

[2020-07-26 20:23] 0crat commented on #473
The project doesn't have enough funds, can't make a payment

[2020-07-26 20:23] 0crat commented on #473
The project doesn't have enough funds, can't make a payment

[2020-08-01 19:10] vzurauskas commented on #481
@0crat wait for https://github.com/yegor256/jpeek/pull/485

[2020-08-02 08:53] vzurauskas commented on #481
@0crat status

[2020-08-02 11:08] 0crat commented on #481
@vzurauskas This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#481](https://github.com/yegor256/jpeek/issues/481) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is assigned to @vzurauskas[/z](https://www.0crat.com/u/vzurauskas) for [6days](http://www.zerocracy.com/policy.html#8)

[2020-08-18 13:26] lyriccoder commented on #483
LCOM value must be an integer. Why does it have `float` value. Do u divide value by anything? I wanted to create an issue, but I see that @Mathias83 has the same problem.

Moreover, I see a negative value. How is it possible?

Here is the project I checked:

Could you please fix it?

[2020-09-03 20:13] fabriciofx opened #486 "Move to github actions"
Let's replace travis with github actions, once this is done, we can continue with also running tests on windows.

See also llorllale/cactoos-matchers#83 for some similar issue.

[2021-01-13 18:30] iMaks99 opened #493 "Wrong SCOM metric"
According to paper by [Fernandez, 06] SCOM:

But jpeek generates result more than 1. In realisation I noticed that calculating of **connection intensity** is it wrong. In jpeek this value is calculating by _total number of attributes of the class_ (which is evaluation of Class Cohesion (CC) suggested by [Perk, 98]) instead of dividing by _the minimum of their cardinalities_

[2021-01-17 11:31] victorgveloso commented on #468
Since it has been awhile this issue remain unanswered, I can try helping you @RoRoche with the following advice: use https://github.com/yegor256/jpeek-maven-plugin (1: git clone it, 2: `mvn clean install`, 3: add the plugin to your pom.xml project, 4: run `mvn org.jpeek:jpeek-maven-plugin:1.0-SNAPSHOT:analyze`).

I know it's not a solution to the issue, but something you could try. It seems that m

[2021-01-17 11:47] RoRoche commented on #468
Thank you @victorgveloso , I'll give it a try and let you know 😉

[2021-01-27 20:19] paulodamaso commented on #493
@0crat in

[2021-02-05 05:47] 0pdd opened #494 "README.md:48-50: Improve how to use section on README.md..."
The puzzle `452-fc6e85e0` from #452 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/README.md#L48-L50

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _

[2021-02-05 05:47] 0pdd opened #495 "TCC.xsl:42-44: TCC: inclusion of inherited attributes and..."
The puzzle `120-5199fe22` from #120 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/TCC.xsl#L42-L44

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2021-02-05 05:47] 0pdd opened #496 "TCC.xsl:48-49: TCC: this metric needs to exclude private..."
The puzzle `120-7c3cf0d4` from #120 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/TCC.xsl#L48-L49

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2021-02-05 05:48] 0pdd opened #497 "LCOM4.xsl:67-71: LCOM4:..."
The puzzle `216-5540d942` from #216 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/LCOM4.xsl#L67-L71

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2021-02-05 05:48] 0pdd opened #498 "C3.xsl:66-69: Implement the C3 method according to the..."
The puzzle `64-b6d7d67d` from #64 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/C3.xsl#L66-L69

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2021-02-05 05:48] 0pdd opened #499 "TLCOM.xsl:51-53: TLCOM: we are including access to ALL..."
The puzzle `65-657d930a` from #65 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/TLCOM.xsl#L51-L53

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2021-02-05 05:48] 0pdd opened #500 "TLCOM.xsl:79-83: TLCOM: need to establish transitive..."
The puzzle `65-8529ead1` from #65 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/TLCOM.xsl#L79-L83

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2021-02-05 05:48] 0pdd opened #501 "TLCOM.xsl:86-87: TLCOM: add test for..."
The puzzle `65-76f12f4d` from #65 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/TLCOM.xsl#L86-L87

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2021-02-05 05:49] 0pdd opened #502 "LORM.xsl:27-36: LORM: figure out how to extract the..."
The puzzle `111-5690cd5a` from #111 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/LORM.xsl#L27-L36

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2021-02-05 05:49] 0pdd opened #503 "LORM.xsl:74-95: Implement natural language processing..."
The puzzle `112-f7b740c5` from #112 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/LORM.xsl#L74-L95

The puzzle was created by @yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2021-02-05 05:49] 0pdd opened #504 "LCC.xsl:63-69: `indirectly-related-pairs` are pairs of..."
The puzzle `119-5f1c56e0` from #119 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/metrics/LCC.xsl#L63-L69

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fix

[2021-02-05 05:49] 0pdd opened #505 "matrix.xsd:26-28: Matrix.xsd: add `xsd:documentation`..."
The puzzle `134-3180ea38` from #134 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/resources/org/jpeek/xsd/matrix.xsd#L26-L28

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2021-02-05 05:49] 0pdd opened #506 "App.java:138-141: Extract report building Analyze method..."
The puzzle `452-6485f2e2` from #452 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/java/org/jpeek/App.java#L138-L141

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2021-02-05 05:49] 0pdd opened #507 "XslReport.java:174-179: Add a test to check whether..."
The puzzle `227-fbf042c2` from #227 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/java/org/jpeek/XslReport.java#L174-L179

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2021-02-05 05:50] 0pdd opened #508 "XmlClass.java:132-143: Find and include the name of the..."
The puzzle `114-7bfa1f3a` from #114 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/java/org/jpeek/skeleton/XmlClass.java#L132-L143

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2021-02-05 05:50] 0pdd opened #509 "XmlGraph.java:38-41: Find a way to eliminate this..."
The puzzle `473-a79b4155` from #473 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/java/org/jpeek/graph/XmlGraph.java#L38-L41

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2021-02-05 05:50] 0pdd opened #510 "Calculus.java:33-38: We start implementing LCOM4Calculus..."
The puzzle `412-3d565676` from #412 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/java/org/jpeek/calculus/Calculus.java#L33-L38

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2021-02-05 05:50] 0pdd opened #511 "Calculus.java:39-50: The `node` method in this interface..."
The puzzle `449-96cd40b8` from #449 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/java/org/jpeek/calculus/Calculus.java#L39-L50

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2021-02-05 05:50] 0pdd opened #512 "Ccm.java:88-94: Implement NCC calculation with `XmlGraph`..."
The puzzle `449-dd12396b` from #449 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/main/java/org/jpeek/calculus/java/Ccm.java#L88-L94

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2021-02-05 05:50] 0pdd opened #513 "MetricsTest.java:37-40: SCOM has an impediment on issue..."
The puzzle `68-6427b294` from #68 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/test/java/org/jpeek/MetricsTest.java#L37-L40

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2021-02-05 05:51] 0pdd opened #514 "MetricsTest.java:47-51: Add test for LCC with..."
The puzzle `118-aa952a15` from #118 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/test/java/org/jpeek/MetricsTest.java#L47-L51

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2021-02-05 05:51] 0pdd opened #515 "MetricsTest.java:52-61: Skeleton structure has changed in..."
The puzzle `437-43230a3b` from #437 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/test/java/org/jpeek/MetricsTest.java#L52-L61

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2021-02-05 05:51] 0pdd opened #516 "Lcom4Test.java:74-77: LCOM4: Graph algorithm to determine..."
The puzzle `415-1e78bb53` from #415 has to be resolved:

https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/src/test/java/org/jpeek/metrics/Lcom4Test.java#L74-L77

The puzzle was created by yegor256 on 05-Feb-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2021-02-05 05:51] 0pdd commented on #452
@lyriccoder 2 puzzles [#494](https://github.com/cqfn/jpeek/issues/494), [#506](https://github.com/cqfn/jpeek/issues/506) are still not solved.

[2021-02-05 05:51] 0pdd commented on #120
@0pdd 2 puzzles [#495](https://github.com/cqfn/jpeek/issues/495), [#496](https://github.com/cqfn/jpeek/issues/496) are still not solved.

[2021-02-05 05:51] 0pdd commented on #216
@0pdd the puzzle [#497](https://github.com/cqfn/jpeek/issues/497) is still not solved.

[2021-02-05 05:51] 0pdd commented on #64
@yegor256 the puzzle [#498](https://github.com/cqfn/jpeek/issues/498) is still not solved.

[2021-02-05 05:51] 0pdd commented on #65
@yegor256 3 puzzles [#499](https://github.com/cqfn/jpeek/issues/499), [#500](https://github.com/cqfn/jpeek/issues/500), [#501](https://github.com/cqfn/jpeek/issues/501) are still not solved.

[2021-02-05 05:51] 0pdd commented on #111
@0pdd the puzzle [#502](https://github.com/cqfn/jpeek/issues/502) is still not solved.

[2021-02-05 05:51] 0pdd commented on #112
@0pdd the puzzle [#503](https://github.com/cqfn/jpeek/issues/503) is still not solved.

[2021-02-05 05:51] 0pdd commented on #119
@0pdd the puzzle [#504](https://github.com/cqfn/jpeek/issues/504) is still not solved.

[2021-02-05 05:51] 0pdd commented on #134
@skapral the puzzle [#505](https://github.com/cqfn/jpeek/issues/505) is still not solved.

[2021-02-05 05:51] 0pdd commented on #227
@0pdd the puzzle [#507](https://github.com/cqfn/jpeek/issues/507) is still not solved.

[2021-02-05 05:51] 0pdd commented on #114
@llorllale the puzzle [#508](https://github.com/cqfn/jpeek/issues/508) is still not solved.

[2021-02-05 05:51] 0pdd commented on #473
@0pdd the puzzle [#509](https://github.com/cqfn/jpeek/issues/509) is still not solved.

[2021-02-05 05:51] 0pdd commented on #412
@0pdd the puzzle [#510](https://github.com/cqfn/jpeek/issues/510) is still not solved.

[2021-02-05 05:51] 0pdd commented on #449
@victornoel 2 puzzles [#511](https://github.com/cqfn/jpeek/issues/511), [#512](https://github.com/cqfn/jpeek/issues/512) are still not solved.

[2021-02-05 05:51] 0pdd commented on #68
@yegor256 the puzzle [#513](https://github.com/cqfn/jpeek/issues/513) is still not solved.

[2021-02-05 05:51] 0pdd commented on #118
@0pdd the puzzle [#514](https://github.com/cqfn/jpeek/issues/514) is still not solved.

[2021-02-05 05:51] 0pdd commented on #437
@0pdd the puzzle [#515](https://github.com/cqfn/jpeek/issues/515) is still not solved.

[2021-02-05 05:51] 0pdd commented on #415
@0pdd the puzzle [#516](https://github.com/cqfn/jpeek/issues/516) is still not solved.

[2021-02-05 06:03] 0crat commented on #119
@yegor256 Job `gh:cqfn/jpeek#119` is not assigned, can't get performer

[2021-02-05 06:04] 0crat commented on #64
@amihaiemil Job `gh:cqfn/jpeek#64` is not assigned, can't get performer

[2021-02-05 06:07] 0crat commented on #120
@llorllale This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#120](https://github.com/cqfn/jpeek/issues/120) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Acqfn%2Fjpeek%23120%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-02-05 06:07] 0crat commented on #452
@paulodamaso Job [#452](https://github.com/cqfn/jpeek/issues/452) is closed, can't start order

[2021-02-05 06:09] 0crat commented on #134
@yegor256 This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#134](https://github.com/cqfn/jpeek/issues/134) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Acqfn%2Fjpeek%23134%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-02-05 06:10] 0crat commented on #64
@amihaiemil Can't understand "refuse,", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `elect` Trigger election for ticket
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality`

[2021-02-05 06:10] 0crat commented on #111
@ypshenychka You @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) need to have one of these roles in order to do "Complete `QA` review": `ARC`, `QA`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-02-05 06:11] 0crat commented on #227
@paulodamaso There is no quality review for [#227](https://github.com/cqfn/jpeek/issues/227), no performer

[2021-02-05 06:14] 0crat commented on #64
@amihaiemil This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#64](https://github.com/cqfn/jpeek/issues/64) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Acqfn%2Fjpeek%2364%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-02-05 06:14] 0crat commented on #120
@ypshenychka You @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) need to have one of these roles in order to do "Complete `QA` review": `ARC`, `QA`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-02-05 06:14] 0crat commented on #112
@rok-povsic This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#112](https://github.com/cqfn/jpeek/issues/112) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Acqfn%2Fjpeek%23112%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-02-05 06:14] 0crat commented on #65
@ypshenychka You @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) need to have one of these roles in order to do "Complete `QA` review": `ARC`, `QA`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-02-05 06:15] 0crat commented on #64
@amihaiemil Job `gh:cqfn/jpeek#64` is not assigned, can't get performer

[2021-02-05 06:15] 0crat commented on #65
@driver733 Job `gh:cqfn/jpeek#65` is not assigned, can't get performer

[2021-02-05 06:15] 0crat commented on #111
@llorllale Job `gh:cqfn/jpeek#111` is not assigned, can't get performer

[2021-02-05 06:15] 0crat commented on #119
@rexim Job `gh:cqfn/jpeek#119` is not assigned, can't get performer

[2021-02-05 06:16] 0crat commented on #119
@ypshenychka You @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) need to have one of these roles in order to do "Complete `QA` review": `ARC`, `QA`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-02-05 06:18] 0crat commented on #452
@paulodamaso @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#452](https://github.com/cqfn/jpeek/issues/452), see [§21](http://www.zerocracy.com/policy.html#21); @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2021-02-05 06:19] 0crat commented on #65
@janczer Job `gh:cqfn/jpeek#65` is not assigned, can't get performer

[2021-02-05 06:19] 0crat commented on #134
@ypshenychka You @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) need to have one of these roles in order to do "Complete `QA` review": `ARC`, `QA`; I'm sorry to say this, but at the moment you've got no roles in this project

[2021-02-05 06:19] 0crat commented on #65
@janczer Job `gh:cqfn/jpeek#65` is not assigned, can't get performer

[2021-02-05 06:22] 0crat commented on #119
@yegor256 Job `gh:cqfn/jpeek#119` is not assigned, can't get performer

[2021-02-05 06:25] 0crat commented on #227
@Protagores Job `gh:cqfn/jpeek#227` is not assigned, can't get performer

[2021-02-06 01:20] 0crat commented on #452
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#452](https://github.com/cqfn/jpeek/issues/452), since the job is not in scope anymore

[2021-03-09 23:16] baudoliver7 commented on #482
@0crat status

[2021-03-10 01:10] 0crat commented on #482
@dgarus Job `gh:cqfn/jpeek#482` is not assigned, can't get performer

[2021-03-10 01:12] 0crat commented on #482
@baudoliver7 This is what I know about this job in C7JGJ00DP, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#482](https://github.com/cqfn/jpeek/issues/482) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Acqfn%2Fjpeek%23482%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2021-03-10 01:18] baudoliver7 commented on #482
@paulodamaso This ticket is not in scope but still be in my agenda. What's wrong ?

[2021-04-22 21:38] User123363 opened #517 "CCM problem"
The upper bound of the CCM metric is at 0.5 level. In our opinion, this is not due to a low metric value, but to an error in an implementation of the metric, in the formula CCM(C)=NC(C)/(NMP(C) NCC(C))
where NC – the number of connections, NCC – the number of connection components, NMP – the number of maximum possible connections. However, jPeek for the NCC counts the number of related methods, wh

[2021-04-22 21:38] iMaks99 opened #518 "OCC metric realization issue"
OCC implemented in jpeek returns results that do not correspond to theoretical definition in [_A proposal of class cohesion metrics using sizes of cohesive parts_](https://github.com/cqfn/jpeek/blob/18efdffb24f021df355ce7044d22dce8f2c761a1/papers/aman04_OCC_PCC.pdf). In example class, metric returns **0.1667** instead of **1**, because setters in jPeek do not relate to the getResult method.

[code

[2021-04-22 21:45] iMaks99 opened #519 "LCOM4 realization issue"
Referring to _“Class Cohesion Metrics for Software Engineering: A Critical Review” by Habib Izadkhah, Maryam Hooshyar_, that  noted as a resource that they used during development, we can discover that LCOM4 counts number of directly or indirectly connected components. This definition excludes possibility of having negative results, however, jPeek returns a noticeable number of negative results. T

[2021-04-22 22:02] User123363 opened #520 "LCOM3 metric realisation issue"
We found the CodeMR plugin implemented in Intellij Idea, which can also calculate LCOM3 metrics and decided to compare with jpeek results.

Our observations described below were made on the result of analysis of the open-source project CK (https://github.com/mauricioaniche/ck).

Consider the CK class:
`package com.github.mauricioaniche.ck;

import com.github.mauricioaniche.ck.metric.ClassLevelMetr

[2021-04-23 16:11] lokeshmekala opened #521 "How to use JPEEK"
I'm not able to use the tool. I didn't understand by "java -jar jpeek-jar-with-dependencies.jar --sources . --target ./jpeek" what is "sources", "target" here.
When I try to execute the above command I'm getting
"Exception in thread 'main' java.lang.IllegalArgumentException: exactly two arguments are required: source and output directory. I specified the path even though I'm getting same exception

[2021-05-06 13:09] User123363 opened #522 "Problem with CCM metric addition"
The problem with CCM metrics was found in the file "org/jpeek/metrics/CCM.xsl" in line 65 the variable 'ncc' is assigned the number of methods connected by edges, but^ according to the definition NCC is the number of connectivity components in a graph.

Definition of graph component - https://en.wikipedia.org/wiki/Component_(graph_theory)

An example implementation of an algorithm for finding conn

[2021-05-09 18:49] #521 closed

[2021-05-09 19:12] 0crat commented on #521
Job `gh:cqfn/jpeek#521` is not assigned, can't get performer

[2021-05-13 04:12] User123363 opened #523 "Problem with CCM metric addition v2"
To fix the CCM metric, the FindConnectedComponents class was implemented to find the connected components in a graph:

[code]

This class needs to be implemented in jpeek , it needs to input the graph found in the file "[org/jpeek/metrics/CCM.xsl](https://github.com/cqfn/jpeek/blob/master/src/main/resources/org/jpeek/metrics/CCM.xsl)".  As a result of the FindConnectedComponents class we get the n

[2021-05-14 20:41] iMaks99 commented on #523
We tried to realize component connection algorithm in XSL, and got problem with variables reassign for visit checking.

[code]

[2021-05-21 08:41] User123363 opened #524 "Problem with CCM metric addition v3"
To fix the CCM metric it was decided to integrate the FindConnectedComponents Java class into the jpeek project and then call it before constructing the CCM.xsl file [1] and add the result of the call to the ncc variable in the file.  Thus, the problem of xslt algorithm implementation, related to the lack of possibility to redefine variable values and as a consequence the marking of visited nodes,

[2021-05-21 16:39] yegor256 commented on #523
@iMaks99 Let's say you have this XML:

[code]

Then, you need to find combinations of `<a>`, which don't have any contacts with any other `<a>`.

First, you create a function that recursively can turn element `<a>` into a line of its dependencies:

[code]

This code will produce something like this (unsorted!):

[code]

Then, you need to collect all groups in a package, making sure each group is s

[2021-05-23 20:36] iMaks99 commented on #523
@yegor256 we made a transformation of data in skeleton:

`<graph>
	<v name="one">
		<edge>
			<method>one</method>
			<method>two</method>
		</edge>
		<edge>
			<method>one</method>
			<method>four</method>
		</edge>
		<edge>
			<method>two</method>
			<method>one</method>
		</edge>
		<edge>
			<method>four</method>
			<method>one</method>
		</edge>
	</v>
	<v name="two">
		<edge>
			<method>one</m

[2021-05-23 20:44] iMaks99 commented on #523
@yegor256 we made a transformation of data in skeleton:

[code]

and this data is storing as xsl:variable, how can we call templates above?

[2021-05-25 04:11] yegor256 commented on #523
@iMaks99 I'm not sure I understand the question (strongly recommend to use Stackoverflow for such questions), but I would do:

[code]

[2022-01-28 05:12] yegor256 opened #531 "redeploy"
Let's redeploy it

[2022-01-28 05:15] yegor256 commented on #531
@rultor release, tag is `0.30.26`

[2022-01-28 05:33] rultor commented on #531
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25478-1023894697)

[2022-01-28 05:34] rultor commented on #531
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25478-1023894697) (spent 17s)

[code]

[2022-08-05 08:09] yegor256 commented on #531
@rultor release, tag is `0.31.0`

[2022-08-05 08:10] rultor commented on #531
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25478-1206169110)

[2022-08-05 08:11] rultor commented on #531
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25478-1206169110) (spent 13s)

[code]

[2022-08-05 08:13] yegor256 commented on #531
@rultor release, tag is `0.31.0`

[2022-08-05 08:14] rultor commented on #531
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25478-1206172521)

[2022-08-05 08:29] rultor commented on #531
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25478-1206172521) (spent 15min)

[code]

[2022-08-05 08:36] yegor256 commented on #531
@rultor release, tag is `0.31.0`

[2022-08-05 08:37] rultor commented on #531
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25478-1206193740)

[2022-08-05 08:49] rultor commented on #531
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25478-1206193740) (spent 12min)

[code]

[2022-08-05 08:51] yegor256 commented on #531
@rultor release, tag is `0.31.1`

[2022-08-05 08:52] rultor commented on #531
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25478-1206208159)

[2022-08-05 09:10] rultor commented on #531
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25478-1206208159) (took me 17min)

[2022-08-05 09:10] #531 closed

[2022-08-05 09:27] 0crat commented on #531
Job `gh:cqfn/jpeek#531` is not assigned, can't get performer

[2022-08-29 06:53] yegor256 opened #532 "saxon 11"