[2018-02-07 13:28] 0crat commented on #156
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 14:03] 0crat commented on #156
Job [#156](https://github.com/yegor256/jpeek/issues/156) is now in scope, role is `DEV`

[2018-02-07 14:04] 0crat commented on #156
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+495](https://www.0crat.com/u/llorllale)

[2018-02-07 14:23] #132 closed

[2018-02-07 14:24] 0crat commented on #132
Job `gh:yegor256/jpeek#132` is not assigned, can't get start time

[2018-02-07 14:24] amihaiemil commented on #64
@0crat refuse, assign someone else

[2018-02-07 14:24] amihaiemil commented on #8
@0crat refuse, assign someone else

[2018-02-07 14:25] 0crat commented on #8
@amihaiemil Can't understand "refuse,", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of the bot
  - `waiting` Register an impediment for a job

[2018-02-07 14:25] 0crat commented on #64
@amihaiemil Can't understand "refuse,", try one of these:
  - `assign` Assign a performer to this issue
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of the bot
  - `waiting` Register an impediment for a job

[2018-02-07 14:25] amihaiemil commented on #64
@0crat resign

[2018-02-07 14:25] amihaiemil commented on #8
@0crat resign

[2018-02-07 14:26] 0crat commented on #8
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#8](https://github.com/yegor256/jpeek/issues/8), please stop working

[2018-02-07 14:26] 0crat commented on #64
@amihaiemil The user @amihaiemil[/z](https://www.0crat.com/u/amihaiemil) resigned from [#64](https://github.com/yegor256/jpeek/issues/64), please stop working

[2018-02-07 14:26] 0crat commented on #64
@amihaiemil Job `gh:yegor256/jpeek#64` is not assigned, can't get performer

[2018-02-07 14:27] 0crat commented on #8
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+345](https://www.0crat.com/u/amihaiemil)

[2018-02-07 14:27] 0crat commented on #64
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+345](https://www.0crat.com/u/amihaiemil)

[2018-02-07 14:32] llorllale commented on #118
blocked by #119

[2018-02-07 14:34] 0crat commented on #132
Job [#132](https://github.com/yegor256/jpeek/issues/132) was not in scope

[2018-02-07 15:10] llorllale commented on #106
@skapral would this suffice?

[code]

[2018-02-07 15:16] llorllale commented on #118
@yegor256 this puzzle states it depends on another open puzzle (see #119). What can we do here while #119 isn't fixed?

[2018-02-07 15:50] yegor256 commented on #118
@llorllale just put it on hold, see http://datum.zerocracy.com/pages/policy.html#9

[2018-02-07 15:53] llorllale commented on #118
@yegor256 then I'd have to assume the opportunity cost of having it take up one of the slots on my agenda as per http://datum.zerocracy.com/pages/policy.html#3.

Should this job have been put in `scope` before fixing its declared impediments?

[2018-02-07 18:46] 0crat commented on #100
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-07 21:05] rexim opened #158 "JPeek command line from README doesn't work"
Command line: https://github.com/yegor256/jpeek/tree/bcab016ee68717091fd0b8345e78f507cade036c#how-to-use

### Steps to reproduce

- Full build `$ mvn clean install -Pqulice`
- `$ java -jar ./target/jpeek-jar-with-dependencies.jar --sources=src/ --target=./jpeek-target/`

### Observed

Exception:

[code]

### Expected

Analysis process of some kind that leads to generated reports in `jpeek-target`

[2018-02-07 21:05] 0crat commented on #158
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 21:24] 0crat commented on #103
@skapral[/z](https://www.0crat.com/u/skapral) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-08 03:24] 0crat commented on #106
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-08 10:24] yegor256 commented on #158
@rexim fixed in e42c4de thanks!

[2018-02-08 10:24] #158 closed

[2018-02-08 10:26] 0crat commented on #158
Job `gh:yegor256/jpeek#158` is not assigned, can't get start time

[2018-02-08 10:35] 0crat commented on #158
Job [#158](https://github.com/yegor256/jpeek/issues/158) was not in scope

[2018-02-08 11:06] llorllale commented on #106
ping @skapral

[2018-02-08 11:38] yegor256 commented on #118
@llorllale you can reject it. Otherwise, you can try to move forward a bit, via PDD.

[2018-02-08 15:14] llorllale commented on #107
@skapral the "guidelines/precedents" can be found in test class `org.jpeek.MetricsTest`

[2018-02-08 15:33] llorllale commented on #107
@yegor256 in `MetricsTest`, do we always have to make sure each metric is tested against all existing files? Why do all tests for metrics have to be tested in `MetricsTest`?

I find this somewhat encumbering when adding tests for new metrics. I think it would be far easier to separate tests of metrics into their own files, eg. `NhdTest.java`. The sample test classes for each metric should be separ

[2018-02-08 15:51] #112 closed

[2018-02-08 15:51] 0pdd commented on #112
The puzzle `15-c8802e55` has disappeared from the source code, that's why I closed this issue.

[2018-02-08 15:51] 0pdd opened #160 "LORM.xsl:67-88: Implement natural language processing..."
The puzzle `112-f7b740c5` from #112 has to be resolved:

https://github.com/yegor256/jpeek/blob/7d6ae8c676b1b8e4e41f2a873e1c131d458349e3/src/main/resources/org/jpeek/metrics/LORM.xsl#L67-L88

The puzzle was created by Rok Povsic on 08-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-02-08 15:51] 0crat commented on #160
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-08 15:58] 0crat commented on #160
Job [#160](https://github.com/yegor256/jpeek/issues/160) is now in scope, role is `DEV`

[2018-02-08 15:59] 0crat commented on #112
Order was successfully finished: +30 points just awarded to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic), total is [+30](https://www.0crat.com/u/rok-povsic)

[2018-02-08 16:02] 0crat commented on #112
The job [#112](https://github.com/yegor256/jpeek/issues/112) is now out of scope

[2018-02-08 16:05] 0crat commented on #16
The user @skapral[/z](https://www.0crat.com/u/skapral) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working

[2018-02-08 17:59] skapral commented on #106
@llorllale no objections

[2018-02-08 18:09] 0crat commented on #8
The job [#8](https://github.com/yegor256/jpeek/issues/8) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/0

[2018-02-08 19:26] skapral commented on #107
@llorllale You are right, and it's enough right now for me. I am ok with closing this issue, once all open questions asked here are solved or outlined separately. @yegor256?

[2018-02-08 19:38] skapral opened #162 "README.md misses information on how to deploy jpeek as a web application"
Taking into account the issues like #57, it seems that the current documentation of JPeek misses any information on how to use it as a web service. This issue is proposal to fit this gap.

README.md should describe a way to deploy JPeek locally or as a user-controlled heroku application, including all prerequisites for it (dynamodb key/secret? sentry?) explicitly.

[2018-02-08 19:39] 0crat commented on #162
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-08 21:17] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015

[2018-02-09 07:54] rok-povsic commented on #117
@0pdd Waiting

Until #120 is done, this task cannot be completed.

[2018-02-09 08:01] rok-povsic commented on #117
@0crat  Waiting until #120 is done, this task cannot be completed right now.

[2018-02-09 08:02] 0crat commented on #117
@rok-povsic The impediment for [#117](https://github.com/yegor256/jpeek/issues/117) was registered successfully by @rok-povsic[/z](https://www.0crat.com/u/rok-povsic)

[2018-02-09 10:59] 0crat commented on #162
The job [#162](https://github.com/yegor256/jpeek/issues/162) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/

[2018-02-09 11:00] 0crat commented on #162
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+180](https://www.0crat.com/u/skapral)

[2018-02-09 11:00] 0crat commented on #162
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9430](https://www.0crat.com/u/yegor256)

[2018-02-09 11:09] yegor256 commented on #107
@skapral I would suggest to close this ticket, since it's not clear what exactly is the problem. Please open a new one (or many), for each specific bug/problem you see.

[2018-02-09 12:43] 0crat commented on #104
Order was successfully finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+525](https://www.0crat.com/u/llorllale)

[2018-02-09 15:23] llorllale opened #164 "The way the metric tests are set up is broken: slows down development of the project as a whole"
**Problem**
We're currently adding all tests for all metrics inside the same test fixture in `MetricsTest`. This can unnecessarily create coupling between tests which then turns into impediments.

Example 1:
The [job](https://github.com/yegor256/jpeek/issues/93) asking for implementation of NHD. The [decision](https://github.com/yegor256/jpeek/issues/102) was made to use a certain value that happe

[2018-02-09 15:23] 0crat commented on #164
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-09 15:23] 0crat commented on #67
The job [#67](https://github.com/yegor256/jpeek/issues/67) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/401523081). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-09 15:37] llorllale commented on #118
@0crat refuse

[2018-02-09 15:37] 0crat commented on #118
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#118](https://github.com/yegor256/jpeek/issues/118), please stop working

[2018-02-09 15:38] 0crat commented on #118
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+510](https://www.0crat.com/u/llorllale)

[2018-02-09 15:45] llorllale commented on #67
I've just requested the full text of the paper and put "jpeek (https://github.com/yegor256/jpeek)" as my "institution or company" as per their form.

[2018-02-09 15:45] llorllale commented on #67
@0crat waiting

[2018-02-09 15:46] 0crat commented on #67
@llorllale The impediment for [#67](https://github.com/yegor256/jpeek/issues/67) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-02-09 20:14] 0crat commented on #90
The job [#90](https://github.com/yegor256/jpeek/issues/90) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/402013523). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-09 23:14] rok-povsic opened #165 "README.md missing static code analysis cmd & link leading to non-existing URL"
Two issues with README.md

1) It does not say how to statically check the code. Add the `mvn clean install -Pqulice` instruction.

2) The link in [How to contribute](https://github.com/yegor256/jpeek#how-to-contribute) returns 404.

[2018-02-09 23:14] 0crat commented on #165
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-10 09:26] amihaiemil commented on #100
@0crat waiting

[2018-02-10 09:27] 0crat commented on #100
@amihaiemil The impediment for [#100](https://github.com/yegor256/jpeek/issues/100) was registered successfully by @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-02-10 13:13] llorllale commented on #67
@yegor256 isn't PCC = "Pesimistic Class Cohesion", defined in the `aman04.pdf` paper on page 5?

[2018-02-10 13:34] 0crat commented on #57
@skapral[/z](https://www.0crat.com/u/skapral) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-10 20:06] 0crat commented on #104
The job [#104](https://github.com/yegor256/jpeek/issues/104) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/412005529). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#

[2018-02-10 21:23] 0crat commented on #103
@skapral[/z](https://www.0crat.com/u/skapral) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-11 00:31] skapral commented on #107
Ok. @llorllale, please create an issue for this part if your question is still actual:

[2018-02-11 00:31] #107 closed

[2018-02-11 00:31] 0crat commented on #107
Job `gh:yegor256/jpeek#107` is not assigned, can't get start time

[2018-02-11 00:41] 0crat commented on #107
Job [#107](https://github.com/yegor256/jpeek/issues/107) was not in scope

[2018-02-11 02:14] 0crat commented on #114
@rok-povsic[/z](https://www.0crat.com/u/rok-povsic) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-11 03:44] 0crat commented on #106
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-11 07:09] 0pdd opened #166 "App.java:127-131: The skeleton for each Report is..."
The puzzle `100-e0c9e789` from #100 has to be resolved:

https://github.com/yegor256/jpeek/blob/558a63f04849f953fae8ebe5e1e76fc367d7e148/src/main/java/org/jpeek/App.java#L127-L131

The puzzle was created by Mihai Andronache on 10-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-02-11 07:09] 0crat commented on #166
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 07:10] 0crat commented on #166
Job [#166](https://github.com/yegor256/jpeek/issues/166) is now in scope, role is `DEV`

[2018-02-11 07:12] 0crat commented on #166
The job [#166](https://github.com/yegor256/jpeek/issues/166) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/420711897). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-11 07:13] 0crat commented on #166
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9635](https://www.0crat.com/u/yegor256)

[2018-02-11 07:44] amihaiemil commented on #100
@llorllale can you close this now? :)

[2018-02-11 08:01] 0pdd commented on #166
The puzzle `100-e0c9e789` has disappeared from the source code, that's why I closed this issue.

[2018-02-11 08:01] #166 closed

[2018-02-11 08:02] 0crat commented on #166
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

cc @yegor256

[2018-02-11 08:02] 0crat commented on #166
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9665](https://www.0crat.com/u/yegor256)

[2018-02-11 08:12] 0crat commented on #166
The job [#166](https://github.com/yegor256/jpeek/issues/166) is now out of scope

[2018-02-11 08:41] yegor256 commented on #165
@rok-povsic fixed in 7047e58 thanks

[2018-02-11 08:41] #165 closed

[2018-02-11 08:41] 0crat commented on #165
Job `gh:yegor256/jpeek#165` is not assigned, can't get start time

[2018-02-11 08:51] 0crat commented on #165
Job [#165](https://github.com/yegor256/jpeek/issues/165) was not in scope

[2018-02-11 14:43] llorllale commented on #100
hey @amihaiemil
I see the XSL chain solution merged (which looks very nice by the way).

But is the problem reported in this ticket actually solved? Are primitives and their autoboxed counterparts being merged into one or the other type in some XSL?

[2018-02-11 15:01] amihaiemil commented on #100
@llorllale no, with everything (initial inspection, discussion with you and the architect, implementing the first solution and then changing to this XlsChain at code review), the 30min were far exceeded. I left a todo for continuing implementation. Now we just need the stylesheets, the code architecture is in place :)

[2018-02-11 15:03] amihaiemil commented on #100
@llorllale the ticket 116 is the next task here. 0pdd closed it but it is a mistake, i think, it should be open.

[2018-02-11 15:05] amihaiemil commented on #100
@llorllale or maybe Yegor did some implementation for 116 and that is why it is closed (I see some commits referenced). Nevertheless, that is the next from here, I think this one can be closed :)

[2018-02-11 15:13] yegor256 commented on #166
@rultor release, tag is `0.25`

[2018-02-11 15:15] rultor commented on #166
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13851-364758723)

[2018-02-11 15:24] llorllale commented on #100
@amihaiemil @yegor256 correct me if I'm wrong but the commit that closed #166 did not solve this ticket

[2018-02-11 15:27] llorllale commented on #106
@0crat waiting

[2018-02-11 15:27] 0crat commented on #106
@llorllale The impediment for [#106](https://github.com/yegor256/jpeek/issues/106) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-02-11 15:30] llorllale commented on #164
@yegor256 WDYT?

[2018-02-11 15:30] rultor commented on #166
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13851-364758723) (took me 15min)

[2018-02-11 15:53] amihaiemil commented on #100
@llorllale this ticket was solved, from my point of view. We discussed and implemented code in such a way that the next steps (implementing stylesheets to extend the skeleton) are easily done in future tickets. And #166 is the ticket where implementation should continue -- whether it was closed by mistake or not should be discussed and solved there and this ticket should be closed.

[2018-02-11 16:04] llorllale opened #167 "Treat primitives and their autoboxed types as one and the same"
This is basically a copy of #100

That issue left a puzzle (#166) that was accidentally closed while not resolving the issue. See the comments on #100 for further context.

[2018-02-11 16:04] 0crat commented on #167
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 16:04] llorllale commented on #100
@amihaiemil alright, I opened #167 for this exact issue again :)

Thank you

[2018-02-11 16:04] #100 closed

[2018-02-11 16:06] 0crat commented on #100
Order was successfully finished: +30 points just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), total is [+480](https://www.0crat.com/u/amihaiemil)

[2018-02-11 16:15] 0crat commented on #100
The job [#100](https://github.com/yegor256/jpeek/issues/100) is now out of scope

[2018-02-11 16:21] amihaiemil commented on #167
@llorllale no, this is not how it works :) You opened ticket #100 initially and something was done that moved the project further in the direction that the ticket pointed to. Now you shouldn't care anymore -- everyone was paid in that ticker, the project moved forward, end of story.

The issue is that, the puzzle that was left to continue implementation was closed by mistake. You also should not c

[2018-02-11 16:22] amihaiemil commented on #167
@llorllale This being said, I personally think you can close this. But let's see what Yegor says.

[2018-02-11 16:25] llorllale commented on #167
@amihaiemil I guess the crux of your argument is:

I get that. But I also think we shouldn't stop tracking the original bug/requirement. That's what this ticket is here for.

@yegor256 you decide

[2018-02-11 16:37] skapral commented on #57
@0crat waiting https://github.com/jcabi/jcabi-xml/issues/143

[2018-02-11 16:37] 0crat commented on #57
@skapral The impediment for [#57](https://github.com/yegor256/jpeek/issues/57) was registered successfully by @skapral[/z](https://www.0crat.com/u/skapral)

[2018-02-11 16:41] amihaiemil commented on #167
@llorllale

Yes, it should move towards that, I specified in that puzzle that we should start with the XSL that would fix ticket 100. And it is not your job to verify if the assignee of that puzzle implements that XSL, it is the job of the CR and ARCH which will review the Pull Request. If the assinee implements other XSL than the one from 100, they should complain.

[2018-02-11 16:43] llorllale commented on #167
@amihaiemil ok, got it

thanks

[2018-02-11 16:43] #167 closed

[2018-02-11 16:44] 0crat commented on #167
Job `gh:yegor256/jpeek#167` is not assigned, can't get start time

[2018-02-11 16:54] 0crat commented on #167
Job [#167](https://github.com/yegor256/jpeek/issues/167) was not in scope

[2018-02-11 17:33] llorllale commented on #164
Someone in another issue explained a few of the guiding principles of this project's management to me and I've now come to realize that most of the problems described in this issue is beyond the scope of my role in this project, so I'm closing this.

[2018-02-11 17:33] #164 closed

[2018-02-11 17:34] 0crat commented on #164
Job `gh:yegor256/jpeek#164` is not assigned, can't get start time

[2018-02-11 17:40] llorllale opened #169 "MetricsTest is broken: updates frequently force me to resolve conflicts on PRs I've already delivered"
**Problem**
We're currently adding all tests for all metrics inside the same test fixture in MetricsTest. This  tends to create conflicts when merging PRs, forcing me to do additional work on my PRs every time some other PR gets merged which modifies this file, especially the test parameters.

**Proposal**
Let's separate tests for each metric. Each metric can have its own test class (eg. `NhdTest`

[2018-02-11 17:40] 0crat commented on #169
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-11 17:44] 0crat commented on #164
Job [#164](https://github.com/yegor256/jpeek/issues/164) was not in scope

[2018-02-11 17:44] llorllale commented on #67
@yegor256 please confirm the above

[2018-02-12 12:10] yegor256 commented on #164
@llorllale you can submit bugs no matter what is your role. This ticket was a good one, but I would not accept it anyway, since I think our current configuration of tests is good enough. But, again, don't hesitate to submit bugs -- you have nothing to lose. If they are accepted, you earn. If they are not, you just move on.

[2018-02-12 12:11] yegor256 commented on #104
@0crat status

[2018-02-12 12:11] 0crat commented on #104
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#104](https://github.com/yegor256/jpeek/issues/104) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 20days
  * The role is `DEV`
  * The job is assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey) for [2days](http://datum.zerocracy.com/pages/poli

[2018-02-12 12:28] yegor256 commented on #104
@0crat hey

[2018-02-12 12:29] 0crat commented on #104
@yegor256 Hey, what's up, how is it going?

[2018-02-12 12:45] yegor256 commented on #104
@0crat refuse

[2018-02-12 12:46] yegor256 commented on #104
@0crat out

[2018-02-12 12:47] 0crat commented on #104
@yegor256 The user @nikialeksey[/z](https://www.0crat.com/u/nikialeksey) resigned from [#104](https://github.com/yegor256/jpeek/issues/104), please stop working

[2018-02-12 12:47] 0crat commented on #104
@yegor256 The job [#104](https://github.com/yegor256/jpeek/issues/104) is now out of scope

[2018-02-12 12:53] yegor256 commented on #100
@llorllale @amihaiemil I fixed the puzzle in #166 and removed it from the source code. Now we have XSL layers. We have just two of them: for removal of ctors and remove of static methods. If you need more, feel free to report bugs/tickets.

[2018-02-12 12:54] yegor256 commented on #67
@llorllale yes, it is.

[2018-02-12 14:23] yegor256 commented on #169
@llorllale how will this separation of tests help in resolving merge conflicts? You will still have conflicts between your branches and the changes introduces by other developers... I feel that we will only have a lot of code duplication if go that way. Don't you think?

[2018-02-12 15:16] llorllale opened #170 "Build is broken: pdd failing when parsing PDFs"
See rultor's log [here](http://www.rultor.com/t/13816-364922513) for PR #153.

The error is:

31mERROR0m: papers/henderson96.pdf; puzzle at line #2; invalid byte sequence in UTF-8. If you can't understand the cause of this issue or you don't know how to fix it, please submit a GitHub issue, we will try to help you: https://github.com/yegor256/pdd/issues. This tool is still in its beta version and

[2018-02-12 15:16] 0crat commented on #170
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 15:16] llorllale commented on #106
blocked by #170

[2018-02-12 15:25] yegor256 commented on #170
@llorllale fixed in a9913a1

[2018-02-12 15:25] #170 closed

[2018-02-12 15:26] 0crat commented on #170
The job [#170](https://github.com/yegor256/jpeek/issues/170) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/431526395). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-12 15:27] 0crat commented on #170
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+525](https://www.0crat.com/u/llorllale)

[2018-02-12 15:27] 0crat commented on #170
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9690](https://www.0crat.com/u/yegor256)

[2018-02-12 15:28] 0crat commented on #170
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

cc @yegor256

[2018-02-12 15:28] 0crat commented on #170
Order was successfully finished: +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9720](https://www.0crat.com/u/yegor256)

[2018-02-12 15:29] llorllale commented on #169
@yegor256

I keep having to constantly go back and solve conflicts in method `MetricsTest.targets()`, which as of this moment has 50 lines.

Extract a class from `MetricsTest.testsTarget()`. Perhaps something that would look like

[code]

[2018-02-12 15:34] yegor256 commented on #169
@llorllale let's keep it on hold for a while. I don't think this list of lines will be changed frequently, since most of the metrics are stable now.

[2018-02-12 15:36] 0crat commented on #170
The job [#170](https://github.com/yegor256/jpeek/issues/170) is now out of scope

[2018-02-12 16:09] nikialeksey opened #171 "Ignore bridge methods"
Let's try to calc LCOM2 on [`Reports.java`](https://github.com/yegor256/jpeek/blob/master/src/main/java/org/jpeek/web/Reports.java):
[code]
But in class `Reports` only one method: [`apply`](https://github.com/yegor256/jpeek/blob/master/src/main/java/org/jpeek/web/Reports.java#L83-L158).

Let's see the `skeleton.xml`:
[code]

There is [bridge method](https://stackoverflow.com/questions/5007357/java

[2018-02-12 16:09] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 16:19] 0crat commented on #171
Job [#171](https://github.com/yegor256/jpeek/issues/171) is now in scope, role is `DEV`

[2018-02-12 16:20] 0crat commented on #171
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), total is [+90](https://www.0crat.com/u/nikialeksey)

[2018-02-12 19:04] llorllale opened #172 "Build is broken: xcop failing on TCC.xsl"
See travis log [here](https://travis-ci.org/yegor256/jpeek/builds/340537562?utm_source=github_status&utm_medium=notification)

[2018-02-12 19:04] 0crat commented on #172
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 19:10] llorllale commented on #90
Currently blocked by #172

[2018-02-12 19:10] llorllale commented on #90
@0crat waiting

[2018-02-12 19:10] 0crat commented on #90
@llorllale The impediment for [#90](https://github.com/yegor256/jpeek/issues/90) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-02-12 19:12] llorllale commented on #106
blocked by #172

[2018-02-12 19:15] llorllale commented on #67
@yegor256 great, I'll work with that then

[2018-02-12 21:14] 0crat commented on #103
The user @skapral[/z](https://www.0crat.com/u/skapral) resigned from [#103](https://github.com/yegor256/jpeek/issues/103), please stop working

[2018-02-12 21:36] yegor256 commented on #172
@llorllale fixed, thanks: 7033094

[2018-02-12 21:36] #172 closed

[2018-02-12 21:37] 0crat commented on #172
Job `gh:yegor256/jpeek#172` is not assigned, can't get start time

[2018-02-12 21:39] yegor256 opened #174 "list of metrics must be configurable from the command line"
It's impossible to configure the list of them. Let's implement it via `--metrics=LCOM5,OCC` param

[2018-02-12 21:47] 0crat commented on #172
Job [#172](https://github.com/yegor256/jpeek/issues/172) was not in scope

[2018-02-12 21:48] #64 closed

[2018-02-12 21:49] 0pdd opened #175 "C3.xsl:66-69: Implement the C3 method according to the..."
The puzzle `64-b6d7d67d` from #64 has to be resolved:

https://github.com/yegor256/jpeek/blob/fff617e149ebf51fcea6acc66b93745dcdb08dca/src/main/resources/org/jpeek/metrics/C3.xsl#L66-L69

The puzzle was created by Rok Povsic on 09-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-02-12 21:49] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 21:50] 0crat commented on #175
Job [#175](https://github.com/yegor256/jpeek/issues/175) is now in scope, role is `DEV`

[2018-02-12 21:51] 0crat commented on #64
Order was successfully finished: +30 points just awarded to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic), total is [+60](https://www.0crat.com/u/rok-povsic)

[2018-02-12 21:59] 0crat commented on #64
The job [#64](https://github.com/yegor256/jpeek/issues/64) is now out of scope

[2018-02-12 22:03] 0pdd opened #176 "MetricsTest.java:73-76: Adding a new 'op' for calls to..."
The puzzle `106-8e3f4f01` from #106 has to be resolved:

https://github.com/yegor256/jpeek/blob/34aa4252d8456825d778681ae1a8a168d8b8f457/src/test/java/org/jpeek/MetricsTest.java#L73-L76

The puzzle was created by George Aristy on 09-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is f

[2018-02-12 22:03] 0crat commented on #176
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 22:04] 0crat commented on #176
Job [#176](https://github.com/yegor256/jpeek/issues/176) is now in scope, role is `DEV`

[2018-02-12 22:44] llorllale commented on #106
@yegor256 fixed in #153. Can we close this?

[2018-02-12 22:48] llorllale commented on #106
Sorry, @skrapal this was fixed in #153. Can we close this?

[2018-02-12 22:51] #174 closed

[2018-02-12 22:52] yegor256 opened #177 "Skeleton must be multi-threaded"
Let's run it in parallel threads.

[2018-02-12 22:52] 0crat commented on #174
Job `gh:yegor256/jpeek#174` is not assigned, can't get start time

[2018-02-12 23:02] 0crat commented on #174
Job [#174](https://github.com/yegor256/jpeek/issues/174) was not in scope

[2018-02-12 23:20] #177 closed

[2018-02-12 23:20] yegor256 opened #178 "CAMC"
Let's implement it in XSL

[2018-02-12 23:20] 0crat commented on #177
Job `gh:yegor256/jpeek#177` is not assigned, can't get start time

[2018-02-12 23:30] 0crat commented on #177
Job [#177](https://github.com/yegor256/jpeek/issues/177) was not in scope

[2018-02-13 02:14] 0crat commented on #103
The job [#103](https://github.com/yegor256/jpeek/issues/103) assigned to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/440213740). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9)

[2018-02-13 05:41] #178 closed

[2018-02-13 05:41] yegor256 commented on #178
@rultor release, tag is `0.26`

[2018-02-13 05:41] 0crat commented on #178
Job `gh:yegor256/jpeek#178` is not assigned, can't get start time

[2018-02-13 05:41] rultor commented on #178
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13859-365157203)

[2018-02-13 05:51] 0crat commented on #178
Job [#178](https://github.com/yegor256/jpeek/issues/178) was not in scope

[2018-02-13 05:57] rultor commented on #178
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13859-365157203) (took me 15min)

[2018-02-13 09:24] 0crat commented on #118
The job [#118](https://github.com/yegor256/jpeek/issues/118) assigned to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/440924558). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#

[2018-02-13 12:48] rok-povsic commented on #103
@yegor256 Please check if I should really have been assigned this issue, see [here](https://github.com/yegor256/jpeek/pull/161#issuecomment-365247245).

[2018-02-13 12:58] llorllale commented on #106
ping @skapral

[2018-02-13 13:15] llorllale commented on #67
@0crat waiting on reviewer, see [this](https://github.com/yegor256/jpeek/pull/168#issuecomment-365260683)

[2018-02-13 13:15] 0crat commented on #67
@llorllale Job [#67](https://github.com/yegor256/jpeek/issues/67) is already on hold

[2018-02-13 13:25] skapral commented on #106
@llorllale ok, let's close.

[2018-02-13 13:25] #106 closed

[2018-02-13 13:27] 0crat commented on #106
Order was successfully finished: +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+555](https://www.0crat.com/u/llorllale)

[2018-02-13 13:36] 0crat commented on #106
The job [#106](https://github.com/yegor256/jpeek/issues/106) is now out of scope

[2018-02-13 18:14] 0crat commented on #8
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-13 18:14] 0crat commented on #119
The job [#119](https://github.com/yegor256/jpeek/issues/119) assigned to @rexim[/z](https://www.0crat.com/u/rexim), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/441813874). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the t

[2018-02-14 01:53] 0crat commented on #114
@rok-povsic[/z](https://www.0crat.com/u/rok-povsic) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-14 03:14] 0crat commented on #120
The job [#120](https://github.com/yegor256/jpeek/issues/120) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/450314418). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-14 08:53] 0crat commented on #111
The job [#111](https://github.com/yegor256/jpeek/issues/111) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/450853032). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-14 11:05] 0crat commented on #162
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-14 12:24] yegor256 commented on #103
@0crat refuse

[2018-02-14 12:24] 0crat commented on #103
@yegor256 The user @rok-povsic[/z](https://www.0crat.com/u/rok-povsic) resigned from [#103](https://github.com/yegor256/jpeek/issues/103), please stop working

[2018-02-14 12:35] 0pdd opened #180 "Skeleton.java:270-281: Find and include the name of the..."
The puzzle `114-7bfa1f3a` from #114 has to be resolved:

https://github.com/yegor256/jpeek/blob/119e6ba9b97919794eb9820445c0214e1ec3b73d/src/main/java/org/jpeek/Skeleton.java#L270-L281

The puzzle was created by Rok Povsic on 13-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-14 12:35] 0crat commented on #180
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 12:36] 0crat commented on #180
Job [#180](https://github.com/yegor256/jpeek/issues/180) is now in scope, role is `DEV`

[2018-02-14 12:50] 0pdd opened #181 "MetricsTest.java:63-69: NaN-based assertions introduced..."
The puzzle `103-11fe8626` from #103 has to be resolved:

https://github.com/yegor256/jpeek/blob/82887588d50eafffe1f2a2c759ff37ca35086562/src/test/java/org/jpeek/MetricsTest.java#L63-L69

The puzzle was created by Kapralov Sergey on 08-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-02-14 12:50] 0crat commented on #181
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-14 12:51] 0crat commented on #181
Job [#181](https://github.com/yegor256/jpeek/issues/181) is now in scope, role is `DEV`

[2018-02-14 12:52] yegor256 commented on #103
@0crat assign @skapral

[2018-02-14 12:53] yegor256 commented on #103
@skapral you technically lost your time here. I'm reassigning you back just as an exception. Please, keep in mind that 10 days means 10 days. The robot has no mercy)

[2018-02-14 12:53] 0crat commented on #103
@yegor256 The job [#103](https://github.com/yegor256/jpeek/issues/103) assigned to @skapral[/z](https://www.0crat.com/u/skapral), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/451252162). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.htm

[2018-02-14 12:54] 0crat commented on #103
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9659](https://www.0crat.com/u/yegor256)

[2018-02-14 12:58] rok-povsic commented on #114
@yegor256 Please close the completed issue.

[2018-02-14 13:38] yegor256 commented on #162
@skapral explained in b57f576 Good enough?

[2018-02-14 14:14] llorllale commented on #114
@rok-povsic closed, thank you

[2018-02-14 14:14] #114 closed

[2018-02-14 14:15] rok-povsic commented on #114
@llorllale Thank you. A new issue with the next step has been open [here](https://github.com/yegor256/jpeek/issues/180).

[2018-02-14 14:16] 0crat commented on #114
Order was successfully finished: +30 points just awarded to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic), total is [+90](https://www.0crat.com/u/rok-povsic)

[2018-02-14 14:16] llorllale commented on #114
@rok-povsic yes, I saw, thanks

[2018-02-14 14:25] 0crat commented on #114
The job [#114](https://github.com/yegor256/jpeek/issues/114) is now out of scope

[2018-02-14 14:59] llorllale commented on #111
@rok-povsic hi
Can you give a concrete example for what you wrote in #155?

     definition of `domain` also comes to mind - the programming language being
     used. Concepts could be defined as all reserved Java keywords and "semantic
     processing" recognizes which reserved keywords are used in a particular
     method. Hence, if two methods use same reserved keywords, they have a
     `conce

[2018-02-14 15:55] llorllale commented on #111
Some additional supporting papers:

[Dynamic analysis of Java program concepts for visualization and profiling.pdf](https://github.com/yegor256/jpeek/files/1724654/Dynamic.analysis.of.Java.program.concepts.for.visualization.and.profiling.pdf)
[An Information Retrieval Approach to Concept Location in Source Code.pdf](https://github.com/yegor256/jpeek/files/1724655/An.Information.Retrieval.Approach.

[2018-02-14 16:00] llorllale commented on #111
@yegor256 a question: while working on this puzzle, can I also replace another puzzle?

In this case I feel that in the source code both this puzzle and #160 need to be updated. As you know, updating texts on puzzles will close the existing GitHub issues and create new ones based on the updated text.

[2018-02-14 16:14] llorllale commented on #111
My notes:

* Fix typo in `<title>` for `LORM.xsl`
* The text I quoted [here](https://github.com/yegor256/jpeek/issues/111#issuecomment-365633224) makes no sense. I would remove it.
* The "Dynamic analysis of Java program concepts for visualization and profiling" paper (see [here](https://github.com/yegor256/jpeek/issues/111#issuecomment-365651455)) presents several strategies for identifying conce

[2018-02-14 18:52] amihaiemil opened #183 "Java architecture is really procedural"
The Jaba part of Jpeek is really procedural. Classes like ``Reports`` and ``App`` are filled with ``if`` statements and maps of parameters called ``params``.

I saw the effects of this in 3 PRs so far: https://github.com/yegor256/jpeek/pull/168, https://github.com/yegor256/jpeek/pull/173 and https://github.com/yegor256/jpeek/pull/179

All 3 of them introduced rather ugly code, but it's not their f

[2018-02-14 18:52] 0crat commented on #183
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 00:54] 0crat commented on #124
The job [#124](https://github.com/yegor256/jpeek/issues/124) assigned to @rexim[/z](https://www.0crat.com/u/rexim), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/460054633). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the t

[2018-02-15 05:54] yegor256 opened #185 "logging is absent"
Let's add logging.

[2018-02-15 05:55] 0crat commented on #185
The job [#185](https://github.com/yegor256/jpeek/issues/185) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/460556257). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-15 05:56] 0crat commented on #185
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9819](https://www.0crat.com/u/yegor256)

[2018-02-15 05:56] 0crat commented on #185
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9819](https://www.0crat.com/u/yegor256)

[2018-02-15 05:56] 0crat commented on #185
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+9819](https://www.0crat.com/u/yegor256)

[2018-02-15 08:40] #185 closed

[2018-02-15 08:40] 0crat commented on #185
Job [#185](https://github.com/yegor256/jpeek/issues/185) is already in scope

[2018-02-15 08:41] yegor256 opened #186 "Skeleton XML building is very slow"
When the amount of classes is big (over 200), the `Skeleton` takes minutes to create an XML file. The problem is in the long list of Xembly directives (over 200,000). They contain XPath instructions, which consume a lot of CPU power.

[2018-02-15 08:50] 0crat commented on #185
@yegor256[/z](https://www.0crat.com/u/yegor256) resigned from [#185](https://github.com/yegor256/jpeek/issues/185), since the job is not in scope anymore

[2018-02-15 08:51] 0crat commented on #185
The job [#185](https://github.com/yegor256/jpeek/issues/185) is now out of scope

[2018-02-15 11:43] skapral commented on #103
@yegor256 I know the rules, there is no need for mercy. BTW: once ago I had a proposal on the process just for this case: https://github.com/zerocracy/datum/issues/264.

Anyway - PR is gone to upstream: are there any reason to keep this issue open?

[2018-02-15 12:04] yegor256 commented on #186
@rultor release, tag is `0.26.1`

[2018-02-15 12:04] rultor commented on #186
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13892-365907621)

[2018-02-15 12:10] rultor commented on #186
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13892-365907621) (spent 5min)

[code]

[2018-02-15 12:20] yegor256 commented on #186
@rultor release, tag is `0.26.1`

[2018-02-15 12:37] rultor commented on #186
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13892-365911098) (took me 15min)

[2018-02-15 12:41] yegor256 commented on #103
@skapral ask ticket reporter to close it, if you think it's done

[2018-02-15 12:41] #186 closed

[2018-02-15 12:50] skapral commented on #103
@llorllale? Could you please close the issue?

[2018-02-15 12:52] 0crat commented on #186
The job [#186](https://github.com/yegor256/jpeek/issues/186) is now out of scope

[2018-02-15 13:43] llorllale commented on #103
thank you @skapral

[2018-02-15 13:43] #103 closed

[2018-02-15 13:44] 0crat commented on #103
Job [#103](https://github.com/yegor256/jpeek/issues/103) is already in scope

[2018-02-15 13:54] 0crat commented on #103
@skapral[/z](https://www.0crat.com/u/skapral) resigned from [#103](https://github.com/yegor256/jpeek/issues/103), since the job is not in scope anymore

[2018-02-15 13:54] 0crat commented on #103
The job [#103](https://github.com/yegor256/jpeek/issues/103) is now out of scope

[2018-02-15 14:46] llorllale opened #187 "Skeleton is broken: no way to tell what a class inherits from its parent"
We currently can't tell whether a field or method defined in a superclass and being accessed from a subclass method is actually inherited.

This is relevant for some metrics, eg. `TCC`. On the topic of **Inheritance and Cohesion**, the `TCC` metric says:

[2018-02-15 14:47] 0crat commented on #187
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 15:04] llorllale commented on #120
My own notes:

* They keep using the term "instance variable" but as far as I can see they do not actually differentiate it from class variables
* They deliberately exclude ctors from the analysis because "It will generally access all instance variables in the class, and thus, share instance variables with virtually all other methods. Constructors create connections between methods even if the met

[2018-02-15 15:12] llorllale commented on #120
Based on my notes above I've decided the following:

* TCC does not care about relations between methods via method calls, so the request to do so in the puzzle will be discarded
* Considering the consistent use of the term "instance variable" and their consideration of inheritance, etc., I am going to only consider class attributes that are not static.
* I am going to exclude ctors
* I am going t

[2018-02-15 16:00] llorllale opened #188 "method/@public as xs:boolean does not work when other degrees of visibility are desired"
**What I'm trying to do**
Implement `TCC`, which cares about methods of a class that are visible to other classes. This would include default and `protected` access levels, not just `public`

**What I'm getting**
The skeleton only provides `method/@public` indicating whether it is public or not. For TCC, I would like to know whether the method is private or not.

**My proposal**
In `skeleton` we s

[2018-02-15 16:00] 0crat commented on #188
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-15 16:13] skapral commented on #162
@yegor256 To be honest, I don't know. Probably this would be enough for a person who is experienced in DynamoDB, but for a newbie it is certainly not. And IMO it is not fair to expect Amazon amateur in a sandbox 0crat project, to where any noob is supposed to join in. I am not experienced in DynamoDB so I am not the right guy to comment on this.

As a complete noob in DynamoDB, I tried out the pro

[2018-02-15 16:15] 0crat commented on #125
The job [#125](https://github.com/yegor256/jpeek/issues/125) assigned to @rexim[/z](https://www.0crat.com/u/rexim), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/461614440). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the t

[2018-02-15 17:44] yegor256 commented on #188
@llorllale I didn't understand what you're suggesting to do...

[2018-02-15 17:54] yegor256 commented on #187
@llorllale you are saying that we need some markers for attributes and methods, that will tell us which of them are inherited from a super class. Correct?

[2018-02-15 18:14] llorllale commented on #187
@yegor256 I think we can have either, a) xsd:attribute on class indicating its superclass, or b) xsd:boolean on attributes+methods indicating if they're inherited

Any of those would work I guess.

[2018-02-15 18:21] llorllale commented on #188
@yegor256 sorry, I updated the description

[2018-02-15 18:25] yegor256 commented on #188
@llorllale way better now, thanks!

[2018-02-15 18:34] 0crat commented on #188
Job [#188](https://github.com/yegor256/jpeek/issues/188) is now in scope, role is `DEV`

[2018-02-15 18:35] 0crat commented on #188
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+570](https://www.0crat.com/u/llorllale)

[2018-02-15 19:27] 0crat commented on #134
The job [#134](https://github.com/yegor256/jpeek/issues/134) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/461926470). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-15 19:52] 0crat commented on #135
The job [#135](https://github.com/yegor256/jpeek/issues/135) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/461952118). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-15 20:33] llorllale commented on #135
@yegor256 can I take the liberty to define namespaces for these schemas? I was thinking of using this for metric.xsd: `http://www.jpeek.org/2018/schema/metric`

[2018-02-15 20:42] llorllale commented on #183
I think I'm OK with just naming it `Pom`:

[code]

[2018-02-15 20:49] llorllale commented on #135
My notes:
* [Importing Schemas with No Namespaces](https://docstore.mik.ua/orelly/xml/schema/ch10_09.htm)

[2018-02-15 20:58] 0crat commented on #138
The job [#138](https://github.com/yegor256/jpeek/issues/138) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/462059907). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-15 21:29] 0crat commented on #139
The job [#139](https://github.com/yegor256/jpeek/issues/139) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/462131711). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-15 22:28] yegor256 commented on #135
@llorllale let's use the schema without a namespace, it will be easier for everything

[2018-02-16 09:19] yegor256 opened #191 "NPE at TkReport"
The URL is http://i.jpeek.org/org.hsqldb/hsqldb/index.html. This is what I see:

[code]

[2018-02-16 11:46] amihaiemil commented on #183
@llorllale Not really, if it implements ``XML`` then it will offer just the "low level" operations of interface XML. I would like it to be more high level and have methods such as ``version()``, ``scmUrl()``, ``developers()``, ``dependencies()`` etc

[2018-02-16 13:04] yegor256 commented on #191
@rultor release, tag is `0.26.2`

[2018-02-16 13:05] rultor commented on #191
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13897-366229927)

[2018-02-16 14:02] #191 closed

[2018-02-16 14:03] 0crat commented on #191
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-16 16:21] yegor256 commented on #187
@llorllale I think we need four things

  * `class/parent`
  * `class/interfaces/interface`
  * `class/methods/method/@inherited`
  * `class/attributes/attribute/@inherited`

Agree?

[2018-02-16 16:44] yegor256 commented on #162
@skapral we are not expecting a newbie to deploy this project to a new platform. I don't actually see why that would be necessary...

[2018-02-16 17:41] 0pdd commented on #125
The puzzle `18-f4ca747e` has disappeared from the source code, that's why I closed this issue.

[2018-02-16 17:41] #125 closed

[2018-02-16 17:41] 0crat commented on #125
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-16 18:06] 0crat commented on #8
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-16 19:47] ypshenychka commented on #191
@0crat quality is acceptable

[2018-02-16 19:48] 0crat commented on #191
@ypshenychka Can't understand "quality", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Remove this issue from scope (WBS)
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the job
  - `version` Print current version of

[2018-02-17 06:59] ypshenychka commented on #191
@0crat quality acceptable

[2018-02-17 07:00] 0crat commented on #191
@ypshenychka Job `gh:yegor256/jpeek#191` is not assigned, can't get start time

[2018-02-17 07:00] 0crat commented on #191
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+30](https://www.0crat.com/u/ypshenychka)

[2018-02-17 07:03] ypshenychka commented on #125
@0crat quality good

[2018-02-17 07:07] 0crat commented on #125
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+75](https://www.0crat.com/u/ypshenychka)

[2018-02-17 07:08] 0crat commented on #125
Order was successfully finished: +35 points just awarded to @rexim[/z](https://www.0crat.com/u/rexim), total is [+170](https://www.0crat.com/u/rexim)

[2018-02-17 07:10] 0crat commented on #140
The job [#140](https://github.com/yegor256/jpeek/issues/140) assigned to @rexim[/z](https://www.0crat.com/u/rexim), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/480724913). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the t

[2018-02-17 10:59] 0crat commented on #162
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-17 14:51] llorllale commented on #187
@yegor256 for the purposes I stated in the description, I would just need `method/@inherited` and `attribute/@inherited` (assuming they're `xsd:boolean`).

But if you are planning on adding all those, my question is: how would I know from *what* I inherited the method or attribute from? The parent or one of the interfaces?

[2018-02-17 14:53] llorllale commented on #183
@amihaiemil agreed

Although I prefer the name `Pom` instead of `PomXml`.

[2018-02-17 15:14] skapral commented on #162
@yegor256 Ok, no objections besides this. At least crucial stuff is described (DynamoDB schema), so I am ok with passing it.

[2018-02-17 15:46] llorllale opened #192 "Build is broken: failing due to lack of test coverage"
PR builds are failing due to test coverage not being met even when those PRs do not modify java code.

Example [here](https://github.com/yegor256/jpeek/pull/184#issuecomment-365719046).

[2018-02-17 15:46] 0crat commented on #192
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 15:48] llorllale commented on #111
@0crat waiting on #192

[2018-02-17 15:49] 0crat commented on #111
@llorllale The impediment for [#111](https://github.com/yegor256/jpeek/issues/111) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-02-17 16:30] yegor256 commented on #162
@skapral please, close the ticket

[2018-02-17 16:39] yegor256 commented on #187
@llorllale we don't need to know that, right? Just boolean attributes will be enough?

[2018-02-17 16:41] 0pdd commented on #120
The puzzle `9-57e7e31a` has disappeared from the source code, that's why I closed this issue.

[2018-02-17 16:41] #120 closed

[2018-02-17 16:41] 0pdd opened #193 "TCC.xsl:42-44: TCC: inclusion of inherited attributes and..."
The puzzle `120-5199fe22` from #120 has to be resolved:

https://github.com/yegor256/jpeek/blob/d73541f09fb419892636db79c043182c309ce06f/src/main/resources/org/jpeek/metrics/TCC.xsl#L42-L44

The puzzle was created by rultor on 17-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-02-17 16:41] 0pdd opened #194 "TCC.xsl:48-49: TCC: this metric needs to exclude private..."
The puzzle `120-7c3cf0d4` from #120 has to be resolved:

https://github.com/yegor256/jpeek/blob/d73541f09fb419892636db79c043182c309ce06f/src/main/resources/org/jpeek/metrics/TCC.xsl#L48-L49

The puzzle was created by rultor on 17-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-02-17 16:41] 0crat commented on #193
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 16:41] 0pdd opened #195 "TCC.xsl:57-59: TCC: need to come back and refactor the..."
The puzzle `120-bc67ce38` from #120 has to be resolved:

https://github.com/yegor256/jpeek/blob/d73541f09fb419892636db79c043182c309ce06f/src/main/resources/org/jpeek/metrics/TCC.xsl#L57-L59

The puzzle was created by rultor on 17-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-02-17 16:41] 0crat commented on #194
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 16:41] 0crat commented on #195
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-17 16:42] llorllale commented on #187
@yegor256 correct. For now, just boolean attributes on `<method>` and `<attribute>` will be enough

[2018-02-17 16:43] 0crat commented on #120
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-17 16:43] 0crat commented on #193
Job [#193](https://github.com/yegor256/jpeek/issues/193) is now in scope, role is `DEV`

[2018-02-17 16:43] 0crat commented on #194
Job [#194](https://github.com/yegor256/jpeek/issues/194) is now in scope, role is `DEV`

[2018-02-17 16:43] 0crat commented on #195
Job [#195](https://github.com/yegor256/jpeek/issues/195) is now in scope, role is `DEV`

[2018-02-18 09:25] 0crat commented on #118
@nikialeksey[/z](https://www.0crat.com/u/nikialeksey) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-18 12:51] #162 closed

[2018-02-18 12:52] 0crat commented on #162
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-18 14:10] llorllale commented on #120
@yegor256 missed points+payment on this one

[2018-02-18 14:13] llorllale commented on #169
Happening in #168

[2018-02-18 14:42] llorllale commented on #120
@0crat status

[2018-02-18 14:42] 0crat commented on #120
@llorllale This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#120](https://github.com/yegor256/jpeek/issues/120) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 21days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [4days](http://datum.zerocracy.com/pages/policy.

[2018-02-18 17:34] nikialeksey commented on #8
@0crat  waiting

[2018-02-18 17:35] 0crat commented on #8
@nikialeksey The impediment for [#8](https://github.com/yegor256/jpeek/issues/8) was registered successfully by @nikialeksey[/z](https://www.0crat.com/u/nikialeksey)

[2018-02-18 17:36] nikialeksey commented on #16
@0crat  waiting

[2018-02-18 17:37] 0crat commented on #16
@nikialeksey The impediment for [#16](https://github.com/yegor256/jpeek/issues/16) was registered successfully by @nikialeksey[/z](https://www.0crat.com/u/nikialeksey)

[2018-02-18 17:57] llorllale commented on #171
These are so called *synthetic methods* as per the [JLS spec](https://docs.oracle.com/javase/specs/jls/se8/html/jls-13.html#jls-13.1):

They should be excluded from the `skeleton`

[2018-02-18 18:14] 0crat commented on #119
@rexim[/z](https://www.0crat.com/u/rexim) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-18 18:28] nikialeksey commented on #118
@0crat refuse

[2018-02-18 18:28] nikialeksey commented on #16
@0crat refuse

[2018-02-18 18:28] nikialeksey commented on #8
@0crat refuse

[2018-02-18 18:29] 0crat commented on #118
@nikialeksey The user @nikialeksey[/z](https://www.0crat.com/u/nikialeksey) resigned from [#118](https://github.com/yegor256/jpeek/issues/118), please stop working

[2018-02-18 18:30] 0crat commented on #16
@nikialeksey The user @nikialeksey[/z](https://www.0crat.com/u/nikialeksey) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working

[2018-02-18 18:33] 0crat commented on #118
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), total is [+60](https://www.0crat.com/u/nikialeksey)

[2018-02-18 18:34] 0crat commented on #16
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @nikialeksey[/z](https://www.0crat.com/u/nikialeksey), total is [+60](https://www.0crat.com/u/nikialeksey)

[2018-02-18 21:17] llorllale commented on #138
Access to `Bar.NAME.length()` is still not being listed in the ops for Bar's skeleton (see #180).

The problem is that `Bar.NAME` is a constant (`final`). This makes the compiler produce bytecode that loads the *field's value* (in this case a string) unto the stack before the call to its `length()` method. **That's why our `MethodVisitor.visitFieldInsn is` is not being called for this field access

[2018-02-18 21:19] llorllale commented on #180
See my comment [here](https://github.com/yegor256/jpeek/issues/138#issuecomment-366548476)

[2018-02-18 21:25] llorllale commented on #138
@yegor256 based on my previous post, I believe we may never be able to include an `<op>` for access to `Bar.NAME` inside `Bar.getKey()`.

Should I close this puzzle without creating a new one?

[2018-02-19 03:14] 0crat commented on #120
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-19 04:16] 0crat commented on #65
The user @skapral[/z](https://www.0crat.com/u/skapral) resigned from [#65](https://github.com/yegor256/jpeek/issues/65), please stop working

[2018-02-19 04:16] 0crat commented on #65
Resigned on delay, see [§8](http://datum.zerocracy.com/pages/policy.html#8): -30 points just awarded to @skapral[/z](https://www.0crat.com/u/skapral), total is [+150](https://www.0crat.com/u/skapral)

[2018-02-19 10:08] 0pdd opened #199 "index.xsd:26-28: Index.xsd: add `xsd:documentation` tags..."
The puzzle `134-9a3b0d90` from #134 has to be resolved:

https://github.com/yegor256/jpeek/blob/0d4a79106f05652d4c5874638278262b31a8177a/src/main/resources/org/jpeek/xsd/index.xsd#L26-L28

The puzzle was created by rultor on 19-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-19 10:08] 0pdd opened #200 "matrix.xsd:26-28: Matrix.xsd: add `xsd:documentation`..."
The puzzle `134-3180ea38` from #134 has to be resolved:

https://github.com/yegor256/jpeek/blob/0d4a79106f05652d4c5874638278262b31a8177a/src/main/resources/org/jpeek/xsd/matrix.xsd#L26-L28

The puzzle was created by rultor on 19-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-19 10:08] 0crat commented on #199
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 10:08] 0pdd opened #201 "metric.xsd:26-28: Metric.xsd: add `xsd:documentation`..."
The puzzle `134-7dff7043` from #134 has to be resolved:

https://github.com/yegor256/jpeek/blob/0d4a79106f05652d4c5874638278262b31a8177a/src/main/resources/org/jpeek/xsd/metric.xsd#L26-L28

The puzzle was created by rultor on 19-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-19 10:09] 0crat commented on #200
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 10:09] 0crat commented on #201
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 10:10] 0crat commented on #199
Job [#199](https://github.com/yegor256/jpeek/issues/199) is now in scope, role is `DEV`

[2018-02-19 10:10] 0crat commented on #200
Job [#200](https://github.com/yegor256/jpeek/issues/200) is now in scope, role is `DEV`

[2018-02-19 10:10] 0crat commented on #201
Job [#201](https://github.com/yegor256/jpeek/issues/201) is now in scope, role is `DEV`

[2018-02-19 11:36] llorllale commented on #134
@skapral documentation of `skeleton.xsd` was done in #189 and puzzles left for `metric.xsd`, `matrix.xsd`, and `index.xsd` (#201, #200, and #199 respectively)

can we close this?

[2018-02-19 11:40] 0pdd opened #203 "MetricsTest.java:77-78: OCC metric: need to implement the..."
The puzzle `90-29fbce76` from #90 has to be resolved:

https://github.com/yegor256/jpeek/blob/f5fa44ddc8c7b44c880f8e84ef1dcf7b4ce30201/src/test/java/org/jpeek/MetricsTest.java#L77-L78

The puzzle was created by George Aristy on 11-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-02-19 11:40] 0crat commented on #203
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 11:40] skapral commented on #134
ok

[2018-02-19 11:40] #134 closed

[2018-02-19 11:41] 0crat commented on #203
Job [#203](https://github.com/yegor256/jpeek/issues/203) is now in scope, role is `DEV`

[2018-02-19 11:41] llorllale commented on #90
@yegor256 OCC implemented in #168 while a puzzle was left to finish implementing test cases (#203)

Can we close this now?

[2018-02-19 11:42] 0crat commented on #134
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-19 13:02] yegor256 commented on #90
@llorllale thanks!

[2018-02-19 13:02] #90 closed

[2018-02-19 13:02] 0crat commented on #90
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30)

[2018-02-19 13:39] ypshenychka commented on #134
@0crat quality good

[2018-02-19 13:41] 0crat commented on #134
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+105](https://www.0crat.com/u/ypshenychka)

[2018-02-19 13:42] 0crat commented on #134
Order was successfully finished: +35 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+605](https://www.0crat.com/u/llorllale)

[2018-02-19 13:44] 0crat commented on #8
The job [#8](https://github.com/yegor256/jpeek/issues/8) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/501346535). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If t

[2018-02-19 13:51] 0crat commented on #187
Job [#187](https://github.com/yegor256/jpeek/issues/187) is now in scope, role is `DEV`

[2018-02-19 13:53] 0crat commented on #187
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+620](https://www.0crat.com/u/llorllale)

[2018-02-19 13:53] yegor256 commented on #138
@llorllale let's as StackOverflow... I can't believe it's not possible to get this information somehow from the bytecode.

[2018-02-19 14:01] yegor256 commented on #134
@0crat status

[2018-02-19 14:03] 0crat commented on #134
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#134](https://github.com/yegor256/jpeek/issues/134) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Ayegor256%2Fjpeek%23134%27%7D) (restricted area)

[2018-02-19 14:32] llorllale commented on #138
@yegor256 what's happening here is that the compiler is optimizing the instructions for `Bar.NAME.length()`. It already knows that `NAME` is final, so instead of writing bytecode that says

1. Load reference to NAME
2. execute `length()` on reference to NAME (this implies de-referencing NAME to an actual object and then executing `length()` on it)

What it does instead is

1. Load `"hey"` (the val

[2018-02-19 14:33] llorllale commented on #138
@yegor256 btw what I posted above was the actual bytecode... you can see this yourself. Compile `Bar.java` and then view bytecode with `javap -v Bar.class`

Try toggling `final` on the declaration for `NAME` and observe the difference

[2018-02-19 15:17] llorllale commented on #192
@yegor256 please see attached jacoco coverage report: [jacoco.zip](https://github.com/yegor256/jpeek/files/1737249/jacoco.zip)

The `org.jpeek.web` package has only ~40% coverage, which is too low.

[2018-02-19 15:23] llorllale commented on #135
@0crat status

[2018-02-19 15:26] 0crat commented on #135
@llorllale This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#135](https://github.com/yegor256/jpeek/issues/135) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 19days
  * The role is `DEV`
  * The job is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale) for [4days](http://datum.zerocracy.com/pages/policy.

[2018-02-19 17:32] llorllale commented on #138
@yegor256 see [JLS 13.1](https://docs.oracle.com/javase/specs/jls/se8/html/jls-13.html#jls-13.1):

   If such a field is static, then no reference to the field should be present in the code in a binary file, including the class or interface which declared the field. Such a field must always appear to have been initialized (§12.4.2); the default initial value for the field (if different than V) mus

[2018-02-19 18:07] yegor256 commented on #138
@llorllale OK, I understand that the name of the attribute is lost. Can we at least prove the fact that
_some_ attribute was used at that method?

[2018-02-19 18:17] yegor256 commented on #192
@llorllale I don't understand what exactly is broken? Travis is green, Rultor releases successfully and it builds on my laptop. What's wrong?

[2018-02-19 18:35] 0pdd commented on #111
The puzzle `15-9a121b89` has disappeared from the source code, that's why I closed this issue.

[2018-02-19 18:35] #111 closed

[2018-02-19 18:35] 0pdd opened #204 "LORM.xsl:27-36: LORM: figure out how to extract the..."
The puzzle `111-5690cd5a` from #111 has to be resolved:

https://github.com/yegor256/jpeek/blob/aa45ad82969cc22afc55ab020abf2f99bf3718b3/src/main/resources/org/jpeek/metrics/LORM.xsl#L27-L36

The puzzle was created by rultor on 19-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-02-19 18:35] 0crat commented on #204
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 18:37] 0crat commented on #204
Job [#204](https://github.com/yegor256/jpeek/issues/204) is now in scope, role is `DEV`

[2018-02-19 18:38] 0crat commented on #111
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-19 18:58] 0pdd opened #205 "MetricsTest.java:77-78: PCC: add the rest of the test..."
The puzzle `67-33d40469` from #67 has to be resolved:

https://github.com/yegor256/jpeek/blob/bdacc739c3660720f3bbb2a1fbf23f236f117030/src/test/java/org/jpeek/MetricsTest.java#L77-L78

The puzzle was created by George Aristy on 12-Feb-18.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fix

[2018-02-19 18:58] 0crat commented on #205
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-19 18:59] 0crat commented on #205
Job [#205](https://github.com/yegor256/jpeek/issues/205) is now in scope, role is `DEV`

[2018-02-19 19:00] llorllale commented on #67
@yegor256 this was fixed in #173 (with puzzle #205 opened to finish implementing tests)

Can we close this?

[2018-02-19 19:05] yegor256 commented on #67
@llorllale thanks

[2018-02-19 19:05] #67 closed

[2018-02-19 19:07] 0crat commented on #67
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-19 19:12] llorllale commented on #192
@yegor256 I think there's some kind of intermittency or environmental factors that cause it to fail sometimes

I uploaded the jacoco.zip report after having the coverage check fail when solving some conflicts due to updated `master`. Still, I pushed solved conflicts and saw that Travis build did not fail. Weird.

Closing this, will open new issue in case it happens again

[2018-02-19 20:06] 0crat commented on #67
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://datum.zerocracy.com/pages/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-19 20:31] ypshenychka commented on #162
@0crat quality acceptable.
No associated PR is created.

[2018-02-19 20:32] 0crat commented on #162
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/162#issuecomment-366796247). You must always start your message with my name if you want to address it to me, see [§1](http://datum.zerocracy.com/pages/policy.html#1).

[2018-02-19 20:32] ypshenychka commented on #162
@0crat quality acceptable

[2018-02-19 20:36] 0crat commented on #162
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+135](https://www.0crat.com/u/ypshenychka)

[2018-02-19 20:36] 0crat commented on #162
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-02-19 20:37] 0crat commented on #162
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10199](https://www.0crat.com/u/yegor256)

[2018-02-19 20:53] llorllale commented on #138
@yegor256 no, we can't.

The bytecodes for `Bar.NAME.length()` and `"hey".length()` are virtually indistinguishable in this scenario

[2018-02-19 21:03] ypshenychka commented on #120
@0crat quality good

[2018-02-19 21:07] llorllale commented on #120
@ypshenychka seems like you must also review the associated PR? (#182). See this points in the policy:

Pull request description explains the solution proposed and contains a link to the original ticket it is related to.
The code reviewer found at least three problems in the code.
Comments were mostly about design problems, not cosmetic issues.
All problems found by the code reviewer were addresse

[2018-02-19 21:10] 0crat commented on #120
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+180](https://www.0crat.com/u/ypshenychka)

[2018-02-19 21:11] llorllale commented on #120
@ypshenychka nevermind

[2018-02-19 21:11] 0crat commented on #120
Order was finished, quality was "good": +35 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+655](https://www.0crat.com/u/llorllale)

[2018-02-19 21:15] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/502114391). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-19 21:38] ypshenychka commented on #90
@llorllale According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please correct your [message](https://github.com/yegor256/jpeek/issues/90#issuecomment-365029415) by indicating an addressee in the beginning.

[2018-02-19 22:07] ypshenychka commented on #111
@llorllale According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please correct your messages by indicating an addressee in the beginning.

[2018-02-19 22:08] ypshenychka commented on #111
@llorllale According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please provide link to corresponding PR in any of your messages.

[2018-02-19 22:32] ypshenychka commented on #67
@driver733 According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please correct your [message](https://github.com/yegor256/jpeek/issues/67#issuecomment-361813795) by indicating an addressee in the beginning.

[2018-02-19 22:32] ypshenychka commented on #67
@llorllale According to our [QA Rules](http://datum.zerocracy.com/pages/policy.html#42):

Please correct your [message](https://github.com/yegor256/jpeek/issues/67#issuecomment-364470831) by indicating an addressee in the beginning.

[2018-02-19 22:54] llorllale commented on #90
@ypshenychka fixed message

[2018-02-20 00:54] 0crat commented on #124
@rexim[/z](https://www.0crat.com/u/rexim) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 07:24] 0crat commented on #90
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+285](https://www.0crat.com/u/ypshenychka)

[2018-02-20 07:24] 0crat commented on #90
@ypshenychka There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-02-20 07:25] 0crat commented on #90
Order was finished, quality was "acceptable": +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+685](https://www.0crat.com/u/llorllale)

[2018-02-20 07:30] 0crat commented on #65
The job [#65](https://github.com/yegor256/jpeek/issues/65) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/510730555). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-20 10:10] rexim commented on #119
@0crat waiting

[2018-02-20 10:10] 0crat commented on #119
@rexim The impediment for [#119](https://github.com/yegor256/jpeek/issues/119) was registered successfully by @rexim[/z](https://www.0crat.com/u/rexim)

[2018-02-20 11:15] rexim commented on #124
@0crat waiting

[2018-02-20 11:16] 0crat commented on #124
@rexim The impediment for [#124](https://github.com/yegor256/jpeek/issues/124) was registered successfully by @rexim[/z](https://www.0crat.com/u/rexim)

[2018-02-20 11:31] llorllale commented on #67
@ypshenychka fixed message

[2018-02-20 11:40] llorllale commented on #111
@yegor256 since you're the `ARC` I'm addressing this to you:

* PR #197 was merged for advancing research and realizing that we should implement Latent Semantic Indexing on the class methods
* Left puzzle #204 to move the project in the aforementioned direction

[2018-02-20 11:40] llorllale commented on #111
@ypshenychka fixed messages, added a new message with the relevant PRs

[2018-02-20 11:45] ypshenychka commented on #67
@llorllale Thank you

[2018-02-20 11:47] ypshenychka commented on #111
@llorllale Thank you

[2018-02-20 11:47] ypshenychka commented on #111
@0crat quality acceptable

[2018-02-20 11:49] 0crat commented on #111
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+330](https://www.0crat.com/u/ypshenychka)

[2018-02-20 11:50] 0crat commented on #111
Order was finished, quality was "acceptable": +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+715](https://www.0crat.com/u/llorllale)

[2018-02-20 11:52] llorllale commented on #67
@ypshenychka
@driver733 is no longer working on this task, therefore has no incentive to come back and fix his messages

[2018-02-20 11:57] ypshenychka commented on #67
@llorllale You as a performer of ticket is interested that everything is in accrodance to QA rules. Pay attention to this in future. I will give some time @driver733 to fix this.

[2018-02-20 11:58] ypshenychka commented on #67
@driver733 ping. Please consider the above [remark](https://github.com/yegor256/jpeek/issues/67#issuecomment-366818155)

[2018-02-20 13:31] llorllale commented on #67
@ypshenychka I am interested, but I cannot do anything about messages from others.

[2018-02-20 13:43] llorllale commented on #138
ping @yegor256

[2018-02-20 14:48] yegor256 commented on #138
@llorllale OK, I got it. Let's just document it than and call it a day.

[2018-02-20 15:19] ypshenychka commented on #67
@llorllale You could reach them earlier ("in hot pursuit") and ask to correct the message. Probably it would work :) But that's definitely just an advise for a future. If you fix all issues prior to QA review, it can be a good quality ticket with +5 bonus points.

[2018-02-20 15:25] llorllale commented on #67
@ypshenychka good advise, but that still doesn't guarantee anything. For example, I've worked on issues before on which people *who aren't even zerocrats* have left messages long ago.

I cannot be held responsible for the state the issue was left in before I got it.

[2018-02-20 15:41] llorllale commented on #8
@adilek can you please edit your comments so that they're addressed to someone in particular?

[2018-02-20 15:44] 0crat commented on #8
@nikialeksey The job [#8](https://github.com/yegor256/jpeek/issues/8) is assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), you cannot resign, since you are not a `PO` or `ARC`

[2018-02-20 16:12] ypshenychka commented on #67
@llorllale I understand. But @driver733 is still a member of a project and he can make correction. Usually I give few days to react. If no - well, we should leave as is...

[2018-02-20 17:33] driver733 commented on #67
@ypshenychka Fixed.

[2018-02-20 18:15] ypshenychka commented on #67
@driver733 Thanks a lot!

[2018-02-20 18:18] ypshenychka commented on #67
@0crat quality acceptable

[2018-02-20 18:24] 0crat commented on #67
QA review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+420](https://www.0crat.com/u/ypshenychka)

[2018-02-20 18:26] 0crat commented on #67
Order was finished, quality was "acceptable": +30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+745](https://www.0crat.com/u/llorllale)

[2018-02-20 18:34] 0crat commented on #141
The job [#141](https://github.com/yegor256/jpeek/issues/141) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/511828172). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-20 19:57] 0crat commented on #135
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 20:05] llorllale commented on #65
@yegor256 this metric establishes indirect connections between methods via chains of method calls that can be arbitrarily long.

For example, if `m1` calls `m2` and `m2` calls `m3` and `m3` calls `m4` and `m4` uses attribute `a4`, then `m1` is connected to `m4` (they both use `a4`).

This recursion of arbitrary depth is proving to be hard to implement within budget. Can the full recursion be left

[2018-02-20 21:01] 0crat commented on #138
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-20 21:30] 0crat commented on #139
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-21 12:49] yegor256 commented on #65
@llorllale yes, sure

[2018-02-21 19:37] llorllale commented on #192
@yegor256 just happened in [this PR](https://github.com/yegor256/jpeek/pull/198) (see rultor log [here](http://www.rultor.com/t/13942-367441962)).

[2018-02-21 19:37] 0crat commented on #192
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-21 19:38] llorllale commented on #139
@0crat waiting on #192

[2018-02-21 19:39] 0crat commented on #139
@llorllale The impediment for [#139](https://github.com/yegor256/jpeek/issues/139) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-02-21 19:41] 0crat commented on #192
Job [#192](https://github.com/yegor256/jpeek/issues/192) is now in scope, role is `DEV`

[2018-02-21 19:42] 0crat commented on #192
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+760](https://www.0crat.com/u/llorllale)

[2018-02-22 07:13] 0crat commented on #140
@rexim[/z](https://www.0crat.com/u/rexim) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-22 16:53] llorllale commented on #141
@yegor256 there's nothing to be done with this puzzle due to the limitations that we've discussed in #138  (bytecode optimization).

What should I do with this puzzle?

[2018-02-22 17:42] yegor256 commented on #141
@llorllale document the situation and remove the puzzle

[2018-02-22 17:51] 0pdd commented on #138
The puzzle `92-98d84f5f` has disappeared from the source code, that's why I closed this issue.

[2018-02-22 17:51] #138 closed

[2018-02-22 17:51] 0pdd commented on #111
@0pdd this puzzle is still not solved: [204](https://github.com/yegor256/jpeek/issues/204)

[2018-02-22 17:51] 0pdd commented on #204
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #112
@0pdd this puzzle is still not solved: [160](https://github.com/yegor256/jpeek/issues/160)

[2018-02-22 17:51] 0pdd commented on #117
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #160
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #118
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #119
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #120
@0pdd these puzzles are still not solved: [193](https://github.com/yegor256/jpeek/issues/193), [194](https://github.com/yegor256/jpeek/issues/194), [195](https://github.com/yegor256/jpeek/issues/195)

[2018-02-22 17:51] 0pdd commented on #193
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #194
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #195
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #121
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #122
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #124
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #125
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #138
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #139
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #140
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #141
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #142
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #143
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #144
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #145
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #146
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #147
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #148
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #149
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #154
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #166
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #175
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #176
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #180
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #181
@0pdd all puzzles are solved

[2018-02-22 17:51] 0pdd commented on #199
@0pdd all puzzles are solved

[2018-02-22 17:52] 0crat commented on #138
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-22 18:14] llorllale commented on #138
@ypshenychka @yegor256 this puzzle was solved in #208

[2018-02-22 18:39] rok-povsic commented on #117
@0crat status

[2018-02-22 18:39] 0crat commented on #117
@rok-povsic This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#117](https://github.com/yegor256/jpeek/issues/117) is [in scope](http://www.zerocracy.com/policy.html#14) for 25days
  * The role is `DEV`
  * The job is assigned to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic) for [16days](http://www.zerocracy.com/policy.html#8)
  * There is

[2018-02-23 06:46] 0pdd commented on #111
@0pdd this puzzle is still not solved: [204](https://github.com/yegor256/jpeek/issues/204)

[2018-02-23 06:46] 0pdd commented on #204
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #112
@0pdd this puzzle is still not solved: [160](https://github.com/yegor256/jpeek/issues/160)

[2018-02-23 06:46] 0pdd commented on #160
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #117
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #118
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #119
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #120
@0pdd these puzzles are still not solved: [193](https://github.com/yegor256/jpeek/issues/193), [194](https://github.com/yegor256/jpeek/issues/194), [195](https://github.com/yegor256/jpeek/issues/195)

[2018-02-23 06:46] 0pdd commented on #193
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #194
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #195
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #121
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #122
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #124
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #125
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #138
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #139
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #140
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #141
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #142
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #143
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #144
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #145
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #146
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #147
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #148
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #149
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #154
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #166
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #175
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #176
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #180
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #181
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #199
@0pdd all puzzles are solved

[2018-02-23 06:46] 0pdd commented on #200
@0pdd all puzzles are solved

[2018-02-23 07:01] ypshenychka commented on #138
@0crat quality good

[2018-02-23 07:08] 0crat commented on #138
`QA` review completed: +15 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+615](https://www.0crat.com/u/ypshenychka)

[2018-02-23 07:09] 0crat commented on #138
Order was finished, quality was "good": +35 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+795](https://www.0crat.com/u/llorllale)

[2018-02-23 07:09] 0crat commented on #138
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-02-23 07:15] 0crat commented on #138
The job [#138](https://github.com/yegor256/jpeek/issues/138) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/540722992). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-23 07:23] 0pdd commented on #111
@0pdd this puzzle is still not solved: [204](https://github.com/yegor256/jpeek/issues/204)

[2018-02-23 07:23] 0pdd commented on #112
@0pdd this puzzle is still not solved: [160](https://github.com/yegor256/jpeek/issues/160)

[2018-02-23 07:23] 0pdd commented on #204
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #160
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #117
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #118
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #119
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #120
@0pdd these puzzles are still not solved: [193](https://github.com/yegor256/jpeek/issues/193), [194](https://github.com/yegor256/jpeek/issues/194), [195](https://github.com/yegor256/jpeek/issues/195)

[2018-02-23 07:23] 0pdd commented on #193
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #194
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #195
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #121
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #122
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #124
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #125
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #138
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #139
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #140
@0pdd all puzzles are solved

[2018-02-23 07:23] 0pdd commented on #141
@0pdd all puzzles are solved

[2018-02-23 09:04] 0crat commented on #142
The job [#142](https://github.com/yegor256/jpeek/issues/142) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/540904269). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-23 14:04] rexim commented on #140
@0crat waiting

[2018-02-23 14:08] 0crat commented on #140
@rexim The impediment for [#140](https://github.com/yegor256/jpeek/issues/140) was registered successfully by @rexim[/z](https://www.0crat.com/u/rexim)

[2018-02-23 19:10] llorllale commented on #135
@0crat waiting

[2018-02-23 19:11] 0crat commented on #135
@llorllale The impediment for [#135](https://github.com/yegor256/jpeek/issues/135) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-02-23 19:38] llorllale commented on #141
@yegor256 opened PR #211 for this

[2018-02-23 20:18] llorllale commented on #16
@yegor256 this metric also required Latent Semantic Indexing. Have you thought high-level about how we should integrate this into the project? I'm referring to Java vs. XSLT.

[2018-02-24 07:19] amihaiemil opened #212 "Jpeek lacks a technical example"
Could we have some sort of technical documentation, an example of how a metric is implemented with XSLT, start to finish? It doesn't look so complicated, I see people are essentially implementing the formula from the PDF inside XSLT.

But, how does it work with that skeleton, what is the op/ops elements in a skeleton; how exactly does the skeleton count methods and stuff?

[2018-02-24 07:19] 0crat commented on #212
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-24 07:19] amihaiemil commented on #212
@llorllale If Yegor accepts this then maybe you can do this task, I see you work a lot on Jpeek :)

[2018-02-24 16:23] llorllale commented on #212
@amihaiemil I think this project really needs to be fulfilled. :)

[2018-02-24 16:27] amihaiemil commented on #212
@llorllale fulfilled, as in closed or what? :D

[2018-02-24 16:28] llorllale commented on #212
@amihaiemil also:

Exactly, we're implementing the logic in XSLT because the class metadata is reported as an XML. I'm not sure what explanation you think is missing here... The README touches a bit on the subject.

The schema for the skeleton has been documented already, see [skeleton.xsd](https://github.com/yegor256/jpeek/blob/master/src/main/resources/org/jpeek/xsd/skeleton.xsd)

Not sure what

[2018-02-24 16:29] amihaiemil commented on #212
@llorllale right, I forgot about that skeleton.xsd -- I'll have a look there. Closing this, then :)

[2018-02-24 16:29] #212 closed

[2018-02-24 16:37] llorllale commented on #212
@amihaiemil

I mean *completed*.

[2018-02-25 18:32] 0crat commented on #141
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-25 21:33] rok-povsic opened #213 "TCC scores 0 on a class with no methods"
The TCC scoring method returns a value of 0 for a class that has no methods (excluding static functions and the constructor method) - specifically, [this class](https://github.com/yegor256/jpeek/blob/c1e76a06eea316c9c73530d9ad6c4b0730cd4daa/src/test/resources/org/jpeek/samples/NoMethods.java).

One might expect either a value of 1, or Nan in this case, since it is either that the class is cohesive

[2018-02-25 21:33] 0crat commented on #213
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 05:28] 0pdd commented on #124
The puzzle `18-58649db9` has disappeared from the source code, that's why I closed this issue.

[2018-02-26 05:28] #124 closed

[2018-02-26 05:29] 0crat commented on #124
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-26 09:40] 0pdd opened #215 "LCOM4.xsl:55-57: LCOM4: #156 needs to be fixed in order..."
The puzzle `8-429ff082` from #8 has to be resolved:

https://github.com/yegor256/jpeek/blob/26b20a9501bca68cd1a9b99fbceec3e485dfd22e/src/main/resources/org/jpeek/metrics/LCOM4.xsl#L55-L57

The puzzle was created by rultor on 26-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-26 09:41] 0pdd opened #216 "LCOM4.xsl:60-61: LCOM4: need to finish implementing the..."
The puzzle `8-435f2b33` from #8 has to be resolved:

https://github.com/yegor256/jpeek/blob/26b20a9501bca68cd1a9b99fbceec3e485dfd22e/src/main/resources/org/jpeek/metrics/LCOM4.xsl#L60-L61

The puzzle was created by rultor on 26-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-26 09:42] 0crat commented on #215
Job [#215](https://github.com/yegor256/jpeek/issues/215) is now in scope, role is `DEV`

[2018-02-26 09:42] 0crat commented on #216
Job [#216](https://github.com/yegor256/jpeek/issues/216) is now in scope, role is `DEV`

[2018-02-26 10:26] 0pdd commented on #119
The puzzle `9-7a54dc2b` has disappeared from the source code, that's why I closed this issue.

[2018-02-26 10:26] #119 closed

[2018-02-26 10:26] 0pdd opened #217 "LCC.xsl:61-67: `indirectly-related-pairs` are pairs of..."
The puzzle `119-5f1c56e0` from #119 has to be resolved:

https://github.com/yegor256/jpeek/blob/582c085210eefd13ba6fb0f8224d23664ec4247c/src/main/resources/org/jpeek/metrics/LCC.xsl#L61-L67

The puzzle was created by rexim on 19-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-02-26 10:29] 0crat commented on #217
Job [#217](https://github.com/yegor256/jpeek/issues/217) is now in scope, role is `DEV`

[2018-02-26 10:30] 0crat commented on #119
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-26 10:41] #140 closed

[2018-02-26 10:41] 0pdd commented on #140
The puzzle `68-6427b294` has disappeared from the source code, that's why I closed this issue.

[2018-02-26 10:42] 0crat commented on #140
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-26 13:36] llorllale commented on #8
@yegor256
Initial implementation was merged in PR #206 while leaving two puzzles to finish work on this metric:
* puzzle #215 due to impediment on #156
* puzzle #216 in order to finish implementing the tests

Can we close this?

[2018-02-26 13:38] llorllale commented on #16
@yegor256 I'd like your input on my previous comment in order to know the direction I should be taking with this job

[2018-02-26 14:58] llorllale commented on #142
@0crat waiting on an answer to [this](https://math.stackexchange.com/questions/2667542/understanding-int-and-mod-functions-as-used-in-this-formula) question on math.stackexchange.com in order to be sure on what the `mod()` function means

[2018-02-26 15:05] llorllale commented on #16
@0crat waiting

[2018-02-26 15:09] 0crat commented on #142
@llorllale The impediment for [#142](https://github.com/yegor256/jpeek/issues/142) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-02-26 16:07] ypshenychka commented on #119
@rexim According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please provide a link to corresponding PR in any of your messages.

[2018-02-26 16:11] ypshenychka commented on #140
@rexim According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please provide a link to corresponding PR in any of your messages.

[2018-02-26 16:23] rexim commented on #119
@ypshenychka this issue was fixed in #202

[2018-02-26 16:24] rexim commented on #140
@ypshenychka this issue was fixed in #210

[2018-02-26 17:16] ypshenychka commented on #119
@rexim thanks

[2018-02-26 17:16] ypshenychka commented on #119
@0crat quality acceptable

[2018-02-26 17:34] ypshenychka commented on #140
@0crat quality acceptable

[2018-02-26 17:40] 0crat commented on #140
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+758](https://www.0crat.com/u/ypshenychka)

[2018-02-26 17:40] 0crat commented on #140
Order was finished, quality was "acceptable": +30 points just awarded to @rexim[/z](https://www.0crat.com/u/rexim), total is [+245](https://www.0crat.com/u/rexim)

[2018-02-26 17:41] 0crat commented on #140
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-02-26 18:00] ypshenychka commented on #124
@rexim According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please provide link to PR in any of your messages.

[2018-02-26 18:02] rexim commented on #124
@ypshenychka this issue was fixed in #207

[2018-02-26 18:10] ypshenychka commented on #124
@rexim thanks

[2018-02-26 18:11] ypshenychka commented on #124
@0crat quality acceptable

[2018-02-26 18:18] 0crat commented on #124
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+774](https://www.0crat.com/u/ypshenychka)

[2018-02-26 18:19] 0crat commented on #124
Order was finished, quality was "acceptable": +30 points just awarded to @rexim[/z](https://www.0crat.com/u/rexim), total is [+275](https://www.0crat.com/u/rexim)

[2018-02-26 18:19] 0crat commented on #124
@ypshenychka You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `QA`.

[2018-02-26 18:24] yegor256 commented on #8
@llorllale thanks!

[2018-02-26 18:24] #8 closed

[2018-02-26 18:25] 0crat commented on #8
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-26 18:35] yegor256 commented on #16
@llorllale I don't really know what this metric is about. Let's start to investigate and see where it gets us. I have zero knowledge in this area, don't rely on me.

[2018-02-26 19:25] #141 closed

[2018-02-26 19:25] 0pdd commented on #141
The puzzle `68-96e0ea92` has disappeared from the source code, that's why I closed this issue.

[2018-02-26 19:26] 0crat commented on #141
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-26 20:08] 0pdd opened #218 "TLCOM.xsl:51-53: TLCOM: we are including access to ALL..."
The puzzle `65-657d930a` from #65 has to be resolved:

https://github.com/yegor256/jpeek/blob/f2c555f5549818715ef624bb7427cdd25f73164d/src/main/resources/org/jpeek/metrics/TLCOM.xsl#L51-L53

The puzzle was created by George Aristy on 21-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-02-26 20:08] 0pdd opened #219 "TLCOM.xsl:79-83: TLCOM: need to establish transitive..."
The puzzle `65-8529ead1` from #65 has to be resolved:

https://github.com/yegor256/jpeek/blob/f2c555f5549818715ef624bb7427cdd25f73164d/src/main/resources/org/jpeek/metrics/TLCOM.xsl#L79-L83

The puzzle was created by George Aristy on 21-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-02-26 20:08] 0crat commented on #218
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 20:08] 0pdd opened #220 "TLCOM.xsl:86-87: TLCOM: add test for..."
The puzzle `65-76f12f4d` from #65 has to be resolved:

https://github.com/yegor256/jpeek/blob/f2c555f5549818715ef624bb7427cdd25f73164d/src/main/resources/org/jpeek/metrics/TLCOM.xsl#L86-L87

The puzzle was created by George Aristy on 21-Feb-18.

Estimate: 15 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-02-26 20:08] 0crat commented on #219
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 20:08] 0crat commented on #220
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-26 20:09] 0crat commented on #218
Job [#218](https://github.com/yegor256/jpeek/issues/218) is now in scope, role is `DEV`

[2018-02-26 20:09] 0crat commented on #219
Job [#219](https://github.com/yegor256/jpeek/issues/219) is now in scope, role is `DEV`

[2018-02-26 20:09] 0crat commented on #220
Job [#220](https://github.com/yegor256/jpeek/issues/220) is now in scope, role is `DEV`

[2018-02-26 20:24] yegor256 commented on #124
@0crat status

[2018-02-26 20:24] 0crat commented on #124
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#124](https://github.com/yegor256/jpeek/issues/124) is [in scope](http://www.zerocracy.com/policy.html#14) for 28days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are banned and

[2018-02-27 08:36] ypshenychka commented on #8
@adilek According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your messages by indicating an addressee in the beginning.

[2018-02-27 08:40] ypshenychka commented on #141
@0crat quality good

[2018-02-27 08:41] 0crat commented on #141
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+805](https://www.0crat.com/u/ypshenychka)

[2018-02-27 08:42] 0crat commented on #141
Order was finished, quality was "good": +35 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+865](https://www.0crat.com/u/llorllale)

[2018-02-27 08:42] 0crat commented on #141
@ypshenychka The job [#141](https://github.com/yegor256/jpeek/issues/141) is now out of scope

[2018-02-27 09:03] 0crat commented on #119
The job [#119](https://github.com/yegor256/jpeek/issues/119) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/580902176). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-27 13:37] llorllale commented on #65
@yegor256 can we close this?

* Initial implementation was merged in PR #209
* Puzzle #219 left to complete the [full recursion](https://github.com/yegor256/jpeek/issues/65#issuecomment-367102226)
* Puzzle #218 left due to impediment on #156
* Puzzle #220 left due to impediment on #171

[2018-02-27 14:30] llorllale commented on #142
@yegor256 I'm using [this](https://math.stackexchange.com/a/2667550/534583)  answer as the definition of the `mod()` function

[2018-02-27 15:31] llorllale commented on #142
@yegor256 `MetricsTest` currently does not provide a way to test this. What should I do in that regard?

[2018-02-27 16:30] yegor256 commented on #119
@0crat refuse

[2018-02-27 16:30] yegor256 commented on #119
@0crat out

[2018-02-27 16:30] yegor256 commented on #138
@0crat refuse

[2018-02-27 16:30] yegor256 commented on #138
@0crat out

[2018-02-27 16:31] 0crat commented on #119
@yegor256 The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#119](https://github.com/yegor256/jpeek/issues/119), please stop working. Reason for job resignation: Order was cancelled

[2018-02-27 16:31] 0crat commented on #119
@yegor256 The job [#119](https://github.com/yegor256/jpeek/issues/119) is now out of scope

[2018-02-27 16:32] 0crat commented on #119
@yegor256 Job [#119](https://github.com/yegor256/jpeek/issues/119) was not in scope

[2018-02-27 16:32] 0crat commented on #138
@yegor256 The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#138](https://github.com/yegor256/jpeek/issues/138), please stop working. Reason for job resignation: Order was cancelled

[2018-02-27 16:32] 0crat commented on #138
@yegor256 The job [#138](https://github.com/yegor256/jpeek/issues/138) is now out of scope

[2018-02-27 16:32] 0crat commented on #138
@yegor256 Job [#138](https://github.com/yegor256/jpeek/issues/138) was not in scope

[2018-02-27 16:34] yegor256 commented on #142
@llorllale create another ticket, I believe. Did you read this? http://www.yegor256.com/2015/01/15/how-to-cut-corners.html

[2018-02-27 16:39] llorllale commented on #142
@yegor256 we already have an open issue on `MetricsTest` in #169 but I am not sure if I can declare it as an impediment since it's still not in scope. The proposal for #169 would allow me to add this simple test.

[2018-02-27 16:44] 0crat commented on #124
The job [#124](https://github.com/yegor256/jpeek/issues/124) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/581643058). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-27 16:47] 0crat commented on #140
The job [#140](https://github.com/yegor256/jpeek/issues/140) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/581646153). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-27 16:57] yegor256 commented on #124
@0crat refuse

[2018-02-27 16:57] yegor256 commented on #124
@0crat out

[2018-02-27 16:57] yegor256 commented on #140
@0crat refuse

[2018-02-27 16:57] yegor256 commented on #140
@0crat out

[2018-02-27 16:58] 0crat commented on #124
@yegor256 The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#124](https://github.com/yegor256/jpeek/issues/124), please stop working. Reason for job resignation: Order was cancelled

[2018-02-27 16:58] 0crat commented on #124
@yegor256 The job [#124](https://github.com/yegor256/jpeek/issues/124) is now out of scope

[2018-02-27 16:59] 0crat commented on #124
@yegor256 Job [#124](https://github.com/yegor256/jpeek/issues/124) was not in scope

[2018-02-27 16:59] 0crat commented on #140
@yegor256 The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#140](https://github.com/yegor256/jpeek/issues/140), please stop working. Reason for job resignation: Order was cancelled

[2018-02-27 16:59] 0crat commented on #140
@yegor256 The job [#140](https://github.com/yegor256/jpeek/issues/140) is now out of scope

[2018-02-27 17:01] 0crat commented on #143
The job [#143](https://github.com/yegor256/jpeek/issues/143) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/581701151). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-27 17:04] 0crat commented on #145
The job [#145](https://github.com/yegor256/jpeek/issues/145) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/581703219). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-27 17:27] llorllale commented on #143
@yegor256 this is another job that has impediments declared upfront, they're all still open, and there's nothing to do with this puzzle right now. To avoid this in the future, perhaps `REV` can check to make sure puzzles like this one are not left behind in the source.

[2018-02-27 17:27] llorllale commented on #143
@0crat refuse

[2018-02-27 17:29] 0crat commented on #143
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#143](https://github.com/yegor256/jpeek/issues/143), please stop working. Reason for job resignation: Order was cancelled

[2018-02-27 17:30] 0crat commented on #143
@llorllale Job `gh:yegor256/jpeek#143` is not assigned, can't get performer

[2018-02-27 17:31] 0crat commented on #143
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+865](https://www.0crat.com/u/llorllale)

[2018-02-27 17:31] 0crat commented on #143
Mistake of @llorllale[/z](https://www.0crat.com/u/llorllale)[/z](https://www.0crat.com/u/llorllale) (your student): Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10964](https://www.0crat.com/u/yegor256)

[2018-02-27 18:32] 0crat commented on #144
The job [#144](https://github.com/yegor256/jpeek/issues/144) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/581831056). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-27 18:32] 0crat commented on #144
Job `gh:yegor256/jpeek#144` already assigned to @llorllale, can't assign to @llorllale

[2018-02-28 11:19] yegor256 commented on #65
@llorllale thanks!

[2018-02-28 11:19] #65 closed

[2018-02-28 11:19] 0crat commented on #65
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-02-28 11:39] ypshenychka commented on #65
@0crat quality good

[2018-02-28 11:41] 0crat commented on #65
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka), total is [+869](https://www.0crat.com/u/ypshenychka)

[2018-02-28 11:41] 0crat commented on #65
Order was finished, quality was "good": +35 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale), total is [+900](https://www.0crat.com/u/llorllale)

[2018-02-28 11:41] 0crat commented on #65
@ypshenychka The job [#65](https://github.com/yegor256/jpeek/issues/65) is now out of scope

[2018-02-28 13:42] ypshenychka commented on #8
@adilek ping

[2018-02-28 13:57] 0crat commented on #118
The job [#118](https://github.com/yegor256/jpeek/issues/118) assigned to @t-izbassar[/z](https://www.0crat.com/u/t-izbassar), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/591356046). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not cle

[2018-02-28 13:59] 0crat commented on #146
The job [#146](https://github.com/yegor256/jpeek/issues/146) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/591359165). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-02-28 14:23] llorllale opened #222 "SCOM: MetricsTest does not provide a way to test the SCOM_minK value"
(This may or may not be relevant if the proposal for #169 is approved.)

**Problem:**
As per #142, I am implementing calculation of `SCOM_minK` value for `SCOM`. I have the calculation ready. It will be stored in a new `var` in the metric.xml, but `MetricsTest` currently only tests the `//class/@value` of metrics.

**Proposal**
Ideally, enable tests of arbitrary xpaths in `MetricsTest`. Otherwise,

[2018-02-28 14:23] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 14:40] llorllale commented on #142
@yegor256 fine, I created #222, I hope it's ok

[2018-02-28 17:18] 0pdd opened #224 "skeleton.xsd:26-28: Skeleton.xsd: add a reference to this..."
The puzzle `135-d5b2c3f6` from #135 has to be resolved:

https://github.com/yegor256/jpeek/blob/752b4d52b6a0c293e8a71cd4ca902b3656fcf43e/src/main/resources/org/jpeek/xsd/skeleton.xsd#L26-L28

The puzzle was created by George Aristy on 27-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem

[2018-02-28 17:18] 0crat commented on #224
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 17:18] 0pdd opened #225 "matrix.xsd:29-31: Matrix.xsd: add a reference to this..."
The puzzle `135-9cabe027` from #135 has to be resolved:

https://github.com/yegor256/jpeek/blob/752b4d52b6a0c293e8a71cd4ca902b3656fcf43e/src/main/resources/org/jpeek/xsd/matrix.xsd#L29-L31

The puzzle was created by George Aristy on 27-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem i

[2018-02-28 17:18] 0pdd opened #226 "index.xsd:29-31: Index.xsd: add a reference to this..."
The puzzle `135-4462c34d` from #135 has to be resolved:

https://github.com/yegor256/jpeek/blob/752b4d52b6a0c293e8a71cd4ca902b3656fcf43e/src/main/resources/org/jpeek/xsd/index.xsd#L29-L31

The puzzle was created by George Aristy on 27-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is

[2018-02-28 17:18] 0crat commented on #225
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 17:18] 0pdd opened #227 "Report.java:142-146: The current solution to add the..."
The puzzle `135-1c80191e` from #135 has to be resolved:

https://github.com/yegor256/jpeek/blob/752b4d52b6a0c293e8a71cd4ca902b3656fcf43e/src/main/java/org/jpeek/Report.java#L142-L146

The puzzle was created by George Aristy on 27-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixe

[2018-02-28 17:18] 0crat commented on #226
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 17:18] 0crat commented on #227
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 17:19] 0crat commented on #224
Job [#224](https://github.com/yegor256/jpeek/issues/224) is now in scope, role is `DEV`

[2018-02-28 17:20] 0crat commented on #226
Job [#226](https://github.com/yegor256/jpeek/issues/226) is now in scope, role is `DEV`

[2018-02-28 17:20] 0crat commented on #227
Job [#227](https://github.com/yegor256/jpeek/issues/227) is now in scope, role is `DEV`

[2018-02-28 17:31] yegor256 commented on #222
@llorllale but only `@value` matters for us. Or you want our tests to be more detailed oriented. I didn't understand, what is broken?

[2018-02-28 17:40] llorllale commented on #222
@yegor256 For `SCOM_minK` I need the tests to be more detail oriented.

`SCOM_minK` is another number calculated for `SCOM` separate from its `@value`. The paper says that if SCOM < SCOM_minK then you should consider splitting the class into more cohesive classes.

[2018-02-28 19:37] yegor256 commented on #222
@llorllale we don't need to test those supplementary variables. Each metric has them. We just have them in the XML report for visibility. That's enough.

[2018-02-28 19:37] #222 closed

[2018-02-28 19:42] #139 closed

[2018-02-28 19:42] 0pdd commented on #139
The puzzle `92-8b89e205` has disappeared from the source code, that's why I closed this issue.

[2018-02-28 19:42] 0pdd opened #228 "XmlClass.java:142-149: LCOM3: Must first fix #171 by..."
The puzzle `139-752903d5` from #139 has to be resolved:

https://github.com/yegor256/jpeek/blob/7ed2e4249c336fd5068955987dc96edafe260cc4/src/main/java/org/jpeek/skeleton/XmlClass.java#L142-L149

The puzzle was created by George Aristy on 18-Feb-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the prob

[2018-02-28 19:42] 0crat commented on #228
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-28 19:43] 0crat commented on #228
Job [#228](https://github.com/yegor256/jpeek/issues/228) is now in scope, role is `DEV`

[2018-03-01 07:57] rok-povsic commented on #213
@yegor256 The original paper doesn't define what the score is for these two cases.

[2018-03-01 09:06] t-izbassar commented on #118
@0crat waiting for #217 to be resolved as it is crucial part of introducing this metric.

[2018-03-01 09:06] 0crat commented on #118
@t-izbassar The impediment for [#118](https://github.com/yegor256/jpeek/issues/118) was registered successfully by @t-izbassar[/z](https://www.0crat.com/u/t-izbassar)

[2018-03-01 13:38] llorllale commented on #135
@yegor256 can we close this?

* Reference to `metric.xsd` in `metric.xml` was added in PR #196)
* Puzzle #227 left to refactor the above towards a simpler solution
* Puzzles #224, #225, and #226 left for adding references to the rest of the XSDs

[2018-03-01 13:41] llorllale commented on #139
@ypshenychka

* This puzzle was closed when PR #198 was merged.
* Puzzle #228 left for continuing work after #171 is fixed. The above PR involved research that produced more specific instructions on how to solve impediment on #171.

[2018-03-01 13:47] 0crat commented on #8
The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#8](https://github.com/yegor256/jpeek/issues/8), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-01 13:47] 0crat commented on #8
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-01 13:50] llorllale commented on #145
@0crat waiting for review on PR #221

[2018-03-01 13:51] 0crat commented on #147
The job [#147](https://github.com/yegor256/jpeek/issues/147) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/601350589). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-01 13:51] 0crat commented on #145
@llorllale The impediment for [#145](https://github.com/yegor256/jpeek/issues/145) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-01 13:58] ypshenychka commented on #139
@0crat quality good

[2018-03-01 14:01] 0crat commented on #139
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-01 14:01] 0crat commented on #139
Order was finished, quality was "good": +35 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-01 14:01] 0crat commented on #139
@ypshenychka The job [#139](https://github.com/yegor256/jpeek/issues/139) is now out of scope

[2018-03-01 14:04] 0crat commented on #148
The job [#148](https://github.com/yegor256/jpeek/issues/148) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/601404971). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-01 14:15] yegor256 commented on #135
@llorllale thanks

[2018-03-01 14:15] #135 closed

[2018-03-01 14:16] 0crat commented on #135
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-01 14:53] ypshenychka commented on #135
@0crat quality good

[2018-03-01 14:57] 0crat commented on #135
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-01 14:57] 0crat commented on #135
Order was finished, quality was "good": +35 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-01 15:01] 0crat commented on #149
The job [#149](https://github.com/yegor256/jpeek/issues/149) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/601500264). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear

[2018-03-01 21:44] llorllale commented on #16
@yegor256
A lot of math is involved. One one hand there are already Java libraries out there that we could reuse. On the other, we could implement through XSLT by hand.

Following are the steps for this metric. *Singular-value decomposition* will definitely be the hardest:

1. Latent Semantic Analysis: https://en.wikipedia.org/wiki/Latent_semantic_analysis
   1. Build the [occurrence matrix](https

[2018-03-02 06:29] yegor256 commented on #16
@llorllale what are you getting at? We should not implement this metric because it's too complex?

[2018-03-02 08:48] t-izbassar commented on #118
@0crat refuse

[2018-03-02 08:50] 0crat commented on #118
@t-izbassar Job `gh:yegor256/jpeek#118` is not assigned, can't get performer

[2018-03-02 08:51] t-izbassar commented on #118
@0crat status

[2018-03-02 08:51] 0crat commented on #118
@t-izbassar This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#118](https://github.com/yegor256/jpeek/issues/118) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are banned and

[2018-03-02 08:54] ypshenychka commented on #8
@adilek Please consider my [remark](https://github.com/yegor256/jpeek/issues/8#issuecomment-368787292).

[2018-03-02 13:30] llorllale commented on #16
@yegor256 I was just raising concerns on whether it's worth it to implement all this math by hand in XSLT vs. reusing existing math libraries out there. But I guess we'll worry about the cost/benefit ratio later. I'll proceed with XSLT.

[2018-03-02 19:17] ypshenychka commented on #8
@adilek ping

[2018-03-04 13:37] #117 closed

[2018-03-04 13:37] 0pdd commented on #117
The puzzle `9-5e913f6c` has disappeared from the source code, that's why I closed this issue.

[2018-03-04 13:38] 0crat commented on #117
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job, as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-03-04 18:36] 0crat commented on #144
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-04 19:09] ypshenychka commented on #117
@rok-povsic According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please provide link to corresponding PR in any of your messages.

[2018-03-05 08:31] rok-povsic commented on #117
This ticket was fixed in #214 .

@ypshenychka Done.

[2018-03-05 09:02] ypshenychka commented on #117
@rok-povsic thanks!

[2018-03-05 09:03] ypshenychka commented on #117
@0crat quality acceptable

[2018-03-05 09:04] 0crat commented on #117
`QA` review completed: +8 points just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-03-05 09:05] 0crat commented on #117
Order was finished, quality was "acceptable": +30 points just awarded to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic)

[2018-03-05 09:05] 0crat commented on #117
@ypshenychka The job [#117](https://github.com/yegor256/jpeek/issues/117) is now out of scope

[2018-03-05 11:05] ypshenychka commented on #8
@adilek ping

[2018-03-05 13:29] yegor256 commented on #118
@0crat status

[2018-03-05 13:30] 0crat commented on #118
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#118](https://github.com/yegor256/jpeek/issues/118) is [in scope](http://www.zerocracy.com/policy.html#14) for 1mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are banned and w

[2018-03-05 13:54] llorllale commented on #16
@0crat refuse

[2018-03-05 13:55] llorllale commented on #142
@0crat waiting on review for PR #223

[2018-03-05 13:56] 0crat commented on #16
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 13:56] llorllale commented on #144
@0crat refuse

[2018-03-05 13:56] 0crat commented on #16
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: Order was cancelled

[2018-03-05 13:56] llorllale commented on #146
@0crat refuse

[2018-03-05 13:57] llorllale commented on #147
@0crat refuse

[2018-03-05 13:57] llorllale commented on #148
@0crat refuse

[2018-03-05 13:58] 0crat commented on #16
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 13:58] 0crat commented on #16
@llorllale Job `gh:yegor256/jpeek#16` is not assigned, can't get performer

[2018-03-05 13:59] llorllale commented on #149
@0crat refuse

[2018-03-05 14:00] 0crat commented on #142
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 14:02] 0crat commented on #142
@llorllale Job [#142](https://github.com/yegor256/jpeek/issues/142) is already on hold

[2018-03-05 14:04] 0crat commented on #144
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 14:04] 0crat commented on #144
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#144](https://github.com/yegor256/jpeek/issues/144), please stop working. Reason for job resignation: Order was cancelled

[2018-03-05 14:05] 0crat commented on #146
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 14:05] 0crat commented on #146
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#146](https://github.com/yegor256/jpeek/issues/146), please stop working. Reason for job resignation: Order was cancelled

[2018-03-05 14:05] 0crat commented on #147
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 14:05] 0crat commented on #147
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#147](https://github.com/yegor256/jpeek/issues/147), please stop working. Reason for job resignation: Order was cancelled

[2018-03-05 14:06] 0crat commented on #148
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 14:06] 0crat commented on #148
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#148](https://github.com/yegor256/jpeek/issues/148), please stop working. Reason for job resignation: Order was cancelled

[2018-03-05 14:06] 0crat commented on #148
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 14:06] 0crat commented on #148
@llorllale Job `gh:yegor256/jpeek#148` is not assigned, can't get performer

[2018-03-05 14:06] 0crat commented on #16
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-05 14:07] 0crat commented on #149
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 14:07] 0crat commented on #149
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#149](https://github.com/yegor256/jpeek/issues/149), please stop working. Reason for job resignation: Order was cancelled

[2018-03-05 14:07] 0crat commented on #149
@llorllale You can't do that, unless you have one of these roles: `ARC`, `PO`. Your current roles are: `DEV`.

[2018-03-05 14:07] 0crat commented on #149
@llorllale Job `gh:yegor256/jpeek#149` is not assigned, can't get performer

[2018-03-05 14:10] 0crat commented on #144
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-05 14:10] 0crat commented on #146
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-05 14:10] 0crat commented on #147
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-05 14:10] 0crat commented on #148
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-05 14:11] 0crat commented on #149
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-03-07 06:48] piotrkot opened #229 "Starting application is broken"
As described [here](https://github.com/yegor256/jpeek) in *How to use?* section I run:
[code]
Directory `takes` is present and contains [takes](https://github.com/yegor256/takes) project.
I expect the application to start or describe what I do wrong.

[2018-03-07 06:48] 0crat commented on #229
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-08 07:33] yegor256 commented on #229
@piotrkot you need a fresh version of the app. 0.5 is a very old one. Try the latest one: https://github.com/yegor256/jpeek/releases

[2018-03-08 07:33] #229 closed

[2018-03-08 07:48] 0crat commented on #229
The job is not in WBS, can't close

[2018-03-08 08:01] piotrkot commented on #229
@yegor256 I see. Thanks. That means it is a mistake to keep link to version 0.5 in the *How to use* section. Can you fix this?

[2018-03-08 10:33] yegor256 commented on #229
@piotrkot yep, fixed in 0cb7e82 thanks!

[2018-03-08 13:28] piotrkot commented on #229
@yegor256 And yet another detail. The first sentence in *How to use* - "Load this JAR file" - is linked with the version 0.5. Can you fix this too?

[2018-03-08 16:23] yegor256 commented on #229
@piotrkot how about now? 8c40bd2

[2018-03-08 16:34] piotrkot commented on #229
@yegor256 perfect, thanks!

[2018-03-17 18:43] 0crat commented on #8
The job [#8](https://github.com/yegor256/jpeek/issues/8) is now out of scope

[2018-03-17 18:43] 0crat commented on #191
The job [#191](https://github.com/yegor256/jpeek/issues/191) is now out of scope

[2018-03-17 19:29] ypshenychka commented on #8
@adilek ping

[2018-03-19 13:08] 0pdd commented on #145
The puzzle `17-f82757ae` has disappeared from the source code, that's why I closed this issue.

[2018-03-19 13:08] #145 closed

[2018-03-19 13:08] 0pdd commented on #17
@yegor256 2 puzzles [#143](https://github.com/yegor256/jpeek/issues/143), [#144](https://github.com/yegor256/jpeek/issues/144) are still not solved; solved: [#145](https://github.com/yegor256/jpeek/issues/145).

[2018-03-19 13:24] 0crat commented on #145
The job [#145](https://github.com/yegor256/jpeek/issues/145) is now out of scope

[2018-03-19 13:25] 0pdd commented on #142
The puzzle `68-03d5665d` has disappeared from the source code, that's why I closed this issue.

[2018-03-19 13:25] #142 closed

[2018-03-19 13:25] 0pdd commented on #68
@yegor256 the puzzle [#140](https://github.com/yegor256/jpeek/issues/140) is still not solved; solved: [#141](https://github.com/yegor256/jpeek/issues/141), [#142](https://github.com/yegor256/jpeek/issues/142).

[2018-03-19 13:41] 0crat commented on #142
The job [#142](https://github.com/yegor256/jpeek/issues/142) is now out of scope

[2018-03-25 07:20] VsSekorin opened #230 "Spring-core IllegalStateException"
[code]
Here: http://i.jpeek.org/org.springframework/spring-core/index.html (http://i.jpeek.org/ -> Score of `org.springframework:spring-core`)

[2018-03-25 07:20] 0crat commented on #230
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-25 07:20] 0crat commented on #230
@vssekorin[/z](https://www.0crat.com/u/vssekorin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-03-26 14:45] 0crat commented on #230
Thanks for your contribution, @vssekorin[/z](https://www.0crat.com/u/vssekorin)! If you would be a member of [the project](https://www.0crat.com/p/C7JGJ00DP), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-03-30 13:55] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/891366140); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-04-01 11:03] 0crat commented on #118
The job [#118](https://github.com/yegor256/jpeek/issues/118) assigned to @sharpler[/z](https://www.0crat.com/u/sharpler), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/911130938); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-04 18:56] 0crat commented on #16
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-05 07:16] proshin-roman commented on #16
@0crat refuse

[2018-04-05 07:16] 0crat commented on #16
@proshin-roman The user @proshin-roman[/z](https://www.0crat.com/u/proshin-roman) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: Order was cancelled

[2018-04-05 07:16] 0crat commented on #16
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @proshin-roman[/z](https://www.0crat.com/u/proshin-roman)

[2018-04-06 12:37] 0crat commented on #118
@sharpler[/z](https://www.0crat.com/u/sharpler) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-07 12:00] SharplEr commented on #118
@0crat waiting
For reviewer.

[2018-04-07 12:00] 0crat commented on #118
@SharplEr The impediment for [#118](https://github.com/yegor256/jpeek/issues/118) was registered successfully by @sharpler[/z](https://www.0crat.com/u/sharpler)

[2018-04-08 17:26] rultor commented on #230
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14271-379566818)

[2018-04-08 17:35] 0crat commented on #230
The job [#230](https://github.com/yegor256/jpeek/issues/230) is now out of scope

[2018-04-08 17:41] rultor commented on #230
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14271-379566818) (took me 15min)

[2018-04-10 07:44] ypshenychka commented on #8
@0crat quality acceptable

[2018-04-10 07:44] 0crat commented on #8
@ypshenychka You @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) need to have one of these roles in order to do "Complete `QA` review": `ARC`, `QA`; I'm sorry to say this, but at the moment you've got no roles in this project

[2018-04-12 14:44] 0crat commented on #143
The job [#143](https://github.com/yegor256/jpeek/issues/143) assigned to @izrik[/z](https://www.0crat.com/u/izrik), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1021465700); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-04-17 17:37] 0crat commented on #16
@izrik[/z](https://www.0crat.com/u/izrik) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-17 17:37] 0crat commented on #143
@izrik[/z](https://www.0crat.com/u/izrik) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-22 14:47] 0crat commented on #16
The user @izrik[/z](https://www.0crat.com/u/izrik) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-04-22 14:48] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @izrik[/z](https://www.0crat.com/u/izrik)

[2018-04-22 14:51] 0crat commented on #143
The user @izrik[/z](https://www.0crat.com/u/izrik) resigned from [#143](https://github.com/yegor256/jpeek/issues/143), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-04-22 14:52] 0crat commented on #143
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @izrik[/z](https://www.0crat.com/u/izrik)

[2018-04-22 14:58] 0crat commented on #144
The job [#144](https://github.com/yegor256/jpeek/issues/144) assigned to @izrik[/z](https://www.0crat.com/u/izrik), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1121464573); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-04-22 15:03] 0crat commented on #146
The job [#146](https://github.com/yegor256/jpeek/issues/146) assigned to @izrik[/z](https://www.0crat.com/u/izrik), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1121509714); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-04-24 04:38] izrik commented on #146
@0crat wait for #147 and #148 and #149

[2018-04-24 04:38] 0crat commented on #146
@izrik The impediment for [#146](https://github.com/yegor256/jpeek/issues/146) was registered successfully by @izrik[/z](https://www.0crat.com/u/izrik)

[2018-04-27 18:36] 0crat commented on #144
@izrik[/z](https://www.0crat.com/u/izrik) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-28 04:35] izrik commented on #144
@0crat refuse

[2018-04-28 04:36] 0crat commented on #144
@izrik The user @izrik[/z](https://www.0crat.com/u/izrik) resigned from [#144](https://github.com/yegor256/jpeek/issues/144), please stop working. Reason for job resignation: Order was cancelled

[2018-04-28 04:38] 0crat commented on #144
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @izrik[/z](https://www.0crat.com/u/izrik)

[2018-05-15 07:59] 0crat commented on #118
The job [#118](https://github.com/yegor256/jpeek/issues/118) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1350775815); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-15 08:02] 0crat commented on #143
The job [#143](https://github.com/yegor256/jpeek/issues/143) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1350818902); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-15 08:06] 0crat commented on #144
The job [#144](https://github.com/yegor256/jpeek/issues/144) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1350823006); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-17 13:28] uurl commented on #118
@yegor256 ready for review

[2018-05-17 13:40] uurl commented on #118
@0crat wait #232

[2018-05-17 13:41] 0crat commented on #118
@uurl The impediment for [#118](https://github.com/yegor256/jpeek/issues/118) was registered successfully by @uurl[/z](https://www.0crat.com/u/uurl)

[2018-05-17 13:53] 0crat commented on #146
The job [#146](https://github.com/yegor256/jpeek/issues/146) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1371365379); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-05-17 14:25] 0crat commented on #148
The job [#148](https://github.com/yegor256/jpeek/issues/148) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1371441294); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-05-17 14:32] 0crat commented on #149
The job [#149](https://github.com/yegor256/jpeek/issues/149) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1371445434); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-05-17 20:41] uurl opened #233 "MetricsTest.java:186-197: The targets() method is too long"
The targets() method in MetricsTest.java is too long

[2018-05-17 20:41] 0crat commented on #233
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-17 21:25] 0crat commented on #143
@uurl The impediment for [#143](https://github.com/yegor256/jpeek/issues/143) was registered successfully by @uurl[/z](https://www.0crat.com/u/uurl)

[2018-05-18 16:42] uurl opened #234 "MWE.xsl 47-54 For the MWE metric, how to calculate the topics is not implemented."
To calculate the Maximal Weighted Entropy (MWE) the "topic" is needed. Currently this process is not implemented.

To calculate the topics: a method contains words excluding programming language keywords, stop words and punctuation. So, to calculate the MWE metric each "variable's name" is a topic.

A High Cohesive Class has two characteristics:
 - High Occupancy (Oi): the main topic is present in

[2018-05-18 16:42] 0crat commented on #234
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-18 16:56] uurl commented on #144
@0crat wait #232

[2018-05-18 16:56] 0crat commented on #144
@uurl The impediment for [#144](https://github.com/yegor256/jpeek/issues/144) was registered successfully by @uurl[/z](https://www.0crat.com/u/uurl)

[2018-05-19 13:52] yegor256 commented on #234
@uurl we have a puzzle for that, right?

[2018-05-19 14:00] uurl commented on #234
@yegor256 the puzzle #144 talked about it, but currently it doesn't specify how calculate the topics

[2018-05-19 14:03] yegor256 commented on #234
@uurl this is a problem related to the puzzle. No need to create a new ticket for it. While you (or someone else) will be solving the puzzle, the problem will appear and it will lead to new puzzles.

[2018-05-19 14:03] #234 closed

[2018-05-19 14:38] uurl commented on #234
@yegor256 Ok, thanks

[2018-05-19 23:37] uurl commented on #143
@0crat wait #240

[2018-05-19 23:37] 0crat commented on #143
@uurl Job [#143](https://github.com/yegor256/jpeek/issues/143) is already on hold

[2018-05-19 23:38] uurl commented on #144
@0crat wait #241

[2018-05-19 23:38] 0crat commented on #144
@uurl Job [#144](https://github.com/yegor256/jpeek/issues/144) is already on hold

[2018-05-19 23:38] uurl commented on #118
@0crat wait #239

[2018-05-19 23:39] 0crat commented on #118
@uurl Job [#118](https://github.com/yegor256/jpeek/issues/118) is already on hold

[2018-05-22 14:37] 0crat commented on #146
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-22 14:37] 0crat commented on #147
@oridan[/z](https://www.0crat.com/u/oridan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-22 14:37] 0crat commented on #148
@oridan[/z](https://www.0crat.com/u/oridan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-22 15:36] 0crat commented on #149
@oridan[/z](https://www.0crat.com/u/oridan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-23 12:14] oridan commented on #147
@0crat  wait pull request #235 be merged.

[2018-05-23 12:15] 0crat commented on #147
@oridan The impediment for [#147](https://github.com/yegor256/jpeek/issues/147) was registered successfully by @oridan[/z](https://www.0crat.com/u/oridan)

[2018-05-24 17:30] oridan commented on #148
@0crat wait pull request #245 be merged.

[2018-05-24 17:31] 0crat commented on #148
@oridan The impediment for [#148](https://github.com/yegor256/jpeek/issues/148) was registered successfully by @oridan[/z](https://www.0crat.com/u/oridan)

[2018-05-24 21:46] oridan opened #246 "All numeric tests are broken in MetricsTest.java - Internationalization problem"
When executing MetricsTest.java on issue #147, the only tests that passed were those that uses Double.NaN as value. All others tests that uses numeric values failed.
I made a PR anyway and they... passed.

On the stacktrace (at the bottom) is this:

So, all error where gone when I inserted on the testTarget():` Locale.setDefault(Locale.UK);`

As this project have contributors spreed around the wor

[2018-05-24 21:46] 0crat commented on #246
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-25 14:18] uurl commented on #144
@0crat status

[2018-05-25 14:19] 0crat commented on #144
@uurl This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#144](https://github.com/yegor256/jpeek/issues/144) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is assigned to @uurl[/z](https://www.0crat.com/u/uurl) for [10days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward a

[2018-05-25 15:06] uurl commented on #118
@0crat status

[2018-05-25 15:08] 0crat commented on #118
@uurl This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#118](https://github.com/yegor256/jpeek/issues/118) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is assigned to @uurl[/z](https://www.0crat.com/u/uurl) for [10days](http://www.zerocracy.com/policy.html#8)
  * There is a monetary reward a

[2018-05-25 16:56] uurl commented on #144
@0crat wait #244

[2018-05-25 16:56] 0crat commented on #144
@uurl Job [#144](https://github.com/yegor256/jpeek/issues/144) is already on hold

[2018-05-25 16:57] uurl commented on #118
@0crat wait #242

[2018-05-25 16:57] 0crat commented on #118
@uurl Job [#118](https://github.com/yegor256/jpeek/issues/118) is already on hold

[2018-05-26 17:38] pbenety commented on #146
@0crat waiting for #147 and #148 and #149

[2018-05-26 17:39] 0crat commented on #146
@pbenety The impediment for [#146](https://github.com/yegor256/jpeek/issues/146) was registered successfully by @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-05-27 09:47] uurl commented on #118
@yegor256 please close this with #242

[2018-05-27 09:51] uurl commented on #118
@yegor256 please close this with #242

[2018-05-27 09:52] uurl commented on #144
@yegor256 please close this with #244

[2018-05-27 13:48] oridan commented on #149
@0crat refuse

[2018-05-27 13:49] 0crat commented on #149
@oridan The user @oridan[/z](https://www.0crat.com/u/oridan) resigned from [#149](https://github.com/yegor256/jpeek/issues/149), please stop working. Reason for job resignation: Order was cancelled

[2018-05-27 13:49] 0crat commented on #149
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-05-28 07:52] 0crat commented on #151
The job [#151](https://github.com/yegor256/jpeek/issues/151) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1480790695); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-05-28 11:28] 0pdd commented on #118
The puzzle `9-e2b8b5ba` has disappeared from the source code, that's why I closed this issue.

[2018-05-28 11:28] #118 closed

[2018-05-28 11:29] 0pdd opened #252 "MetricsTest.java:73-78: Add test for LCC with..."
The puzzle `118-aa952a15` from #118 has to be resolved:

https://github.com/yegor256/jpeek/blob/808514e6faae8f75c83a6e4aaeb6390d2abbfb75/src/test/java/org/jpeek/MetricsTest.java#L73-L78

The puzzle was created by Alexander Menshikov on 27-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed

[2018-05-28 11:29] 0pdd opened #253 "App.java:75-77: LCC metric has impediments (see puzzles..."
The puzzle `118-16445758` from #118 has to be resolved:

https://github.com/yegor256/jpeek/blob/808514e6faae8f75c83a6e4aaeb6390d2abbfb75/src/main/java/org/jpeek/App.java#L75-L77

The puzzle was created by Alexander Menshikov on 27-May-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the

[2018-05-28 11:29] 0pdd commented on #9
@yegor256 6 puzzles [#193](https://github.com/yegor256/jpeek/issues/193), [#194](https://github.com/yegor256/jpeek/issues/194), [#195](https://github.com/yegor256/jpeek/issues/195), [#217](https://github.com/yegor256/jpeek/issues/217), [#252](https://github.com/yegor256/jpeek/issues/252), [#253](https://github.com/yegor256/jpeek/issues/253) are still not solved; solved: [#117](https://github.com/y

[2018-05-28 11:29] 0pdd commented on #118
@0pdd 2 puzzles [#252](https://github.com/yegor256/jpeek/issues/252), [#253](https://github.com/yegor256/jpeek/issues/253) are still not solved.

[2018-05-28 11:30] 0crat commented on #253
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-28 11:30] 0crat commented on #253
Job [#253](https://github.com/yegor256/jpeek/issues/253) is now in scope, role is `DEV`

[2018-05-28 11:30] 0crat commented on #252
Job [#252](https://github.com/yegor256/jpeek/issues/252) is now in scope, role is `DEV`

[2018-05-28 11:30] 0crat commented on #252
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-28 11:45] 0crat commented on #118
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @uurl[/z](https://www.0crat.com/u/uurl), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-28 11:45] 0crat commented on #118
The job [#118](https://github.com/yegor256/jpeek/issues/118) is now out of scope

[2018-05-28 11:47] 0crat commented on #149
The job [#149](https://github.com/yegor256/jpeek/issues/149) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1481147294); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-05-28 19:17] elenavolokhova commented on #118
@0crat quality good

[2018-05-28 19:19] 0crat commented on #118
Order was finished, quality is "good": +35 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2018-05-28 19:19] 0crat commented on #118
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-02 15:36] 0crat commented on #151
@oridan[/z](https://www.0crat.com/u/oridan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-02 15:36] 0crat commented on #149
@uurl[/z](https://www.0crat.com/u/uurl) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-04 06:12] #147 closed

[2018-06-04 06:12] 0pdd commented on #147
The puzzle `66-c487e21b` has disappeared from the source code, that's why I closed this issue.

[2018-06-04 06:12] 0pdd commented on #66
@yegor256 3 puzzles [#146](https://github.com/yegor256/jpeek/issues/146), [#148](https://github.com/yegor256/jpeek/issues/148), [#149](https://github.com/yegor256/jpeek/issues/149) are still not solved; solved: [#147](https://github.com/yegor256/jpeek/issues/147).

[2018-06-04 06:30] 0crat commented on #147
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @oridan[/z](https://www.0crat.com/u/oridan), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-04 06:30] 0crat commented on #147
The job [#147](https://github.com/yegor256/jpeek/issues/147) is now out of scope

[2018-06-04 08:39] 0crat commented on #154
The job [#154](https://github.com/yegor256/jpeek/issues/154) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1550839063); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-06-04 11:43] elenavolokhova commented on #147
@0crat quality good

[2018-06-04 11:45] 0crat commented on #147
Order was finished, quality is "good": +35 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-06-04 11:45] 0crat commented on #147
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-04 20:42] 0crat commented on #156
The job [#156](https://github.com/yegor256/jpeek/issues/156) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1552061599); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-05 04:59] uurl commented on #149
@0crat wait #255

[2018-06-05 05:00] 0crat commented on #149
@uurl The impediment for [#149](https://github.com/yegor256/jpeek/issues/149) was registered successfully by @uurl[/z](https://www.0crat.com/u/uurl)

[2018-06-05 13:01] oridan commented on #151
@0crat wait PR #254.

[2018-06-05 13:04] 0crat commented on #151
@oridan The impediment for [#151](https://github.com/yegor256/jpeek/issues/151) was registered successfully by @oridan[/z](https://www.0crat.com/u/oridan)

[2018-06-05 17:39] uurl commented on #144
@yegor256 this issue was solved with PR #244
I can't receive more jobs if you don't close it.

[2018-06-05 17:41] uurl commented on #143
@yegor256 this issue is solved with the PR #247.
While you don't close it, I can't receive more jobs.

[2018-06-08 13:07] paulodamaso commented on #156
@0crat please wait, looks like there is no reviewer for this issue yet.

[2018-06-08 13:09] 0crat commented on #156
@paulodamaso Can't understand "please", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status o

[2018-06-08 13:58] paulodamaso commented on #156
@0crat wait for #257 review

[2018-06-08 13:59] 0crat commented on #156
@paulodamaso The impediment for [#156](https://github.com/yegor256/jpeek/issues/156) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-09 07:49] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1600775690); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-09 11:36] 0crat commented on #154
@oridan[/z](https://www.0crat.com/u/oridan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-12 13:16] oridan commented on #151
@yegor256 PR #254 was successfully merged. Please close this ticket.

[2018-06-12 17:09] yegor256 commented on #151
@oridan it's not mine :)

[2018-06-12 17:20] 0pdd commented on #149
The puzzle `66-72fdfc23` has disappeared from the source code, that's why I closed this issue.

[2018-06-12 17:20] #149 closed

[2018-06-12 17:20] 0pdd commented on #66
@yegor256 2 puzzles [#146](https://github.com/yegor256/jpeek/issues/146), [#148](https://github.com/yegor256/jpeek/issues/148) are still not solved; solved: [#147](https://github.com/yegor256/jpeek/issues/147), [#149](https://github.com/yegor256/jpeek/issues/149).

[2018-06-12 17:42] 0crat commented on #149
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @uurl[/z](https://www.0crat.com/u/uurl), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-12 17:43] 0crat commented on #149
The job [#149](https://github.com/yegor256/jpeek/issues/149) is now out of scope

[2018-06-12 17:49] 0crat commented on #171
The job [#171](https://github.com/yegor256/jpeek/issues/171) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1631748510); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [t

[2018-06-12 19:31] elenavolokhova commented on #149
@0crat quality good

[2018-06-12 20:13] uurl commented on #144
@0crat close with #244

[2018-06-12 20:14] 0crat commented on #144
@uurl Can't understand "close", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the jo

[2018-06-12 20:19] uurl commented on #144
@0crat status

[2018-06-12 20:21] 0crat commented on #144
@uurl This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#144](https://github.com/yegor256/jpeek/issues/144) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is assigned to @uurl[/z](https://www.0crat.com/u/uurl) for [29days](http://www.zerocracy.c

[2018-06-12 20:22] oridan commented on #154
@0crat wait PR #258.

[2018-06-12 20:23] 0crat commented on #154
@oridan The impediment for [#154](https://github.com/yegor256/jpeek/issues/154) was registered successfully by @oridan[/z](https://www.0crat.com/u/oridan)

[2018-06-12 20:35] oridan commented on #151
@rok-povsic could you please close this issue?

[2018-06-12 21:21] elenavolokhova commented on #149
@0crat status

[2018-06-13 16:57] 0pdd opened #261 "SkeletonTest.java:39-43: Skeleton must be upgraded to..."
The puzzle `156-4fb50d79` from #156 has to be resolved:

https://github.com/yegor256/jpeek/blob/12575825f444153308126680a85c621a78123cad/src/test/java/org/jpeek/skeleton/SkeletonTest.java#L39-L43

The puzzle was created by rultor on 13-Jun-18.

Estimate: 30 minutes,

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and

[2018-06-13 16:57] 0pdd commented on #156
@llorllale the puzzle [#261](https://github.com/yegor256/jpeek/issues/261) is still not solved.

[2018-06-13 16:58] 0crat commented on #261
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-13 16:59] 0crat commented on #261
Job [#261](https://github.com/yegor256/jpeek/issues/261) is now in scope, role is `DEV`

[2018-06-13 17:23] yegor256 commented on #144
@uurl the issue is still open. This is most likely because you didn't remove the puzzle form the code.

[2018-06-13 18:18] paulodamaso commented on #156
@llorllale #257 merged and puzzle #261 left for improving implementation, please close.

[2018-06-13 18:57] llorllale commented on #156
@paulodamaso thanks

[2018-06-13 18:57] #156 closed

[2018-06-13 19:13] 0crat commented on #156
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-13 19:13] 0crat commented on #156
The job [#156](https://github.com/yegor256/jpeek/issues/156) is now out of scope

[2018-06-14 10:37] #151 closed

[2018-06-14 10:52] 0crat commented on #151
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @oridan[/z](https://www.0crat.com/u/oridan), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-14 10:52] 0crat commented on #151
The job [#151](https://github.com/yegor256/jpeek/issues/151) is now out of scope

[2018-06-14 11:28] elenavolokhova commented on #156
@0crat quality good

[2018-06-14 11:30] elenavolokhova commented on #151
@0crat quality good

[2018-06-14 11:32] 0crat commented on #151
Order was finished, quality is "good": +35 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-06-14 11:32] 0crat commented on #151
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-14 11:32] 0crat commented on #156
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-14 11:32] 0crat commented on #156
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-14 12:35] 0crat commented on #160
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-14 17:08] 0pdd commented on #143
The puzzle `17-e0265053` has disappeared from the source code, that's why I closed this issue.

[2018-06-14 17:08] #143 closed

[2018-06-14 17:08] 0pdd commented on #144
The puzzle `17-049820b6` has disappeared from the source code, that's why I closed this issue.

[2018-06-14 17:08] #144 closed

[2018-06-14 17:08] 0pdd commented on #17
@yegor256 all 3 puzzles are solved here: [#143](https://github.com/yegor256/jpeek/issues/143), [#144](https://github.com/yegor256/jpeek/issues/144), [#145](https://github.com/yegor256/jpeek/issues/145).

[2018-06-14 18:44] elenavolokhova commented on #144
@0crat quality good

[2018-06-14 18:45] 0crat commented on #144
Order was finished, quality is "good": +35 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2018-06-14 18:45] 0crat commented on #144
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-14 18:45] elenavolokhova commented on #143
@0crat quality good

[2018-06-14 18:47] 0crat commented on #143
Order was finished, quality is "good": +35 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2018-06-14 18:47] 0crat commented on #143
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-17 01:06] paulodamaso commented on #160
@0crat refuse

[2018-06-17 01:06] 0crat commented on #160
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: Order was cancelled

[2018-06-17 01:07] 0crat commented on #160
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-06-17 19:36] 0crat commented on #171
@uurl[/z](https://www.0crat.com/u/uurl) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-17 21:48] uurl commented on #171
@0crat wait #260

[2018-06-17 21:48] 0crat commented on #171
@uurl The impediment for [#171](https://github.com/yegor256/jpeek/issues/171) was registered successfully by @uurl[/z](https://www.0crat.com/u/uurl)

[2018-06-18 12:49] 0pdd commented on #154
The puzzle `104-9f730941` has disappeared from the source code, that's why I closed this issue.

[2018-06-18 12:49] #154 closed

[2018-06-18 12:49] 0pdd commented on #104
@skapral the only puzzle [#154](https://github.com/yegor256/jpeek/issues/154) is solved here.

[2018-06-18 14:12] 0crat commented on #154
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @oridan[/z](https://www.0crat.com/u/oridan), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-18 14:13] 0crat commented on #154
The job [#154](https://github.com/yegor256/jpeek/issues/154) is now out of scope

[2018-06-19 09:28] 0crat commented on #154
Order was finished, quality is "good": +35 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-06-19 09:28] 0crat commented on #154
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-25 04:12] 0pdd commented on #148
The puzzle `66-1f52dc9d` has disappeared from the source code, that's why I closed this issue.

[2018-06-25 04:12] #148 closed

[2018-06-25 04:12] 0pdd commented on #66
@yegor256 the puzzle [#146](https://github.com/yegor256/jpeek/issues/146) is still not solved; solved: [#147](https://github.com/yegor256/jpeek/issues/147), [#148](https://github.com/yegor256/jpeek/issues/148), [#149](https://github.com/yegor256/jpeek/issues/149).

[2018-06-25 04:29] 0crat commented on #148
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @oridan[/z](https://www.0crat.com/u/oridan), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-06-25 04:29] 0crat commented on #148
The job [#148](https://github.com/yegor256/jpeek/issues/148) is now out of scope

[2018-06-25 21:54] elenavolokhova commented on #148
@oridan @uurl Could you please explain who fixed this issue? I can see 2 PRs for it. Issue is assigned to @oridan, but seems to be fixed by @uurl. Do I understand situation correctly?

[2018-06-26 01:20] uurl commented on #148
@elenavolokhova correctly, that PR is from long time ago

[2018-06-26 12:00] elenavolokhova commented on #148
@0crat quality bad as far as issue was fixed by other person

[2018-06-26 12:01] 0crat commented on #148
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2018-06-26 12:02] 0crat commented on #148
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-06-29 15:04] oridan commented on #148
@yegor256 I submited a PR #245 on May 22 with test cases for CCM: here https://github.com/yegor256/jpeek/pull/245/commits/fcece486afcd19b21387b653f4e9dccbb7bf6aa4. Then @uurl got proactive, after all the job was not assigned to him, and also added test case for CCM here https://github.com/uurl/jpeek/commit/bfbd65ac1b6676db65f503ba585e7223846e46e0 On May 27.

I think this resolution, as it is, coul

[2018-07-01 19:43] 0pdd commented on #146
The puzzle `66-9d79a0db` has disappeared from the source code, that's why I closed this issue.

[2018-07-01 19:43] #146 closed

[2018-07-01 19:43] 0pdd commented on #66
@yegor256 all 4 puzzles are solved here: [#146](https://github.com/yegor256/jpeek/issues/146), [#147](https://github.com/yegor256/jpeek/issues/147), [#148](https://github.com/yegor256/jpeek/issues/148), [#149](https://github.com/yegor256/jpeek/issues/149).

[2018-07-01 19:59] 0crat commented on #146
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @pbenety[/z](https://www.0crat.com/u/pbenety), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-01 19:59] 0crat commented on #146
The job [#146](https://github.com/yegor256/jpeek/issues/146) is now out of scope

[2018-07-01 20:45] elenavolokhova commented on #146
@0crat quality good

[2018-07-01 20:46] 0crat commented on #146
Order was finished, quality is "good": +38 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-07-01 20:46] 0crat commented on #146
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-07-02 18:49] oridan commented on #148
@yegor256 ping

[2018-07-03 08:28] yegor256 commented on #148
@oridan the rule is simple: you fix the issue and you get paid. If you lose the issue (for any reason), you aren't paid. We don't pay attention to the reason. If this happens, it's your fault. We simply don't want to investigate, since everybody will always have some excuses. We just make rules very strict. If you lose the ticket, it's not yours anymore, you lose everything. In order to prevent a

[2018-07-03 08:49] uurl commented on #171
@yegor256 please help, the PR #260 closes this ticket, PR #260 is already accepted and merged but I don't know how to indicate that it closes this issue. While the issue is open, I don't receive any payment.

[2018-07-04 18:35] oridan commented on #148
@yegor256 It is not a case of losing an issue. What you said about losing an issue makes perfect sense, because I did prevented it, by putting it on hold for PR #245.

Then, while the PR was beeing solved, @uurl  comes by and also add a test case for CCM metric. My work was done [here](https://github.com/yegor256/jpeek/commit/fcece486afcd19b21387b653f4e9dccbb7bf6aa4) on May 22, his was done [there

[2018-07-06 06:43] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870656922); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-06 06:48] 0crat commented on #175
The job [#175](https://github.com/yegor256/jpeek/issues/175) assigned to @jsoroka[/z](https://www.0crat.com/u/jsoroka), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870661983); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-06 06:53] 0crat commented on #176
The job [#176](https://github.com/yegor256/jpeek/issues/176) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870667044); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-06 06:58] 0crat commented on #180
The job [#180](https://github.com/yegor256/jpeek/issues/180) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870672094); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-06 07:03] 0crat commented on #181
The job [#181](https://github.com/yegor256/jpeek/issues/181) assigned to @robsonataide[/z](https://www.0crat.com/u/robsonataide), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870717146); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no