[2018-07-06 07:08] 0crat commented on #188
The job [#188](https://github.com/yegor256/jpeek/issues/188) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870722196); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-06 07:13] 0crat commented on #193
The job [#193](https://github.com/yegor256/jpeek/issues/193) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870727249); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-06 07:18] 0crat commented on #194
The job [#194](https://github.com/yegor256/jpeek/issues/194) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870732299); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, rea

[2018-07-06 07:23] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870737351); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, r

[2018-07-06 07:33] 0crat commented on #200
The job [#200](https://github.com/yegor256/jpeek/issues/200) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870747447); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-06 07:43] 0crat commented on #201
The job [#201](https://github.com/yegor256/jpeek/issues/201) assigned to @robsonataide[/z](https://www.0crat.com/u/robsonataide), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1870757697); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-07-06 11:37] 0crat commented on #203
The job [#203](https://github.com/yegor256/jpeek/issues/203) assigned to @mesut[/z](https://www.0crat.com/u/mesut), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1871139128); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-06 11:47] 0crat commented on #187
The job [#187](https://github.com/yegor256/jpeek/issues/187) assigned to @mesut[/z](https://www.0crat.com/u/mesut), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1871149229); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-07-06 14:49] oridan commented on #148
@yegor256 ping

[2018-07-11 07:38] 0crat commented on #160
@oridan[/z](https://www.0crat.com/u/oridan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 07:38] 0crat commented on #176
@gauee[/z](https://www.0crat.com/u/gauee) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 07:38] 0crat commented on #180
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 07:38] 0crat commented on #181
@robsonataide[/z](https://www.0crat.com/u/robsonataide) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 07:38] 0crat commented on #188
@oridan[/z](https://www.0crat.com/u/oridan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 07:38] 0crat commented on #193
@gauee[/z](https://www.0crat.com/u/gauee) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 07:38] 0crat commented on #194
@oridan[/z](https://www.0crat.com/u/oridan) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 07:38] 0crat commented on #195
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 07:38] 0crat commented on #199
@robsonataide[/z](https://www.0crat.com/u/robsonataide) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 07:38] 0crat commented on #200
@gauee[/z](https://www.0crat.com/u/gauee) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 08:37] 0crat commented on #201
@robsonataide[/z](https://www.0crat.com/u/robsonataide) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 10:39] mesut commented on #203
0crat wait for PR #264

[2018-07-11 10:39] mesut commented on #203
@0crat  wait for PR #264

[2018-07-11 10:39] 0crat commented on #203
@mesut The impediment for [#203](https://github.com/yegor256/jpeek/issues/203) was registered successfully by @mesut[/z](https://www.0crat.com/u/mesut)

[2018-07-11 13:36] 0crat commented on #187
@mesut[/z](https://www.0crat.com/u/mesut) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-12 18:20] gauee commented on #193
the issue depends on #187 which has not been finished yet.
please wait

[2018-07-12 18:20] gauee commented on #193
wait

[2018-07-13 07:02] gauee opened #267 "Update README.md with location of valid intellij codestyle scheme."
I cannot find the location of valid IntelliJ code style scheme for that project.
I imported the yegors [settings.jar](http://img.teamed.io/settings.jar) from [Strict Control of Java Code Quality](https://www.yegor256.com/2014/08/13/strict-code-quality-control.html) and after applied auto formatting I see that whole project changed for scheme _be_ and _Default_1_.

Having such information in REAMDE

[2018-07-13 07:02] 0crat commented on #267
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-15 02:11] oridan commented on #160
@0crat refuse

[2018-07-15 02:11] 0crat commented on #160
@oridan The user @oridan[/z](https://www.0crat.com/u/oridan) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: Order was cancelled

[2018-07-15 02:11] oridan commented on #188
@0crat refuse

[2018-07-15 02:11] 0crat commented on #160
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-07-15 02:11] oridan commented on #194
@0crat refuse

[2018-07-15 02:11] 0crat commented on #188
@oridan The user @oridan[/z](https://www.0crat.com/u/oridan) resigned from [#188](https://github.com/yegor256/jpeek/issues/188), please stop working. Reason for job resignation: Order was cancelled

[2018-07-15 02:12] 0crat commented on #194
@oridan The user @oridan[/z](https://www.0crat.com/u/oridan) resigned from [#194](https://github.com/yegor256/jpeek/issues/194), please stop working. Reason for job resignation: Order was cancelled

[2018-07-15 02:12] 0crat commented on #188
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-07-15 02:12] 0crat commented on #194
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-07-16 08:19] 0crat commented on #176
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#176](https://github.com/yegor256/jpeek/issues/176), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 08:19] 0crat commented on #176
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2018-07-16 08:19] 0crat commented on #180
The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#180](https://github.com/yegor256/jpeek/issues/180), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 08:19] 0crat commented on #180
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2018-07-16 08:19] 0crat commented on #181
The user @robsonataide[/z](https://www.0crat.com/u/robsonataide) resigned from [#181](https://github.com/yegor256/jpeek/issues/181), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 08:19] 0crat commented on #181
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @robsonataide[/z](https://www.0crat.com/u/robsonataide)

[2018-07-16 08:19] 0crat commented on #193
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#193](https://github.com/yegor256/jpeek/issues/193), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 08:19] 0crat commented on #193
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2018-07-16 08:19] 0crat commented on #195
The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#195](https://github.com/yegor256/jpeek/issues/195), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 08:20] 0crat commented on #195
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2018-07-16 08:22] 0crat commented on #199
The user @robsonataide[/z](https://www.0crat.com/u/robsonataide) resigned from [#199](https://github.com/yegor256/jpeek/issues/199), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 08:22] 0crat commented on #199
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @robsonataide[/z](https://www.0crat.com/u/robsonataide)

[2018-07-16 08:22] 0crat commented on #200
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#200](https://github.com/yegor256/jpeek/issues/200), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 08:22] 0crat commented on #200
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2018-07-16 08:22] 0crat commented on #201
The user @robsonataide[/z](https://www.0crat.com/u/robsonataide) resigned from [#201](https://github.com/yegor256/jpeek/issues/201), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 08:22] 0crat commented on #201
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @robsonataide[/z](https://www.0crat.com/u/robsonataide)

[2018-07-16 08:49] gauee commented on #176
@yegor256, could you please reassign that issue to me.

[2018-07-16 08:49] gauee commented on #200
@yegor256, could you please reassign that issue to me.

[2018-07-16 08:50] gauee commented on #193
@yegor256, could you please reassign that issue to me.

[2018-07-16 08:52] gauee commented on #193
@0crat wait until #187 is fixed, as the puzzle mentions

[2018-07-16 09:52] 0crat commented on #193
@gauee Job [#193](https://github.com/yegor256/jpeek/issues/193) is not assigned, can't put it on hold

[2018-07-16 10:49] 0crat commented on #187
@mesut The impediment for [#187](https://github.com/yegor256/jpeek/issues/187) was registered successfully by @mesut[/z](https://www.0crat.com/u/mesut)

[2018-07-16 21:26] baybatu opened #268 "App is broken when --sources and --target directories are same with --overwrite option is enabled"
App is broken when --sources and --target directories are same when --overwrite option is enabled. It deletes `--sources` directory also.

Example broken command

[code]
Gives following stack trace:

[code]

It would be better to validate `--sources` and `--target` before delete `--target` directory and if they are equal, then show user-friendly/descriptive error message.

[2018-07-17 08:14] yegor256 commented on #193
@0crat assign @gauee

[2018-07-17 08:14] yegor256 commented on #176
@0crat assign @gauee

[2018-07-17 08:14] yegor256 commented on #200
@0crat assign @gauee

[2018-07-17 08:18] 0crat commented on #193
@yegor256 The job [#193](https://github.com/yegor256/jpeek/issues/193) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1980824189); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-17 08:18] 0crat commented on #200
@yegor256 The job [#200](https://github.com/yegor256/jpeek/issues/200) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1980824190); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cl

[2018-07-17 08:20] 0crat commented on #193
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-17 08:20] 0crat commented on #200
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-18 06:31] 0crat commented on #268
Job [#268](https://github.com/yegor256/jpeek/issues/268) is now in scope, role is `DEV`

[2018-07-18 06:33] 0crat commented on #268
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2018-07-18 06:37] #203 closed

[2018-07-18 06:37] 0pdd commented on #203
The puzzle `90-29fbce76` has disappeared from the source code, that's why I closed this issue.

[2018-07-18 06:37] 0pdd commented on #90
@yegor256 the only puzzle [#203](https://github.com/yegor256/jpeek/issues/203) is solved here.

[2018-07-18 06:43] yegor256 commented on #267
@gauee we don't recommend auto-formatting in our projects, it's better to do it all manually, here is the reason: https://www.yegor256.com/2018/01/16/educational-aspect-of-static-analysis.html

[2018-07-18 06:43] #267 closed

[2018-07-18 06:44] yegor256 commented on #171
@uurl I don't think I understand. What exactly do you want me to do?

[2018-07-18 06:53] 0crat commented on #203
@elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova) please review this job completed by @mesut[/z](https://www.0crat.com/u/mesut), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-07-18 06:53] 0crat commented on #203
The job [#203](https://github.com/yegor256/jpeek/issues/203) is now out of scope

[2018-07-18 06:59] 0crat commented on #267
Job `gh:yegor256/jpeek#267` is not assigned, can't get performer

[2018-07-18 06:59] 0crat commented on #267
The job is not in WBS, won't close the order

[2018-07-18 07:54] uurl commented on #171
@yegor256  didn't received payment for this job yet; the PR #260 closes this ticket. Could you indicate @0crat that it's closed?

[2018-07-18 07:54] 0crat commented on #171
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/171#issuecomment-405843321); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-07-18 20:20] gauee commented on #200
@0crat wait for PR #266

[2018-07-18 20:21] gauee commented on #176
@0crat wait for PR #265

[2018-07-18 20:22] 0crat commented on #200
@gauee The impediment for [#200](https://github.com/yegor256/jpeek/issues/200) was registered successfully by @gauee[/z](https://www.0crat.com/u/gauee)

[2018-07-19 09:01] yegor256 commented on #171
@uurl why do you expect to receive the payment, if the job is not closed yet? Please, read this: https://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2018-07-19 10:47] mesut commented on #203
@elenavolokhova can we please review the quality for closing this issue ?

[2018-07-19 11:47] elenavolokhova commented on #203
@0crat quality good

[2018-07-19 12:01] 0crat commented on #203
Order was finished, quality is "good": +46 point(s) just awarded to @mesut[/z](https://www.0crat.com/u/mesut)

[2018-07-19 12:01] 0crat commented on #203
Quality review completed: +8 point(s) just awarded to @elenavolokhova[/z](https://www.0crat.com/u/elenavolokhova)

[2018-07-21 07:02] RajanAMistry commented on #16
@0crat status

[2018-07-21 07:05] 0crat commented on #16
@RajanAMistry This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#16](https://github.com/yegor256/jpeek/issues/16) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) i

[2018-07-27 08:34] 0crat commented on #193
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#193](https://github.com/yegor256/jpeek/issues/193), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-27 08:34] 0crat commented on #193
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2018-08-10 19:32] dgroup commented on #230
http://i.jpeek.org/com.github.dgroup/docker-unittests/index.html
[code]

[2018-08-23 10:58] uurl commented on #180
@0crat assign @uurl

[2018-08-23 10:59] 0crat commented on #180
@uurl You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @uurl[/z](https://www.0crat.com/u/uurl) are: `DEV`

[2018-11-29 05:33] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @lavinj[/z](https://www.0crat.com/u/lavinj), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/65846fb1-df63-4138-9210-1a649a131881); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-11-29 05:40] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b6b88ded-4acf-465d-977d-cb5fec3f005b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-29 05:48] 0crat commented on #175
The job [#175](https://github.com/yegor256/jpeek/issues/175) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/beeba7bb-da03-41a6-a66f-70d74fde689e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2018-11-29 06:00] 0crat commented on #180
The job [#180](https://github.com/yegor256/jpeek/issues/180) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/70d0e888-d97d-49a8-b6c4-e4b9dee57c74); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-11-29 06:08] 0crat commented on #181
The job [#181](https://github.com/yegor256/jpeek/issues/181) assigned to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/af8a566a-c3ff-4fc6-8e26-d42878f489e9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2018-11-29 06:18] 0crat commented on #188
The job [#188](https://github.com/yegor256/jpeek/issues/188) assigned to @butenkos[/z](https://www.0crat.com/u/butenkos), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/275d8e8d-3f97-4265-90e7-eb2e6a0319aa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-29 06:30] 0crat commented on #193
The job [#193](https://github.com/yegor256/jpeek/issues/193) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/bdcd47d8-f04f-4d36-8a83-8827b3d525c0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-29 06:38] 0crat commented on #194
The job [#194](https://github.com/yegor256/jpeek/issues/194) assigned to @lavinj[/z](https://www.0crat.com/u/lavinj), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/093ec82c-1a80-4186-afb3-87d12e233826); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-11-29 06:48] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/07ffaf31-bcbd-486e-8bdd-ae8898de7713); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2018-11-29 07:00] 0crat commented on #199
The job [#199](https://github.com/yegor256/jpeek/issues/199) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/4fc00f3b-4433-4851-a454-be3345ecda90); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-29 07:08] 0crat commented on #201
The job [#201](https://github.com/yegor256/jpeek/issues/201) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7fbcc19d-93ca-4504-9902-299fda2d9720); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-11-29 07:13] 0crat commented on #204
The job [#204](https://github.com/yegor256/jpeek/issues/204) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7563a3fc-a3a6-4265-9953-eacf8dab72a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-29 07:36] 0crat commented on #192
The job [#192](https://github.com/yegor256/jpeek/issues/192) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/92d34ce5-737a-4b2f-886c-b1f23a262325); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-11-29 07:38] 0crat commented on #215
The job [#215](https://github.com/yegor256/jpeek/issues/215) assigned to @mesut[/z](https://www.0crat.com/u/mesut), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e70e9388-545b-4f14-8f23-2ee146917740); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2018-11-29 07:51] 0crat commented on #216
The job [#216](https://github.com/yegor256/jpeek/issues/216) assigned to @verkhovin[/z](https://www.0crat.com/u/verkhovin), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/39e98635-7bbd-4c3d-aee1-383f21939ac2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2018-11-29 07:56] 0crat commented on #217
The job [#217](https://github.com/yegor256/jpeek/issues/217) assigned to @butenkos[/z](https://www.0crat.com/u/butenkos), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/466dec8d-f1fe-41c3-9ed7-9566a97f3ac8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-29 07:59] 0crat commented on #218
The job [#218](https://github.com/yegor256/jpeek/issues/218) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/fc69fdb9-054e-4af3-86ff-2aefba0b7e94); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2018-11-29 08:09] 0crat commented on #219
The job [#219](https://github.com/yegor256/jpeek/issues/219) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c837f796-f9cb-4e84-ad2e-adb5fd1a893c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2018-11-29 08:14] 0crat commented on #220
The job [#220](https://github.com/yegor256/jpeek/issues/220) assigned to @oridan[/z](https://www.0crat.com/u/oridan), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ad4ceb45-abe0-4bf1-b70c-55b9ade3fa5e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2018-11-29 10:40] paulodamaso opened #271 "http://i.jpeek.org/ is down"
jpeek webpage at http://i.jpeek.org/ is down, showing the heroku default error page

[2018-11-29 10:41] 0crat commented on #271
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-29 10:41] 0crat commented on #271
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-29 11:34] Serranya opened #272 "Build is broken with java11"
When trying to build jPeek with
[code]
and
[code]

the build fails with the following error
[code]

We should make sure that we stay compatible with more recent java releases.

[2018-11-29 11:34] 0crat commented on #272
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-29 23:36] paulodamaso opened #274 "Automate jpeek analisys with maven plugin"
`jpeek` should provide an maven plugin so we could run it automatically on each build.
Proposed features:
- `jpeek-maven-plugin` to be configured on project `pom.xml` file, and will collect metrics on maven builds (similar to `qulice-maven-plugin`), saving it from some directory on build path
- cohesion check: `jpeek-maven-plugin` will allow to set target values from cohesion metrics and will chec

[2018-11-29 23:36] 0crat commented on #274
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-29 23:36] 0crat commented on #274
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-29 23:39] paulodamaso opened #275 "Reports on html"
`jpeek` should generate user-friendly reports in HTML format. This could be a continuation to https://github.com/yegor256/jpeek/issues/10 : if this is already implemented, `READ.me` should be updated to document how generating HTML reports.

[2018-11-29 23:39] 0crat commented on #275
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-29 23:39] 0crat commented on #275
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-29 23:44] paulodamaso opened #276 "jpeek CI server"
We should have an CI server which would run `jpeek` analysis. It would behave like most CI tools (travis, circleci, appveyor, etc)
Proposed features:
- github / gitlab webhook integration: `jpeek` CI should work with webhooks to trigger cohesion analysis on github / gitlab events
- `jpeek` configuration file (`jpeek.yml`) for setting CI configfuration
- web interface for setting up repository conf

[2018-11-29 23:44] 0crat commented on #276
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-29 23:44] 0crat commented on #276
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-30 00:00] paulodamaso opened #277 "jpeek IntelliJ IDEA plugin"
Since we advertise IntelliJ IDEA IDE, we should provide a plugin where we could show cohesion metrics in code view or project tree, something like jacoco intellij plugin.

[2018-11-30 00:00] 0crat commented on #277
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-30 00:00] 0crat commented on #277
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-03 09:31] butenkos commented on #188
@0crat refuse

[2018-12-03 09:32] butenkos commented on #217
@0crat refuse

[2018-12-03 09:32] 0crat commented on #188
@butenkos The user @butenkos[/z](https://www.0crat.com/u/butenkos) resigned from [#188](https://github.com/yegor256/jpeek/issues/188), please stop working. Reason for job resignation: Order was cancelled

[2018-12-03 09:32] 0crat commented on #217
@butenkos The user @butenkos[/z](https://www.0crat.com/u/butenkos) resigned from [#217](https://github.com/yegor256/jpeek/issues/217), please stop working. Reason for job resignation: Order was cancelled

[2018-12-03 09:32] 0crat commented on #188
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @butenkos[/z](https://www.0crat.com/u/butenkos)

[2018-12-03 09:33] 0crat commented on #217
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @butenkos[/z](https://www.0crat.com/u/butenkos)

[2018-12-03 10:20] Serranya commented on #193
@0crat wait for #187

[2018-12-03 10:21] 0crat commented on #193
@Serranya The impediment for [#193](https://github.com/yegor256/jpeek/issues/193) was registered successfully by @serranya[/z](https://www.0crat.com/u/serranya)

[2018-12-09 05:45] 0crat commented on #16
The user @lavinj[/z](https://www.0crat.com/u/lavinj) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 05:45] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @lavinj[/z](https://www.0crat.com/u/lavinj)

[2018-12-09 05:48] 0crat commented on #160
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 05:48] 0crat commented on #160
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2018-12-09 05:58] 0crat commented on #175
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#175](https://github.com/yegor256/jpeek/issues/175), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 05:58] 0crat commented on #175
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2018-12-09 06:18] 0crat commented on #181
The user @danielpalafox[/z](https://www.0crat.com/u/danielpalafox) resigned from [#181](https://github.com/yegor256/jpeek/issues/181), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 06:18] 0crat commented on #181
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox)

[2018-12-09 06:48] 0crat commented on #194
The user @lavinj[/z](https://www.0crat.com/u/lavinj) resigned from [#194](https://github.com/yegor256/jpeek/issues/194), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 06:48] 0crat commented on #194
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @lavinj[/z](https://www.0crat.com/u/lavinj)

[2018-12-09 06:58] 0crat commented on #195
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#195](https://github.com/yegor256/jpeek/issues/195), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 06:58] 0crat commented on #195
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2018-12-09 07:08] 0crat commented on #199
The user @serranya[/z](https://www.0crat.com/u/serranya) resigned from [#199](https://github.com/yegor256/jpeek/issues/199), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 07:08] 0crat commented on #199
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2018-12-09 07:13] 0crat commented on #201
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#201](https://github.com/yegor256/jpeek/issues/201), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 07:13] 0crat commented on #201
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2018-12-09 07:44] 0crat commented on #192
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#192](https://github.com/yegor256/jpeek/issues/192), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 07:44] 0crat commented on #192
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2018-12-09 07:48] 0crat commented on #215
The user @mesut[/z](https://www.0crat.com/u/mesut) resigned from [#215](https://github.com/yegor256/jpeek/issues/215), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 07:48] 0crat commented on #215
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mesut[/z](https://www.0crat.com/u/mesut)

[2018-12-09 07:58] 0crat commented on #216
The user @verkhovin[/z](https://www.0crat.com/u/verkhovin) resigned from [#216](https://github.com/yegor256/jpeek/issues/216), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 07:58] 0crat commented on #216
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @verkhovin[/z](https://www.0crat.com/u/verkhovin)

[2018-12-09 08:08] 0crat commented on #218
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#218](https://github.com/yegor256/jpeek/issues/218), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 08:08] 0crat commented on #218
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2018-12-09 08:18] 0crat commented on #219
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#219](https://github.com/yegor256/jpeek/issues/219), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 08:18] 0crat commented on #219
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2018-12-09 08:18] 0crat commented on #220
The user @oridan[/z](https://www.0crat.com/u/oridan) resigned from [#220](https://github.com/yegor256/jpeek/issues/220), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-12-09 08:18] 0crat commented on #220
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-12-10 19:14] verkhovin commented on #216
@yegor256 my PR for this issue is waiting for review for 8 days. Assign this issue back to me, if you can.
In any case, watch at the [pr](https://github.com/yegor256/jpeek/pull/278), there is nobody in the REV role for the issue

[2018-12-14 13:16] 0crat commented on #57
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-12-14 13:16] 0crat commented on #171
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-12-14 13:16] 0crat commented on #187
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-12-14 13:16] 0crat commented on #200
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-12-14 13:16] 0crat commented on #176
The architect of the project has changed; @yegor256[/z](https://www.0crat.com/u/yegor256) is not at this role anymore; @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) is the architect now

[2018-12-15 08:47] 0pdd commented on #176
The puzzle `106-8e3f4f01` has disappeared from the source code, that's why I closed this issue.

[2018-12-15 08:47] #176 closed

[2018-12-15 08:47] 0pdd commented on #106
@skapral the only puzzle [#176](https://github.com/yegor256/jpeek/issues/176) is solved here.

[2018-12-15 09:13] 0crat commented on #176
The job [#176](https://github.com/yegor256/jpeek/issues/176) is now out of scope

[2018-12-15 09:13] 0crat commented on #176
Order was finished: +30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2018-12-15 10:51] 0pdd commented on #228
The puzzle `139-752903d5` has disappeared from the source code, that's why I closed this issue.

[2018-12-15 10:51] #228 closed

[2018-12-15 10:51] 0pdd commented on #92
@yegor256 all 3 puzzles are solved here: [#138](https://github.com/yegor256/jpeek/issues/138), [#139](https://github.com/yegor256/jpeek/issues/139), [#228](https://github.com/yegor256/jpeek/issues/228).

[2018-12-15 10:51] 0pdd commented on #139
@0pdd the only puzzle [#228](https://github.com/yegor256/jpeek/issues/228) is solved here.

[2018-12-15 11:08] 0crat commented on #228
Job `gh:yegor256/jpeek#228` is not assigned, can't get performer

[2018-12-15 11:08] 0crat commented on #228
The job [#228](https://github.com/yegor256/jpeek/issues/228) is now out of scope

[2018-12-16 13:48] verkhovin commented on #216
@paulodamaso as you are a new architect, my last comment(https://github.com/yegor256/jpeek/issues/216#issuecomment-445936195) is addressed to you. Please, pay attention

[2018-12-17 11:04] 0pdd commented on #199
The puzzle `134-9a3b0d90` has disappeared from the source code, that's why I closed this issue.

[2018-12-17 11:04] 0pdd opened #282 "index.xsd:143-144: Index.xsd: add `xsd:documentation` as..."
The puzzle `199-15890460` from #199 has to be resolved:

https://github.com/yegor256/jpeek/blob/dbc5c0552c1636eade98c9e5a05a9c9753bc85a5/src/main/resources/org/jpeek/xsd/index.xsd#L143-L144

The puzzle was created by rultor on 17-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2018-12-17 11:04] 0pdd commented on #134
@skapral 3 puzzles [#200](https://github.com/yegor256/jpeek/issues/200), [#201](https://github.com/yegor256/jpeek/issues/201), [#282](https://github.com/yegor256/jpeek/issues/282) are still not solved; solved: [#199](https://github.com/yegor256/jpeek/issues/199).

[2018-12-17 11:04] 0pdd commented on #199
@0pdd the puzzle [#282](https://github.com/yegor256/jpeek/issues/282) is still not solved.

[2018-12-17 11:04] 0crat commented on #282
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-17 11:10] 0crat commented on #282
Job [#282](https://github.com/yegor256/jpeek/issues/282) is now in scope, role is `DEV`

[2018-12-17 11:21] 0crat commented on #199
Job `gh:yegor256/jpeek#199` is not assigned, can't get performer

[2018-12-17 11:21] 0crat commented on #199
The job [#199](https://github.com/yegor256/jpeek/issues/199) is now out of scope

[2018-12-17 11:53] paulodamaso commented on #171
@nikialeksey Looks like this one already been merged, please take a look

[2018-12-17 11:53] #271 closed

[2018-12-17 11:55] paulodamaso commented on #121
@0crat assign @Serranya

[2018-12-17 11:56] paulodamaso commented on #122
@0crat assign @Serranya

[2018-12-17 12:02] 0crat commented on #121
@paulodamaso The job [#121](https://github.com/yegor256/jpeek/issues/121) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1b709366-9f3d-4f99-a687-19983d1fca4b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2018-12-17 12:06] 0crat commented on #122
@paulodamaso The job [#122](https://github.com/yegor256/jpeek/issues/122) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/11c1fbde-cfa6-4693-8b07-fef5d79a1a7e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2018-12-17 12:10] 0crat commented on #121
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-17 12:10] 0crat commented on #122
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-17 12:10] 0crat commented on #271
Job `gh:yegor256/jpeek#271` is not assigned, can't get performer

[2018-12-17 12:10] 0crat commented on #271
This job is not in scope

[2018-12-18 08:40] nikialeksey commented on #171
O, yeah, cool!

[2018-12-18 08:40] #171 closed

[2018-12-18 09:00] 0crat commented on #171
The project doesn't have enough funds, can't make a payment

[2018-12-18 09:02] 0crat commented on #171
The job [#171](https://github.com/yegor256/jpeek/issues/171) is now out of scope

[2018-12-18 09:02] 0crat commented on #171
Order was finished: +30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2018-12-18 09:04] 0crat commented on #171
The project doesn't have enough funds, can't make a payment

[2018-12-18 11:10] oridan commented on #180
@paulodamaso ping.

[2018-12-18 11:12] paulodamaso commented on #180
@oridan Your PR have merge conflicts, please resolve them

[2018-12-19 10:45] paulodamaso commented on #199
@0crat pay @Serranya 30min

[2018-12-19 10:46] 0crat commented on #199
@paulodamaso Argument "@Serranya" doesn't match regex `\d+min`

[2018-12-19 10:48] paulodamaso commented on #199
@0crat pay 30min @Serranya

[2018-12-19 10:48] 0crat commented on #199
@paulodamaso The project is under-funded, you can't do it now, see [§49](http://www.zerocracy.com/policy.html#49)

[2018-12-19 11:10] 0crat commented on #199
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-19 11:10] paulodamaso commented on #199
@0crat assign @Serranya

[2018-12-19 11:10] 0crat commented on #199
@paulodamaso The job [#199](https://github.com/yegor256/jpeek/issues/199) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/76fc0152-86c1-4c79-9121-92939d22f987); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2018-12-19 11:11] 0crat commented on #199
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-19 11:20] #199 closed

[2018-12-19 11:42] 0crat commented on #199
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-19 11:44] 0crat commented on #199
The job [#199](https://github.com/yegor256/jpeek/issues/199) is now out of scope

[2018-12-19 11:44] 0crat commented on #199
Order was finished: +35 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2018-12-19 18:42] 0pdd commented on #93
@yegor256 the puzzle [#121](https://github.com/yegor256/jpeek/issues/121) is still not solved; solved: [#122](https://github.com/yegor256/jpeek/issues/122).

[2018-12-19 18:59] 0crat commented on #122
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2018-12-20 00:40] paulodamaso commented on #122
@0crat status

[2018-12-20 00:44] 0crat commented on #122
@paulodamaso This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#122](https://github.com/yegor256/jpeek/issues/122) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @serranya[/z](https://www.0crat.com/u/serranya) for [3days](http://

[2018-12-20 00:48] 0crat commented on #122
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-20 00:48] paulodamaso commented on #122
@0pdd close

[2018-12-20 01:21] #122 closed

[2018-12-20 01:42] 0crat commented on #122
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.39.7](https://github.com/zerocracy/farm): CID: [86784cc7-4423-434f-85ad-3a254dd08054](https://www.0crat.com/footprint/C7JGJ00DP/86784cc7-4423-434f-85ad-3a254dd08054), Type: "Close job"

[2018-12-20 01:46] 0crat commented on #122
The job [#122](https://github.com/yegor256/jpeek/issues/122) is now out of scope

[2018-12-20 01:49] 0crat commented on #122
Order was finished: +30 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2018-12-20 17:10] #180 closed

[2018-12-20 17:31] 0crat commented on #180
The project doesn't have enough funds, can't make a payment

[2018-12-20 17:33] 0crat commented on #180
The job [#180](https://github.com/yegor256/jpeek/issues/180) is now out of scope

[2018-12-20 17:33] 0crat commented on #180
Order was finished: +30 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2018-12-20 17:33] 0crat commented on #180
The project doesn't have enough funds, can't make a payment

[2018-12-23 09:52] Serranya commented on #121
@0crat wait #284

[2018-12-23 10:05] 0crat commented on #121
@Serranya The impediment for [#121](https://github.com/yegor256/jpeek/issues/121) was registered successfully by @serranya[/z](https://www.0crat.com/u/serranya)

[2018-12-23 13:45] Serranya commented on #121
For documentation purposes:

in the PR [I wrote](https://github.com/yegor256/jpeek/pull/284) that we either calculate the metric wrong, or the Puzzle is wrong.

After consulting with `ARC` we decided that the metric is correct but the puzzle wrong. Therefore the PR is a little bit different that described in the puzzle.

[2018-12-24 17:45] 0crat commented on #121
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2018-12-24 18:12] Serranya commented on #121
@paulodamaso seems like something is wrong here. @0crat did not award me any points.

[2018-12-24 18:12] 0crat commented on #121
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/121#issuecomment-449760747); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-12-24 18:30] 0crat commented on #121
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2018-12-24 18:31] paulodamaso commented on #121
@0crat boost 4x

[2018-12-24 18:31] 0crat commented on #121
@paulodamaso Boost 4x was set for [#121](https://github.com/yegor256/jpeek/issues/121)

[2018-12-24 18:32] 0crat commented on #121
Boosting tasks is against our principles, see [§15](http://www.zerocracy.com/policy.html#15): -10 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-24 18:32] paulodamaso commented on #121
@0crat status

[2018-12-24 18:33] 0crat commented on #121
@paulodamaso This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#121](https://github.com/yegor256/jpeek/issues/121) is [in scope](http://www.zerocracy.com/policy.html#14) for 7days
  * The role is `DEV`
  * The job is assigned to @serranya[/z](https://www.0crat.com/u/serranya) for [7days](http://

[2018-12-24 18:34] #121 closed

[2018-12-24 18:51] 0crat commented on #121
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.39.7](https://github.com/zerocracy/farm): CID: [ce0de0e0-6af5-4353-94c0-58e4558d3cbc](https://www.0crat.com/footprint/C7JGJ00DP/ce0de0e0-6af5-4353-94c0-58e4558d3cbc), Type: "Close job"

[2018-12-24 18:51] 0crat commented on #121
@cucumber007[/z](https://www.0crat.com/u/cucumber007) please review this job completed by @serranya[/z](https://www.0crat.com/u/serranya), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-24 18:52] 0crat commented on #121
The job [#121](https://github.com/yegor256/jpeek/issues/121) is now out of scope

[2018-12-25 16:06] yegor256 commented on #276
@paulodamaso good idea

[2018-12-25 16:06] yegor256 commented on #275
@paulodamaso I believe this is already implemented

[2018-12-28 22:59] paulodamaso opened #285 "Release 0.27"

[2018-12-28 23:36] paulodamaso commented on #285
@rultor release, tag is `0.27`

[2018-12-28 23:37] rultor commented on #285
@paulodamaso OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17092-450443542)

[2018-12-28 23:58] rultor commented on #285
@paulodamaso Done! FYI, the full log is [here](http://www.rultor.com/t/17092-450443542) (took me 21min)

[2018-12-29 00:06] #285 closed

[2019-01-01 16:04] fabriciofx opened #287 "Let's update Copyright notice to 2019"
Let's update Copyright notice to 2019.

[2019-01-01 16:04] 0crat commented on #287
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-01 16:04] 0crat commented on #287
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-03 10:16] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b5f87455-f8aa-45c4-974a-45287bc02a1a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-03 10:30] 0crat commented on #181
The job [#181](https://github.com/yegor256/jpeek/issues/181) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/80876a62-8b90-4bcd-afeb-826a61b3fade); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2019-01-03 10:34] 0crat commented on #188
The job [#188](https://github.com/yegor256/jpeek/issues/188) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e7ef0751-da85-4dd4-81f9-4f59615be63c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-03 10:45] 0crat commented on #194
The job [#194](https://github.com/yegor256/jpeek/issues/194) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/2e347432-3f8c-4b32-8744-c765b6dcf612); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2019-01-03 10:53] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @szaffarano[/z](https://www.0crat.com/u/szaffarano), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/23f0f9bf-0a4e-44ba-968c-3ff60897c9a3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-01-03 11:05] 0crat commented on #201
The job [#201](https://github.com/yegor256/jpeek/issues/201) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d6f277fd-778c-4749-838d-468ecd25aa66); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-03 11:13] 0crat commented on #204
The job [#204](https://github.com/yegor256/jpeek/issues/204) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/0d1e175b-de9b-49f4-adbf-d4174148da36); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-04 10:18] paulodamaso commented on #225
@0crat status

[2019-01-04 10:18] 0crat commented on #225
@paulodamaso This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#225](https://github.com/yegor256/jpeek/issues/225) is [in scope](http://www.zerocracy.com/policy.html#14) for 10mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4)

[2019-01-04 10:22] paulodamaso commented on #225
@0crat assign @ilyakharlamov

[2019-01-04 10:23] 0crat commented on #225
@paulodamaso The job [#225](https://github.com/yegor256/jpeek/issues/225) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/5b001620-d0f3-43c6-8f2e-d38c6ae37818); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-01-04 12:59] #225 closed

[2019-01-04 12:59] 0pdd commented on #225
The puzzle `135-9cabe027` has disappeared from the source code, that's why I closed this issue.

[2019-01-04 12:59] 0pdd commented on #135
@skapral 3 puzzles [#224](https://github.com/yegor256/jpeek/issues/224), [#226](https://github.com/yegor256/jpeek/issues/226), [#227](https://github.com/yegor256/jpeek/issues/227) are still not solved; solved: [#225](https://github.com/yegor256/jpeek/issues/225).

[2019-01-04 13:16] 0crat commented on #225
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-04 13:16] 0crat commented on #225
@cucumber007[/z](https://www.0crat.com/u/cucumber007) please review this job completed by @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-04 13:17] 0crat commented on #225
The job [#225](https://github.com/yegor256/jpeek/issues/225) is now out of scope

[2019-01-05 18:13] ilyakharlamov commented on #204
There is a confusion: LORM is a well defined metric: it's just a`total number of relations in the class / total number of possible relations`, that's [implemented](https://github.com/yegor256/jpeek/pull/292).

If we want to measure the overlap of functionality,
that's going to be LORM2, not LORM as described in the paper
i.e.
- if all methods performed the same task then the LORM2 ~ 1.0
- if no me

[2019-01-07 18:14] 0pdd commented on #216
The puzzle `8-435f2b33` has disappeared from the source code, that's why I closed this issue.

[2019-01-07 18:14] #216 closed

[2019-01-07 18:14] 0pdd opened #294 "LCOM4.xsl:60-62: LCOM4: need to finish implementing the..."
The puzzle `216-0c93d2e3` from #216 has to be resolved:

https://github.com/yegor256/jpeek/blob/a0588eabe8dae3337baa22e930c7f0e346a722fb/src/main/resources/org/jpeek/metrics/LCOM4.xsl#L60-L62

The puzzle was created by rultor on 07-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-01-07 18:14] 0pdd opened #295 "LCOM4.xsl:65-69: LCOM4:..."
The puzzle `216-5540d942` from #216 has to be resolved:

https://github.com/yegor256/jpeek/blob/a0588eabe8dae3337baa22e930c7f0e346a722fb/src/main/resources/org/jpeek/metrics/LCOM4.xsl#L65-L69

The puzzle was created by rultor on 07-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-01-07 18:14] 0pdd commented on #8
@yegor256 3 puzzles [#215](https://github.com/yegor256/jpeek/issues/215), [#294](https://github.com/yegor256/jpeek/issues/294), [#295](https://github.com/yegor256/jpeek/issues/295) are still not solved; solved: [#216](https://github.com/yegor256/jpeek/issues/216).

[2019-01-07 18:14] 0pdd commented on #216
@0pdd 2 puzzles [#294](https://github.com/yegor256/jpeek/issues/294), [#295](https://github.com/yegor256/jpeek/issues/295) are still not solved.

[2019-01-07 18:15] 0crat commented on #295
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-07 18:16] 0crat commented on #294
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-07 18:20] 0crat commented on #295
Job [#295](https://github.com/yegor256/jpeek/issues/295) is now in scope, role is `DEV`

[2019-01-07 18:22] 0crat commented on #294
Job [#294](https://github.com/yegor256/jpeek/issues/294) is now in scope, role is `DEV`

[2019-01-07 18:32] ilyakharlamov opened #296 "Generate metrics.xml in pure Java, without XSLT"
The current architecture relies heavily on XSLT for data analysis.
If we want to implement issues like #204 with advanced semantic indexing such as ML, LSI, NLP
we'll have to use external Java libraries since it's very challenging to do complex calculations in pure XSLT.
So we need to have an option to generate an XML report by name, that is implemented in Java, not XSLT.

[2019-01-07 18:32] 0crat commented on #296
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-07 18:35] 0crat commented on #216
The job [#216](https://github.com/yegor256/jpeek/issues/216) is now out of scope

[2019-01-11 15:30] #201 closed

[2019-01-11 15:30] 0pdd commented on #201
The puzzle `134-7dff7043` has disappeared from the source code, that's why I closed this issue.

[2019-01-11 15:30] 0pdd commented on #134
@skapral 2 puzzles [#200](https://github.com/yegor256/jpeek/issues/200), [#282](https://github.com/yegor256/jpeek/issues/282) are still not solved; solved: [#199](https://github.com/yegor256/jpeek/issues/199), [#201](https://github.com/yegor256/jpeek/issues/201).

[2019-01-11 15:48] 0pdd opened #297 "skeleton.xsd:31-33: Skeleton.xsd: remove method/@public...."
The puzzle `188-d010c845` from #188 has to be resolved:

https://github.com/yegor256/jpeek/blob/fd5879b0f86c2721853b4ee4b2801a429e52b615/src/main/resources/org/jpeek/xsd/skeleton.xsd#L31-L33

The puzzle was created by @Serranya on 04-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-01-11 15:48] 0pdd commented on #188
@llorllale the puzzle [#297](https://github.com/yegor256/jpeek/issues/297) is still not solved.

[2019-01-11 15:49] 0crat commented on #297
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-11 15:51] 0crat commented on #201
@cucumber007[/z](https://www.0crat.com/u/cucumber007) please review this job completed by @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-11 15:53] 0crat commented on #201
The job [#201](https://github.com/yegor256/jpeek/issues/201) is now out of scope

[2019-01-11 15:55] 0crat commented on #297
Job [#297](https://github.com/yegor256/jpeek/issues/297) is now in scope, role is `DEV`

[2019-01-11 16:06] 0crat commented on #188
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @llorllale[/z](https://www.0crat.com/u/llorllale) (its creator); I won't close the order; please, re-open it and ask @llorllale[/z](https://www.0crat.com/u/llorllale) to close it

[2019-01-11 16:16] 0crat commented on #188
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-11 16:16] 0crat commented on #188
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-11 16:19] paulodamaso commented on #287
@0crat in

[2019-01-11 16:20] paulodamaso commented on #287
@0crat assign me

[2019-01-11 16:23] Serranya commented on #188
@0crat wait The pr is merged but the issue somehow still open.

[2019-01-11 16:30] 0crat commented on #287
@paulodamaso Job [#287](https://github.com/yegor256/jpeek/issues/287) is now in scope, role is `DEV`

[2019-01-11 16:31] 0crat commented on #188
@Serranya The impediment for [#188](https://github.com/yegor256/jpeek/issues/188) was registered successfully by @serranya[/z](https://www.0crat.com/u/serranya)

[2019-01-11 16:33] 0crat commented on #287
@paulodamaso The job [#287](https://github.com/yegor256/jpeek/issues/287) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9ff0b5bb-1480-4430-8181-91af80807b14); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-01-11 17:07] Serranya commented on #188
@llorllale did #291 fix your problem? If so, please close the ticket.

[2019-01-11 19:26] paulodamaso opened #300 "Release 0.28"
Release 0.28

[2019-01-11 19:57] rultor commented on #300
Release `0.28` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2019-01-11 19:57] rultor commented on #300
@paulodamaso Done! FYI, the full log is [here](http://www.rultor.com/t/17302-453630214) (took me 21min)

[2019-01-11 20:35] llorllale commented on #188
@Serranya looks good, thanks

[2019-01-11 20:35] #188 closed

[2019-01-11 20:51] 0crat commented on #188
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.4](https://github.com/zerocracy/farm): CID: [80d396a6-2e83-41a7-b5e9-a26bf08995ac](https://www.0crat.com/footprint/C7JGJ00DP/80d396a6-2e83-41a7-b5e9-a26bf08995ac), Type: "Close job"

[2019-01-11 20:52] 0crat commented on #188
@cucumber007[/z](https://www.0crat.com/u/cucumber007) please review this job completed by @serranya[/z](https://www.0crat.com/u/serranya), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-13 10:17] 0crat commented on #160
The user @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-13 10:17] 0crat commented on #160
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-01-13 10:35] 0crat commented on #181
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2019-01-13 10:35] 0crat commented on #181
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#181](https://github.com/yegor256/jpeek/issues/181), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-13 10:50] 0crat commented on #194
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#194](https://github.com/yegor256/jpeek/issues/194), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-13 10:50] 0crat commented on #194
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2019-01-13 11:00] 0crat commented on #195
The user @szaffarano[/z](https://www.0crat.com/u/szaffarano) resigned from [#195](https://github.com/yegor256/jpeek/issues/195), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-13 11:00] 0crat commented on #195
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @szaffarano[/z](https://www.0crat.com/u/szaffarano)

[2019-01-13 11:20] 0crat commented on #204
The user @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) resigned from [#204](https://github.com/yegor256/jpeek/issues/204), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-13 11:20] 0crat commented on #204
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-01-13 18:31] cucumber007 commented on #225
@0crat quality good

[2019-01-13 18:39] cucumber007 commented on #201
@0crat quality good

[2019-01-13 18:40] cucumber007 commented on #121
@0crat quality good

[2019-01-13 18:42] cucumber007 commented on #188
@0crat quality good

[2019-01-13 18:42] 0crat commented on #225
Order was finished, quality is "good": +40 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-01-13 18:42] 0crat commented on #225
Quality review completed: +8 point(s) just awarded to @cucumber007[/z](https://www.0crat.com/u/cucumber007)

[2019-01-13 18:55] 0crat commented on #201
Order was finished, quality is "good": +35 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-01-13 18:55] 0crat commented on #201
Quality review completed: +8 point(s) just awarded to @cucumber007[/z](https://www.0crat.com/u/cucumber007)

[2019-01-13 18:55] 0crat commented on #121
Quality review completed: +8 point(s) just awarded to @cucumber007[/z](https://www.0crat.com/u/cucumber007)

[2019-01-13 18:55] 0crat commented on #188
Quality review completed: +8 point(s) just awarded to @cucumber007[/z](https://www.0crat.com/u/cucumber007)

[2019-01-15 16:20] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/dec4d5b3-2e0a-4b1e-843c-f2c938c0ad58); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-01-15 16:20] 0crat commented on #16
Job `gh:yegor256/jpeek#16` already assigned to @gauee, can't assign to @gauee

[2019-01-15 16:35] 0crat commented on #175
The job [#175](https://github.com/yegor256/jpeek/issues/175) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/30314980-94fc-4932-9516-16be34768ee8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2019-01-15 16:46] 0crat commented on #181
The job [#181](https://github.com/yegor256/jpeek/issues/181) assigned to @szaffarano[/z](https://www.0crat.com/u/szaffarano), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b0bead54-3dad-4269-b600-71f91096cb19); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-01-15 16:53] 0crat commented on #194
The job [#194](https://github.com/yegor256/jpeek/issues/194) assigned to @szaffarano[/z](https://www.0crat.com/u/szaffarano), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/74a3b77c-03c2-4fb1-b0cc-153223d34286); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-01-15 18:38] #287 closed

[2019-01-15 19:06] 0crat commented on #287
The job [#287](https://github.com/yegor256/jpeek/issues/287) is now out of scope

[2019-01-15 19:51] paulodamaso commented on #16
@0crat status

[2019-01-15 20:06] 0crat commented on #16
@paulodamaso This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#16](https://github.com/yegor256/jpeek/issues/16) is [in scope](http://www.zerocracy.com/policy.html#14) for 12mon
  * The role is `DEV`
  * The job is assigned to @gauee[/z](https://www.0crat.com/u/gauee) for [4hr](http://www.zerocr

[2019-01-15 21:22] paulodamaso commented on #246
@0crat in

[2019-01-15 21:24] paulodamaso commented on #213
@0crat in

[2019-01-15 21:38] 0crat commented on #246
@paulodamaso Job [#246](https://github.com/yegor256/jpeek/issues/246) is now in scope, role is `DEV`

[2019-01-15 21:46] 0crat commented on #213
@paulodamaso Job [#213](https://github.com/yegor256/jpeek/issues/213) is now in scope, role is `DEV`

[2019-01-15 21:56] 0crat commented on #246
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @oridan[/z](https://www.0crat.com/u/oridan)

[2019-01-15 21:58] 0crat commented on #213
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic)

[2019-01-17 13:13] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/6e054148-db88-4b70-be83-f1a49dc19e27); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-01-17 13:22] 0crat commented on #204
The job [#204](https://github.com/yegor256/jpeek/issues/204) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3b0e65f9-ed13-469d-b2c1-052f7f7e67bf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-01-17 17:37] #300 closed

[2019-01-17 17:55] 0crat commented on #300
Job `gh:yegor256/jpeek#300` is not assigned, can't get performer

[2019-01-17 17:55] 0crat commented on #300
This job is not in scope

[2019-01-18 01:47] fabriciofx opened #302 "Use Appveyor as CI too"
Let's use Appveyor as CI too, not only Travis. Some erros are detected only Windows OSes.

[2019-01-18 01:47] 0crat commented on #302
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-18 03:22] paulodamaso commented on #302
@0crat in

[2019-01-18 03:31] 0crat commented on #302
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-18 20:04] fabriciofx opened #303 "Add cactoos-matchers to use Assertion (and others) instead of MatcherAssert.assertThat"
Let's add cactoos-matchers to use `Assertion` (and others) instead of `MatcherAssert.assertThat()`.

[2019-01-18 20:04] 0crat commented on #303
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-20 13:51] fabriciofx opened #305 "Fix Shippable CI support or remove it"
Shippable CI support is broken. It needs add support to Ruby because fails to install pdd gem:
[code]
So, let fix it or remove Shippable. @paulodamaso WDYT?

[2019-01-20 13:51] 0crat commented on #305
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-20 22:32] 0crat commented on #305
Job `gh:yegor256/jpeek#305` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-01-20 22:34] 0crat commented on #305
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-20 22:34] 0crat commented on #305
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-20 23:52] fabriciofx commented on #305
Fixed.

[2019-01-20 23:52] #305 closed

[2019-01-21 00:09] 0crat commented on #305
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-21 00:13] 0crat commented on #305
The job [#305](https://github.com/yegor256/jpeek/issues/305) is now out of scope

[2019-01-21 00:16] 0crat commented on #305
Order was finished: +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-21 13:47] ammaratef45 commented on #195
@yegor256
I'm confused due to my bad quality in XSLT
is adding a condition like the following sufficient?

`<xsl:variable name="right_attrs" select="$attrs[. = $right/ops/op/text() and ancestor::calss[@id]=$left_attrs/ancestor::calss[@id]]"/>`

[2019-01-21 19:33] paulodamaso opened #306 "Release 0.29"
Release of tag 0.29

[2019-01-21 19:33] paulodamaso commented on #306
@rultor release tag is `0.29`

[2019-01-21 19:34] rultor commented on #306
@paulodamaso OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17462-456179093)

[2019-01-21 19:56] rultor commented on #306
@paulodamaso Done! FYI, the full log is [here](http://www.rultor.com/t/17462-456179093) (took me 22min)

[2019-01-22 16:34] 0crat commented on #192
The job [#192](https://github.com/yegor256/jpeek/issues/192) assigned to @danilomo[/z](https://www.0crat.com/u/danilomo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/92a5f67e-692e-41fa-a4f7-1a9f54f33164); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-22 16:38] danilomo commented on #192
@0crat  status

[2019-01-22 16:52] 0crat commented on #192
@danilomo This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#192](https://github.com/yegor256/jpeek/issues/192) is [in scope](http://www.zerocracy.com/policy.html#14) for 11mon
  * The role is `DEV`
  * The job is assigned to @danilomo[/z](https://www.0crat.com/u/danilomo) for [11min](http://www

[2019-01-22 16:52] 0crat commented on #217
The job [#217](https://github.com/yegor256/jpeek/issues/217) assigned to @danilomo[/z](https://www.0crat.com/u/danilomo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/cceb53ee-9e49-48d7-af20-030198770b46); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-22 16:54] 0crat commented on #218
The job [#218](https://github.com/yegor256/jpeek/issues/218) assigned to @danilomo[/z](https://www.0crat.com/u/danilomo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/728c1605-a696-4b21-9ca0-36ff68ca818b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-24 09:52] danilomo commented on #192
@llorllale How to reproduce the bug? What should be done exactly?

Things continue to appear normal in travis/codecov.

[2019-01-24 13:22] #205 closed

[2019-01-24 13:22] 0pdd commented on #205
The puzzle `67-33d40469` has disappeared from the source code, that's why I closed this issue.

[2019-01-24 13:22] 0pdd commented on #67
@yegor256 the only puzzle [#205](https://github.com/yegor256/jpeek/issues/205) is solved here.

[2019-01-24 14:02] 0crat commented on #205
@cucumber007[/z](https://www.0crat.com/u/cucumber007) please review this job completed by @serranya[/z](https://www.0crat.com/u/serranya), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-24 14:04] 0crat commented on #205
The job [#205](https://github.com/yegor256/jpeek/issues/205) is now out of scope

[2019-01-24 14:17] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/6503fd0d-faef-4b3c-bb2a-b194d7a13faa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-01-24 14:17] 0crat commented on #195
Job `gh:yegor256/jpeek#195` already assigned to @marceloamadeu, can't assign to @marceloamadeu

[2019-01-24 14:21] llorllale commented on #192
@danilomo it was happening with the merge builds. I guess it's fixed now. Closing.

[2019-01-24 14:21] #192 closed

[2019-01-24 14:46] danilomo commented on #296
The class [Report](https://github.com/yegor256/jpeek/blob/master/src/main/java/org/jpeek/Report.java) doesn't follow a [contract](https://www.yegor256.com/2014/11/20/seven-virtues-of-good-object.html). It's a concrete class that ties the report generation to the XSL implementation.

Refactoring with [extract interface](https://refactoring.com/catalog/extractInterface.html) should allow custom metr

[2019-01-24 14:47] 0crat commented on #192
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-24 14:50] 0crat commented on #192
@cucumber007[/z](https://www.0crat.com/u/cucumber007) please review this job completed by @danilomo[/z](https://www.0crat.com/u/danilomo), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-24 15:02] 0crat commented on #192
The job [#192](https://github.com/yegor256/jpeek/issues/192) is now out of scope

[2019-01-24 16:20] ilyakharlamov commented on #296
@danilomo Yes, I think Report should become an interface and the current concrete class Report turned to XslReport or something

[2019-01-24 20:39] fabriciofx opened #308 "Upgrade to qulice 0.18"
Let's update `qulice-maven-plugin` to version 0.18.*.

[2019-01-24 20:40] 0crat commented on #308
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-24 20:46] fabriciofx opened #309 "Add support to cactoos-matchers"
Let's add support to `cactoos-matchers` in tests. It will improve the tests in a more pure OO way.

[2019-01-24 20:46] 0crat commented on #309
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-24 20:47] fabriciofx commented on #309
@paulodamaso assign to me

[2019-01-25 11:12] #306 closed

[2019-01-25 16:30] 0crat commented on #16
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-25 16:30] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2019-01-25 16:46] 0crat commented on #160
The user @szaffarano[/z](https://www.0crat.com/u/szaffarano) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-25 16:48] 0crat commented on #160
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @szaffarano[/z](https://www.0crat.com/u/szaffarano)

[2019-01-25 16:48] 0crat commented on #175
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#175](https://github.com/yegor256/jpeek/issues/175), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-25 16:48] 0crat commented on #175
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2019-01-25 16:48] 0crat commented on #204
The job [#204](https://github.com/yegor256/jpeek/issues/204) assigned to @gauee[/z](https://www.0crat.com/u/gauee), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/6b7cda82-0bb4-48ea-a7c6-32574d29f0da); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2019-01-25 16:57] 0crat commented on #194
The user @szaffarano[/z](https://www.0crat.com/u/szaffarano) resigned from [#194](https://github.com/yegor256/jpeek/issues/194), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-01-25 18:36] #215 closed

[2019-01-25 18:36] 0pdd opened #310 "Lcom4Test.java:76-83: LCOM4: Graph algorithm to determine..."
The puzzle `215-e68a3c3f` from #215 has to be resolved:

https://github.com/yegor256/jpeek/blob/f5b7433227fe80bf90e90b0df37c25b9dabed43a/src/test/java/org/jpeek/metrics/Lcom4Test.java#L76-L83

The puzzle was created by @rultor on 25-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle

[2019-01-25 18:36] 0pdd commented on #8
@yegor256 3 puzzles [#294](https://github.com/yegor256/jpeek/issues/294), [#295](https://github.com/yegor256/jpeek/issues/295), [#310](https://github.com/yegor256/jpeek/issues/310) are still not solved; solved: [#215](https://github.com/yegor256/jpeek/issues/215), [#216](https://github.com/yegor256/jpeek/issues/216).

[2019-01-25 18:36] 0pdd commented on #215
@0pdd the puzzle [#310](https://github.com/yegor256/jpeek/issues/310) is still not solved.

[2019-01-25 18:37] 0crat commented on #310
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-25 18:44] 0crat commented on #310
Job [#310](https://github.com/yegor256/jpeek/issues/310) is now in scope, role is `DEV`

[2019-01-25 18:49] ilyakharlamov commented on #310
@0crat wait #296

[2019-01-25 18:53] 0crat commented on #310
@ilyakharlamov Job [#310](https://github.com/yegor256/jpeek/issues/310) is not assigned, can't put it on hold

[2019-01-25 18:54] 0crat commented on #215
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2019-01-26 20:03] fabriciofx opened #312 "Update PR guidelines in PULL_REQUEST_TEMPLATE"
Cactoos project [updated PR guidelines](https://github.com/yegor256/cactoos/commit/b8bf44e4ddbe0b5a9b13e006208327358931c0cd) and I think it would be nice if we do that too. The new rules are:

- You made changes related to only one bug (create separate PRs for separate problems, or leave puzzles)
- You ran the build locally and it passed
- Title begins with the issue's number, then a short title
-

[2019-01-26 20:03] 0crat commented on #312
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-01-27 19:40] danilomo commented on #296
@yegor256

Some graph algorithms are extremely annoying to implement with XSL. They are doable, though, since you can have recursive templates, but nevertheless, it would be way easier to write them in Java.

So, I would like to know what do you think about this issue.

Thanks in advance.

[2019-01-28 12:07] 0crat commented on #175
The job [#175](https://github.com/yegor256/jpeek/issues/175) assigned to @serranya[/z](https://www.0crat.com/u/serranya), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/954e0b18-a578-4bc9-a707-ec7e9c68e45f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-28 16:55] fabriciofx opened #313 "Update jcabi-parent to 1.0-SNAPSHOT (solves xcop issue)"
Let's update to new jcabi version (1.0-SNAPSHOT) because this new version solves xcop issue on windows.

[2019-01-29 11:48] Serranya commented on #16
@0crat refuse

[2019-01-29 11:48] Serranya commented on #175
@0crat refuse

[2019-01-29 11:50] 0crat commented on #16
@Serranya The user @serranya[/z](https://www.0crat.com/u/serranya) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: Order was cancelled

[2019-01-29 11:51] 0crat commented on #175
@Serranya The user @serranya[/z](https://www.0crat.com/u/serranya) resigned from [#175](https://github.com/yegor256/jpeek/issues/175), please stop working. Reason for job resignation: Order was cancelled

[2019-01-29 11:53] 0crat commented on #16
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-01-29 11:53] 0crat commented on #175
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-01-31 10:40] 0crat commented on #215
@cucumber007[/z](https://www.0crat.com/u/cucumber007) please review this job completed by @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-31 10:41] 0crat commented on #215
The job [#215](https://github.com/yegor256/jpeek/issues/215) is now out of scope

[2019-01-31 15:55] 0crat commented on #217
@danilomo The impediment for [#217](https://github.com/yegor256/jpeek/issues/217) was registered successfully by @danilomo[/z](https://www.0crat.com/u/danilomo)

[2019-01-31 16:04] 0crat commented on #218
@danilomo The user @danilomo[/z](https://www.0crat.com/u/danilomo) resigned from [#218](https://github.com/yegor256/jpeek/issues/218), please stop working. Reason for job resignation: Order was cancelled

[2019-01-31 16:23] 0crat commented on #218
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @danilomo[/z](https://www.0crat.com/u/danilomo)

[2019-01-31 16:23] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @danilomo[/z](https://www.0crat.com/u/danilomo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d7e0a05c-54d9-4bda-b17c-7177a09c2478); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-02-03 16:17] 0crat commented on #175
The job [#175](https://github.com/yegor256/jpeek/issues/175) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1dc2ac55-ac05-4821-8a20-f3fd7d8f2597); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-02-04 16:49] 0crat commented on #204
The user @gauee[/z](https://www.0crat.com/u/gauee) resigned from [#204](https://github.com/yegor256/jpeek/issues/204), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-02-04 16:49] 0crat commented on #204
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @gauee[/z](https://www.0crat.com/u/gauee)

[2019-02-05 11:22] paulodamaso commented on #205
@0crat quality good

[2019-02-05 11:54] 0crat commented on #205
Order was finished, quality is "good": +35 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-02-05 11:54] 0crat commented on #205
Quality review completed: +8 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-08 15:17] cucumber007 commented on #192
@0crat quality good

[2019-02-08 15:25] 0crat commented on #192
Order was finished, quality is "good": +40 point(s) just awarded to @danilomo[/z](https://www.0crat.com/u/danilomo)

[2019-02-08 15:25] 0crat commented on #192
Quality review completed: +8 point(s) just awarded to @cucumber007[/z](https://www.0crat.com/u/cucumber007)

[2019-02-10 16:25] 0crat commented on #16
The user @danilomo[/z](https://www.0crat.com/u/danilomo) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-02-10 16:25] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @danilomo[/z](https://www.0crat.com/u/danilomo)

[2019-02-21 16:48] Serranya commented on #193
@0crat refuse

[2019-02-21 17:28] 0crat commented on #193
@Serranya The user @serranya[/z](https://www.0crat.com/u/serranya) resigned from [#193](https://github.com/yegor256/jpeek/issues/193), please stop working. Reason for job resignation: Order was cancelled

[2019-02-21 17:31] 0crat commented on #193
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-02-21 17:40] Serranya commented on #160
@0crat refuse

[2019-02-21 17:44] 0crat commented on #160
@Serranya The user @serranya[/z](https://www.0crat.com/u/serranya) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: Order was cancelled

[2019-02-21 17:46] 0crat commented on #160
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @serranya[/z](https://www.0crat.com/u/serranya)

[2019-03-02 10:53] wholegroup opened #315 "Broken RawGit links"
RawGit is now in a sunset phase and will soon shut down ([proof](https://rawgit.com/)).
All links have to be replaced.
e.g. to jsDelivr.com

https://github.com/yegor256/jpeek/blob/master/src/main/resources/org/jpeek/xsl/matrix.xsl
https://github.com/yegor256/jpeek/blob/master/src/main/resources/org/jpeek/web/layout.xsl
https://github.com/yegor256/jpeek/blob/master/src/main/resources/org/jpeek/temp

[2019-03-02 10:53] 0crat commented on #315
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-03-02 10:53] 0crat commented on #315
@wholegroup[/z](https://www.0crat.com/u/wholegroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-22 06:39] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c5133acd-1420-46e1-b040-f5bc34c19b29); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-03-22 06:48] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/397e7db7-e746-4e9e-b1b1-ace8403bde37); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-03-22 06:54] 0crat commented on #175
The job [#175](https://github.com/yegor256/jpeek/issues/175) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/31ff4111-5dc8-48a5-95c5-adffda56257e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-03-22 07:12] 0crat commented on #193
The job [#193](https://github.com/yegor256/jpeek/issues/193) assigned to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/630321ec-fc4f-49a2-ba0a-9c8f4eb6a6cb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-03-22 07:24] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/45ace8cd-21d0-44cb-a872-0b0504e6e535); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-03-22 07:34] 0crat commented on #204
The job [#204](https://github.com/yegor256/jpeek/issues/204) assigned to @mesut[/z](https://www.0crat.com/u/mesut), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/6380efdd-b333-4b81-ab1f-88c1a72769ff); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2019-03-22 07:43] 0crat commented on #218
The job [#218](https://github.com/yegor256/jpeek/issues/218) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7f40a452-2a56-4631-9680-5a4892c6eed6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-03-22 07:50] 0crat commented on #219
The job [#219](https://github.com/yegor256/jpeek/issues/219) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/29fc9510-c0fe-4bc9-8a15-358277e02196); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-03-22 08:00] 0crat commented on #220
The job [#220](https://github.com/yegor256/jpeek/issues/220) assigned to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9ebde459-65c1-49f2-9a4f-2cce610fbab6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-03-22 08:05] 0crat commented on #224
The job [#224](https://github.com/yegor256/jpeek/issues/224) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/a28e74ec-0814-4c8e-a506-9756d5c31a77); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-03-23 22:16] DanielPalafox commented on #193
@0crat wait

[2019-03-23 22:16] DanielPalafox commented on #194
@0crat wait

[2019-03-23 22:16] 0crat commented on #193
@DanielPalafox The impediment for [#193](https://github.com/yegor256/jpeek/issues/193) was registered successfully by @danielpalafox[/z](https://www.0crat.com/u/danielpalafox)

[2019-03-23 22:16] 0crat commented on #194
@DanielPalafox The impediment for [#194](https://github.com/yegor256/jpeek/issues/194) was registered successfully by @danielpalafox[/z](https://www.0crat.com/u/danielpalafox)

[2019-03-25 09:22] dfrau32 opened #316 "Need a way to convert the source code into a corpus for conceptual metrics"
To finish the puzzle #175 I need a way to convert the source code into a corpus for conceptual metrics, as seen in https://github.com/yegor256/jpeek/blob/master/papers/marcus05.pdf .

[2019-03-25 09:22] 0crat commented on #316
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-03-25 09:23] dfrau32 commented on #175
@0crat waiting for #316

[2019-03-25 09:24] 0crat commented on #175
@dfrau32 The impediment for [#175](https://github.com/yegor256/jpeek/issues/175) was registered successfully by @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2019-03-25 12:26] paulodamaso commented on #316
@dfrau32  Why don't put it as a puzzle in #175?

[2019-03-28 20:33] DanielPalafox commented on #220
@0crat wait

[2019-03-28 20:35] 0crat commented on #220
@DanielPalafox The impediment for [#220](https://github.com/yegor256/jpeek/issues/220) was registered successfully by @danielpalafox[/z](https://www.0crat.com/u/danielpalafox)

[2019-03-30 04:32] paulodamaso commented on #308
@0crat in

[2019-03-30 04:32] paulodamaso commented on #309
@0crat in

[2019-03-30 04:33] 0crat commented on #308
@paulodamaso Job [#308](https://github.com/yegor256/jpeek/issues/308) is now in scope, role is `DEV`

[2019-03-30 04:33] paulodamaso commented on #312
@0crat in

[2019-03-30 04:33] paulodamaso commented on #313
@0crat in

[2019-03-30 04:35] 0crat commented on #309
@paulodamaso Job [#309](https://github.com/yegor256/jpeek/issues/309) is now in scope, role is `DEV`

[2019-03-30 04:38] paulodamaso commented on #315
@0crat in

[2019-03-30 04:38] paulodamaso commented on #315
@wholegroup Let's use the links shown on [tacit framework](https://github.com/yegor256/tacit)

[2019-03-30 04:39] paulodamaso commented on #316
@0crat in

[2019-03-30 04:40] 0crat commented on #312
@paulodamaso Job [#312](https://github.com/yegor256/jpeek/issues/312) is now in scope, role is `DEV`

[2019-03-30 04:41] 0crat commented on #308
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-03-30 04:41] 0crat commented on #313
@paulodamaso Job [#313](https://github.com/yegor256/jpeek/issues/313) is now in scope, role is `DEV`

[2019-03-30 04:45] 0crat commented on #315
@paulodamaso Job [#315](https://github.com/yegor256/jpeek/issues/315) is now in scope, role is `DEV`

[2019-03-30 04:45] 0crat commented on #309
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-03-30 04:45] 0crat commented on #316
@paulodamaso Job [#316](https://github.com/yegor256/jpeek/issues/316) is now in scope, role is `DEV`

[2019-03-30 04:46] 0crat commented on #312
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-03-30 04:48] 0crat commented on #313
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-03-30 04:50] 0crat commented on #315
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @wholegroup[/z](https://www.0crat.com/u/wholegroup)

[2019-03-30 04:52] 0crat commented on #316
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2019-04-01 06:46] 0crat commented on #16
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-01 06:46] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-04-01 06:54] 0crat commented on #160
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-04-01 06:54] 0crat commented on #160
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-01 07:29] 0crat commented on #195
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#195](https://github.com/yegor256/jpeek/issues/195), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-01 07:29] 0crat commented on #195
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-04-01 07:50] 0crat commented on #204
Job `gh:yegor256/jpeek#204` is not assigned, can't get performer

[2019-04-01 07:50] 0crat commented on #204
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mesut[/z](https://www.0crat.com/u/mesut)

[2019-04-01 07:51] 0crat commented on #204
The user @mesut[/z](https://www.0crat.com/u/mesut) resigned from [#204](https://github.com/yegor256/jpeek/issues/204), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-01 07:53] 0crat commented on #204
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mesut[/z](https://www.0crat.com/u/mesut)

[2019-04-01 07:54] 0crat commented on #219
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-04-01 07:55] 0crat commented on #219
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#219](https://github.com/yegor256/jpeek/issues/219), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-01 07:55] 0crat commented on #218
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-04-01 07:55] 0crat commented on #218
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#218](https://github.com/yegor256/jpeek/issues/218), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-01 07:55] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3f0a9aa1-dbba-4754-86a1-425c964f8f38); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-04-01 08:01] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/60db8714-3ba8-4ba4-acdd-19ebfc831afb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-04-01 08:12] 0crat commented on #224
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-04-01 08:12] 0crat commented on #224
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#224](https://github.com/yegor256/jpeek/issues/224), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-01 08:24] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/f19ad8b5-4751-4261-a9d1-4ca98eb14f03); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-04-01 08:47] 0crat commented on #218
The job [#218](https://github.com/yegor256/jpeek/issues/218) assigned to @mesut[/z](https://www.0crat.com/u/mesut), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/71049129-e3ab-4bf8-93f2-9ade6814fcd6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2019-04-01 08:53] 0crat commented on #219
The job [#219](https://github.com/yegor256/jpeek/issues/219) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/159eee98-fb2b-4d69-ba69-d466035dd1cf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-04-01 09:04] 0crat commented on #224
The job [#224](https://github.com/yegor256/jpeek/issues/224) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/0fd7f886-8ad7-468c-b4a7-1b58ae77e1fe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-04-02 20:28] 0crat commented on #226
The job [#226](https://github.com/yegor256/jpeek/issues/226) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e1707cdf-4d2b-420f-a9c6-15307cf35261); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-04-11 08:06] 0crat commented on #16
The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-11 08:16] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2019-04-11 09:16] 0crat commented on #195
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#195](https://github.com/yegor256/jpeek/issues/195), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-11 09:23] 0crat commented on #160
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-11 09:23] 0crat commented on #160
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2019-04-11 09:23] 0crat commented on #195
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-04-11 09:34] 0crat commented on #219
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-04-11 09:35] 0crat commented on #218
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mesut[/z](https://www.0crat.com/u/mesut)

[2019-04-11 09:35] 0crat commented on #219
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#219](https://github.com/yegor256/jpeek/issues/219), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-11 09:35] 0crat commented on #218
The user @mesut[/z](https://www.0crat.com/u/mesut) resigned from [#218](https://github.com/yegor256/jpeek/issues/218), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-11 09:36] 0crat commented on #224
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-04-11 09:36] 0crat commented on #224
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#224](https://github.com/yegor256/jpeek/issues/224), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-11 10:59] 0crat commented on #226
@ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) this job was assigned to you 9days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-11 11:09] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/752c98b6-c228-4160-b3c0-f734792427a4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-04-11 12:06] ilyakharlamov commented on #226
@0crat wait #317

[2019-04-11 12:21] 0crat commented on #226
@ilyakharlamov The impediment for [#226](https://github.com/yegor256/jpeek/issues/226) was registered successfully by @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-04-11 12:22] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @mesut[/z](https://www.0crat.com/u/mesut), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7ce8b8a6-f76a-4b69-9d3b-216ecb4c3380); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2019-04-11 12:48] 0crat commented on #218
The job [#218](https://github.com/yegor256/jpeek/issues/218) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c059b222-e6bd-4faa-bc2f-7cf1a94b850f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-04-11 13:06] 0crat commented on #224
The job [#224](https://github.com/yegor256/jpeek/issues/224) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/992b20fd-e9f4-4723-bdf9-136d67382c44); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-04-11 17:22] 0pdd commented on #226
The puzzle `135-4462c34d` has disappeared from the source code, that's why I closed this issue.

[2019-04-11 17:22] #226 closed

[2019-04-11 17:22] 0pdd commented on #135
@skapral 2 puzzles [#224](https://github.com/yegor256/jpeek/issues/224), [#227](https://github.com/yegor256/jpeek/issues/227) are still not solved; solved: [#225](https://github.com/yegor256/jpeek/issues/225), [#226](https://github.com/yegor256/jpeek/issues/226).

[2019-04-11 17:27] paulodamaso commented on #296
@ilyakharlamov How about making some performance tests to measure xml speed / efficiency and then implement some routines in java to compare both?

[2019-04-11 17:46] 0crat commented on #226
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-04-11 17:46] 0crat commented on #226
The job [#226](https://github.com/yegor256/jpeek/issues/226) is now out of scope

[2019-04-11 18:20] ilyakharlamov commented on #296
@paulodamaso This issue is not about the performance.
The original problem is that it's close to impossible to implement graph traversal algorithms that are needed for advanced semantic indexes, like depth-first search, A* algorithm, Dijkstra algorithm etc using XSLT.
Better performance can be a nice bonus, but the real issue is the graph traversal.

[2019-04-15 00:10] 0crat commented on #227
The job [#227](https://github.com/yegor256/jpeek/issues/227) assigned to @protagores[/z](https://www.0crat.com/u/protagores), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/077c524e-6ade-4d3e-9896-da18702bcd5e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-15 00:14] 0crat commented on #253
The job [#253](https://github.com/yegor256/jpeek/issues/253) assigned to @protagores[/z](https://www.0crat.com/u/protagores), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/98796eca-1f2e-4c73-8854-5c8acb4150bc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-04-15 14:00] paulodamaso commented on #296
@ilyakharlamov Understood the problem. XSL was chosen because its performance, but as it does not have the required features it's time to move on to some more robust implementation.

[2019-04-15 14:00] paulodamaso commented on #296
@0crat in

[2019-04-15 14:06] 0crat commented on #296
@paulodamaso Job [#296](https://github.com/yegor256/jpeek/issues/296) is now in scope, role is `DEV`

[2019-04-15 14:14] 0crat commented on #296
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-04-18 20:26] 0crat commented on #252
The job [#252](https://github.com/yegor256/jpeek/issues/252) assigned to @humb1t[/z](https://www.0crat.com/u/humb1t), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/4bc571b0-ff37-4983-ba8b-dfd29c471b8b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-04-18 20:44] 0crat commented on #261
The job [#261](https://github.com/yegor256/jpeek/issues/261) assigned to @humb1t[/z](https://www.0crat.com/u/humb1t), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b8aae244-ee3c-4551-8d4e-e67b7015773f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-04-18 20:48] 0crat commented on #268
The job [#268](https://github.com/yegor256/jpeek/issues/268) assigned to @humb1t[/z](https://www.0crat.com/u/humb1t), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/96176eb6-8918-48ab-9872-89cc62896783); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-04-19 08:21] g4s8 commented on #261
@0crat status

[2019-04-19 08:21] 0crat commented on #261
@g4s8 This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#261](https://github.com/yegor256/jpeek/issues/261) is [in scope](http://www.zerocracy.com/policy.html#14) for 10mon
  * The role is `DEV`
  * The job is assigned to @humb1t[/z](https://www.0crat.com/u/humb1t) for [12hr](http://www.zerocrac

[2019-04-19 18:17] humb1t opened #320 "Build of whole project is broken."
Using command from README.md:
[code]

I tried to build repo on my local machine (Windows 10) and it failed with:
[code]
**Without any local changes.**

I would like to see working build to work on the project instead of covering code with tests for free :-)

[2019-04-19 18:17] 0crat commented on #320
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-04-19 18:23] humb1t commented on #252
@0crat wait for #320 fix

[2019-04-19 18:24] 0crat commented on #252
@humb1t The impediment for [#252](https://github.com/yegor256/jpeek/issues/252) was registered successfully by @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-04-19 20:32] paulodamaso commented on #320
@humb1t Strange, it shouldn't allow to merge the code with coverage problems. Anyways, let's fix it

[2019-04-19 20:32] paulodamaso commented on #320
@0crat in

[2019-04-19 20:33] 0crat commented on #320
@paulodamaso Job [#320](https://github.com/yegor256/jpeek/issues/320) is now in scope, role is `DEV`

[2019-04-19 20:39] 0crat commented on #320
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-04-21 09:21] Protagores commented on #272
Would need to update, in `pom.xml`, the versions of following dependencies:
- org.jacoco:jacoco-maven-plugin
- org.ow2.asm:asm

Also impeded by teamed/qulice#878

[2019-04-21 10:26] 0crat commented on #160
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2019-04-21 10:26] 0crat commented on #160
The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-21 12:48] 0crat commented on #218
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#218](https://github.com/yegor256/jpeek/issues/218), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-21 12:48] 0crat commented on #218
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-04-21 13:06] 0crat commented on #224
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#224](https://github.com/yegor256/jpeek/issues/224), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-04-21 13:06] 0crat commented on #224
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-04-21 13:40] 0crat commented on #227
@protagores[/z](https://www.0crat.com/u/protagores) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-21 13:40] 0crat commented on #253
@protagores[/z](https://www.0crat.com/u/protagores) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-21 14:21] humb1t commented on #320
@0crat status

[2019-04-21 14:22] 0crat commented on #320
@humb1t This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#320](https://github.com/yegor256/jpeek/issues/320) is [in scope](http://www.zerocracy.com/policy.html#14) for 2days
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is n

[2019-04-21 21:45] paulodamaso commented on #320
@0crat assign @humb1t

[2019-04-21 21:47] 0crat commented on #320
@paulodamaso The job [#320](https://github.com/yegor256/jpeek/issues/320) assigned to @humb1t[/z](https://www.0crat.com/u/humb1t), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9fdcb400-35ab-40d2-9b0d-3cb2b49fe07f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-04-21 21:47] 0crat commented on #320
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-21 21:47] 0crat commented on #320
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-04-23 09:00] Protagores commented on #253
@0crat wait for #252

[2019-04-23 09:04] 0crat commented on #253
@Protagores The impediment for [#253](https://github.com/yegor256/jpeek/issues/253) was registered successfully by @protagores[/z](https://www.0crat.com/u/protagores)

[2019-04-23 10:23] Protagores opened #322 "Optimal way of making Xembler work with Report is not obvious"
As per #227:

The problem with using Xembly here is summed up by the following (see https://github.com/yegor256/jpeek/pull/196#discussion_r170341425):

Because it is not obvious what would a better solution look like exactly, I think this separate issue is needed so that the scope of #227 itself wouldn’t go beyond 30 minutes. We probably need to make a design decision here first.

[2019-04-23 10:23] 0crat commented on #322
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-04-23 10:24] Protagores commented on #227
@0crat wait for #322

[2019-04-23 10:24] 0crat commented on #227
@Protagores The impediment for [#227](https://github.com/yegor256/jpeek/issues/227) was registered successfully by @protagores[/z](https://www.0crat.com/u/protagores)

[2019-04-23 10:40] Protagores commented on #322
/cc @yegor256 @llorllale

[2019-04-23 15:40] humb1t opened #323 "Restrict usage of `@Test(expected=...)` in favour of OO way"
As was mentioned in PR review https://github.com/yegor256/jpeek/pull/321#discussion_r277674648 it's prohibited to use `expected` parameter of JUnit test annotation in favour of `JUnit5-compatible, OO assertions`.

To don't check it manually and don't allow it's usage in jpeek code base it should be added to static analyze rules.

[2019-04-23 15:40] 0crat commented on #323
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-04-23 21:42] 0crat commented on #261
@humb1t[/z](https://www.0crat.com/u/humb1t) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-23 21:42] 0crat commented on #268
@humb1t[/z](https://www.0crat.com/u/humb1t) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-24 02:22] fabriciofx opened #324 "Update maven-compiler-plugin and fix bug on it to allow incremental compilation"
Let's update `maven-compiler-plugin` to `3.8.0` version and fix a bug in this plugin which doesn't allow incremental compilation that increase compile and running time. To fix both we need change `pom.xml` to:
[code]
Please, pay attention to `<version>` and `<useIncrementalCompilation>` tag.

[2019-04-24 02:22] 0crat commented on #324
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-04-24 11:18] humb1t commented on #268
@0crat wait for #321 approval

[2019-04-24 11:19] 0crat commented on #268
@humb1t The impediment for [#268](https://github.com/yegor256/jpeek/issues/268) was registered successfully by @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-04-24 11:19] humb1t commented on #261
@0crat wait for #321 approval

[2019-04-24 11:19] 0crat commented on #261
@humb1t The impediment for [#261](https://github.com/yegor256/jpeek/issues/261) was registered successfully by @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-04-24 18:22] paulodamaso commented on #324
@fabriciofx Agree, thanks, good catch!

[2019-04-24 18:22] paulodamaso commented on #324
@0crat in

[2019-04-24 18:23] 0crat commented on #324
@paulodamaso Job [#324](https://github.com/yegor256/jpeek/issues/324) is now in scope, role is `DEV`

[2019-04-24 18:30] 0crat commented on #324
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-04-24 19:27] paulodamaso commented on #323
@humb1t How about we update all Junit to junit 5? This way we coukld get rid of `expected` once and for all?

[2019-04-24 19:29] humb1t commented on #323
@paulodamaso why not, @ilyakharlamov - what do you think?

[2019-04-24 20:06] ilyakharlamov commented on #323
@humb1t sure - upgrade to JUnit 5, why not.

[2019-04-24 21:06] paulodamaso commented on #323
@0crat in

[2019-04-24 21:07] 0crat commented on #323
@paulodamaso Job [#323](https://github.com/yegor256/jpeek/issues/323) is now in scope, role is `DEV`

[2019-04-24 21:14] 0crat commented on #323
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-04-26 22:40] 0crat commented on #320
@humb1t[/z](https://www.0crat.com/u/humb1t) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-04-27 18:37] Protagores commented on #322
@yegor256 @paulodamaso @llorllale Apparently there _is_ a possible (relatively) clean solution. What was really needed here is to point the cursor to the `metric` element via an `XPATH` instruction first.

See #325

[2019-04-28 14:18] llorllale commented on #322
@Protagores I see that you've successfully managed to add the attribute with Xembly; what I don't understand is how this is any less "weird" (as per [Yegor](https://github.com/yegor256/jpeek/pull/196#discussion_r169624018)) than simply making use of the existing `XSLChain`.

I'll let @yegor256 decide.

[2019-05-01 21:58] 0crat commented on #320
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-05-01 21:58] 0crat commented on #320
The user @humb1t[/z](https://www.0crat.com/u/humb1t) resigned from [#320](https://github.com/yegor256/jpeek/issues/320), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-05-01 22:33] paulodamaso commented on #320
@0crat assign @humb1t

[2019-05-01 22:34] paulodamaso commented on #320
@humb1t Please set the issue in waiting while your PR is being merged. This way @0crat does not takes it from you while someones review your PR

[2019-05-01 22:34] 0crat commented on #320
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/320#issuecomment-488464792); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-05-01 22:34] 0crat commented on #320
@paulodamaso The job [#320](https://github.com/yegor256/jpeek/issues/320) assigned to @humb1t[/z](https://www.0crat.com/u/humb1t), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/4e2b3551-9e29-4ccb-aaf7-d23dbb5e0c64); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2019-05-01 22:35] 0crat commented on #320
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-05-01 22:35] 0crat commented on #320
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-05-01 22:44] #227 closed

[2019-05-01 22:44] 0pdd commented on #227
The puzzle `135-1c80191e` has disappeared from the source code, that's why I closed this issue.

[2019-05-01 22:44] 0pdd opened #327 "Report.java:209-214: Add a test to check whether passing..."
The puzzle `227-fbf042c2` from #227 has to be resolved:

https://github.com/yegor256/jpeek/blob/b753f7fd4d8c8ce884f311320a401342ddfaa6ee/src/main/java/org/jpeek/Report.java#L209-L214

The puzzle was created by Ilyas Gasanov on 27-Apr-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2019-05-01 22:44] 0pdd commented on #135
@skapral 2 puzzles [#224](https://github.com/yegor256/jpeek/issues/224), [#327](https://github.com/yegor256/jpeek/issues/327) are still not solved; solved: [#225](https://github.com/yegor256/jpeek/issues/225), [#226](https://github.com/yegor256/jpeek/issues/226), [#227](https://github.com/yegor256/jpeek/issues/227).

[2019-05-01 22:44] 0pdd commented on #227
@0pdd the puzzle [#327](https://github.com/yegor256/jpeek/issues/327) is still not solved.

[2019-05-01 22:45] 0crat commented on #327
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-05-01 22:52] 0crat commented on #327
Job [#327](https://github.com/yegor256/jpeek/issues/327) is now in scope, role is `DEV`

[2019-05-01 23:03] 0crat commented on #227
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @protagores[/z](https://www.0crat.com/u/protagores), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-05-01 23:03] 0crat commented on #227
The job [#227](https://github.com/yegor256/jpeek/issues/227) is now out of scope

[2019-05-02 05:54] humb1t commented on #320
@0crat wait #321

[2019-05-02 05:54] 0crat commented on #320
@humb1t The impediment for [#320](https://github.com/yegor256/jpeek/issues/320) was registered successfully by @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-05-02 18:49] Protagores commented on #322
Proposed solution already accepted and merged. Closing this.

[2019-05-02 18:49] #322 closed

[2019-05-02 19:29] 0crat commented on #322
Job `gh:yegor256/jpeek#322` is not assigned, can't get performer

[2019-05-02 19:29] 0crat commented on #322
This job is not in scope

[2019-05-10 13:53] ebercamargo commented on #16
@0crat status

[2019-05-10 13:54] ebercamargo commented on #160
@0crat status

[2019-05-10 13:55] 0crat commented on #16
@ebercamargo This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#16](https://github.com/yegor256/jpeek/issues/16) is [in scope](http://www.zerocracy.com/policy.html#14) for 16mon
  * The role is `DEV`
  * The job is assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) for [13hr](http

[2019-05-10 13:56] 0crat commented on #160
@ebercamargo This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#160](https://github.com/yegor256/jpeek/issues/160) is [in scope](http://www.zerocracy.com/policy.html#14) for 15mon
  * The role is `DEV`
  * The job is assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) for [13hr](ht

[2019-05-15 01:43] 0crat commented on #16
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-05-15 01:44] 0crat commented on #160
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-05-17 06:29] Protagores commented on #227
@paulodamaso QA review was assigned 15 days ago, please resolve.

[2019-05-17 11:48] paulodamaso commented on #227
@Protagores All messages must have to be addressed to someone, [this one](https://github.com/yegor256/jpeek/issues/322#issuecomment-488788125) is not, please fix it.

[2019-05-18 15:46] Protagores commented on #227
@paulodamaso Done.

[2019-05-19 22:26] paulodamaso commented on #227
@Protagores Thanks

[2019-05-19 22:26] paulodamaso commented on #227
@0crat quality acceptable

[2019-05-19 22:27] 0crat commented on #227
Order was finished, quality is "acceptable": +30 point(s) just awarded to @protagores[/z](https://www.0crat.com/u/protagores)

[2019-05-19 22:27] 0crat commented on #227
Quality review completed: +4 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-05-20 00:51] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-05-20 00:51] 0crat commented on #16
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-05-20 00:54] 0crat commented on #160
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-05-20 00:54] 0crat commented on #160
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-05-24 21:44] ideas-into-software opened #328 ""FAQ for Newcomers" is out of date - wallet is created automatically, there is no need to "Change payment method""
"FAQ for Newcomers" (http://www.zerocracy.com/faq.html) is out of date.

Paragraph: (...) Now, talk to our Telegram bot: @zerocrat_bot. Ask him to change your payment method. (...) would need to be re-written to mention that wallet is created automatically. There's no 'zerocrat_bot' command which allows to change payment method since this is done automatically, only rate is changed.

[2019-05-24 21:44] 0crat commented on #328
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-05-24 21:44] 0crat commented on #328
@ideas-into-software[/z](https://www.0crat.com/u/ideas-into-software) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-24 21:45] #328 closed

[2019-05-24 21:45] ideas-into-software commented on #328
sorry, wrong board

[2019-05-24 22:04] 0crat commented on #328
Job `gh:yegor256/jpeek#328` is not assigned, can't get performer

[2019-05-24 22:06] 0crat commented on #328
This job is not in scope

[2019-05-28 14:22] ebercamargo commented on #195
@0crat wait I'm short on time, I ask you to wait so I can handle it in the near future.

[2019-05-28 14:22] ebercamargo commented on #181
@0crat wait I'm short on time, I ask you to wait so I can handle it in the near future.

[2019-05-28 14:24] 0crat commented on #195
@ebercamargo The impediment for [#195](https://github.com/yegor256/jpeek/issues/195) was registered successfully by @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-05-30 00:59] 0crat commented on #181
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#181](https://github.com/yegor256/jpeek/issues/181), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-05-30 00:59] 0crat commented on #181
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-06-02 02:13] Nermeen78 commented on #253
@0crat apply

[2019-06-02 02:13] 0crat commented on #253
@Nermeen78 Can't understand "apply", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2019-06-17 12:53] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @supra89kren[/z](https://www.0crat.com/u/supra89kren), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/af332844-52de-4e73-901d-9e3f75526236); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-06-17 12:59] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @ideas-into-software[/z](https://www.0crat.com/u/ideas-into-software), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3b7d4def-4bd0-4463-99e4-f1df7109a37b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2019-06-17 13:05] 0crat commented on #181
The job [#181](https://github.com/yegor256/jpeek/issues/181) assigned to @nermeen78[/z](https://www.0crat.com/u/nermeen78), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/49e376b7-1983-4b24-993f-7904d62cc8e0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-06-18 07:24] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @nermeen78[/z](https://www.0crat.com/u/nermeen78), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1415ad14-8a66-4efb-a242-546ea37dd369); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-06-18 18:22] fabriciofx commented on #226
@0crat quality good

[2019-06-18 18:25] 0crat commented on #226
Order was finished, quality is "good": +35 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-06-18 18:25] 0crat commented on #226
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-06-22 13:53] 0crat commented on #181
@nermeen78[/z](https://www.0crat.com/u/nermeen78) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-23 07:39] 0crat commented on #160
@nermeen78[/z](https://www.0crat.com/u/nermeen78) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-23 14:17] Nermeen78 commented on #181
@yegor256 I think this issue is already solved if no please could you describe this issue in more details ?

[2019-06-23 14:18] 0crat commented on #181
@ebercamargo @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) you can't register impediment for this job

[2019-06-23 14:19] Nermeen78 commented on #181
@0crat wait for more details about the issue

[2019-06-23 14:19] 0crat commented on #181
@Nermeen78 The impediment for [#181](https://github.com/yegor256/jpeek/issues/181) was registered successfully by @nermeen78[/z](https://www.0crat.com/u/nermeen78)

[2019-06-25 17:44] Nermeen78 commented on #160
@0crat  wait to understand the task

[2019-06-25 17:46] 0crat commented on #160
@Nermeen78 The impediment for [#160](https://github.com/yegor256/jpeek/issues/160) was registered successfully by @nermeen78[/z](https://www.0crat.com/u/nermeen78)

[2019-06-25 19:07] ideas-into-software commented on #160
Hi.

On May 24th, few hours after I joined zerocracy, I applied to project
jPeek. Few days ago (after close to 4 weeks) I got assigned tasks... but
I see funding issue is still not resolved (subject of two JIRAs which I
created on May 24th, i.e.
https://github.com/zerocracy/zerocracy.github.io/issues/91 and
https://github.com/zerocracy/zerocracy.github.io/issues/92).

Until zerocracy resolves its

[2019-06-25 19:07] 0crat commented on #160
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/160#issuecomment-505580976); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-06-28 16:58] paulodamaso commented on #160
@0crat resign

[2019-06-28 16:58] 0crat commented on #160
@paulodamaso Job `gh:yegor256/jpeek#160` is not assigned, can't get performer

[2019-06-28 17:13] #268 closed

[2019-06-28 17:30] 0crat commented on #320
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @humb1t[/z](https://www.0crat.com/u/humb1t) (its creator); I won't close the order; please, re-open it and ask @humb1t[/z](https://www.0crat.com/u/humb1t) to close it

[2019-06-28 17:30] 0crat commented on #268
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @baybatu[/z](https://www.0crat.com/u/baybatu) (its creator); I won't close the order; please, re-open it and ask @baybatu[/z](https://www.0crat.com/u/baybatu) to close it

[2019-06-30 11:59] humb1t commented on #320
@paulodamaso reopen please and I will close the issue ^^

[2019-07-02 12:11] g4s8 opened #329 "500 error for valid package"
I'm trying to display the badge for https://github.com/g4s8/matchers-json/ project, the artifact was deployed to maven central successfully: https://search.maven.org/artifact/wtf.g4s8/matchers-json/1.0.2/jar

but when I try to open report for that project, I'm getting 500 error with stacktrace:
[code]

[2019-07-02 12:11] 0crat commented on #329
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-07-02 12:11] 0crat commented on #329
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-04 04:14] 0crat commented on #320
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-07-04 04:15] paulodamaso commented on #329
@0crat in

[2019-07-04 04:16] 0crat commented on #329
@paulodamaso Job [#329](https://github.com/yegor256/jpeek/issues/329) is now in scope, role is `DEV`

[2019-07-04 04:18] 0crat commented on #329
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-04 12:29] yegor256 commented on #181
@Nermeen78 just remove the puzzle in a pull request and see what the reviewer will say

[2019-07-05 09:56] 0crat commented on #268
The job [#268](https://github.com/yegor256/jpeek/issues/268) is now out of scope

[2019-07-05 09:56] 0crat commented on #268
@humb1t[/z](https://www.0crat.com/u/humb1t) resigned from [#268](https://github.com/yegor256/jpeek/issues/268), since the job is not in scope anymore

[2019-07-05 11:09] Protagores commented on #253
@0crat refuse

[2019-07-05 11:10] 0crat commented on #253
@Protagores The user @protagores[/z](https://www.0crat.com/u/protagores) resigned from [#253](https://github.com/yegor256/jpeek/issues/253), please stop working. Reason for job resignation: Order was cancelled

[2019-07-05 11:13] 0crat commented on #253
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @protagores[/z](https://www.0crat.com/u/protagores)

[2019-07-13 12:59] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @robsonataide[/z](https://www.0crat.com/u/robsonataide), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/f375216e-96c7-4dc1-978b-ec85177a379d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-07-13 13:04] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/bf3ad2db-3102-492b-a7cd-bcdb99def650); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-07-13 13:06] aivinog1 commented on #160
@0crat refuse

[2019-07-13 13:07] 0crat commented on #160
@aivinog1 The user @aivinog1[/z](https://www.0crat.com/u/aivinog1) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: Order was cancelled

[2019-07-13 13:08] 0crat commented on #160
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-13 13:14] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @robsonataide[/z](https://www.0crat.com/u/robsonataide), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/98064938-94a9-43a7-ae98-9cbea66747e4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-13 13:19] 0crat commented on #181
The job [#181](https://github.com/yegor256/jpeek/issues/181) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/dec7db52-1c38-4b6e-bfdc-b252d43c650e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-07-15 07:14] aivinog1 commented on #181
@0crat wait for merge #330

[2019-07-15 07:15] 0crat commented on #181
@aivinog1 The impediment for [#181](https://github.com/yegor256/jpeek/issues/181) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-15 07:18] aivinog1 opened #331 "The coverage report isn't published to pull requests."
See this: https://github.com/yegor256/jpeek/pull/330.

In this request, the coverage report didn't add.

[2019-07-15 07:18] 0crat commented on #331
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-07-15 19:04] #181 closed

[2019-07-15 19:04] 0pdd commented on #181
The puzzle `103-11fe8626` has disappeared from the source code, that's why I closed this issue.

[2019-07-15 19:04] 0pdd commented on #103
@llorllale the only puzzle [#181](https://github.com/yegor256/jpeek/issues/181) is solved here.

[2019-07-15 19:26] 0crat commented on #181
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @aivinog1[/z](https://www.0crat.com/u/aivinog1), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-15 19:26] 0crat commented on #181
The job [#181](https://github.com/yegor256/jpeek/issues/181) is now out of scope

[2019-07-15 21:32] fabriciofx commented on #181
@0pdd quality is good.

[2019-07-15 21:32] fabriciofx commented on #181
@0crat quality is good.

[2019-07-15 21:34] 0crat commented on #181
@fabriciofx Argument "is" doesn't match regex `good|bad|acceptable`

[2019-07-15 21:36] fabriciofx commented on #181
@0crat quality good

[2019-07-15 21:43] 0crat commented on #181
Order was finished, quality is "good": +35 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-15 21:43] 0crat commented on #181
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-07-16 03:21] aivinog1 commented on #320
@humb1t @paulodamaso have reopened this issue. Can you close it?

[2019-07-16 09:18] #320 closed

[2019-07-16 09:50] 0crat commented on #320
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @humb1t[/z](https://www.0crat.com/u/humb1t), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-16 09:54] 0crat commented on #320
The job [#320](https://github.com/yegor256/jpeek/issues/320) is now out of scope

[2019-07-16 13:05] fabriciofx commented on #320
@0crat quality good

[2019-07-16 13:09] 0crat commented on #320
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-07-16 13:09] 0crat commented on #320
Order was finished, quality is "good": +35 point(s) just awarded to @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-07-18 13:39] 0crat commented on #16
@robsonataide[/z](https://www.0crat.com/u/robsonataide) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-18 13:40] 0crat commented on #160
@robsonataide[/z](https://www.0crat.com/u/robsonataide) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-22 01:23] aivinog1 commented on #224
@0crat status

[2019-07-22 01:23] 0crat commented on #224
@aivinog1 This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#224](https://github.com/yegor256/jpeek/issues/224) is [in scope](http://www.zerocracy.com/policy.html#14) for 17mon
  * The role is `DEV`
  * The job is assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1) for [6hr](http://www.z

[2019-07-22 10:39] aivinog1 commented on #218
@0crat wait for https://github.com/yegor256/jpeek/issues/261

[2019-07-22 10:46] 0crat commented on #218
@aivinog1 The impediment for [#218](https://github.com/yegor256/jpeek/issues/218) was registered successfully by @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-22 11:29] aivinog1 commented on #219
@0crate refuse

[2019-07-22 12:29] paulodamaso commented on #204
@0crat resign

[2019-07-22 12:30] paulodamaso commented on #160
@0crat refuse

[2019-07-22 12:30] 0crat commented on #204
@paulodamaso The user @robsonataide[/z](https://www.0crat.com/u/robsonataide) resigned from [#204](https://github.com/yegor256/jpeek/issues/204), please stop working. Reason for job resignation: Order was cancelled

[2019-07-22 12:30] paulodamaso commented on #16
@0crat refuse

[2019-07-22 12:31] 0crat commented on #160
@paulodamaso The user @robsonataide[/z](https://www.0crat.com/u/robsonataide) resigned from [#160](https://github.com/yegor256/jpeek/issues/160), please stop working. Reason for job resignation: Order was cancelled

[2019-07-22 12:32] 0crat commented on #16
@paulodamaso The user @robsonataide[/z](https://www.0crat.com/u/robsonataide) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: Order was cancelled

[2019-07-22 13:32] aivinog1 commented on #219
@0crat refuse

[2019-07-22 13:47] aivinog1 commented on #219
@0crat status

[2019-07-22 14:32] 0crat commented on #219
@aivinog1 This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#219](https://github.com/yegor256/jpeek/issues/219) is [in scope](http://www.zerocracy.com/policy.html#14) for 17mon
  * The role is `DEV`
  * The job is assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1) for [20hr](http://www.

[2019-07-22 14:32] 0crat commented on #219
@aivinog1 The user @aivinog1[/z](https://www.0crat.com/u/aivinog1) resigned from [#219](https://github.com/yegor256/jpeek/issues/219), please stop working. Reason for job resignation: Order was cancelled

[2019-07-22 14:32] 0crat commented on #219
@aivinog1 Job `gh:yegor256/jpeek#219` is not assigned, can't get performer

[2019-07-22 14:46] 0crat commented on #219
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @aivinog1[/z](https://www.0crat.com/u/aivinog1)

[2019-07-22 14:50] 0crat commented on #204
The job [#204](https://github.com/yegor256/jpeek/issues/204) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/44b8688a-1dc0-41da-aae5-bf4739843a36); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-07-22 14:53] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @aivinog1[/z](https://www.0crat.com/u/aivinog1), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/4c743063-8c6f-47f1-a59d-b88947d44aed); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-07-26 19:27] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ec84ea9e-5f30-49c8-8868-4f5b7afd325c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2019-07-26 19:27] 0crat commented on #16
Job `gh:yegor256/jpeek#16` already assigned to @uurl, can't assign to @uurl

[2019-07-26 19:27] 0crat commented on #204
The job [#204](https://github.com/yegor256/jpeek/issues/204) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/dd5c6a11-cbcc-4e2e-9600-40798be06a86); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-07-26 19:30] 0crat commented on #218
The job [#218](https://github.com/yegor256/jpeek/issues/218) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/dd949858-b599-41a1-a6a2-07d8688f95a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-07-26 19:40] 0crat commented on #224
The job [#224](https://github.com/yegor256/jpeek/issues/224) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/09130869-a498-4c6e-b3df-85b78a809637); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-07-26 19:46] 0crat commented on #253
The job [#253](https://github.com/yegor256/jpeek/issues/253) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/575a5440-d8fa-40b4-81ee-520f00e02450); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-07-26 19:55] 0crat commented on #282
The job [#282](https://github.com/yegor256/jpeek/issues/282) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/443bf17c-f5ed-48f4-a028-c82aa261e222); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-07-26 20:00] 0crat commented on #295
The job [#295](https://github.com/yegor256/jpeek/issues/295) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/521af07f-c9c4-43b8-8dc3-46109aceb1e1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-26 20:10] 0crat commented on #294
The job [#294](https://github.com/yegor256/jpeek/issues/294) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b9836056-47e6-4a16-97e7-b69e861dd62c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-07-26 20:20] 0crat commented on #297
The job [#297](https://github.com/yegor256/jpeek/issues/297) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/a34d534c-1dad-4aa4-835b-f96ad870c640); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-07-26 20:30] 0crat commented on #246
The job [#246](https://github.com/yegor256/jpeek/issues/246) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/dfcece25-1a72-40fd-9afb-f79789221e63); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-08-03 19:18] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @scrobot[/z](https://www.0crat.com/u/scrobot), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c6185fe9-66fd-4323-a4c8-bdfb5fcd07a3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-05 18:21] 0crat commented on #16
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 18:21] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-08-05 18:27] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/2bd361da-205e-4781-a3c5-52c95838147b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-08-05 18:42] 0crat commented on #295
@rajanamistry[/z](https://www.0crat.com/u/rajanamistry) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-05 18:42] 0crat commented on #297
@uurl[/z](https://www.0crat.com/u/uurl) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-05 18:42] 0crat commented on #282
@thomas-melville[/z](https://www.0crat.com/u/thomas-melville) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-05 18:42] 0crat commented on #294
@thomas-melville[/z](https://www.0crat.com/u/thomas-melville) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-05 18:44] 0crat commented on #224
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-05 18:44] 0crat commented on #253
@thomas-melville[/z](https://www.0crat.com/u/thomas-melville) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-05 18:44] 0crat commented on #246
@rajanamistry[/z](https://www.0crat.com/u/rajanamistry) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-05 18:44] 0crat commented on #218
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-05 18:44] 0crat commented on #204
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-05 19:32] 0crat commented on #204
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#204](https://github.com/yegor256/jpeek/issues/204), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 19:32] 0crat commented on #204
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-08-05 19:32] 0crat commented on #218
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-08-05 19:32] 0crat commented on #218
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#218](https://github.com/yegor256/jpeek/issues/218), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 19:51] 0crat commented on #224
The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#224](https://github.com/yegor256/jpeek/issues/224), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 19:54] 0crat commented on #224
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2019-08-05 19:54] 0crat commented on #253
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-08-05 19:54] 0crat commented on #253
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#253](https://github.com/yegor256/jpeek/issues/253), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 19:55] 0crat commented on #218
The job [#218](https://github.com/yegor256/jpeek/issues/218) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/64323598-fc43-45ec-8fbb-07e8e62e70b6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-05 19:57] 0crat commented on #282
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#282](https://github.com/yegor256/jpeek/issues/282), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 19:57] 0crat commented on #282
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-08-05 19:58] 0crat commented on #224
The job [#224](https://github.com/yegor256/jpeek/issues/224) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/cb4bee7d-a111-4794-8a65-e0d08b32ea0c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-05 20:07] 0crat commented on #295
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#295](https://github.com/yegor256/jpeek/issues/295), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 20:07] 0crat commented on #295
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-08-05 20:07] 0crat commented on #253
The job [#253](https://github.com/yegor256/jpeek/issues/253) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7763beb8-4873-481e-947f-d11c8d20e141); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-08-05 20:16] 0crat commented on #294
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-08-05 20:16] 0crat commented on #294
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#294](https://github.com/yegor256/jpeek/issues/294), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 20:16] 0crat commented on #282
The job [#282](https://github.com/yegor256/jpeek/issues/282) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/91e8416d-f1f9-4c62-ac1b-b7595f67d039); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-08-05 20:27] 0crat commented on #297
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#297](https://github.com/yegor256/jpeek/issues/297), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 20:27] 0crat commented on #295
The job [#295](https://github.com/yegor256/jpeek/issues/295) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/80587662-4e33-4bd7-afd3-02cddfc3408c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-08-05 20:28] 0crat commented on #297
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-08-05 20:45] 0crat commented on #246
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-08-05 20:45] 0crat commented on #294
The job [#294](https://github.com/yegor256/jpeek/issues/294) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c067e044-d1c7-4297-9b8a-04f60698ca6d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-08-05 20:45] 0crat commented on #246
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#246](https://github.com/yegor256/jpeek/issues/246), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-05 20:53] 0crat commented on #297
The job [#297](https://github.com/yegor256/jpeek/issues/297) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d1436117-9825-45a9-a2c1-cb03b8cd1ed7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-08-15 18:44] 0crat commented on #16
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#16](https://github.com/yegor256/jpeek/issues/16), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-15 18:44] 0crat commented on #16
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2019-08-15 18:46] 0crat commented on #310
The job [#310](https://github.com/yegor256/jpeek/issues/310) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d4903826-cc5d-4bfc-9d16-81264e0987d5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-08-15 20:01] 0crat commented on #224
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#224](https://github.com/yegor256/jpeek/issues/224), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-15 20:01] 0crat commented on #218
The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#218](https://github.com/yegor256/jpeek/issues/218), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-15 20:01] 0crat commented on #224
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2019-08-15 20:02] 0crat commented on #218
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2019-08-15 20:06] 0crat commented on #327
The job [#327](https://github.com/yegor256/jpeek/issues/327) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/469fe356-fdcb-447e-8216-e66eeb87c96d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-15 20:12] 0crat commented on #253
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#253](https://github.com/yegor256/jpeek/issues/253), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-15 20:12] 0crat commented on #253
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-08-15 20:13] 0crat commented on #246
The job [#246](https://github.com/yegor256/jpeek/issues/246) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/f780a0c8-2b1b-4aad-81df-33288e61c99c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-08-15 20:16] 0crat commented on #253
The job [#253](https://github.com/yegor256/jpeek/issues/253) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d5d19ade-909c-4cb1-a022-973f3fa0ff78); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-15 20:26] 0crat commented on #282
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-08-15 20:26] 0crat commented on #282
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#282](https://github.com/yegor256/jpeek/issues/282), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-15 20:31] 0crat commented on #295
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-08-15 20:31] 0crat commented on #295
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#295](https://github.com/yegor256/jpeek/issues/295), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-15 20:31] 0crat commented on #282
The job [#282](https://github.com/yegor256/jpeek/issues/282) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/dd03fb31-c342-4f7c-a079-f5217604c598); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-08-15 20:41] 0crat commented on #294
@rajanamistry[/z](https://www.0crat.com/u/rajanamistry) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-15 20:41] 0crat commented on #297
@rajanamistry[/z](https://www.0crat.com/u/rajanamistry) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-15 20:49] 0crat commented on #294
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#294](https://github.com/yegor256/jpeek/issues/294), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-15 20:49] 0crat commented on #294
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-08-15 20:50] 0crat commented on #295
The job [#295](https://github.com/yegor256/jpeek/issues/295) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/39f4667b-4074-4781-af37-a66864b3952e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-08-15 20:50] 0crat commented on #294
The job [#294](https://github.com/yegor256/jpeek/issues/294) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ebcd3bbd-7af7-4829-bbf3-c71d390bb4d2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-08-15 21:01] 0crat commented on #297
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#297](https://github.com/yegor256/jpeek/issues/297), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-15 21:01] 0crat commented on #297
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-08-15 21:07] 0crat commented on #297
The job [#297](https://github.com/yegor256/jpeek/issues/297) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3eb6ac17-ef47-4a58-a193-8b12bede6c4d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-08-18 10:10] 0crat commented on #219
The job [#219](https://github.com/yegor256/jpeek/issues/219) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/bae13eac-9326-4c1d-b9a5-9c91577f0bbf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-08-18 11:25] 0crat commented on #224
The job [#224](https://github.com/yegor256/jpeek/issues/224) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/f8a56a23-9fae-42fe-96ad-7ba6026d092a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-08-25 18:49] 0crat commented on #310
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-08-25 18:49] 0crat commented on #310
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#310](https://github.com/yegor256/jpeek/issues/310), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-25 18:54] 0crat commented on #310
The job [#310](https://github.com/yegor256/jpeek/issues/310) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/bdc28173-d9fe-4885-a6bb-5d53faf57d07); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-08-25 20:08] 0crat commented on #327
The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#327](https://github.com/yegor256/jpeek/issues/327), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-25 20:08] 0crat commented on #327
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2019-08-25 20:18] 0crat commented on #253
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#253](https://github.com/yegor256/jpeek/issues/253), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-25 20:18] 0crat commented on #246
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-08-25 20:18] 0crat commented on #246
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#246](https://github.com/yegor256/jpeek/issues/246), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-25 20:19] 0crat commented on #327
The job [#327](https://github.com/yegor256/jpeek/issues/327) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b88678e3-0c75-487e-be15-27e99aa05a49); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-08-25 20:33] 0crat commented on #282
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#282](https://github.com/yegor256/jpeek/issues/282), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-25 20:33] 0crat commented on #246
The job [#246](https://github.com/yegor256/jpeek/issues/246) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/12adb33b-8d27-47f7-892f-3094b2199489); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-25 20:39] 0crat commented on #295
@uurl[/z](https://www.0crat.com/u/uurl) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-25 20:39] 0crat commented on #219
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-25 20:42] 0crat commented on #224
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-26 13:04] 0crat commented on #160
The job [#160](https://github.com/yegor256/jpeek/issues/160) assigned to @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9fab4756-7e06-49f2-9cc3-3b624af0c6f2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-08-26 13:13] 0crat commented on #16
The job [#16](https://github.com/yegor256/jpeek/issues/16) assigned to @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/827a0dc6-5b6e-4408-a42e-453edabee371); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-08-26 13:17] 0crat commented on #204
The job [#204](https://github.com/yegor256/jpeek/issues/204) assigned to @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/55354302-f894-4080-ac0f-ac8db1c6453b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-08-26 14:27] fellahi-ali commented on #16
@0crat status

[2019-08-26 14:28] 0crat commented on #16
@fellahi-ali This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#16](https://github.com/yegor256/jpeek/issues/16) is [in scope](http://www.zerocracy.com/policy.html#14) for 20mon
  * The role is `DEV`
  * The job is assigned to @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali) for [1hr](http:

[2019-08-27 10:18] fellahi-ali commented on #16
@paulodamaso I think this task is very complex and not doable with a budget of 30min, because is opened since Oct 2017, and was refused by about 21 DEVs. I think it should be subtasked. Do you suggest that I proceed with it with PDD, or just refuse it, and submit a ticket about it's complexity to be re-formulated?