[2019-08-27 13:03] fellahi-ali commented on #16
@paulodamaso OK! I think I should give it a try. But as I'm not familiar with PDD, I don't know exactly the constraints/rules of using puzzles, and when I should leave them and when I couldn't? I will start by reading the articles about PDD, and if you can give any hints it will be appreciated!

[2019-08-28 12:25] 0crat commented on #224
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#224](https://github.com/yegor256/jpeek/issues/224), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-28 12:26] 0crat commented on #219
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-08-28 12:26] 0crat commented on #219
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#219](https://github.com/yegor256/jpeek/issues/219), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-08-28 23:40] fellahi-ali commented on #204
0crat status

[2019-08-28 23:41] fellahi-ali commented on #160
0crat status

[2019-09-03 23:05] fellahi-ali commented on #16
@0crat status

[2019-09-03 23:06] 0crat commented on #16
@fellahi-ali This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#16](https://github.com/yegor256/jpeek/issues/16) is [in scope](http://www.zerocracy.com/policy.html#14) for 20mon
  * The role is `DEV`
  * The job is assigned to @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali) for [8days](htt

[2019-09-04 19:03] 0crat commented on #310
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#310](https://github.com/yegor256/jpeek/issues/310), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-09-04 19:03] 0crat commented on #310
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-09-04 19:38] 0crat commented on #16
@fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali) this job was assigned to you 9days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-04 19:39] 0crat commented on #204
@fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali) this job was assigned to you 9days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-04 19:39] 0crat commented on #160
@fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali) this job was assigned to you 9days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-04 19:40] 0crat commented on #327
@thomas-melville[/z](https://www.0crat.com/u/thomas-melville) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-04 19:40] 0crat commented on #246
@dfrau32[/z](https://www.0crat.com/u/dfrau32) this job was assigned to you 10days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-04 20:23] 0crat commented on #327
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-09-04 20:23] 0crat commented on #327
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#327](https://github.com/yegor256/jpeek/issues/327), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-09-04 20:48] 0crat commented on #213
The job [#213](https://github.com/yegor256/jpeek/issues/213) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/2b697cbe-fa0d-49f0-a751-c8bef1b5c438); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-09-05 04:37] fellahi-ali opened #332 "Puzzles (#160) & (#204) are asking the same thing in different words!"
When I started working on [#160](https://github.com/yegor256/jpeek/issues/160) &
[#204](https://github.com/yegor256/jpeek/issues/204), I noticed a strange similarity in the task description but not sure how,
then as I started to understand what is this LORM is about, and found [this comment](https://github.com/yegor256/jpeek/pull/184#issuecomment-365906099)
by @amihaiemil when he is reviewing the

[2019-09-05 04:37] 0crat commented on #332
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-05 04:38] fellahi-ali commented on #160
@0crat wait for #332

[2019-09-05 04:39] fellahi-ali commented on #204
@0crat wait for #332

[2019-09-05 04:45] fellahi-ali commented on #16
@0crat  wait for #296

[2019-09-05 05:00] 0crat commented on #204
@fellahi-ali The impediment for [#204](https://github.com/yegor256/jpeek/issues/204) was registered successfully by @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali)

[2019-09-05 05:00] 0crat commented on #160
@fellahi-ali The impediment for [#160](https://github.com/yegor256/jpeek/issues/160) was registered successfully by @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali)

[2019-09-05 05:04] 0crat commented on #16
@fellahi-ali The impediment for [#16](https://github.com/yegor256/jpeek/issues/16) was registered successfully by @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali)

[2019-09-05 19:48] fellahi-ali opened #333 "PDF files in `/papers` directory should have meaningful names!"
While working on some issues about implementing metrics, I found myself obligated to come back to each issue/comment where a **research paper** was mentioned -every time I need to read about a metric- because I can't and I don't have to remember those cryptic names for PDFs in `/papers` directory! and I found that distracting and time wasting. So I suggest renaming the PDFs related to some metric

[2019-09-05 19:49] 0crat commented on #333
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-06 00:42] paulodamaso commented on #333
@fellahi-ali We have a section at the readme about this, but I think it's outdated: https://github.com/yegor256/jpeek#cohesion-metrics . So I propose to update this section with the documents present in `/papers`. Then we should use the readme section to refer to the documents instead the `/papers` folder. WDYT?

[2019-09-06 06:07] fellahi-ali commented on #333
@paulodamaso Sure! The readme should be updated by every one how adds new PDF to `/papers` or any other reference, but my initial concerne to give those PDFs meaningful name is to facilitate thier exploration directly from the IDE without the need to refer to other things.

[2019-09-06 10:41] fellahi-ali commented on #332
@paulodamaso can you check this please!

[2019-09-06 18:05] paulodamaso commented on #332
@fellahi-ali Let's try to do something better:
- in each issue (#160 and #204) try to implement something that puts us closer to the resolution of the puzzle (tests, basic architecture, etc)
- leave a more specific puzzle which scope is what is left to implement

WDYT?

[2019-09-06 18:14] paulodamaso commented on #333
@fellahi-ali I see. I think that's a good idea

[2019-09-06 18:14] paulodamaso commented on #333
@0crat in

[2019-09-06 18:15] 0crat commented on #333
@paulodamaso Job [#333](https://github.com/yegor256/jpeek/issues/333) is now in scope, role is `DEV`

[2019-09-06 18:31] 0crat commented on #333
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali)

[2019-09-06 23:14] fellahi-ali commented on #332
@paulodamaso Does this mean that I should submit a PR for each issue?

[2019-09-08 03:08] paulodamaso commented on #332
@fellahi-ali Yes. I think that I understand better what you are proposing, correct me if I am wrong: we have two issues related to LORM, which seems to be the same or almost the same, and the solution to LORM metric is will be reached by following three steps that bear some relation to the first issues. So let's do this way: on #160 you start to solve the problem described in `1- Extract and defin

[2019-09-09 21:42] 0crat commented on #213
@dfrau32[/z](https://www.0crat.com/u/dfrau32) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-10 11:53] fellahi-ali opened #334 "Wrong implementation of LORM metric in #292"
I'm currently working on solving some puzzles related to **LORM** metric, and coincidentally I found this pull request #292 -that unfortunately get merged- and that claims to implement the **LORM** metric as described in the related research papers [papers/etzkorn00.pdf](https://github.com/yegor256/jpeek/blob/master/papers/etzkorn00.pdf) and [papers/izadkhah17.pdf](https://github.com/yegor256/jpee

[2019-09-10 11:53] 0crat commented on #334
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-10 12:09] fellahi-ali commented on #332
@paulodamaso Yes this seems reasonable solution; but my concern is that I could face a problem submitting the PRs because one of them is related to the code in the other and I couldn't submit the second until the first get merged !
and also I found another problem that I reported here #334

[2019-09-10 13:47] paulodamaso commented on #334
@0crat assign @fellahi-ali

[2019-09-10 13:48] paulodamaso commented on #334
@fellahi-ali Let's solve these three issues in order: first #160, then #204, and #334 at the end

[2019-09-10 13:57] 0crat commented on #334
@paulodamaso The job [#334](https://github.com/yegor256/jpeek/issues/334) assigned to @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/bfc574c8-1121-47b0-b704-1306241d2adf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.

[2019-09-10 14:08] 0crat commented on #334
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-10 14:18] 0crat commented on #334
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-09-10 14:18] 0crat commented on #334
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali)

[2019-09-14 20:51] 0crat commented on #213
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#213](https://github.com/yegor256/jpeek/issues/213), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-09-14 20:51] 0crat commented on #213
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2019-09-15 14:39] 0crat commented on #334
@fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-17 10:37] fellahi-ali commented on #334
@0crat wait #332 & #296

[2019-09-17 10:40] 0crat commented on #334
@fellahi-ali The impediment for [#334](https://github.com/yegor256/jpeek/issues/334) was registered successfully by @fellahi-ali[/z](https://www.0crat.com/u/fellahi-ali)

[2019-09-21 19:12] fellahi-ali opened #335 "Responsibility of `visitMethod()` method in `XmlClass.java` is not clear and its not well documented"
I'm working on LORM metric implementation, and as part of my solution I have to implement a `MethodVisitor` and integrate it to `visitMethod()` method in `XmlClass.java` which is currently implemented as follow:
[code]
but I found that the current implementation is very complex and not clean, and that this method has a lot of responsibilities that are not well documented beside that there is no cl

[2019-09-21 19:12] 0crat commented on #335
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-26 12:05] 0crat commented on #218
The job [#218](https://github.com/yegor256/jpeek/issues/218) assigned to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/4695407b-fceb-42a7-9404-64653a614feb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-09-26 12:11] 0crat commented on #219
The job [#219](https://github.com/yegor256/jpeek/issues/219) assigned to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1e0dbcae-ddd0-4fcc-b9ee-2d150a2699ac); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-09-28 20:58] romach commented on #253
@0crat status

[2019-09-28 21:00] 0crat commented on #253
@romach This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#253](https://github.com/yegor256/jpeek/issues/253) is [in scope](http://www.zerocracy.com/policy.html#14) for 16mon
  * The role is `DEV`
  * The job is assigned to @romach[/z](https://www.0crat.com/u/romach) for [24hr](http://www.zerocr

[2019-09-29 15:58] stepanov-dmitry commented on #218
@0crat status

[2019-09-29 15:59] stepanov-dmitry commented on #219
@0crat status

[2019-09-29 15:59] 0crat commented on #218
@stepanov-dmitry This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#218](https://github.com/yegor256/jpeek/issues/218) is [in scope](http://www.zerocracy.com/policy.html#14) for 19mon
  * The role is `DEV`
  * The job is assigned to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry) f

[2019-09-29 16:01] 0crat commented on #219
@stepanov-dmitry This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#219](https://github.com/yegor256/jpeek/issues/219) is [in scope](http://www.zerocracy.com/policy.html#14) for 19mon
  * The role is `DEV`
  * The job is assigned to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry) f

[2019-09-29 16:03] stepanov-dmitry commented on #224
@0crat status

[2019-09-29 16:03] 0crat commented on #224
@stepanov-dmitry This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#224](https://github.com/yegor256/jpeek/issues/224) is [in scope](http://www.zerocracy.com/policy.html#14) for 19mon
  * The role is `DEV`
  * The job is assigned to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry) f

[2019-09-29 20:04] stepanov-dmitry opened #336 "TLCOM.xsl:51-53: TLCOM: Need info to fix issue related to access to ALL fields while TLCOM processing"
The issue https://github.com/yegor256/jpeek/issues/218 isn't fully clear.

Based on https://github.com/yegor256/jpeek/issues/156 issue and corresponding MR https://github.com/yegor256/jpeek/pull/257 which was merged is not clear what behavior we expect from the code.

From https://github.com/yegor256/jpeek/pull/257 we can see that `ClassAccessingPublicField` class includes variable `org.jpeek.samp

[2019-09-29 20:05] 0crat commented on #336
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-29 20:12] stepanov-dmitry commented on #218
@0crat wait for https://github.com/yegor256/jpeek/issues/336

[2019-09-29 20:12] 0crat commented on #218
@stepanov-dmitry The impediment for [#218](https://github.com/yegor256/jpeek/issues/218) was registered successfully by @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry)

[2019-09-30 19:51] GnusinPavel opened #338 "Travis build doesn't work anymore"
It seems can't install java 8
[code]

[2019-09-30 19:51] 0crat commented on #338
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-09-30 21:12] stepanov-dmitry commented on #224
@0crat wait for https://github.com/yegor256/jpeek/pull/339

[2019-09-30 21:13] 0crat commented on #224
@stepanov-dmitry The impediment for [#224](https://github.com/yegor256/jpeek/issues/224) was registered successfully by @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry)

[2019-09-30 21:17] stepanov-dmitry commented on #219
@0crat wait please since needs more time to understand current implementation and think about support of method calls chain with no limits.

[2019-09-30 21:17] 0crat commented on #219
@stepanov-dmitry The impediment for [#219](https://github.com/yegor256/jpeek/issues/219) was registered successfully by @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry)

[2019-10-02 14:14] Jekeam opened #340 "What version of Java should i use for the project?"
I do not see the description of the version in Maven, for example, since version 11, nothing works for me and with 10 similarly, I get various errors. I need help, what should I do?

[2019-10-02 14:14] 0crat commented on #340
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-02 14:14] 0crat commented on #340
@jekeam[/z](https://www.0crat.com/u/jekeam) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-02 21:40] 0crat commented on #253
@romach[/z](https://www.0crat.com/u/romach) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-10-02 23:41] paulodamaso commented on #338
@GnusinPavel it is an error indeed, thanks

[2019-10-02 23:42] paulodamaso commented on #338
@0crat in

[2019-10-02 23:43] 0crat commented on #338
@paulodamaso Job [#338](https://github.com/yegor256/jpeek/issues/338) is now in scope, role is `DEV`

[2019-10-02 23:47] 0crat commented on #338
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-10-02 23:53] paulodamaso commented on #340
@Jekeam we're using java 8, as described in pom.XML https://github.com/yegor256/jpeek/blob/c438906b581d2956eb52b320ffb3ed9eb5d1895c/pom.xml#L222

[2019-10-02 23:53] #340 closed

[2019-10-02 23:55] paulodamaso commented on #336
@llorllale could you helplease us with this one?

[2019-10-03 00:11] 0crat commented on #340
Job `gh:yegor256/jpeek#340` is not assigned, can't get performer

[2019-10-03 00:11] 0crat commented on #340
This job is not in scope

[2019-10-03 05:44] Jekeam commented on #340
Thanks, why Maven did not install the correct version of Java automatically? Why did he use my local version of Java? Where can I read how it works?

[2019-10-03 06:19] Jekeam commented on #340
After changing the version, I get the following
<details>
<summary>error</summary>
`
        at java.util.concurrent.FutureTask.run(FutureTask.java:266)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
        at java.lang.Thread.run(Thread.java:748)
Caused by: java.

[2019-10-03 10:52] Jekeam opened #341 "When running the "mvn clean install -Pqulice" command, I get an error"
Continuation #340
I change java version:
java -version:
[code]
but I get new errors:
<details>
<summary>show full log</summary>
`
        at java.util.concurrent.FutureTask.run(FutureTask.java:266)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
        at java.lang

[2019-10-03 10:53] 0crat commented on #341
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-03 10:53] 0crat commented on #341
@jekeam[/z](https://www.0crat.com/u/jekeam) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-03 10:58] #341 closed

[2019-10-03 10:59] jekeam opened #342 "> @Jekeam we're using java 8, as described in pom.XML"
Thanks, why Maven did not install the correct version of Java automatically? Why did he use my local version of Java? Where can I read how it works?

_Originally posted by @Jekeam in https://github.com/yegor256/jpeek/issues/340#issuecomment-537796808_

[2019-10-03 10:59] 0crat commented on #342
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-03 10:59] 0crat commented on #342
@jekeam[/z](https://www.0crat.com/u/jekeam) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-03 10:59] Jekeam commented on #340
I change java version:
java -version:
[code]
but I get new errors:
<details>
<summary>show full log</summary>
`
        at java.util.concurrent.FutureTask.run(FutureTask.java:266)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
        at java.lang.Thread.run(Thread

[2019-10-03 11:00] jekeam opened #343 "I change java version, but I keep getting build errors"
I change java version:
java -version:
[code]
but I get new errors:
<details>
<summary>show full log</summary>
`
        at java.util.concurrent.FutureTask.run(FutureTask.java:266)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
        at java.lang.Thread.run(Thread

[2019-10-03 11:00] 0crat commented on #343
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-03 11:00] 0crat commented on #343
@jekeam[/z](https://www.0crat.com/u/jekeam) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-03 11:15] 0crat commented on #341
Job `gh:yegor256/jpeek#341` is not assigned, can't get performer

[2019-10-03 11:16] 0crat commented on #341
This job is not in scope

[2019-10-03 18:07] 0crat commented on #213
The job [#213](https://github.com/yegor256/jpeek/issues/213) assigned to @jekeam[/z](https://www.0crat.com/u/jekeam), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ad9a322a-105d-425a-888a-4fa8261317f4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-10-03 18:16] 0crat commented on #302
The job [#302](https://github.com/yegor256/jpeek/issues/302) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/2cf6a26e-bbe6-43dc-a4a1-e27e682cc93d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-10-03 18:22] 0crat commented on #310
The job [#310](https://github.com/yegor256/jpeek/issues/310) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ea43da98-6349-4c6c-a77d-1a95538cef5a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-10-04 09:45] mohamednizar commented on #338
Added a fix for this refer : #344

[2019-10-04 10:35] mohamednizar commented on #302
@fabriciofx , do we need appveyor only for Windows or both Linux & Windows ?

[2019-10-04 14:46] fabriciofx commented on #302
@mohamednizar just for Windows. To Linux we use Travis CI.

[2019-10-04 14:48] mohamednizar commented on #302
@fabriciofx , I have created a pull request, please review it, refer #345

[2019-10-04 18:41] paulodamaso commented on #338
@0crat assign @mohamednizar

[2019-10-04 18:43] 0crat commented on #338
@paulodamaso The job [#338](https://github.com/yegor256/jpeek/issues/338) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/764641d9-1f89-4506-a307-6a37e698758a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-10-04 18:45] 0crat commented on #338
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-10-05 22:48] 0pdd commented on #294
The puzzle `216-0c93d2e3` has disappeared from the source code, that's why I closed this issue.

[2019-10-05 22:48] #294 closed

[2019-10-05 22:48] 0pdd commented on #8
@yegor256 2 puzzles [#295](https://github.com/yegor256/jpeek/issues/295), [#310](https://github.com/yegor256/jpeek/issues/310) are still not solved; solved: [#215](https://github.com/yegor256/jpeek/issues/215), [#216](https://github.com/yegor256/jpeek/issues/216), [#294](https://github.com/yegor256/jpeek/issues/294).

[2019-10-05 22:48] 0pdd commented on #216
@0pdd the puzzle [#295](https://github.com/yegor256/jpeek/issues/295) is still not solved; solved: [#294](https://github.com/yegor256/jpeek/issues/294).

[2019-10-05 23:05] 0crat commented on #294
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-05 23:05] 0crat commented on #294
The job [#294](https://github.com/yegor256/jpeek/issues/294) is now out of scope

[2019-10-05 23:09] luiscruz commented on #16
Hi, is this a good first issue? I'd like to contribute and I'm familiar with the metric.

[2019-10-05 23:55] paulodamaso commented on #16
@luiscruz Currently this issue is waiting for #296 solution. Can you solve it with the current architecture?

[2019-10-06 00:10] luiscruz commented on #16
I'm not familiar with the architecture yet.
Perhaps I should start with a simpler issue and then get back to this.
Any recommendation @paulodamaso ?

[2019-10-06 00:43] paulodamaso commented on #16
@luiscruz I think that as you are familiar with the metrics, this should be a good issue to you to get familiar with the current architecture. Or you could get into #296 and provide a solution for it.

We use [@0crat](https://www.0crat.com/) to manage the project issues, so it would be a good idea for you to join it if you want to contribute actively

[2019-10-06 00:43] 0crat commented on #16
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/16#issuecomment-538701227); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-10-06 01:24] luiscruz commented on #16
Thanks. I'll give it a try during this week.

[2019-10-06 08:07] mohamednizar commented on #338
@0crat status

[2019-10-06 08:08] 0crat commented on #338
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#338](https://github.com/yegor256/jpeek/issues/338) is [in scope](http://www.zerocracy.com/policy.html#14) for 3days
  * The role is `DEV`
  * The job is assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) for [2days

[2019-10-06 08:13] mohamednizar commented on #338
@GnusinPavel , The problem is resolved, can you close the issue ?

[2019-10-06 10:04] GnusinPavel commented on #338
yep

[2019-10-06 10:04] #338 closed

[2019-10-06 10:27] 0crat commented on #338
Job was finished in 39 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-10-06 10:28] 0crat commented on #338
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-06 10:29] 0crat commented on #338
The job [#338](https://github.com/yegor256/jpeek/issues/338) is now out of scope

[2019-10-06 17:24] #282 closed

[2019-10-06 17:24] 0pdd commented on #282
The puzzle `199-15890460` has disappeared from the source code, that's why I closed this issue.

[2019-10-06 17:24] 0pdd commented on #134
@skapral the puzzle [#200](https://github.com/yegor256/jpeek/issues/200) is still not solved; solved: [#199](https://github.com/yegor256/jpeek/issues/199), [#201](https://github.com/yegor256/jpeek/issues/201), [#282](https://github.com/yegor256/jpeek/issues/282).

[2019-10-06 17:24] 0pdd commented on #199
@0pdd the only puzzle [#282](https://github.com/yegor256/jpeek/issues/282) is solved here.

[2019-10-06 17:45] 0crat commented on #282
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-06 17:45] 0crat commented on #282
The job [#282](https://github.com/yegor256/jpeek/issues/282) is now out of scope

[2019-10-07 06:14] mohamednizar commented on #338
@fabriciofx , can you please do the reviews ?

[2019-10-07 11:18] mohamednizar commented on #338
@0crat status

[2019-10-07 11:26] 0crat commented on #338
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#338](https://github.com/yegor256/jpeek/issues/338) is not in scope
  * The job is waiting quality review verdict by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for 1days
  * @mohamednizar[/z](https://www.0crat.com/u/mohamed

[2019-10-07 11:29] mohamednizar commented on #302
@0crat status

[2019-10-07 11:44] 0crat commented on #302
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#302](https://github.com/yegor256/jpeek/issues/302) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) for [4days]

[2019-10-07 21:22] 0crat commented on #253
The user @romach[/z](https://www.0crat.com/u/romach) resigned from [#253](https://github.com/yegor256/jpeek/issues/253), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-10-07 21:22] 0crat commented on #253
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @romach[/z](https://www.0crat.com/u/romach)

[2019-10-07 21:32] 0crat commented on #213
The job [#213](https://github.com/yegor256/jpeek/issues/213) assigned to @romach[/z](https://www.0crat.com/u/romach), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/5eb5af03-4a2c-47e9-9b23-a8bf4205349d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-10-07 21:50] 0crat commented on #308
The job [#308](https://github.com/yegor256/jpeek/issues/308) assigned to @romach[/z](https://www.0crat.com/u/romach), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/2ee1763e-263d-489f-b1ed-77f4ff98510d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2019-10-07 22:01] 0crat commented on #253
The job [#253](https://github.com/yegor256/jpeek/issues/253) assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7a6a3529-9fe5-419a-acff-55c26fe5f948); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-10-08 18:44] 0crat commented on #302
@mohamednizar[/z](https://www.0crat.com/u/mohamednizar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-10-08 18:44] 0crat commented on #310
@mohamednizar[/z](https://www.0crat.com/u/mohamednizar) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-10-08 20:15] GnusinPavel commented on #297
@0crat hello

[2019-10-08 20:16] 0crat commented on #297
@GnusinPavel Hey, what's up, how is it going?

[2019-10-08 20:17] GnusinPavel commented on #297
@0crat  wait #346

[2019-10-08 20:18] 0crat commented on #297
@GnusinPavel @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel) you can't register impediment for this job

[2019-10-08 20:18] GnusinPavel commented on #297
@0crat status

[2019-10-08 20:19] 0crat commented on #297
@GnusinPavel This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#297](https://github.com/yegor256/jpeek/issues/297) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is assigned to @romach[/z](https://www.0crat.com/u/romach) for [22hr](http://www.ze

[2019-10-08 20:19] GnusinPavel commented on #252
@0crat status

[2019-10-08 20:23] GnusinPavel commented on #253
@0crat wait #252

[2019-10-08 20:25] 0crat commented on #253
@GnusinPavel The impediment for [#253](https://github.com/yegor256/jpeek/issues/253) was registered successfully by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-10-12 21:48] 0crat commented on #213
@romach[/z](https://www.0crat.com/u/romach) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-10-12 23:05] 0crat commented on #308
@romach[/z](https://www.0crat.com/u/romach) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-10-12 23:07] 0crat commented on #297
@romach[/z](https://www.0crat.com/u/romach) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-10-13 20:11] 0crat commented on #310
The user @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) resigned from [#310](https://github.com/yegor256/jpeek/issues/310), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-10-13 20:13] 0crat commented on #302
The user @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) resigned from [#302](https://github.com/yegor256/jpeek/issues/302), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-10-13 20:14] 0crat commented on #302
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-10-13 20:14] 0crat commented on #310
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-10-14 04:10] mohamednizar commented on #302
@paulodamaso , why this task is reassigned, even after I committed the code ? what  going on ?

[2019-10-17 22:12] 0crat commented on #213
The user @romach[/z](https://www.0crat.com/u/romach) resigned from [#213](https://github.com/yegor256/jpeek/issues/213), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-10-17 22:28] 0crat commented on #213
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @romach[/z](https://www.0crat.com/u/romach)

[2019-10-17 23:20] 0crat commented on #297
The user @romach[/z](https://www.0crat.com/u/romach) resigned from [#297](https://github.com/yegor256/jpeek/issues/297), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-10-17 23:38] 0crat commented on #308
The user @romach[/z](https://www.0crat.com/u/romach) resigned from [#308](https://github.com/yegor256/jpeek/issues/308), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-10-17 23:57] 0crat commented on #297
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @romach[/z](https://www.0crat.com/u/romach)

[2019-10-17 23:57] 0crat commented on #308
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @romach[/z](https://www.0crat.com/u/romach)

[2019-10-17 23:59] 0crat commented on #297
Job `gh:yegor256/jpeek#297` is not assigned, can't get performer

[2019-10-17 23:59] 0crat commented on #308
Job `gh:yegor256/jpeek#308` is not assigned, can't get performer

[2019-10-18 00:59] 0crat commented on #297
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @romach[/z](https://www.0crat.com/u/romach)

[2019-10-18 01:04] 0crat commented on #308
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @romach[/z](https://www.0crat.com/u/romach)

[2019-10-18 15:59] paulodamaso commented on #302
@mohamednizar The code was merged, but @0crat just pays the issue performer when the issue is closed, as per [§7](http://www.zerocracy.com/policy.html#7). @0crat doesn't have to know when the issue is solved, so you have to manually inform the issue reporter to close each issue after merge.

Also, as stated in [§42](http://www.zerocracy.com/policy.html#42), a link to the original link must be adde

[2019-10-18 15:59] 0crat commented on #302
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/302#issuecomment-543810209); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-10-19 12:26] yegor256 opened #348 "migrate to Dokku"

[2019-10-19 12:26] 0crat commented on #348
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-10-19 12:37] yegor256 commented on #348
@rultor release, tag is `0.30.1`

[2019-10-19 12:38] rultor commented on #348
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20652-544139285)

[2019-10-19 12:56] rultor commented on #348
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20652-544139285) (took me 16min)

[2019-10-20 15:04] #348 closed

[2019-10-21 17:28] mohamednizar commented on #338
@0crat status , I have already have negative points for this ticket, @paulodamaso please do the needful.

[2019-10-21 17:56] 0crat commented on #338
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#338](https://github.com/yegor256/jpeek/issues/338) is not in scope
  * The job is waiting quality review verdict by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for 15days
  * @mohamednizar[/z](https://www.0crat.com/u/mohame

[2019-10-22 11:51] paulodamaso commented on #338
@fabriciofx ping

[2019-10-22 11:53] paulodamaso commented on #338
@mohamednizar You didn't received any penalty for this one yet, and the PR #344 is waiting for corrections pointed by QA.

[2019-10-23 14:22] 0crat commented on #297
The job [#297](https://github.com/yegor256/jpeek/issues/297) assigned to @protagores[/z](https://www.0crat.com/u/protagores), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e3b4a5ce-1386-4cd2-9183-a45e9719fb15); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-10-25 14:31] Protagores commented on #295
@0crat wait for #343

[2019-10-25 14:32] Protagores commented on #297
@0crat wait for #343

[2019-10-25 14:34] 0crat commented on #295
@Protagores The impediment for [#295](https://github.com/yegor256/jpeek/issues/295) was registered successfully by @protagores[/z](https://www.0crat.com/u/protagores)

[2019-10-25 15:11] 0crat commented on #297
@Protagores The impediment for [#297](https://github.com/yegor256/jpeek/issues/297) was registered successfully by @protagores[/z](https://www.0crat.com/u/protagores)

[2019-10-26 17:32] mohamednizar commented on #338
@fabriciofx any updates ?

[2019-10-26 17:37] mohamednizar commented on #302
@0crat wait

[2019-10-26 18:06] 0crat commented on #302
@mohamednizar Job `gh:yegor256/jpeek#302` is not assigned, can't get performer

[2019-10-26 18:47] mohamednizar commented on #272
@Protagores can't add a permanent fix for java 11 or latest? @paulodamaso we need a permanent solution for this.

[2019-10-26 18:49] mohamednizar commented on #343
Would need to update, in pom.xml, the versions of following dependencies:

Duplication of #272 , refer this for the solution.

[2019-10-26 19:03] mohamednizar commented on #342
@Jekeam change the following lines not the java version ,
[code]
and
[code]

Hope this would help to you.

[2019-10-28 08:27] Protagores commented on #272
@mohamednizar Dependency version update is trivial, in fact I am going to do this in my next pull request.

However the `mvn -Pqulice` option might still not be working though. Somehow it currently works for me with OpenJDK 11, so I can’t reproduce the issue I referenced above at this point.

[2019-10-28 09:13] Protagores commented on #295
@verkhovin @paulodamaso @yegor256 The `notCommonAttributesWithAllArgsConstructor` test is already enabled in the `org.jpeek.metrics.Lcom4Test` class, and it passes successfully. Do you think the puzzle is no longer needed in this case?

[2019-10-30 01:58] mohamednizar commented on #302
@paulodamaso will Zerocrat give reputation soon after the closing this ticket? Will it revise the negative points I was awarded for this job?

[2019-10-30 16:48] paulodamaso commented on #302
@0crat status

[2019-10-30 18:18] paulodamaso commented on #302
@mohamednizar I assigned it to you, and will close it as soon as @0crat register the assignement. Let's see how it will behave

[2019-10-30 18:18] 0crat commented on #302
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/302#issuecomment-548047096); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2019-10-30 18:25] 0crat commented on #302
@paulodamaso The job [#302](https://github.com/yegor256/jpeek/issues/302) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/f0c66109-54cc-4972-b770-c03a03aba105); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-10-30 18:25] 0crat commented on #302
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-10-30 18:36] #302 closed

[2019-10-30 18:55] 0crat commented on #302
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-10-30 18:56] 0crat commented on #302
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.34](https://github.com/zerocracy/farm): CID: [cc81d0de-6aba-4477-9bdb-b0164bb59cc4](https://www.0crat.com/footprint/C7JGJ00DP/cc81d0de-6aba-4477-9bdb-b0164bb59cc4), Type: "Order was finished"

[2019-10-30 18:56] 0crat commented on #302
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-10-30 18:56] 0crat commented on #302
The job [#302](https://github.com/yegor256/jpeek/issues/302) is now out of scope

[2019-10-30 19:28] paulodamaso commented on #302
@0crat quality good

[2019-10-30 19:35] 0crat commented on #302
Order was finished, quality is "good": +40 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-10-30 19:50] 0crat commented on #302
Quality review completed: +4 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-11-02 03:17] paulodamaso commented on #338
@0crat quality acceptable

[2019-11-02 04:48] 0crat commented on #338
Order was finished, quality is "acceptable": +35 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-02 04:48] 0crat commented on #338
Quality review completed: +4 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-11-02 12:17] stepanov-dmitry commented on #224
@mohamednizar @paulodamaso since the task has been done and the code has been merge, could you please close it and mark as done? Seems I have not enough permissions to do that or tell me how can do it please.

[2019-11-02 12:19] stepanov-dmitry commented on #224
Reference to the pull request: https://github.com/yegor256/jpeek/pull/339

[2019-11-02 12:24] mohamednizar commented on #224
@rultor merge

[2019-11-04 04:19] 0crat commented on #333
The job [#333](https://github.com/yegor256/jpeek/issues/333) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/54219699-15e8-433e-925f-636118f94bea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-04 05:55] 0crat commented on #327
The job [#327](https://github.com/yegor256/jpeek/issues/327) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/338db7be-d53d-412f-9d4e-3ad06f5bdd7e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-11-05 08:24] GnusinPavel commented on #294
@0crat status

[2019-11-05 08:24] GnusinPavel commented on #282
@0crat status

[2019-11-05 08:26] GnusinPavel commented on #294
@fabriciofx ping, please finish qa review

[2019-11-05 08:28] GnusinPavel commented on #282
@fabriciofx ping, please finish qa review

[2019-11-05 08:32] 0crat commented on #294
@GnusinPavel This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#294](https://github.com/yegor256/jpeek/issues/294) is not in scope
  * The job is waiting quality review verdict by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for 1mon
  * @gnusinpavel[/z](https://www.0crat.com/u/gnusinpave

[2019-11-05 08:34] 0crat commented on #282
@GnusinPavel This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#282](https://github.com/yegor256/jpeek/issues/282) is not in scope
  * The job is waiting quality review verdict by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for 30days
  * @gnusinpavel[/z](https://www.0crat.com/u/gnusinpa

[2019-11-06 03:46] paulodamaso commented on #224
@stepanov-dmitry When you solve an issue opened by @0pdd you have to remove the puzzle form the code so it understands that the issue was solved and it can be closed. Please make another pull request removing the puzzle from the code.

[2019-11-08 22:09] fabriciofx commented on #282
@0crat quality good

[2019-11-08 22:14] 0crat commented on #282
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-08 22:15] 0crat commented on #282
Order was finished, quality is "good": +35 point(s) just awarded to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-11-08 22:16] fabriciofx commented on #294
@0crat quality good

[2019-11-08 22:17] 0crat commented on #308
The job [#308](https://github.com/yegor256/jpeek/issues/308) assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/48630286-0221-4879-a647-e6ea9350fa77); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-11-08 22:17] fabriciofx commented on #338
@0crat status

[2019-11-08 22:17] 0crat commented on #308
Job `gh:yegor256/jpeek#308` already assigned to @gnusinpavel, can't assign to @gnusinpavel

[2019-11-08 22:19] 0crat commented on #294
Order was finished, quality is "good": +35 point(s) just awarded to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-11-08 22:20] 0crat commented on #338
@fabriciofx This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#338](https://github.com/yegor256/jpeek/issues/338) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Ayegor256%2Fjpeek%23338%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted are

[2019-11-08 22:20] 0crat commented on #294
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-08 22:21] fabriciofx commented on #338
@0crat quality acceptable

[2019-11-08 22:21] 0crat commented on #338
@fabriciofx There is no quality review for [#338](https://github.com/yegor256/jpeek/issues/338), no performer

[2019-11-08 22:27] 0crat commented on #309
The job [#309](https://github.com/yegor256/jpeek/issues/309) assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1ceb08fe-72d3-4e9e-ad78-cce2e71e7d47); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-11-08 22:45] 0crat commented on #312
The job [#312](https://github.com/yegor256/jpeek/issues/312) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/a9da016f-794d-4afd-a087-c70f9f47c536); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-09 16:59] GnusinPavel commented on #308
@0crat  wait to #351

[2019-11-09 17:01] 0crat commented on #308
@GnusinPavel The impediment for [#308](https://github.com/yegor256/jpeek/issues/308) was registered successfully by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-11-11 10:11] mohamednizar commented on #312
@fabriciofx , this was done, why the ticket still not closed ?

[2019-11-11 10:37] mohamednizar commented on #312
@0crat wait

[2019-11-11 10:45] 0crat commented on #312
@mohamednizar The impediment for [#312](https://github.com/yegor256/jpeek/issues/312) was registered successfully by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-11 19:29] GnusinPavel commented on #309
@fabriciofx can you provide more details what actually need supposed to do?

[2019-11-12 03:17] fabriciofx commented on #309
@GnusinPavel  you must replace usage of `MatcherAssert.assertThat` withcAssertion from `cactoos-matchers`. Once there is no more usage of `MatcherAssert.assertThat`, add the signature of `MatcherAssert.assertThat` to `forbidden-apis.txt`.

[2019-11-12 03:20] fabriciofx commented on #312
Closed by #350

[2019-11-12 03:21] 0crat commented on #312
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-12 03:23] fabriciofx commented on #312
Closed by #350

[2019-11-12 03:23] #312 closed

[2019-11-12 03:38] #224 closed

[2019-11-12 03:38] 0pdd commented on #224
The puzzle `135-d5b2c3f6` has disappeared from the source code, that's why I closed this issue.

[2019-11-12 03:39] 0pdd commented on #135
@skapral the puzzle [#327](https://github.com/yegor256/jpeek/issues/327) is still not solved; solved: [#224](https://github.com/yegor256/jpeek/issues/224), [#225](https://github.com/yegor256/jpeek/issues/225), [#226](https://github.com/yegor256/jpeek/issues/226), [#227](https://github.com/yegor256/jpeek/issues/227).

[2019-11-12 04:12] mohamednizar commented on #312
@0crat continue

[2019-11-12 04:47] 0crat commented on #312
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-12 04:49] 0crat commented on #312
@mohamednizar Job [#312](https://github.com/yegor256/jpeek/issues/312) is not on hold, no impediment to remove

[2019-11-12 04:53] 0crat commented on #224
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-12 04:55] 0crat commented on #312
The job [#312](https://github.com/yegor256/jpeek/issues/312) is now out of scope

[2019-11-12 04:59] 0crat commented on #224
The job [#224](https://github.com/yegor256/jpeek/issues/224) is now out of scope

[2019-11-12 05:31] mohamednizar commented on #324
@0crat status

[2019-11-12 05:32] mohamednizar commented on #329
@0crat status

[2019-11-12 05:32] mohamednizar commented on #323
@0crat status

[2019-11-12 05:33] mohamednizar commented on #316
@0crat status

[2019-11-12 05:33] mohamednizar commented on #313
@0crat status

[2019-11-12 05:36] 0crat commented on #324
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#324](https://github.com/yegor256/jpeek/issues/324) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4)

[2019-11-12 05:39] 0crat commented on #313
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#313](https://github.com/yegor256/jpeek/issues/313) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4)

[2019-11-12 05:45] 0crat commented on #329
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#329](https://github.com/yegor256/jpeek/issues/329) is [in scope](http://www.zerocracy.com/policy.html#14) for 4mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4)

[2019-11-12 05:48] 0crat commented on #323
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#323](https://github.com/yegor256/jpeek/issues/323) is [in scope](http://www.zerocracy.com/policy.html#14) for 7mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4)

[2019-11-12 05:49] 0crat commented on #316
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#316](https://github.com/yegor256/jpeek/issues/316) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4)

[2019-11-12 12:09] fabriciofx commented on #224
@0pdd quality good

[2019-11-12 12:10] fabriciofx commented on #312
@0crat quality good

[2019-11-12 12:13] 0crat commented on #312
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-12 12:13] 0crat commented on #312
Order was finished, quality is "good": +35 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-12 16:50] paulodamaso commented on #224
@0crat status

[2019-11-12 16:52] 0crat commented on #224
@paulodamaso This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#224](https://github.com/yegor256/jpeek/issues/224) is not in scope
  * The job is waiting quality review verdict by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for 12hr
  * @stepanov-dmitry[/z](https://www.0crat.com/u/stepan

[2019-11-12 16:58] fabriciofx commented on #224
@0crat quality good

[2019-11-12 17:02] 0crat commented on #224
Order was finished, quality is "good": +35 point(s) just awarded to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry)

[2019-11-12 17:02] 0crat commented on #224
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-12 17:09] 0crat commented on #313
The job [#313](https://github.com/yegor256/jpeek/issues/313) assigned to @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/52e357b8-9fcf-46ff-8ae1-7970de1c5532); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-11-12 17:21] stepanov-dmitry commented on #218
@0crat wait please

[2019-11-12 17:21] stepanov-dmitry commented on #313
@0crat wait please

[2019-11-12 17:22] 0crat commented on #313
@stepanov-dmitry The impediment for [#313](https://github.com/yegor256/jpeek/issues/313) was registered successfully by @stepanov-dmitry[/z](https://www.0crat.com/u/stepanov-dmitry)

[2019-11-13 21:55] GnusinPavel commented on #309
@0crat wait for #353

[2019-11-13 21:56] 0crat commented on #309
@GnusinPavel The impediment for [#309](https://github.com/yegor256/jpeek/issues/309) was registered successfully by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-11-14 05:23] 0crat commented on #333
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-11-14 05:24] 0crat commented on #333
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#333](https://github.com/yegor256/jpeek/issues/333), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-11-14 05:35] 0crat commented on #316
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#316](https://github.com/yegor256/jpeek/issues/316), see [§21](http://www.zerocracy.com/policy.html#21); @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-11-14 05:35] 0crat commented on #315
The job [#315](https://github.com/yegor256/jpeek/issues/315) assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c11388f0-8aba-4976-95aa-5b3304e66a43); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-11-14 05:59] 0crat commented on #327
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#327](https://github.com/yegor256/jpeek/issues/327), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-11-14 06:00] 0crat commented on #296
The job [#296](https://github.com/yegor256/jpeek/issues/296) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3ecb1dee-fa8c-4464-8811-39d744350652); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-11-15 18:52] mohamednizar commented on #315
@0crat wait

[2019-11-15 18:54] 0crat commented on #315
@mohamednizar The impediment for [#315](https://github.com/yegor256/jpeek/issues/315) was registered successfully by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-19 15:20] mohamednizar commented on #315
@0crat continue

[2019-11-19 15:21] 0crat commented on #315
@mohamednizar @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) continued working on job [#315](https://github.com/yegor256/jpeek/issues/315)

[2019-11-19 15:43] mohamednizar commented on #315
@paulodamaso  , are there any reviews QA tasks for this ticket ? shall we close this ticket ?

[2019-11-20 01:23] paulodamaso commented on #315
@mohamednizar The review happened in https://github.com/yegor256/jpeek/pull/354 and was made by me; there was nothing to complain so I merged it right away. Now, the next step is to ask the issue opener (@wholegroup) to close the issue if the solution is ok.

[2019-11-20 01:24] paulodamaso commented on #315
@wholegroup Please take a look and close the issue if it was solved.

[2019-11-20 02:03] paulodamaso opened #355 "Configure Travis CI to run same checks as rultor"
Travis CI is not running all needed checks, causing a false positive on builds. Travis must run the same checks that rultor does on its `merge` script..

[2019-11-20 02:20] paulodamaso commented on #355
@0crat in

[2019-11-20 05:24] mohamednizar commented on #315
@0crat wait

[2019-11-20 06:03] wholegroup commented on #315
@mohamednizar thanks

[2019-11-20 06:03] #315 closed

[2019-11-20 12:09] mohamednizar commented on #315
@0crat continue

[2019-11-20 12:48] mohamednizar commented on #315
@0crat status

[2019-11-20 13:16] #252 closed

[2019-11-20 13:16] 0pdd commented on #252
The puzzle `118-aa952a15` has disappeared from the source code, that's why I closed this issue.

[2019-11-20 13:16] #261 closed

[2019-11-20 13:16] 0pdd commented on #261
The puzzle `156-4fb50d79` has disappeared from the source code, that's why I closed this issue.

[2019-11-20 13:16] 0pdd opened #356 "MetricsTest.java:53-59: Add test for LCC with..."
The puzzle `118-560e90f9` from #118 has to be resolved:

https://github.com/yegor256/jpeek/blob/a239998cbb18965cd1d6923abbc694c9da3d04cc/src/test/java/org/jpeek/MetricsTest.java#L53-L59

The puzzle was created by Mohamed Nizar on 09-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2019-11-20 13:16] 0pdd opened #357 "Main.java:45-48: Due to introduce new version of qulice..."
The puzzle `308-016448ee` from #308 has to be resolved:

https://github.com/yegor256/jpeek/blob/a239998cbb18965cd1d6923abbc694c9da3d04cc/src/main/java/org/jpeek/Main.java#L45-L48

The puzzle was created by Gnusin Pavel on 19-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-11-20 13:17] 0pdd opened #358 "SkeletonTest.java:38-43: Skeleton must be upgraded to..."
The puzzle `156-7b4862fe` from #156 has to be resolved:

https://github.com/yegor256/jpeek/blob/a239998cbb18965cd1d6923abbc694c9da3d04cc/src/test/java/org/jpeek/skeleton/SkeletonTest.java#L38-L43

The puzzle was created by Mohamed Nizar on 09-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-11-20 13:17] 0pdd commented on #9
@yegor256 6 puzzles [#193](https://github.com/yegor256/jpeek/issues/193), [#194](https://github.com/yegor256/jpeek/issues/194), [#195](https://github.com/yegor256/jpeek/issues/195), [#217](https://github.com/yegor256/jpeek/issues/217), [#253](https://github.com/yegor256/jpeek/issues/253), [#356](https://github.com/yegor256/jpeek/issues/356) are still not solved; solved: [#117](https://github.com/y

[2019-11-20 13:17] 0pdd commented on #118
@0pdd 2 puzzles [#253](https://github.com/yegor256/jpeek/issues/253), [#356](https://github.com/yegor256/jpeek/issues/356) are still not solved; solved: [#252](https://github.com/yegor256/jpeek/issues/252).

[2019-11-20 13:17] 0pdd commented on #156
@llorllale the puzzle [#358](https://github.com/yegor256/jpeek/issues/358) is still not solved; solved: [#261](https://github.com/yegor256/jpeek/issues/261).

[2019-11-20 13:17] 0pdd commented on #308
@fabriciofx the puzzle [#357](https://github.com/yegor256/jpeek/issues/357) is still not solved.

[2019-11-20 13:17] 0crat commented on #356
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-20 13:18] 0crat commented on #358
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-20 13:19] 0crat commented on #357
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-20 13:20] mohamednizar commented on #355
@0crat status

[2019-11-20 14:27] 0crat commented on #315
@mohamednizar The impediment for [#315](https://github.com/yegor256/jpeek/issues/315) was registered successfully by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-20 14:33] GnusinPavel commented on #308
@0crat status

[2019-11-20 14:33] 0crat commented on #315
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#315](https://github.com/yegor256/jpeek/issues/315) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is assigned to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) for [6days]

[2019-11-20 14:50] 0crat commented on #315
@mohamednizar @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) continued working on job [#315](https://github.com/yegor256/jpeek/issues/315)

[2019-11-20 14:52] 0crat commented on #357
Job [#357](https://github.com/yegor256/jpeek/issues/357) is now in scope, role is `DEV`

[2019-11-20 14:57] 0crat commented on #355
@mohamednizar This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#355](https://github.com/yegor256/jpeek/issues/355) is [in scope](http://www.zerocracy.com/policy.html#14) for 13min
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4

[2019-11-20 15:06] 0crat commented on #358
Job [#358](https://github.com/yegor256/jpeek/issues/358) is now in scope, role is `DEV`

[2019-11-20 15:09] 0crat commented on #308
@GnusinPavel This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#308](https://github.com/yegor256/jpeek/issues/308) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel) for [12days](h

[2019-11-20 15:16] 0crat commented on #356
Job [#356](https://github.com/yegor256/jpeek/issues/356) is now in scope, role is `DEV`

[2019-11-20 15:18] 0crat commented on #261
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @humb1t[/z](https://www.0crat.com/u/humb1t), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-20 15:21] 0crat commented on #252
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @humb1t[/z](https://www.0crat.com/u/humb1t), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-20 15:24] 0crat commented on #355
@paulodamaso Job [#355](https://github.com/yegor256/jpeek/issues/355) is now in scope, role is `DEV`

[2019-11-20 15:27] 0crat commented on #261
The job [#261](https://github.com/yegor256/jpeek/issues/261) is now out of scope

[2019-11-20 15:28] 0crat commented on #355
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-11-20 15:28] 0crat commented on #252
The job [#252](https://github.com/yegor256/jpeek/issues/252) is now out of scope

[2019-11-20 15:30] GnusinPavel commented on #308
@fabriciofx can you close this ticket please? )

[2019-11-20 20:59] fabriciofx commented on #261
@0crat quality good

[2019-11-20 21:01] fabriciofx commented on #252
@0crat quality good

[2019-11-20 21:02] fabriciofx commented on #308
@GnusinPavel yep.

[2019-11-20 21:06] 0crat commented on #261
Order was finished, quality is "good": +35 point(s) just awarded to @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-11-20 21:10] 0crat commented on #252
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-20 21:10] 0crat commented on #261
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-20 21:11] 0crat commented on #252
Order was finished, quality is "good": +35 point(s) just awarded to @humb1t[/z](https://www.0crat.com/u/humb1t)

[2019-11-20 21:20] 0crat commented on #308
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-20 21:20] 0crat commented on #308
The job [#308](https://github.com/yegor256/jpeek/issues/308) is now out of scope

[2019-11-20 21:30] fabriciofx commented on #308
@0crat quality good

[2019-11-20 21:30] #308 closed

[2019-11-20 21:30] 0crat commented on #308
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-20 21:31] fabriciofx commented on #308
@0crat status

[2019-11-20 21:32] 0crat commented on #308
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-20 21:33] 0crat commented on #308
@fabriciofx This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#308](https://github.com/yegor256/jpeek/issues/308) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/C7JGJ00DP?q=%7Bjob%3A%27gh%3Ayegor256%2Fjpeek%23308%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted are

[2019-11-20 21:33] 0crat commented on #308
Order was finished, quality is "good": +35 point(s) just awarded to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-11-20 21:51] 0crat commented on #308
This job is not in scope

[2019-11-20 21:52] 0crat commented on #308
Job `gh:yegor256/jpeek#308` is not assigned, can't get performer

[2019-11-21 01:28] mohamednizar commented on #315
@paulodamaso , who is confirming the quality if the work?

[2019-11-21 02:16] paulodamaso commented on #315
@mohamednizar I will

[2019-11-21 02:17] paulodamaso commented on #315
@0crat quality good

[2019-11-21 04:06] 0crat commented on #315
@paulodamaso There is no quality review for [#315](https://github.com/yegor256/jpeek/issues/315), no performer

[2019-11-21 09:31] mohamednizar commented on #315
@paulodamaso , can we take the task out from the scope ?

[2019-11-21 20:07] GnusinPavel commented on #309
@fabriciofx close that ticket ,please )

[2019-11-21 20:19] #309 closed

[2019-11-21 20:48] 0crat commented on #309
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-21 20:48] 0crat commented on #309
The job [#309](https://github.com/yegor256/jpeek/issues/309) is now out of scope

[2019-11-21 22:31] fabriciofx commented on #309
@0crat status

[2019-11-21 22:33] 0crat commented on #309
@fabriciofx This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#309](https://github.com/yegor256/jpeek/issues/309) is not in scope
  * The job is waiting quality review verdict by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for 2hr
  * @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-11-21 22:41] fabriciofx commented on #309
@GnusinPavel please, improve the description's PR adding issue number (#issue) in it.

[2019-11-22 03:16] paulodamaso commented on #315
@0crat out

[2019-11-22 04:52] 0crat commented on #315
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @mohamednizar[/z](https://www.0crat.com/u/mohamednizar), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-22 05:01] 0crat commented on #315
@paulodamaso The job [#315](https://github.com/yegor256/jpeek/issues/315) is now out of scope

[2019-11-22 05:05] fabriciofx commented on #315
@0crat status

[2019-11-22 05:19] 0crat commented on #315
@fabriciofx This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#315](https://github.com/yegor256/jpeek/issues/315) is not in scope
  * The job is waiting quality review verdict by @fabriciofx[/z](https://www.0crat.com/u/fabriciofx) for 43min
  * @mohamednizar[/z](https://www.0crat.com/u/mohamedni

[2019-11-22 06:03] 0crat commented on #358
The job [#358](https://github.com/yegor256/jpeek/issues/358) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c0dbbace-4e6f-496e-ae40-d99815728797); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-11-22 06:08] 0crat commented on #357
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#357](https://github.com/yegor256/jpeek/issues/357), see [§21](http://www.zerocracy.com/policy.html#21); @uurl[/z](https://www.0crat.com/u/uurl) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-11-22 06:11] 0crat commented on #358
Job `gh:yegor256/jpeek#358` already assigned to @thomas-melville, can't assign to @thomas-melville

[2019-11-22 07:31] fabriciofx commented on #315
@0crat quality good

[2019-11-22 07:49] 0crat commented on #315
@fabriciofx The project doesn't have enough funds, can't make a payment

[2019-11-22 07:50] 0crat commented on #315
Order was finished, quality is "good": +35 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-22 08:04] 0crat commented on #315
@fabriciofx The project doesn't have enough funds, can't make a payment

[2019-11-22 08:05] 0crat commented on #315
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-23 13:28] GnusinPavel commented on #309
@fabriciofx done

[2019-11-23 13:35] GnusinPavel commented on #213
@paulodamaso @rok-povsic
So what is the decision? Should we return 1 or NaN?

[2019-11-23 14:28] fabriciofx commented on #309
@0crat quality acceptable

[2019-11-23 14:33] 0crat commented on #309
Order was finished, quality is "acceptable": +30 point(s) just awarded to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-11-23 14:34] 0crat commented on #309
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-23 14:35] 0crat commented on #356
The job [#356](https://github.com/yegor256/jpeek/issues/356) assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d992dbbb-ccfb-494a-b0c8-dcc753cb68fa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-11-23 15:34] GnusinPavel commented on #253
@0crat status

[2019-11-23 15:34] GnusinPavel commented on #356
@0crat wait for #217

[2019-11-23 15:35] 0crat commented on #253
@GnusinPavel This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#253](https://github.com/yegor256/jpeek/issues/253) is [in scope](http://www.zerocracy.com/policy.html#14) for 18mon
  * The role is `DEV`
  * The job is assigned to @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel) for [2mon](ht

[2019-11-23 15:44] 0crat commented on #356
@GnusinPavel The impediment for [#356](https://github.com/yegor256/jpeek/issues/356) was registered successfully by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-11-24 05:48] 0crat commented on #316
The user @mohamednizar[/z](https://www.0crat.com/u/mohamednizar) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-11-24 05:56] 0crat commented on #316
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @mohamednizar[/z](https://www.0crat.com/u/mohamednizar)

[2019-11-24 06:12] 0crat commented on #296
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-11-24 06:13] 0crat commented on #296
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#296](https://github.com/yegor256/jpeek/issues/296), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-11-24 06:27] mohamednizar commented on #316
@paulodamaso I wasn't assigned to this job and it's not in my agenda ?  How the ocart reassign from me ?

[2019-11-24 17:27] rok-povsic commented on #213
@GnusinPavel It's not my decision to make, but likely @yegor256 's.

[2019-11-25 13:17] paulodamaso commented on #213
@yegor256 please take a look at this

[2019-11-25 13:20] #297 closed

[2019-11-25 13:20] 0pdd commented on #297
The puzzle `188-d010c845` has disappeared from the source code, that's why I closed this issue.

[2019-11-25 13:21] 0pdd opened #359 "XmlClassTest.java:85-86: this method appears three times..."
The puzzle `297-5540e446` from #297 has to be resolved:

https://github.com/yegor256/jpeek/blob/79004d0cf652c23f98ae6d0209ade3cd1cce8d5d/src/test/java/org/jpeek/skeleton/XmlClassTest.java#L85-L86

The puzzle was created by Gnusin Pavel on 19-Nov-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-11-25 13:21] 0pdd commented on #188
@llorllale the puzzle [#359](https://github.com/yegor256/jpeek/issues/359) is still not solved; solved: [#297](https://github.com/yegor256/jpeek/issues/297).

[2019-11-25 13:21] 0pdd commented on #297
@0pdd the puzzle [#359](https://github.com/yegor256/jpeek/issues/359) is still not solved.

[2019-11-25 13:22] 0crat commented on #359
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-11-25 13:22] 0crat commented on #359
Job [#359](https://github.com/yegor256/jpeek/issues/359) is now in scope, role is `DEV`

[2019-11-25 14:18] 0crat commented on #297
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @protagores[/z](https://www.0crat.com/u/protagores), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-11-25 14:28] 0crat commented on #297
The job [#297](https://github.com/yegor256/jpeek/issues/297) is now out of scope

[2019-11-26 01:42] fabriciofx commented on #297
@0crat quality good

[2019-11-26 04:46] 0crat commented on #297
Order was finished, quality is "good": +35 point(s) just awarded to @protagores[/z](https://www.0crat.com/u/protagores)

[2019-11-26 04:46] 0crat commented on #297
Quality review completed: +4 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-11-26 15:46] GnusinPavel commented on #213
@0crat wait

[2019-11-26 15:53] 0crat commented on #213
@GnusinPavel The impediment for [#213](https://github.com/yegor256/jpeek/issues/213) was registered successfully by @gnusinpavel[/z](https://www.0crat.com/u/gnusinpavel)

[2019-11-27 09:15] monomonedula commented on #327
What does it mean "really works" in "passing params to XSLDocument really works"? Need clarification @paulodamaso

[2019-11-27 09:16] monomonedula commented on #327
@0crat wait

[2019-11-27 09:26] 0crat commented on #327
@monomonedula The impediment for [#327](https://github.com/yegor256/jpeek/issues/327) was registered successfully by @monomonedula[/z](https://www.0crat.com/u/monomonedula)

[2019-11-28 02:09] paulodamaso commented on #327
@monomonedula We need a test that passes parameters in xml to xembly as in `C3.xml`, line 53.

[2019-11-29 08:05] monomonedula commented on #327
@paulodamaso so the test should only check if the parameters are making it to the generated xml document?

[2019-12-02 06:13] 0crat commented on #357
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#357](https://github.com/yegor256/jpeek/issues/357), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-02 06:14] 0crat commented on #358
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#358](https://github.com/yegor256/jpeek/issues/358), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-02 06:14] 0crat commented on #358
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-12-02 06:14] 0crat commented on #357
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-12-02 06:24] 0crat commented on #358
The job [#358](https://github.com/yegor256/jpeek/issues/358) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/aefd064f-8d3c-462e-9769-1bd24a816f56); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-12-02 06:40] 0crat commented on #357
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#357](https://github.com/yegor256/jpeek/issues/357), see [§21](http://www.zerocracy.com/policy.html#21); @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-12-04 07:51] 0crat commented on #359
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#359](https://github.com/yegor256/jpeek/issues/359), see [§21](http://www.zerocracy.com/policy.html#21); @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-12-04 10:49] yegor256 opened #360 "TkReport.act(): NULL instead of a valid result"
[code]

Maybe it was reported somewhere else, but here it is again: https://i.jpeek.org/com.jcabi/jcabi-github/index.html

[2019-12-04 10:49] 0crat commented on #360
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-04 10:56] 0crat commented on #360
The job [#360](https://github.com/yegor256/jpeek/issues/360) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/073d2d62-2b4e-431e-81c9-1885d9fed1e5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-12-04 10:58] 0crat commented on #360
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-04 11:01] 0crat commented on #360
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-04 11:02] 0crat commented on #360
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-04 11:02] 0crat commented on #360
Job `gh:yegor256/jpeek#360` already assigned to @yegor256, can't assign to @yegor256

[2019-12-07 06:14] 0crat commented on #316
The job [#316](https://github.com/yegor256/jpeek/issues/316) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/23716b07-409e-4537-80f1-b8607156edd2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-12-07 06:26] 0crat commented on #324
The job [#324](https://github.com/yegor256/jpeek/issues/324) assigned to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d980e114-65ac-4811-bf77-24035f80141c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-12-07 07:58] 0crat commented on #296
The job [#296](https://github.com/yegor256/jpeek/issues/296) assigned to @monomonedula[/z](https://www.0crat.com/u/monomonedula), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/a2dc3dd3-93f5-455f-a40f-962f7050ef50); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-12-07 08:59] #360 closed

[2019-12-07 09:19] 0crat commented on #360
The job [#360](https://github.com/yegor256/jpeek/issues/360) is now out of scope

[2019-12-07 09:21] 0crat commented on #360
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-07 09:50] yegor256 opened #362 "duplicate class names crash the build"

[2019-12-07 09:50] 0crat commented on #362
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-07 15:32] yegor256 commented on #362
@rultor release, tag is `0.30.3`

[2019-12-07 15:34] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21014-562860905)

[2019-12-07 17:35] rultor commented on #362
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21014-562860905) (spent 2hr)

[code]

[2019-12-07 18:18] yegor256 commented on #362
@rultor release, tag is `0.30.3`

[2019-12-07 18:20] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21014-562874151)

[2019-12-07 18:37] rultor commented on #362
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21014-562874151) (spent 16min)

[code]

[2019-12-07 18:39] yegor256 commented on #362
@rultor release, tag is `0.30.4`

[2019-12-07 18:41] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21014-562875733)

[2019-12-07 19:06] rultor commented on #362
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21014-562875733) (took me 23min)

[2019-12-07 19:43] #362 closed

[2019-12-07 20:02] 0crat commented on #362
Job `gh:yegor256/jpeek#362` is not assigned, can't get performer

[2019-12-07 20:02] 0crat commented on #362
This job is not in scope

[2019-12-07 20:44] yegor256 opened #364 "gray badge"

[2019-12-07 20:44] 0crat commented on #364
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-07 20:52] yegor256 commented on #364
@rultor release, tag is `0.30.5`

[2019-12-07 20:55] rultor commented on #364
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21015-562885382)

[2019-12-07 21:11] rultor commented on #364
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21015-562885382) (spent 16min)

[code]

[2019-12-08 06:20] yegor256 opened #365 "The input directory for org.takes:takes already exists"
[code]

[2019-12-08 06:21] 0crat commented on #365
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2019-12-08 06:31] 0crat commented on #365
The job [#365](https://github.com/yegor256/jpeek/issues/365) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ebdeea79-f486-4474-9996-96b52375984f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-12-08 06:32] #364 closed

[2019-12-08 06:33] 0crat commented on #365
Job `gh:yegor256/jpeek#365` already assigned to @yegor256, can't assign to @yegor256

[2019-12-08 06:38] 0crat commented on #365
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-08 06:41] 0crat commented on #365
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-08 06:42] yegor256 commented on #365
@rultor release, tag is `0.30.5`

[2019-12-08 06:44] rultor commented on #365
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21016-562917917)

[2019-12-08 06:49] 0crat commented on #365
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-08 07:03] 0crat commented on #364
This job is not in scope

[2019-12-08 07:04] 0crat commented on #364
Job `gh:yegor256/jpeek#364` is not assigned, can't get performer

[2019-12-08 07:08] rultor commented on #365
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21016-562917917) (took me 23min)

[2019-12-08 07:47] #365 closed

[2019-12-08 08:08] 0crat commented on #365
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-12-08 08:13] yegor256 commented on #365
@rultor release, tag is `0.30.6`

[2019-12-08 08:15] rultor commented on #365
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21016-562923076)

[2019-12-08 08:16] 0crat commented on #365
The job [#365](https://github.com/yegor256/jpeek/issues/365) is now out of scope

[2019-12-08 08:18] 0crat commented on #365
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-12-08 08:38] rultor commented on #365
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21016-562923076) (took me 22min)

[2019-12-08 22:20] yegor256 commented on #365
@rultor release, tag is `0.30.7`

[2019-12-08 22:22] rultor commented on #365
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21016-563002126)

[2019-12-08 22:50] rultor commented on #365
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21016-563002126) (took me 27min)

[2019-12-12 06:32] 0crat commented on #358
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#358](https://github.com/yegor256/jpeek/issues/358), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-12 06:32] 0crat commented on #358
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2019-12-12 06:52] 0crat commented on #357
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#357](https://github.com/yegor256/jpeek/issues/357), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-12 06:58] 0crat commented on #357
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2019-12-12 06:59] 0crat commented on #357
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#357](https://github.com/yegor256/jpeek/issues/357), see [§21](http://www.zerocracy.com/policy.html#21); @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-12-12 06:59] 0crat commented on #358
The job [#358](https://github.com/yegor256/jpeek/issues/358) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/fc2acb59-7b91-441e-aaf5-f399c70eb429); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-12-14 12:15] 0crat commented on #359
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-12-14 12:16] 0crat commented on #359
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#359](https://github.com/yegor256/jpeek/issues/359), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-16 21:16] yegor256 commented on #296
@paulodamaso @danilomo I agree that we should think about Java implementations of `Report`

[2019-12-17 06:16] 0crat commented on #316
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-17 06:33] 0crat commented on #316
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-12-17 06:42] 0crat commented on #324
Job `gh:yegor256/jpeek#324` is not assigned, can't get performer

[2019-12-17 06:45] 0crat commented on #324
The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#324](https://github.com/yegor256/jpeek/issues/324), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-17 06:57] 0crat commented on #324
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-12-17 06:59] 0crat commented on #324
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2019-12-17 07:59] 0crat commented on #296
The user @monomonedula[/z](https://www.0crat.com/u/monomonedula) resigned from [#296](https://github.com/yegor256/jpeek/issues/296), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-17 08:00] 0crat commented on #296
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @monomonedula[/z](https://www.0crat.com/u/monomonedula)

[2019-12-17 08:03] 0crat commented on #359
The job [#359](https://github.com/yegor256/jpeek/issues/359) assigned to @monomonedula[/z](https://www.0crat.com/u/monomonedula), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/a0054405-c3bb-4b14-a6ff-fa29f7a901af); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-12-22 07:05] 0crat commented on #358
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#358](https://github.com/yegor256/jpeek/issues/358), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-22 07:05] 0crat commented on #357
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2019-12-22 07:09] 0crat commented on #357
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#357](https://github.com/yegor256/jpeek/issues/357), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-12-24 12:52] 0crat commented on #359
@monomonedula[/z](https://www.0crat.com/u/monomonedula) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-12-24 12:54] 0crat commented on #316
The job [#316](https://github.com/yegor256/jpeek/issues/316) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1d8e9cfb-f909-49a5-a26e-8c68ccd4e78c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2019-12-24 13:04] 0crat commented on #296
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#296](https://github.com/yegor256/jpeek/issues/296), see [§21](http://www.zerocracy.com/policy.html#21); @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2019-12-27 08:14] 0crat commented on #359
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @monomonedula[/z](https://www.0crat.com/u/monomonedula)

[2019-12-27 08:15] 0crat commented on #359
The user @monomonedula[/z](https://www.0crat.com/u/monomonedula) resigned from [#359](https://github.com/yegor256/jpeek/issues/359), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-01 07:48] 0crat commented on #316
@uurl[/z](https://www.0crat.com/u/uurl) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-01 07:52] 0crat commented on #296
@rajanamistry[/z](https://www.0crat.com/u/rajanamistry) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-02 21:14] 0crat commented on #359
The job [#359](https://github.com/yegor256/jpeek/issues/359) assigned to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/c04c7c63-02b8-4d4b-8432-3d469f2a1fa6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-01-02 21:29] 0crat commented on #324
The job [#324](https://github.com/yegor256/jpeek/issues/324) assigned to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/fc2a17ed-47d6-473f-a1af-747aada1e658); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-01-02 21:59] 0crat commented on #323
The job [#323](https://github.com/yegor256/jpeek/issues/323) assigned to @englishman[/z](https://www.0crat.com/u/englishman), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ac9c6bb5-f4a2-4ebf-9f10-d569dcf88212); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-01-02 22:06] 0crat commented on #329
The job [#329](https://github.com/yegor256/jpeek/issues/329) assigned to @englishman[/z](https://www.0crat.com/u/englishman), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d1ba77b4-45d9-427b-a5a4-5b0bffc135d7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-01-02 22:15] 0crat commented on #333
The job [#333](https://github.com/yegor256/jpeek/issues/333) assigned to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/4219e52b-57c0-4251-b483-5bcb04fd8eeb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-01-03 13:03] 0crat commented on #316
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-03 13:04] 0crat commented on #316
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2020-01-03 13:16] 0crat commented on #296
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#296](https://github.com/yegor256/jpeek/issues/296), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-03 13:17] 0crat commented on #296
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2020-01-03 13:27] 0crat commented on #316
The job [#316](https://github.com/yegor256/jpeek/issues/316) assigned to @baybatu[/z](https://www.0crat.com/u/baybatu), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e373d9ef-54bb-4658-9a00-7e57b04d3066); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-01-03 13:49] 0crat commented on #296
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#296](https://github.com/yegor256/jpeek/issues/296), see [§21](http://www.zerocracy.com/policy.html#21); @uurl[/z](https://www.0crat.com/u/uurl) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-01-06 08:34] 0crat commented on #355
The job [#355](https://github.com/yegor256/jpeek/issues/355) assigned to @monomonedula[/z](https://www.0crat.com/u/monomonedula), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/839dca8f-1ecc-4db2-a846-3d331c0f78ad); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-01-08 15:16] akryvtsun opened #368 "Test org.jpeek.web.ReportsTest#rendersOneReport is unstable"
The test execution is unstable and probable depends on environment state.

1. The test is failed on local environment
[code]
2. The test is broken on Trevis  env. as part of #366 PR
https://travis-ci.org/yegor256/jpeek/builds/632328904#L1574
with exception
[code]
_I would like to have the test stable._ If environment really doesn't have smth is needed for test execution, probable, we should make t

[2020-01-08 15:16] 0crat commented on #368
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-08 17:08] akryvtsun opened #371 "Test coverage of org.jpeek.web.Reports#apply has to be increased"
Code coverage of `org.jpeek.web.Reports#apply` was decreased and doesn't pass `Codecov` check for PRs #370 and #367

https://codecov.io/gh/yegor256/jpeek/pull/367?src=pr&el=continue

![coverage](https://user-images.githubusercontent.com/1883572/71999270-c0fc8f00-3249-11ea-91ad-025ea63e7d33.png)

Probably, a test for branch of code should be added
[code]

[2020-01-08 17:09] 0crat commented on #371
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-01-11 08:43] 0crat commented on #359
@akryvtsun[/z](https://www.0crat.com/u/akryvtsun) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-11 08:50] 0crat commented on #323
@englishman[/z](https://www.0crat.com/u/englishman) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-11 08:50] 0crat commented on #333
@akryvtsun[/z](https://www.0crat.com/u/akryvtsun) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-11 08:51] 0crat commented on #355
@monomonedula[/z](https://www.0crat.com/u/monomonedula) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-11 08:54] 0crat commented on #324
@akryvtsun[/z](https://www.0crat.com/u/akryvtsun) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-11 08:55] 0crat commented on #329
@englishman[/z](https://www.0crat.com/u/englishman) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-11 08:55] 0crat commented on #296
@uurl[/z](https://www.0crat.com/u/uurl) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-11 08:55] 0crat commented on #316
@baybatu[/z](https://www.0crat.com/u/baybatu) this job was assigned to you 8days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-12 21:52] 0crat commented on #324
The user @akryvtsun[/z](https://www.0crat.com/u/akryvtsun) resigned from [#324](https://github.com/yegor256/jpeek/issues/324), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-12 21:54] 0crat commented on #324
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun)

[2020-01-12 22:06] 0crat commented on #323
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @englishman[/z](https://www.0crat.com/u/englishman)

[2020-01-12 22:07] 0crat commented on #324
The job [#324](https://github.com/yegor256/jpeek/issues/324) assigned to @uurl[/z](https://www.0crat.com/u/uurl), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/60e07779-26e6-4a8e-8507-b4a00c98f2b0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-01-12 22:21] 0crat commented on #329
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @englishman[/z](https://www.0crat.com/u/englishman)

[2020-01-12 22:23] 0crat commented on #329
The user @englishman[/z](https://www.0crat.com/u/englishman) resigned from [#329](https://github.com/yegor256/jpeek/issues/329), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-12 22:24] 0crat commented on #333
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun)

[2020-01-12 22:27] 0crat commented on #333
The user @akryvtsun[/z](https://www.0crat.com/u/akryvtsun) resigned from [#333](https://github.com/yegor256/jpeek/issues/333), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-13 13:27] 0crat commented on #316
The user @baybatu[/z](https://www.0crat.com/u/baybatu) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-13 13:31] 0crat commented on #316
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @baybatu[/z](https://www.0crat.com/u/baybatu)

[2020-01-13 13:51] 0crat commented on #296
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @uurl[/z](https://www.0crat.com/u/uurl)

[2020-01-13 13:52] 0crat commented on #296
The user @uurl[/z](https://www.0crat.com/u/uurl) resigned from [#296](https://github.com/yegor256/jpeek/issues/296), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-13 14:12] paulodamaso commented on #359
@0crat assign @akryvtsun

[2020-01-13 14:13] 0crat commented on #296
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#296](https://github.com/yegor256/jpeek/issues/296), see [§21](http://www.zerocracy.com/policy.html#21); @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-01-13 14:13] 0crat commented on #359
@paulodamaso The job [#359](https://github.com/yegor256/jpeek/issues/359) assigned to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/a77aff66-0ae3-4fa9-97c8-a45ae0161f19); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-01-13 14:14] 0crat commented on #359
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-01-13 14:15] 0crat commented on #359
@paulodamaso There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.38](https://github.com/zerocracy/farm): CID: [d25c1093-bc67-4aeb-896a-bfbf32048417](https://www.0crat.com/footprint/C7JGJ00DP/d25c1093-bc67-4aeb-896a-bfbf32048417), Type: "Order was canceled"

[2020-01-13 14:23] 0crat commented on #333
The job [#333](https://github.com/yegor256/jpeek/issues/333) assigned to @englishman[/z](https://www.0crat.com/u/englishman), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/bca6df14-a47c-45d8-af93-d5db07a48fd5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-01-13 14:37] 0pdd commented on #359
The puzzle `297-5540e446` has disappeared from the source code, that's why I closed this issue.

[2020-01-13 14:37] #359 closed

[2020-01-13 14:37] 0pdd commented on #188
@llorllale all 2 puzzles are solved here: [#297](https://github.com/yegor256/jpeek/issues/297), [#359](https://github.com/yegor256/jpeek/issues/359).

[2020-01-13 14:37] 0pdd commented on #297
@0pdd the only puzzle [#359](https://github.com/yegor256/jpeek/issues/359) is solved here.

[2020-01-13 14:42] paulodamaso commented on #368
@0crat in

[2020-01-13 14:43] paulodamaso commented on #371
@0crat in

[2020-01-13 14:43] 0crat commented on #368
@paulodamaso Job [#368](https://github.com/yegor256/jpeek/issues/368) is now in scope, role is `DEV`

[2020-01-13 14:48] paulodamaso commented on #324
@0crat assign @akryvtsun

[2020-01-13 14:51] 0crat commented on #371
@paulodamaso Job [#371](https://github.com/yegor256/jpeek/issues/371) is now in scope, role is `DEV`

[2020-01-13 14:52] 0crat commented on #324
@paulodamaso There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.38](https://github.com/zerocracy/farm): CID: [2e50efe4-a814-4da8-a94f-c4852f47a4ca](https://www.0crat.com/footprint/C7JGJ00DP/2e50efe4-a814-4da8-a94f-c4852f47a4ca), Type: "Order was canceled"

[2020-01-13 14:53] 0crat commented on #324
@paulodamaso The job [#324](https://github.com/yegor256/jpeek/issues/324) assigned to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/9699c98b-5a55-4056-8548-6454990d5587); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-01-13 14:53] 0crat commented on #368
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun)

[2020-01-13 14:55] 0crat commented on #324
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-01-13 14:56] 0crat commented on #359
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-01-13 14:58] 0crat commented on #371
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun)

[2020-01-13 14:58] 0crat commented on #359
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @akryvtsun[/z](https://www.0crat.com/u/akryvtsun), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-01-13 14:59] 0crat commented on #359
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.38](https://github.com/zerocracy/farm): CID: [9e587d77-5745-4a41-9d21-b8cabaa5b3a9](https://www.0crat.com/footprint/C7JGJ00DP/9e587d77-5745-4a41-9d21-b8cabaa5b3a9), Type: "Order was finished"

[2020-01-13 15:00] 0crat commented on #359
The job [#359](https://github.com/yegor256/jpeek/issues/359) is now out of scope

[2020-01-13 15:23] 0crat commented on #323
The job [#323](https://github.com/yegor256/jpeek/issues/323) assigned to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e8a0c847-066c-4c09-969f-150630be2913); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-01-13 15:29] 0crat commented on #329
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) not enough funds available in the project, can't set budget of job [#329](https://github.com/yegor256/jpeek/issues/329), see [§21](http://www.zerocracy.com/policy.html#21); @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) will get no money on completion; in order to fix that, add funds to the project and assign the job again

[2020-01-16 08:54] 0crat commented on #355
The user @monomonedula[/z](https://www.0crat.com/u/monomonedula) resigned from [#355](https://github.com/yegor256/jpeek/issues/355), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-16 08:55] 0crat commented on #355
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @monomonedula[/z](https://www.0crat.com/u/monomonedula)

[2020-01-16 08:58] 0crat commented on #368
The job [#368](https://github.com/yegor256/jpeek/issues/368) assigned to @monomonedula[/z](https://www.0crat.com/u/monomonedula), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/dfd98981-e992-438d-b28c-64ad300a50ef); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-01-23 14:23] 0crat commented on #355
The job [#355](https://github.com/yegor256/jpeek/issues/355) assigned to @dfrau32[/z](https://www.0crat.com/u/dfrau32), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/f847986e-3a9b-4529-880d-ec128d0b9c51); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-01-23 14:30] 0crat commented on #333
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @englishman[/z](https://www.0crat.com/u/englishman)

[2020-01-23 14:58] 0crat commented on #324
The user @akryvtsun[/z](https://www.0crat.com/u/akryvtsun) resigned from [#324](https://github.com/yegor256/jpeek/issues/324), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-23 14:59] 0crat commented on #324
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.50.40](https://github.com/zerocracy/farm): CID: [e7f510fa-6640-4ad2-b6c2-9faeadb756da](https://www.0crat.com/footprint/C7JGJ00DP/e7f510fa-6640-4ad2-b6c2-9faeadb756da), Type: "Order was canceled"

[2020-01-23 14:59] 0crat commented on #324
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @akryvtsun[/z](https://www.0crat.com/u/akryvtsun)

[2020-01-23 15:22] 0crat commented on #323
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#323](https://github.com/yegor256/jpeek/issues/323), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-23 15:23] 0crat commented on #323
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2020-01-23 15:52] 0crat commented on #368
@monomonedula[/z](https://www.0crat.com/u/monomonedula) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-01-23 15:56] 0crat commented on #329
The user @thomas-melville[/z](https://www.0crat.com/u/thomas-melville) resigned from [#329](https://github.com/yegor256/jpeek/issues/329), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-23 15:59] 0crat commented on #329
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @thomas-melville[/z](https://www.0crat.com/u/thomas-melville)

[2020-01-26 09:08] 0crat commented on #368
The user @monomonedula[/z](https://www.0crat.com/u/monomonedula) resigned from [#368](https://github.com/yegor256/jpeek/issues/368), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-01-26 09:08] 0crat commented on #368
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @monomonedula[/z](https://www.0crat.com/u/monomonedula)

[2020-02-02 14:29] 0crat commented on #355
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#355](https://github.com/yegor256/jpeek/issues/355), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-02-02 14:31] 0crat commented on #355
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2020-02-04 12:26] ebercamargo commented on #195
@0crat refuse

[2020-02-04 12:36] 0crat commented on #195
@ebercamargo The user @ebercamargo[/z](https://www.0crat.com/u/ebercamargo) resigned from [#195](https://github.com/yegor256/jpeek/issues/195), please stop working. Reason for job resignation: Order was cancelled

[2020-02-04 13:10] 0crat commented on #195
Tasks refusal is discouraged (job refused in 6251 hours), see [§6](http://www.zerocracy.com/policy.html#6): -20 point(s) just awarded to @ebercamargo[/z](https://www.0crat.com/u/ebercamargo)

[2020-02-06 12:18] paulodamaso opened #373 "Update rultor image"
Update rultor image to `yegor256/rultor-image`

[2020-02-06 16:11] #373 closed

[2020-02-06 16:40] 0crat commented on #373
Job `gh:yegor256/jpeek#373` is not assigned, can't get performer

[2020-02-06 16:44] 0crat commented on #373
This job is not in scope

[2020-02-09 14:38] yegor256 opened #375 "HTTPS url for Maven"

[2020-02-09 14:38] 0crat commented on #375
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-09 14:39] yegor256 commented on #375
@rultor release, tag is `0.30.8`

[2020-02-09 14:40] rultor commented on #375
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21335-583852583)

[2020-02-09 14:43] rultor commented on #375
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21335-583852583) (spent 2min)

[code]

[2020-02-09 14:53] yegor256 commented on #375
@rultor release, tag is `0.30.8`

[2020-02-09 14:54] rultor commented on #375
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21335-583853964)

[2020-02-09 15:20] rultor commented on #375
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21335-583853964) (took me 24min)

[2020-02-11 23:54] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3d90ce0e-6670-47dc-98fc-4babbb434a44); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2020-02-12 05:56] 0crat commented on #253
The job [#253](https://github.com/yegor256/jpeek/issues/253) assigned to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/d19e9e8e-8968-4ccf-a0de-0dcbd245f421); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2020-02-13 06:40] 0crat commented on #356
The job [#356](https://github.com/yegor256/jpeek/issues/356) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/bdbdd317-510a-4575-abc9-28c13943cade); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-13 08:15] 0crat commented on #213
The job [#213](https://github.com/yegor256/jpeek/issues/213) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/2e2422c7-0f7c-4601-9a68-4529baa30449); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-13 09:12] dgarus commented on #357
@0crat status

[2020-02-13 09:39] 0crat commented on #357
@dgarus This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#357](https://github.com/yegor256/jpeek/issues/357) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @dgarus[/z](https://www.0crat.com/u/dgarus) for [15hr](http://www.zerocra

[2020-02-13 13:22] dgarus commented on #357
@paulodamaso Hi! We cannot remove the 'since' tag because it is mandatory.
Could you change the task description?

[2020-02-13 14:13] dgarus commented on #357
@0crat wait

[2020-02-13 14:27] paulodamaso commented on #357
@dgarus We don't need it, just make your PR and explain this on the description

[2020-02-13 14:31] 0crat commented on #357
@dgarus The impediment for [#357](https://github.com/yegor256/jpeek/issues/357) was registered successfully by @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-02-14 10:56] dgarus commented on #358
@paulodamaso Is this issue actual?
The findFieldWithQualifiedName test doesn't have "ignore" annotation, and he is green.

[2020-02-14 11:24] dgarus commented on #246
@0crat status

[2020-02-14 11:46] 0crat commented on #246
@dgarus This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#246](https://github.com/yegor256/jpeek/issues/246) is [in scope](http://www.zerocracy.com/policy.html#14) for 13mon
  * The role is `DEV`
  * The job is assigned to @dgarus[/z](https://www.0crat.com/u/dgarus) for [2days](http://www.zeroc

[2020-02-14 12:21] dgarus commented on #246
@oridan Hi!
I'm trying to reproduce the problem with Internationalization.
Could you please clarify what Internationalization should be to get the problem?

[2020-02-14 19:28] paulodamaso commented on #358
@dgarus Looks like a stale puzzle. Just remove it and we're done

[2020-02-16 11:10] dgarus commented on #246
@0crat wait

[2020-02-16 11:25] 0crat commented on #246
@dgarus The impediment for [#246](https://github.com/yegor256/jpeek/issues/246) was registered successfully by @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-02-17 15:08] #358 closed

[2020-02-17 15:08] 0pdd commented on #358
The puzzle `156-7b4862fe` has disappeared from the source code, that's why I closed this issue.

[2020-02-17 15:08] 0pdd commented on #156
@llorllale all 2 puzzles are solved here: [#261](https://github.com/yegor256/jpeek/issues/261), [#358](https://github.com/yegor256/jpeek/issues/358).

[2020-02-17 15:28] 0crat commented on #358
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @dgarus[/z](https://www.0crat.com/u/dgarus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-17 18:13] 0crat commented on #324
The job [#324](https://github.com/yegor256/jpeek/issues/324) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/80b5f3e2-644a-497a-9b2a-aecb67a29544); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-17 18:16] 0crat commented on #323
The job [#323](https://github.com/yegor256/jpeek/issues/323) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/e42a995e-896c-4406-861a-85e99859723c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-17 19:44] HDouss commented on #324
@fabriciofx PR #367 is already merged. Please close this issue.

[2020-02-17 20:14] paulodamaso commented on #324
@HDouss Thank you!

[2020-02-17 20:14] #324 closed

[2020-02-17 20:34] 0crat commented on #324
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-17 20:35] 0crat commented on #324
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-17 21:21] HDouss commented on #323
@humb1t Please see PR #378

[2020-02-18 11:39] HDouss commented on #296
@paulodamaso 0crat reports this ticket in my agenda. Is this ticket assigned to me?

[2020-02-18 12:01] HDouss commented on #296
@0crat status

[2020-02-18 12:11] 0crat commented on #296
@HDouss This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#296](https://github.com/yegor256/jpeek/issues/296) is [in scope](http://www.zerocracy.com/policy.html#14) for 10mon
  * The role is `DEV`
  * The job is assigned to @hdouss[/z](https://www.0crat.com/u/hdouss) for [19hr](http://www.zerocr

[2020-02-18 12:12] HDouss commented on #296
@ilyakharlamov Please see PR #379

[2020-02-18 12:13] paulodamaso commented on #358
@0crat quality good

[2020-02-18 12:40] paulodamaso commented on #246
@dgarus Hey, I think that the problem happened using ISO-8859-1 locale (latin 1)

[2020-02-18 13:06] 0crat commented on #358
Order was finished, quality is "good": +35 point(s) just awarded to @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-02-18 13:20] 0crat commented on #358
Quality review completed: +4 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-18 14:51] 0crat commented on #329
The job [#329](https://github.com/yegor256/jpeek/issues/329) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b9c84a42-72d6-41f7-ba73-9a0324089838); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-18 15:45] dgarus commented on #246
@paulodamaso
This issue was already fixed.
https://github.com/yegor256/jpeek/pull/262

[2020-02-18 16:24] HDouss commented on #324
@fabriciofx ping

[2020-02-18 18:55] #356 closed

[2020-02-18 18:55] 0pdd commented on #356
The puzzle `118-560e90f9` has disappeared from the source code, that's why I closed this issue.

[2020-02-18 18:55] 0pdd opened #380 "package-info.java:31-34: Migrate the tests in the..."
The puzzle `323-1d9c6835` from #323 has to be resolved:

https://github.com/yegor256/jpeek/blob/37d6b954d13c11672361a79a07fe2c0618a27eab/src/test/java/org/jpeek/package-info.java#L31-L34

The puzzle was created by Hamdi Douss on 17-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-02-18 18:55] 0pdd opened #381 "MetricsTest.java:58-59: This test is fully written..."
The puzzle `323-a6bff461` from #323 has to be resolved:

https://github.com/yegor256/jpeek/blob/37d6b954d13c11672361a79a07fe2c0618a27eab/src/test/java/org/jpeek/MetricsTest.java#L58-L59

The puzzle was created by HDouss on 18-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-02-18 18:55] 0pdd commented on #9
@yegor256 6 puzzles [#193](https://github.com/yegor256/jpeek/issues/193), [#194](https://github.com/yegor256/jpeek/issues/194), [#195](https://github.com/yegor256/jpeek/issues/195), [#217](https://github.com/yegor256/jpeek/issues/217), [#252](https://github.com/yegor256/jpeek/issues/252), [#253](https://github.com/yegor256/jpeek/issues/253) are still not solved; solved: [#117](https://github.com/y

[2020-02-18 18:55] 0pdd commented on #118
@0pdd 2 puzzles [#252](https://github.com/yegor256/jpeek/issues/252), [#253](https://github.com/yegor256/jpeek/issues/253) are still not solved; solved: [#356](https://github.com/yegor256/jpeek/issues/356).

[2020-02-18 18:55] 0pdd commented on #323
@humb1t 2 puzzles [#380](https://github.com/yegor256/jpeek/issues/380), [#381](https://github.com/yegor256/jpeek/issues/381) are still not solved.

[2020-02-18 18:56] HDouss commented on #323
@humb1t PR #378 is merged. Please close the issue.

[2020-02-18 18:56] 0crat commented on #381
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-18 18:57] 0crat commented on #380
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-18 20:18] 0crat commented on #356
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) please review this job completed by @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-18 20:59] 0crat commented on #213
@rajanamistry[/z](https://www.0crat.com/u/rajanamistry) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-18 21:00] 0crat commented on #381
The job [#381](https://github.com/yegor256/jpeek/issues/381) assigned to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/83a07953-c055-46f8-9090-0c3a1b3e4121); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-02-18 21:01] 0crat commented on #253
@volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-18 21:01] 0crat commented on #195
@volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-18 23:32] paulodamaso commented on #324
@0crat refuse

[2020-02-18 23:48] 0crat commented on #324
@paulodamaso Job `gh:yegor256/jpeek#324` is not assigned, can't get performer

[2020-02-19 05:52] HDouss commented on #324
@paulodamaso are we waiting for QA here? It doesn't seem @fabriciofx is available

[2020-02-19 06:12] HDouss commented on #324
@paulodamaso Just curious..can you refuse a job that is not assigned to you?

[2020-02-19 06:13] 0crat commented on #324
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/324#issuecomment-588053940); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-02-19 10:16] dgarus commented on #246
@paulodamaso
Let's clarify the task requirements.
As I understand the problem was to get rid adding
`Locale.setDefault(Locale.UK);` in every single test of class.

The way from #262 does not require to change the default locale at all, and I think it is the best solution.

Should we change the current solution and set the default locale ones per class?

[2020-02-19 13:34] paulodamaso commented on #324
Not really. I'm trying to remove this job from @fabriciofx, so @0crat assign it to another QA

[2020-02-19 13:35] 0crat commented on #324
Are you speaking to me or about me [here](https://github.com/yegor256/jpeek/issues/324#issuecomment-588232539); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2020-02-19 13:38] paulodamaso commented on #324
@0crat assign @sereshqua

[2020-02-19 13:49] paulodamaso commented on #246
@dgarus I think that we should try to configure this locale outside our code

[2020-02-19 13:58] 0crat commented on #324
@paulodamaso Job [#324](https://github.com/yegor256/jpeek/issues/324) is closed, can't start order

[2020-02-19 13:58] paulodamaso commented on #324
@0crat quality good

[2020-02-19 14:18] 0crat commented on #324
Quality review completed: +4 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2020-02-19 14:21] 0crat commented on #324
Order was finished, quality is "good": +40 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-19 14:31] 0crat commented on #380
The job [#380](https://github.com/yegor256/jpeek/issues/380) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/2cd953f8-b387-4974-b492-a6b0770de04b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-19 16:06] HDouss commented on #333
@0crat status

[2020-02-19 16:29] HDouss commented on #333
@fellahi-ali PR #383 resolves the issue. Please note that the paper izadkhah17.pdf was not renamed because it does not introduce any new metric.

[2020-02-19 16:34] 0crat commented on #333
@HDouss This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#333](https://github.com/yegor256/jpeek/issues/333) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is assigned to @hdouss[/z](https://www.0crat.com/u/hdouss) for [2hr](http://www.zerocrac

[2020-02-19 18:40] HDouss commented on #323
@0crat status

[2020-02-19 18:57] 0crat commented on #323
@HDouss This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#323](https://github.com/yegor256/jpeek/issues/323) is [in scope](http://www.zerocracy.com/policy.html#14) for 10mon
  * The role is `DEV`
  * The job is assigned to @hdouss[/z](https://www.0crat.com/u/hdouss) for [2days](http://www.zeroc

[2020-02-19 19:00] HDouss commented on #323
@humb1t PR #378 is reviewed and merged. Please close the issue.

[2020-02-19 19:53] dgarus commented on #246
@paulodamaso

[2020-02-19 20:00] humb1t commented on #323
@0crat close

[2020-02-19 20:00] #323 closed

[2020-02-19 20:04] 0crat commented on #323
@humb1t Can't understand "close", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `elect` Trigger election for ticket
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review

[2020-02-19 20:53] HDouss commented on #323
@0crat status

[2020-02-19 21:02] 0crat commented on #323
@HDouss This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#323](https://github.com/yegor256/jpeek/issues/323) is not in scope
  * The job is waiting quality review verdict by @sereshqua[/z](https://www.0crat.com/u/sereshqua) for 3min
  * @hdouss[/z](https://www.0crat.com/u/hdouss) will receive 3

[2020-02-19 21:09] 0crat commented on #323
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-20 06:54] sereshqua commented on #323
@0crat quality good

[2020-02-20 07:42] 0crat commented on #323
Order was finished, quality is "good": +35 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-20 07:42] 0crat commented on #323
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-20 07:55] dgarus commented on #246
@paulodamaso
The way that we are planning to use has a drawback - to run the test in IDE, you should set up VM options. That is inconvenient, so I think the current approach is better.

[2020-02-20 10:46] dgarus commented on #329
@0crat status

[2020-02-20 10:55] 0crat commented on #329
@dgarus This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#329](https://github.com/yegor256/jpeek/issues/329) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is assigned to @dgarus[/z](https://www.0crat.com/u/dgarus) for [2days](http://www.zerocr

[2020-02-20 10:56] dgarus commented on #329
@0crat refuse

[2020-02-20 11:03] 0crat commented on #329
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#329](https://github.com/yegor256/jpeek/issues/329), please stop working. Reason for job resignation: Order was cancelled

[2020-02-20 11:06] 0crat commented on #329
Tasks refusal is discouraged (job refused in 44 hours), see [§6](http://www.zerocracy.com/policy.html#6): -10 point(s) just awarded to @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-02-20 11:41] 0pdd commented on #357
The puzzle `308-016448ee` has disappeared from the source code, that's why I closed this issue.

[2020-02-20 11:41] #357 closed

[2020-02-20 11:41] 0pdd commented on #308
@fabriciofx the only puzzle [#357](https://github.com/yegor256/jpeek/issues/357) is solved here.

[2020-02-20 12:16] paulodamaso commented on #246
@dgarus Well, let's leave this the way it is. Just put a comment in the method doc to document the issue

[2020-02-20 12:21] 0crat commented on #357
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dgarus[/z](https://www.0crat.com/u/dgarus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-20 12:27] dgarus commented on #246
@paulodamaso sorry, it sounds ambiguous for me.
We set up the default locale in pom file and document the test class with "to run the test you should set up VM options". Ok?

[2020-02-20 12:29] paulodamaso commented on #246
@dgarus Sorry for the bad wording. I have a doubt here, even if we set up the locale on `pom.xml` we still have to execute it using VM args?

[2020-02-20 12:35] dgarus commented on #246
@paulodamaso If you run the test through maven, they will be ok.
But if you want to run the test from IDE, you should set up VM options like in the pom file.

[2020-02-20 12:54] HDouss commented on #333
@fellahi-ali PR #383 merged. Please close this issue.

[2020-02-20 13:11] sereshqua commented on #357
@0crat quality good

[2020-02-20 13:28] 0crat commented on #357
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-20 13:28] 0crat commented on #357
Order was finished, quality is "good": +35 point(s) just awarded to @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-02-20 14:35] 0crat commented on #355
The job [#355](https://github.com/yegor256/jpeek/issues/355) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/718b8691-017e-47c4-8a6c-d2e4fa075796); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-20 14:38] fellahi-ali commented on #333
Done! Thanks very much

[2020-02-20 14:38] #333 closed

[2020-02-20 15:02] 0crat commented on #333
Job was finished in 24 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-20 15:12] 0crat commented on #333
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-20 15:42] sereshqua commented on #333
@0crat quality good

[2020-02-20 15:56] 0crat commented on #333
Order was finished, quality is "good": +40 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-20 15:57] 0crat commented on #333
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-20 16:09] 0crat commented on #368
The job [#368](https://github.com/yegor256/jpeek/issues/368) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/a671585a-6c15-460c-a539-63eeb0e65a32); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-20 16:23] 0crat commented on #329
The job [#329](https://github.com/yegor256/jpeek/issues/329) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/5cd38bb8-0229-4f92-b551-f83d045fbe70); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-20 17:09] 0crat commented on #371
The job [#371](https://github.com/yegor256/jpeek/issues/371) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b24d8e77-2209-4cbe-a586-fe77126f9b48); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-20 17:38] paulodamaso commented on #246
@dgarus Which IDE are you using? I don't have the problem using IntelliJ IDEA

[2020-02-20 17:46] HDouss commented on #329
@g4s8 Sorry this is too difficult to debug/analyze:
* https://i.jpeek.org/ seems to be a front end to jpeek main TkApp
* Running TkApp locally does not reproduce your problem
* Most importantly: the issue is much probably related to the content of the temporary directories created on the server when starting the app

[2020-02-20 17:47] HDouss commented on #329
@0crat refuse

[2020-02-20 18:04] 0crat commented on #329
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#329](https://github.com/yegor256/jpeek/issues/329), please stop working. Reason for job resignation: Order was cancelled

[2020-02-20 18:19] 0crat commented on #329
@HDouss Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-02-20 18:44] HDouss commented on #296
@ilyakharlamov PR #379 merged. Please close the issue.

[2020-02-21 05:50] dgarus commented on #246
@paulodamaso
I suspect EN is default locale on your comp.

[2020-02-21 07:17] HDouss commented on #296
@ilyakharlamov ping

[2020-02-21 08:08] dgarus commented on #355
@0crat refuse

[2020-02-21 08:19] 0crat commented on #355
@dgarus The user @dgarus[/z](https://www.0crat.com/u/dgarus) resigned from [#355](https://github.com/yegor256/jpeek/issues/355), please stop working. Reason for job resignation: Order was cancelled

[2020-02-21 08:21] 0crat commented on #355
@dgarus Job refused in 18 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-02-21 08:29] 0crat commented on #355
The job [#355](https://github.com/yegor256/jpeek/issues/355) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3c84c585-bd1e-4ad7-83dc-867ea0de4ae3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-21 09:50] dgarus opened #386 "ReportsTest should remove temp files."
ReportsTest creates a dir and a few files. After the test finish, this stuff should be deleted.

[2020-02-21 09:50] 0crat commented on #386
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-21 10:22] HDouss commented on #355
@paulodamaso Resolved by PR #387

[2020-02-21 11:35] paulodamaso commented on #246
@dgarus Please take a look, I'm using brazilian locales:
![image](https://user-images.githubusercontent.com/33915433/75031442-ffaa7980-5484-11ea-9f21-661d52b886ac.png)
Anyway, we already spent too much on this issue. Please implement the solution you proposed in https://github.com/yegor256/jpeek/issues/246#issuecomment-588996663

[2020-02-21 11:36] paulodamaso commented on #386
@0crat in

[2020-02-21 11:59] HDouss commented on #355
@paulodamaso PR #387 is merged. Please close the issue.

[2020-02-21 12:16] dgarus commented on #246
@paulodamaso ok, done.

[2020-02-21 12:25] 0crat commented on #386
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-02-21 15:13] ilyakharlamov commented on #296
@HDouss the issue will be closed when it’s implemented (metrics.xml is generated in pure Java without xml/xsl).
So far I see only #379 which is renaming of existing XSL class and hiding it behind te Report interface. Which is a step towards the right direction, but the feature has not been completed yet

[2020-02-21 15:18] HDouss commented on #296
@ilyakharlamov I resolved the main part

The option is now here. That's what can be done in 30min. I don't know if you/we should create separate issues for specific metrics to be implemented in Java, or if you have in mind any specific metric that absolutely must be implemented, I could add a puzzle.

[2020-02-21 15:20] HDouss commented on #296
@paulodamaso any opinion here?

[2020-02-21 16:05] paulodamaso commented on #355
@HDouss Thanks!

[2020-02-21 16:05] #355 closed

[2020-02-21 16:14] paulodamaso commented on #296
@HDouss We need to have hooks / checkpoints which allows us to continue to break a complex task in many other micro-tasks. These hooks came in forma of puzzles in the code, and using them we will be able to know how much we still have to do and what is left to implement for our feature to be complete. I should have asked you to put these puzzles in the code before the merge. We need these puzzles,

[2020-02-21 16:41] 0crat commented on #355
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-21 16:52] 0crat commented on #355
Job was finished in 7 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-21 16:53] HDouss commented on #296
@paulodamaso that's what I said in:

However the puzzle should be precise. Should we implement all the metrics in Java? Are they some must-have implementations in Java. I can't just say "implement some metrics" in Java.

[2020-02-21 16:57] sereshqua commented on #355
@0crat quality good

[2020-02-21 16:58] #380 closed

[2020-02-21 16:58] 0pdd commented on #380
The puzzle `323-1d9c6835` has disappeared from the source code, that's why I closed this issue.

[2020-02-21 16:58] 0pdd opened #388 "package-info.java:29-33: Migrate the tests in the..."
The puzzle `380-bf034369` from #380 has to be resolved:

https://github.com/yegor256/jpeek/blob/c13b3213ae87d05fcde37ed91ef807938422227b/src/test/java/org/jpeek/package-info.java#L29-L33

The puzzle was created by HDouss on 19-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2020-02-21 16:59] 0pdd commented on #323
@humb1t 2 puzzles [#381](https://github.com/yegor256/jpeek/issues/381), [#388](https://github.com/yegor256/jpeek/issues/388) are still not solved; solved: [#380](https://github.com/yegor256/jpeek/issues/380).

[2020-02-21 16:59] 0pdd commented on #380
@0pdd the puzzle [#388](https://github.com/yegor256/jpeek/issues/388) is still not solved.

[2020-02-21 17:00] 0crat commented on #388
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-21 17:00] HDouss commented on #296
@paulodamaso puzzle added in PR #389

[2020-02-21 18:07] 0crat commented on #355
Order was finished, quality is "good": +40 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-21 18:07] 0pdd opened #390 "Report.java:32-35: Now that we have the infrastructure to..."
The puzzle `296-9cbcd906` from #296 has to be resolved:

https://github.com/yegor256/jpeek/blob/cd1547efa8c8f5b321dc07ca5e489c7fa8683f3b/src/main/java/org/jpeek/Report.java#L32-L35

The puzzle was created by Hamdi Douss on 21-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-02-21 18:07] 0pdd commented on #296
@ilyakharlamov the puzzle [#390](https://github.com/yegor256/jpeek/issues/390) is still not solved.

[2020-02-21 18:07] 0crat commented on #390
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-21 18:07] HDouss commented on #296
@ilyakharlamov PR #389 added a puzzle and merged. Please close the issue.

[2020-02-21 18:13] 0crat commented on #380
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-21 18:14] 0crat commented on #355
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-21 19:13] sereshqua commented on #380
@0crat quality good

[2020-02-21 19:55] 0crat commented on #380
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-21 19:56] 0crat commented on #380
Order was finished, quality is "good": +35 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-21 20:17] 0crat commented on #388
The job [#388](https://github.com/yegor256/jpeek/issues/388) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/1935fba1-3c12-4a70-a7e3-0db4c90befe3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-21 20:42] 0crat commented on #390
The job [#390](https://github.com/yegor256/jpeek/issues/390) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ee5b3aa4-9e48-4090-b303-5acd9385ad13); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-21 21:01] 0crat commented on #386
The job [#386](https://github.com/yegor256/jpeek/issues/386) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/31c08f53-0651-4a26-9ede-ec3e2884ca66); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-21 21:36] HDouss commented on #386
@dgarus Please see PR #392

[2020-02-21 23:15] HDouss commented on #296
@ilyakharlamov ping

[2020-02-21 23:31] 0crat commented on #195
The user @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) resigned from [#195](https://github.com/yegor256/jpeek/issues/195), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-02-21 23:57] 0crat commented on #195
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk)

[2020-02-22 07:31] dgarus commented on #386
@HDouss Ok. What should I do?

[2020-02-22 07:56] 0crat commented on #253
The user @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) resigned from [#253](https://github.com/yegor256/jpeek/issues/253), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-02-22 08:18] 0crat commented on #329
The job [#329](https://github.com/yegor256/jpeek/issues/329) assigned to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b5c3c9c9-0227-4897-b042-88887c1a4d59); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2020-02-22 08:29] 0crat commented on #253
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk)

[2020-02-22 09:40] HDouss commented on #386
@dgarus Nothing special. Mentioned you, so you can look at the solution and a link of this issue to the PR that solves it.

[2020-02-22 11:25] HDouss commented on #296
@ilyakharlamov PR #389 merged. Please close the issue.

[2020-02-22 11:25] #296 closed

[2020-02-22 11:54] HDouss opened #394 "Too many temperory directories"
In our tests, we have too many creation of temporary folders that never gets deleted.
Every time we have `Files.createTempDirectory` (there are 25 in master at this exact time), we should replace that by JUnit `@TempDir` folders that gets deleted by JUnit automatically (this is the equivalent of temporary folders rules in JUnit 4).

[2020-02-22 11:54] 0crat commented on #394
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-22 11:56] 0crat commented on #296
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-22 11:59] sereshqua commented on #296
@0crat quality good

[2020-02-22 12:23] 0crat commented on #296
Order was finished, quality is "good": +35 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-22 12:24] 0crat commented on #296
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-23 08:54] 0crat commented on #213
The user @rajanamistry[/z](https://www.0crat.com/u/rajanamistry) resigned from [#213](https://github.com/yegor256/jpeek/issues/213), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-02-23 09:02] 0crat commented on #213
The job [#213](https://github.com/yegor256/jpeek/issues/213) assigned to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/7f9f476c-e055-41f6-a3dc-b72f6e95c670); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2020-02-23 09:06] 0crat commented on #213
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @rajanamistry[/z](https://www.0crat.com/u/rajanamistry)

[2020-02-25 18:37] nimashiri opened #395 "0 classes found and parsed via Javaassist in 23ms"
Hi,

I would be grateful if you help me to fix the following issue.

Every time I try to run Jpeek over my targeted source files, it executes and prints the following in the command line.

`0 classes found and parsed via Javassist in 23ms`
`0 classes parsed via ASM in 114ms`
`No classes parsed in 589ms`
`Constructors will be ignored`
`Static methods will be ignored`
`Private methods will be ignore

[2020-02-25 18:37] 0crat commented on #395
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-25 18:37] 0crat commented on #395
@nimashiri[/z](https://www.0crat.com/u/nimashiri) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7JGJ00DP) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-25 18:44] nimashiri commented on #395
I really want to help you to maintain this awesome project, but, I live in
IRAN and I can't pay via Stripe, Pay Pal, VISA, MASTERCARD, and etc.

Thanks,
Nima.

On Tue, Feb 25, 2020 at 10:08 PM Zerocrat <notifications@github.com> wrote:

[2020-02-26 02:45] paulodamaso commented on #394
@0crat in

[2020-02-26 03:49] #390 closed

[2020-02-26 03:49] 0pdd commented on #390
The puzzle `296-9cbcd906` has disappeared from the source code, that's why I closed this issue.

[2020-02-26 03:49] 0pdd opened #396 "XslReport.java:146-151: this constructor now has too many..."
The puzzle `390-2105ac60` from #390 has to be resolved:

https://github.com/yegor256/jpeek/blob/70ca3b893a386a475809bca70f019a904cffe7c7/src/main/java/org/jpeek/XslReport.java#L146-L151

The puzzle was created by HDouss on 24-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-02-26 03:49] 0pdd opened #397 "Calculus.java:33-36: We have a separate interface to..."
The puzzle `390-3f627cdf` from #390 has to be resolved:

https://github.com/yegor256/jpeek/blob/70ca3b893a386a475809bca70f019a904cffe7c7/src/main/java/org/jpeek/Calculus.java#L33-L36

The puzzle was created by Hamdi Douss on 22-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fix

[2020-02-26 03:49] 0pdd commented on #296
@ilyakharlamov 2 puzzles [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397) are still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390).

[2020-02-26 03:49] 0pdd commented on #390
@0pdd 2 puzzles [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397) are still not solved.

[2020-02-26 03:50] 0crat commented on #396
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-26 03:50] 0crat commented on #397
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-26 06:11] 0crat commented on #390
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-26 06:22] 0crat commented on #394
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-26 06:39] sereshqua commented on #390
@0crat quality good

[2020-02-26 07:35] 0crat commented on #390
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-26 07:35] 0crat commented on #390
Order was finished, quality is "good": +35 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-26 08:22] 0crat commented on #195
The job [#195](https://github.com/yegor256/jpeek/issues/195) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3198a2d7-eaa3-45fa-89b5-46bd5bdaa57a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-26 08:23] HDouss commented on #386
@dgarus PR #392 reviewed and merged. Please close the issue.

[2020-02-26 08:55] #386 closed

[2020-02-26 09:10] 0crat commented on #253
The job [#253](https://github.com/yegor256/jpeek/issues/253) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/ca7d47ba-be13-4f7c-9422-272b5fe29bec); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-26 09:22] 0crat commented on #386
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-26 09:49] sereshqua commented on #386
@0crat quality good

[2020-02-26 10:14] 0crat commented on #386
Order was finished, quality is "good": +35 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-26 10:16] 0crat commented on #386
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-26 14:46] dgarus commented on #371
@0crat wait

[2020-02-26 14:59] 0crat commented on #371
@dgarus The impediment for [#371](https://github.com/yegor256/jpeek/issues/371) was registered successfully by @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-02-26 15:19] dgarus commented on #246
@oridan could you please close the issue?

[2020-02-26 15:40] HDouss commented on #195
@llorllale I am confused here since `$attrs` xslt variable on which we test and filter already takes attributes in skeleton that:
* are not static (so the problem in #156 can not happen)
* in skeleton `ops/op` text content already has the fully qualified name when it comes to other classes static fields

I will anyway add a test for this.

[2020-02-26 17:44] 0crat commented on #368
@dgarus[/z](https://www.0crat.com/u/dgarus) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-26 20:59] 0crat commented on #388
@hdouss[/z](https://www.0crat.com/u/hdouss) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-27 07:16] dgarus commented on #368
@paulodamaso Hi!
Why this job will be taken away from me?
I've prepared the PR 6 days ago.

[2020-02-27 08:20] HDouss commented on #388
@0crat wait some problems with rultor image

[2020-02-27 08:36] 0crat commented on #388
@HDouss The impediment for [#388](https://github.com/yegor256/jpeek/issues/388) was registered successfully by @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-27 09:18] 0crat commented on #329
@volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-27 11:34] paulodamaso commented on #246
@dgarus Thank you!

[2020-02-27 11:34] #246 closed

[2020-02-27 11:48] 0pdd commented on #253
The puzzle `118-16445758` has disappeared from the source code, that's why I closed this issue.

[2020-02-27 11:48] #253 closed

[2020-02-27 11:48] 0pdd commented on #9
@yegor256 5 puzzles [#193](https://github.com/yegor256/jpeek/issues/193), [#194](https://github.com/yegor256/jpeek/issues/194), [#195](https://github.com/yegor256/jpeek/issues/195), [#217](https://github.com/yegor256/jpeek/issues/217), [#252](https://github.com/yegor256/jpeek/issues/252) are still not solved; solved: [#117](https://github.com/yegor256/jpeek/issues/117), [#118](https://github.com/y

[2020-02-27 11:48] 0pdd commented on #118
@0pdd the puzzle [#252](https://github.com/yegor256/jpeek/issues/252) is still not solved; solved: [#253](https://github.com/yegor256/jpeek/issues/253), [#356](https://github.com/yegor256/jpeek/issues/356).

[2020-02-27 11:52] paulodamaso commented on #368
@dgarus We have a 10 day limit to close issues, as per the policy ([here](https://www.zerocracy.com/policy.html#8)). As you have already made the PR and are waiting for the review, I suggest you to add an impediment to this (see [here](https://www.zerocracy.com/policy.html#9))

[2020-02-27 11:54] #388 closed

[2020-02-27 11:54] 0pdd commented on #388
The puzzle `380-bf034369` has disappeared from the source code, that's why I closed this issue.

[2020-02-27 11:54] #381 closed

[2020-02-27 11:54] 0pdd commented on #381
The puzzle `323-a6bff461` has disappeared from the source code, that's why I closed this issue.

[2020-02-27 11:54] 0pdd opened #400 "MetricsTest.java:58-62: This test is fully written..."
The puzzle `323-1670a5eb` from #323 has to be resolved:

https://github.com/yegor256/jpeek/blob/72d5a816194487eee2a5836be9b5fcc09a3be679/src/test/java/org/jpeek/MetricsTest.java#L58-L62

The puzzle was created by HDouss on 18-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-02-27 11:54] 0pdd commented on #323
@humb1t the puzzle [#400](https://github.com/yegor256/jpeek/issues/400) is still not solved; solved: [#380](https://github.com/yegor256/jpeek/issues/380), [#381](https://github.com/yegor256/jpeek/issues/381), [#388](https://github.com/yegor256/jpeek/issues/388).

[2020-02-27 11:54] 0pdd commented on #380
@0pdd the only puzzle [#388](https://github.com/yegor256/jpeek/issues/388) is solved here.

[2020-02-27 11:55] 0crat commented on #400
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-02-27 11:59] 0crat commented on #246
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @dgarus[/z](https://www.0crat.com/u/dgarus), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-27 12:04] sereshqua commented on #246
@0crat quality good

[2020-02-27 12:07] dgarus commented on #368
@0crat wait

[2020-02-27 12:10] 0crat commented on #368
@dgarus The impediment for [#368](https://github.com/yegor256/jpeek/issues/368) was registered successfully by @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-02-27 12:13] 0crat commented on #246
Order was finished, quality is "good": +35 point(s) just awarded to @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-02-27 12:15] 0crat commented on #246
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-27 12:18] 0crat commented on #381
Job `gh:yegor256/jpeek#381` is not assigned, can't get performer

[2020-02-27 12:29] 0crat commented on #253
Job was finished in 27 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-27 12:30] 0crat commented on #253
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-27 12:32] sereshqua commented on #253
@0crat quality good

[2020-02-27 12:32] 0crat commented on #388
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-02-27 12:54] sereshqua commented on #388
@0crat quality good

[2020-02-27 13:14] 0crat commented on #388
Order was finished, quality is "good": +35 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-27 13:16] 0crat commented on #388
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-27 13:17] 0crat commented on #253
Order was finished, quality is "good": +40 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-02-27 13:17] 0crat commented on #253
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-02-27 13:31] 0crat commented on #394
The job [#394](https://github.com/yegor256/jpeek/issues/394) assigned to @dgarus[/z](https://www.0crat.com/u/dgarus), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/44bcc718-b784-41a5-af27-3ea0fb667ee7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-27 13:40] paulodamaso commented on #395
@0crat in

[2020-02-27 14:03] 0crat commented on #395
@paulodamaso Thanks for your contribution, @nimashiri[/z](https://www.0crat.com/u/nimashiri)! If you would be a member of [the project](https://www.0crat.com/p/C7JGJ00DP), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2020-02-27 14:06] 0crat commented on #396
The job [#396](https://github.com/yegor256/jpeek/issues/396) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b56a25bb-25d4-4510-ad93-9b53d5caad47); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-28 08:26] HDouss commented on #316
@0crat status

[2020-02-28 08:34] 0crat commented on #316
@HDouss This is what I know about this job in [C7JGJ00DP](https://www.0crat.com/p/C7JGJ00DP), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#316](https://github.com/yegor256/jpeek/issues/316) is [in scope](http://www.zerocracy.com/policy.html#14) for 11mon
  * The role is `DEV`
  * The job is assigned to @hdouss[/z](https://www.0crat.com/u/hdouss) for [19hr](http://www.zerocr

[2020-02-28 08:46] 0crat commented on #213
@volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-28 09:27] HDouss commented on #316
@0crat refuse

[2020-02-28 09:36] 0crat commented on #316
@HDouss The user @hdouss[/z](https://www.0crat.com/u/hdouss) resigned from [#316](https://github.com/yegor256/jpeek/issues/316), please stop working. Reason for job resignation: Order was cancelled

[2020-02-28 10:45] 0crat commented on #397
The job [#397](https://github.com/yegor256/jpeek/issues/397) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/54eb4930-12aa-4d27-a168-08cdc037cb92); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-28 14:41] HDouss opened #403 "Skeleton should reflect the exact overloaded called method"
Today, the skeleton reflects method calls by their name. For example, the skeleton for [OverloadMethods.java](https://github.com/yegor256/jpeek/blob/master/src/test/resources/org/jpeek/samples/OverloadMethods.java) have:
[code]

The two calls are reported in `<op code="call">` elements are `OverloadMethods.methodOne` and no information is given on which overloaded method is called. This is special

[2020-02-28 14:42] 0crat commented on #403
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-01 03:20] #195 closed

[2020-03-01 03:20] 0pdd commented on #195
The puzzle `120-bc67ce38` has disappeared from the source code, that's why I closed this issue.

[2020-03-01 03:20] 0pdd commented on #9
@yegor256 4 puzzles [#193](https://github.com/yegor256/jpeek/issues/193), [#194](https://github.com/yegor256/jpeek/issues/194), [#217](https://github.com/yegor256/jpeek/issues/217), [#252](https://github.com/yegor256/jpeek/issues/252) are still not solved; solved: [#117](https://github.com/yegor256/jpeek/issues/117), [#118](https://github.com/yegor256/jpeek/issues/118), [#119](https://github.com/y

[2020-03-01 03:20] 0pdd commented on #120
@0pdd 2 puzzles [#193](https://github.com/yegor256/jpeek/issues/193), [#194](https://github.com/yegor256/jpeek/issues/194) are still not solved; solved: [#195](https://github.com/yegor256/jpeek/issues/195).

[2020-03-01 05:53] 0crat commented on #195
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-01 06:53] sereshqua commented on #195
@0crat quality good

[2020-03-01 07:28] 0crat commented on #195
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-03-01 07:28] 0crat commented on #195
Order was finished, quality is "good": +35 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-03-01 08:14] 0crat commented on #400
The job [#400](https://github.com/yegor256/jpeek/issues/400) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/82423b93-206d-4def-beaa-b9fc949bd7fd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-01 18:09] HDouss commented on #396
@0crat wait for merge

[2020-03-01 18:11] 0crat commented on #396
@HDouss The impediment for [#396](https://github.com/yegor256/jpeek/issues/396) was registered successfully by @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-03-02 09:52] HDouss commented on #397
@0crat wait for merge

[2020-03-02 09:58] HDouss opened #405 "Optimize layer transformation in App"
The analysis process (`analyze` method in `App` class) is building a chain of xsl layer files. The skeleton transformation by these layers is done for every xsl report, to be given as input for that report.:
[code]
`chain.transform` is called as many times as we have reports.
 We could do this transformation once and for all and give the result as input to the reports.

[2020-03-02 11:59] 0crat commented on #405
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-02 12:02] 0crat commented on #397
@HDouss The impediment for [#397](https://github.com/yegor256/jpeek/issues/397) was registered successfully by @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-03-03 04:16] yegor256 opened #406 "release with new Docker image"
Let's release it with new config

[2020-03-03 04:16] 0crat commented on #406
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-03 04:17] yegor256 commented on #406
@rultor release tag is `0.30.9`

[2020-03-03 04:19] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-593759391)

[2020-03-03 04:22] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-593759391) (spent 2min)

[code]

[2020-03-03 06:20] 0crat commented on #406
The job [#406](https://github.com/yegor256/jpeek/issues/406) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/044ad772-9c82-4f16-ba75-5cc24287614b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-03-03 06:57] 0crat commented on #406
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-03-03 06:58] 0crat commented on #406
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-03-03 07:11] 0crat commented on #406
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2020-03-03 08:22] 0crat commented on #329
The user @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) resigned from [#329](https://github.com/yegor256/jpeek/issues/329), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-03 08:37] 0crat commented on #329
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk)

[2020-03-03 09:30] 0crat commented on #395
The job [#395](https://github.com/yegor256/jpeek/issues/395) assigned to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/3dfb9be8-ae4d-4426-8583-279fa7e543ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2020-03-03 09:31] 0crat commented on #316
The job [#316](https://github.com/yegor256/jpeek/issues/316) assigned to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk), here is [why](https://www.0crat.com/footprint/C7JGJ00DP/b3f8dc7c-3ae9-4495-9d18-08c641043228); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocra

[2020-03-03 13:56] 0crat commented on #394
@dgarus[/z](https://www.0crat.com/u/dgarus) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-03 14:10] dgarus commented on #394
@0crat wait

[2020-03-03 14:12] 0crat commented on #394
@dgarus The impediment for [#394](https://github.com/yegor256/jpeek/issues/394) was registered successfully by @dgarus[/z](https://www.0crat.com/u/dgarus)

[2020-03-03 17:49] 0pdd commented on #400
The puzzle `323-1670a5eb` has disappeared from the source code, that's why I closed this issue.

[2020-03-03 17:49] #400 closed

[2020-03-03 17:49] 0pdd commented on #323
@humb1t all 4 puzzles are solved here: [#380](https://github.com/yegor256/jpeek/issues/380), [#381](https://github.com/yegor256/jpeek/issues/381), [#388](https://github.com/yegor256/jpeek/issues/388), [#400](https://github.com/yegor256/jpeek/issues/400).

[2020-03-03 18:19] yegor256 commented on #406
@rultor release tag is `0.30.9`

[2020-03-03 18:20] 0crat commented on #400
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-03-03 18:22] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-594093901)

[2020-03-03 18:26] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-594093901) (spent 3min)

[code]

[2020-03-03 18:36] sereshqua commented on #400
@0crat quality good

[2020-03-03 19:04] 0crat commented on #400
Quality review completed: +4 point(s) just awarded to @sereshqua[/z](https://www.0crat.com/u/sereshqua)

[2020-03-03 19:04] 0crat commented on #400
Order was finished, quality is "good": +35 point(s) just awarded to @hdouss[/z](https://www.0crat.com/u/hdouss)

[2020-03-04 08:57] 0crat commented on #213
The user @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk) resigned from [#213](https://github.com/yegor256/jpeek/issues/213), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-03-04 09:21] 0crat commented on #213
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @volodymyrbondarchuk[/z](https://www.0crat.com/u/volodymyrbondarchuk)

[2020-03-04 10:25] yegor256 commented on #406
@rultor release tag is `0.30.9`

[2020-03-04 10:27] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-594440280)

[2020-03-04 10:38] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-594440280) (spent 10min)

[code]

[2020-03-04 14:51] yegor256 commented on #406
@rultor release tag is `0.30.9`

[2020-03-04 14:52] rultor commented on #406
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21455-594571834)

[2020-03-04 15:13] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-594571834) (spent 20min)

[code]

[2020-03-04 16:56] yegor256 commented on #406
@rultor release tag is `0.30.9`

[2020-03-04 17:17] rultor commented on #406
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21455-594659228) (spent 18min)

[code]

[2020-03-05 14:00] #396 closed

[2020-03-05 14:00] 0pdd commented on #396
The puzzle `390-2105ac60` has disappeared from the source code, that's why I closed this issue.

[2020-03-05 14:00] 0pdd commented on #296
@ilyakharlamov the puzzle [#397](https://github.com/yegor256/jpeek/issues/397) is still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396).

[2020-03-05 14:00] 0pdd commented on #390
@0pdd the puzzle [#397](https://github.com/yegor256/jpeek/issues/397) is still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396).

[2020-03-05 14:01] 0pdd commented on #397
The puzzle `390-3f627cdf` has disappeared from the source code, that's why I closed this issue.

[2020-03-05 14:01] #397 closed

[2020-03-05 14:02] 0pdd opened #408 "Calculus.java:33-36: We start having the infrastructure..."
The puzzle `397-94351875` from #397 has to be resolved:

https://github.com/yegor256/jpeek/blob/f0182127ff59ddd888ea4d9a322ca1cd86731059/src/main/java/org/jpeek/Calculus.java#L33-L36

The puzzle was created by HDouss on 28-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed an

[2020-03-05 14:02] 0pdd commented on #296
@ilyakharlamov the puzzle [#408](https://github.com/yegor256/jpeek/issues/408) is still not solved; solved: [#390](https://github.com/yegor256/jpeek/issues/390), [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397).

[2020-03-05 14:02] 0pdd commented on #390
@0pdd the puzzle [#408](https://github.com/yegor256/jpeek/issues/408) is still not solved; solved: [#396](https://github.com/yegor256/jpeek/issues/396), [#397](https://github.com/yegor256/jpeek/issues/397).

[2020-03-05 14:02] 0pdd commented on #397
@0pdd the puzzle [#408](https://github.com/yegor256/jpeek/issues/408) is still not solved.

[2020-03-05 14:02] 0crat commented on #408
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) please, pay attention to this issue

[2020-03-05 14:21] dgarus commented on #394
@HDouss could you pls close the issue.

[2020-03-05 14:23] dgarus commented on #368
@akryvtsun could you pls close the issue?